interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/members/98/works
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":412915,"items":[{"indexed":{"date-parts":[[2023,10,16]],"date-time":"2023-10-16T19:32:33Z","timestamp":1697484753049},"reference-count":0,"publisher":"Hindawi
      Limited","issue":"4","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":6452,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Hum.
      Mutat."],"published-print":{"date-parts":[[1998]]},"DOI":"10.1002\/(sici)1098-1004(1998)11:4<286::aid-humu6>3.3.co;2-2","type":"journal-article","created":{"date-parts":[[2002,8,25]],"date-time":"2002-08-25T19:00:59Z","timestamp":1030302059000},"page":"286-294","source":"Crossref","is-referenced-by-count":1,"title":["Mutation
      and expression analysis of the endoglin gene in hereditary hemorrhagic telangiectasia
      reveals null alleles"],"prefix":"10.1155","volume":"11","author":[{"given":"Carol
      J.","family":"Gallione","sequence":"first","affiliation":[]},{"given":"Daniel
      J.","family":"Klaus","sequence":"additional","affiliation":[]},{"given":"Eric
      Y.","family":"Yeh","sequence":"additional","affiliation":[]},{"given":"Timothy
      T.","family":"Stenzel","sequence":"additional","affiliation":[]},{"given":"Yan","family":"Xue","sequence":"additional","affiliation":[]},{"given":"Kara
      B.","family":"Anthony","sequence":"additional","affiliation":[]},{"given":"Kimberly
      A.","family":"McAllister","sequence":"additional","affil[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/members/121212121212/works
  response:
    content: Resource not found.
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 404
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/members/340/works
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":4298061,"items":[{"indexed":{"date-parts":[[2023,10,16]],"date-time":"2023-10-16T18:59:04Z","timestamp":1697482744204},"reference-count":59,"publisher":"Public
      Library of Science (PLoS)","issue":"2","license":[{"start":{"date-parts":[[2013,2,20]],"date-time":"2013-02-20T00:00:00Z","timestamp":1361318400000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
      ONE"],"DOI":"10.1371\/journal.pone.0057067","type":"journal-article","created":{"date-parts":[[2013,2,20]],"date-time":"2013-02-20T18:02:25Z","timestamp":1361383345000},"page":"e57067","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"Crossref","is-referenced-by-count":12,"title":["Social
      Presence and Use of Internet-Delivered Interventions: A Multi-Method Approach"],"prefix":"10.1371","volume":"8","author":[{"given":"Rik","family":"Crutzen","sequence":"first","affiliation":[]},{"given":"Dianne","family":"Cyr","sequence":"additional","affiliation":[]},{"given":"Hector","family":"Larios","sequence":"additional","affiliation":[]},{"given":"Robert
      A. C.","family":"Ruiter","sequence":"additional","affiliation":[]},{"given":"Nanne
      K.","family":"de Vries","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2013,2,20]]},"reference":[{"key":"ref1","doi-asserted-by":"crossref","first-page":"3","DOI":"10.1016\/j.ypmed.2008.02.014","article-title":"Computer-delivered
      interventions for health promotion and behavioral risk reduction: a meta-analysis
      of 75 randomized controlled trials, 1988\u20132007","volume":"47","author":"DB
      Portnoy","year":"2008","journal-title":"Prev Med"},{"key":"ref2","doi-asserted-by":"crossref","first-page":"273","DOI":"10.1146\/annurev.publhealth.031308.100235","article-title":"The
      delivery of public health interventions via the Internet: actualizing their
      potential","volume":"30","author":"GG Bennett","year":"2009","journal-title":"Annu
      Rev Publ Health"},{"key":"ref3","doi-asserted-by":"crossref","first-page":"e11","DOI":"10.2196\/jmir.7.1.e11","article-title":"The
      law of attrition","volume":"7","author":"[...]
