interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/members/98/works?rows=7&query.author=carl%20boettiger
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":384,"items":[{"indexed":{"date-parts":[[2022,12,21]],"date-time":"2022-12-21T05:55:19Z","timestamp":1671602119087},"reference-count":0,"publisher":"Hindawi
      Limited","issue":"1","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":2149,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1111\/j.1439-0272.1999.tb02844.x","type":"journal-article","created":{"date-parts":[[2010,7,24]],"date-time":"2010-07-24T09:46:25Z","timestamp":1279964785000},"page":"57-57","source":"Crossref","is-referenced-by-count":0,"title":["Congratulatory
      message"],"prefix":"10.1155","volume":"31","author":[{"given":"Carl","family":"Sshirren","sequence":"first","affiliation":[]}],"member":"98","published-online":{"date-parts":[[2009,10,13]]},"container-title":["Andrologia"],"language":"en","link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1111%2Fj.1439-0272.1999.tb02844.x","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/onlinelibrary.wiley.com\/wol1\/doi\/10.1111\/j.1439-0272.1999.tb02844.x\/fullpdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2022,12,20]],"date-time":"2022-12-20T12:32:37Z","timestamp":1671539557000},"score":9.370973,"resource":{"primary":{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/10.1111\/j.1439-0272.1999.tb02844.x"}},"subtitle":["Emil
      Steinberger"],"issued":{"date-parts":[[2009,10,13]]},"references-count":0,"journal-issue":{"issue":"1"},"URL":"http:\/\/dx.doi.org\/10.1111\/j.1439-0272.1999.tb02844.x","ISSN":["0303-4569","1439-0272"],"issn-type":[{"value":"0303-4569","type":"print"},{"value":"1439-0272","type":"electronic"}],"published":{"date-parts":[[2009,10,13]]}},{"indexed":{"date-parts":[[2022,12,21]],"date-time":"2022-12-21T05:54:51Z","timestamp":1671602091162},"reference-count":0,"publisher":"Hindawi
      Limited","issue":"4","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":2321,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1111\/j.1439-02[...]
