interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/members/98
  response:
    body:
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1705361082215,"primary-name":"Hindawi
        Limited","counts":{"current-dois":76615,"backfile-dois":439143,"total-dois":515758},"breakdowns":{"dois-by-issued-year":[[2022,54361],[2021,47663],[2020,42922],[2014,33245],[2013,30503],[2019,28017],[2018,27699],[2012,27424],[2015,26480],[2016,23708],[2017,22306],[2023,21488],[2011,17125],[2009,15649],[2010,11148],[2008,6643],[2007,6043],[2006,5315],[2004,4560],[2005,4547],[2002,4396],[2001,4242],[2003,4046],[2000,3831],[1998,3387],[1999,3309],[1997,2795],[1996,2724],[1995,2370],[1994,2275],[1992,2027],[1993,1984],[1991,1718],[1989,1306],[1990,1235],[1988,1183],[1987,954],[1986,877],[2024,766],[1983,763],[1981,70[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/members/121212121212
  response:
    body:
      string: Resource not found.
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 404
      message: Not Found
version: 1
