interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/members/98/works
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":516329,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:42:47Z","timestamp":1648950167156},"reference-count":0,"publisher":"Hindawi
        Limited","issue":"305","license":[{"start":{"date-parts":[[1901,1,1]],"date-time":"1901-01-01T00:00:00Z","timestamp":-2177452800000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/publicdomain\/zero\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Psyche:
        A Journal of Entomology"],"published-print":{"date-parts":[[1901,1,1]]},"DOI":"10.1155\/1901\/120761","type":"journal-article","created":{"date-parts":[[2014,3,10]],"date-time":"2014-03-10T17:00:53Z","timestamp":1394470853000},"page":"243-245","source":"Crossref","is-referenced-by-count":0,"title":["Sketch
        of the Habits of North American Ants\u2014II"],"prefix":"10.1155","volume":"9","author":[{"given":"Auguste","family":"Forel","sequence":"first","affiliation":[{"name":"Chigny
        pr\u00e9s Morges, Switzerland"}]}],"member":"98","container-title":["Psyche:
        A Journal of Entomology"],"language":"en","link":[{"URL":"http:\/\/downloads.hindawi.com\/journals\/psyche\/1901\/120761.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/journals\/psyche\/1901\/120761.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,11,22]],"date-time":"2018-11-22T19:50:19Z","timestamp":1542916219000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/www.hindawi.com\/journals\/psyche\/1901\/120761\/abs\/"}},"issued":{"date-parts":[[1901,1,1]]},"references-count":0,"journal-issue":{"issue":"305","published-print":{"date-parts":[[1901,1,1]]}},"alternative-id":["120761"],"URL":"http:\/\/dx.doi.org\/10.1155\/1901\/120761","ISSN":["0033-2615","1687-7438"],"issn-type":[{"value":"0033-2615","type":"print"},{"value":"1687-7438","type":"electronic"}],"subject":["Insect
        Science","Ecology, Evolution, Behavior and Systematics"],"published":{"date-parts":[[1901,1,1]]}},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:46:38Z","timestamp":1648950398268},"reference-count":14,"publisher":"Hindawi
        Limited","license":[{"start":{"date-parts":[[2014,1,1]],"date-time":"2014-01-01T00:00:00Z","timestamp":1388534400000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Case
        Reports in Otolaryngology"],"published-print":{"date-parts":[[2014]]},"abstract":"<jats:p><jats:italic>Background.<\/jats:italic>Subcutaneous
        lipomas that occur in the trunk and proximal extremities are commonly dissected
        by low-invasive method. However, a standard surgical method for lipomas of
        the epiglottis has been absent. Microscopic laryngeal surgery is appropriate
        to extirpate small epiglottic lipomas. However, microscopic laryngeal surgery
        may be insufficient for giant epiglottic lipomas because there is restricted
        visualization of the opera[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/members/121212121212/works
  response:
    body:
      string: Resource not found.
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 404
      message: Not Found
[...]
