interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/members/98
  response:
    content: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1752275401728,"primary-name":"Hindawi
      Limited","counts":{"current-dois":2,"backfile-dois":149599,"total-dois":149601},"breakdowns":{"dois-by-issued-year":[[2012,13361],[2009,12045],[2014,11545],[2015,10202],[2013,9903],[2011,9258],[2010,6446],[2020,6416],[2016,6144],[2021,4658],[2007,4587],[2008,4075],[2006,3587],[2022,2979],[2005,2887],[2004,2836],[2001,2583],[2003,2504],[2000,2389],[2002,2387],[1999,2084],[1998,2071],[1997,1863],[1996,1706],[2017,1460],[2019,1459],[1994,1324],[1995,1323],[1992,1309],[1993,1210],[1991,1054],[2018,998],[1989,865],[1990,826],[1988,780],[1987,688],[1986,602],[1984,448],[1978,430],[1983,428],[1980,408],[1985,407],[1979,381],[1981,372],[1982,368],[1977,343],[1976,322],[1967,299],[1970,297],[1972,275],[1971,263],[1975,255],[1968,246],[1966,227],[1969,217],[1965,203],[1963,200],[1974,198],[1964,195],[1973,179],[1962,85],[1961,78],[1960,46],[1895,9],[1896,6],[2023,2]]},"prefixes":["10.7167","10.1100","10.1155","10.5402","10.7217","10.4061","10.6064","10.3814"],"coverage":{"affiliations-current":0.5,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.07899116972707038,"licenses-backfile":0.9070983094806783,"funders-current":0.0,"affiliations-backfile":0.4202568198985287,"resource-links-backfile":0.8796181792659042,"orcids-backfile":0.0,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.0,"similarity-checking-backfile":0.862479027266225,"references-backfile":0.7097440490912372,"descriptions-backfile":0.0,"award-numbers-backfile":0.04524094412395805,"update-policies-backfile":0.028182006564215,"licenses-current":1.0,"award-numbers-current":0.0,"abstracts-backfile":0.3145275035260931,"resource-links-current":1.0,"abstracts-current":1.0,"references-current":1.0},"prefix":[{"name":"Hindawi
      (Datasets International)","value":"10.7167"},{"name":"Hindawi (The Scientific
      World)","value":"10.1100"},{"name":"Hindawi Limited","value":"10.1155"},{"name":"Hindawi
      (International Scholarly Research Network)","value":"10.5402"},{"name":"Hindawi
      (Conference Papers in Science)","value":"10.7217"},{"name":"Hindawi Publishing
      Corporation (Sage-Hindawi Access to Research)","value":"10.4061"},{"name":"Hindawi
      (Scientifica)","value":"10.6064"},{"name":"Hindawi Publishing Corporation (Syrexe)","value":"10.3814"}],"id":98,"tokens":["hindawi","limited"],"counts-type":{"all":{"monograph":6,"peer-review":10621,"journal-article":132017,"journal":1111,"component":294,"journal-issue":6945,"dataset":1,"edited-book":12},"backfile":{"monograph":6,"peer-review":10621,"journal-article":132015,"journal-issue":6945,"edited-book":12},"current":{"journal-article":2}},"coverage-type":{"all":{"monograph":{"last-status-check-time":1752275401728,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"peer-review":{"last-status-check-time":1752275401728,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-article":{"last-status-check-time":1752275401728,"affiliations":0.4762341213631578,"abstracts":0.356431368687366,"orcids":0.0,"licenses":0.9937508048205913,"references":0.8042827817629548,"funders":0.089511199315239[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/members/121212121212
  response:
    content: Resource not found.
    headers:
      Content-Type:
      - text/plain
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 404
version: 1
