interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.12.0 habanero/2.9.3
    method: GET
    uri: https://api.crossref.org/members/98/works?rows=3&select=DOI%2Ctitle
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":132920,"items":[{"DOI":"10.1111\/j.1540-8191.2008.00592.x","title":["Seven-Year
        Performance of the Edwards Prima Plus Stentless Valve with the Intact Non-Coronary
        Sinus Technique"]},{"DOI":"10.1111\/j.1462-5822.2008.01200.x","title":["Successive
        post-translational modifications of E-cadherin are required for InlA-mediated
        internalization of<i>Listeria monocytogenes<\/i>"]},{"DOI":"10.1111\/j.1744-6198.1971.tb00038.x","title":["A
        Role for Nurses in Implementing Computerized Hospital Information Systems"]}],"items-per-page":3,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public-single
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.12.0 habanero/2.9.3
    method: GET
    uri: https://api.crossref.org/members/98/works?rows=3&select=DOI%2Ctitle
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":132920,"items":[{"DOI":"10.1111\/j.1540-8191.2008.00592.x","title":["Seven-Year
        Performance of the Edwards Prima Plus Stentless Valve with the Intact Non-Coronary
        Sinus Technique"]},{"DOI":"10.1111\/j.1462-5822.2008.01200.x","title":["Successive
        post-translational modifications of E-cadherin are required for InlA-mediated
        internalization of<i>Listeria monocytogenes<\/i>"]},{"DOI":"10.1111\/j.1744-6198.1971.tb00038.x","title":["A
        Role for Nurses in Implementing Computerized Hospital Information Systems"]}],"items-per-page":3,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public-single
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 200
      message: OK
version: 1
