interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/funders?offset=things
  response:
    content: '{"status":"error","message-type":"exception","message-version":"1.0.0","message":{"name":"class
      java.lang.NullPointerException","description":"java.lang.NullPointerException","message":null,"stack":[],"cause":null}}'
    headers:
      content-type:
      - application/json
      exception-name:
      - class java.lang.NullPointerException
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 500
version: 1
