interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=has-assertion%3Atrue
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":203396,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:53:52Z","timestamp":1648950832569},"reference-count":20,"publisher":"IOP
        Publishing","issue":"5","license":[{"start":{"date-parts":[[2016,7,20]],"date-time":"2016-07-20T00:00:00Z","timestamp":1468972800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/iopscience.iop.org\/info\/page\/text-and-data-mining"},{"start":{"date-parts":[[2016,7,20]],"date-time":"2016-07-20T00:00:00Z","timestamp":1468972800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2016,7,20]],"date-time":"2016-07-20T00:00:00Z","timestamp":1468972800000},"content-version":"am","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["PHY-1205736"]}],"content-domain":{"domain":["iopscience.iop.org"],"crossmark-restriction":true},"short-container-title":["Eur.
        J. Phys."],"published-print":{"date-parts":[[2016,9,1]]},"DOI":"10.1088\/0143-0807\/37\/5\/055409","type":"journal-article","created":{"date-parts":[[2016,7,20]],"date-time":"2016-07-20T10:13:30Z","timestamp":1469009610000},"page":"055409","update-policy":"http:\/\/dx.doi.org\/10.1088\/crossmark-policy","source":"Crossref","is-referenced-by-count":1,"title":["Applying
        classical geometry intuition to quantum spin"],"prefix":"10.1088","volume":"37","author":[{"given":"Dallin
        S","family":"Durfee","sequence":"first","affiliation":[]},{"given":"James
        L","family":"Archibald","sequence":"additional","affiliation":[]}],"member":"266","published-online":{"date-parts":[[2016,7,20]]},"reference":[{"key":"1","author":"Beiser
        A","year":"1995","journal-title":"Concepts of Modern Physics"},{"key":"2","doi-asserted-by":"publisher","DOI":"10.1119\/1.4898595"},{"key":"3","doi-asserted-by":"publisher","DOI":"10.1007\/BF01329203"},{"key":"4","author":"Thompson
        W J","year":"2004","journal-title":"Angular Momentum"},{"key":"5","doi-asserted-by":"publisher","DOI":"10.1119\/1.3546093"},{"key":"6","author":"Merzbacher
        E","year":"1998","journal-title":"Quantum Mechanics"},{"key":"7","author":"Sakurai
        J J","year":"1994","journal-title":"Modern Quantum Mechanics (Revised Edition)"},{"key":"8","author":"Griffiths
        D J","year":"2005","journal-title":"Introduction to Quantum Mechanics"},{"key":"9","doi-asserted-by":"publisher","DOI":"10.1119\/1.1987068"},{"key":"10","author":"Dirac
        P A M","year":"1958","journal-title":"The Principles of Quantum Mechanics"},{"key":"11","doi-asserted-by":"publisher","DOI":"10.1119\/1.1973472"},{"key":"12","doi-asserted-by":"publisher","DOI":"10.1119\/1.19067"},{"key":"13","doi-asserted-by":"publisher","DOI":"10.1119\/1.14580"},{"key":"14","doi-asserted-by":"publisher","DOI":"10.1146\/annurev-nucl-102711-094908"},{"key":"15","doi-asserted-by":"publisher","DOI":"10.1007\/978-3-642-57933-2"},{"key":"16","doi-asserted-by":"publisher","DOI":"10.1063\/1.524775"},{"key":"17","doi-asserted-by":"publisher","first-page":"35","DOI":"10.1088\/0143-0807\/7\/1\/007","volume":"7","author":"Gough
        W","year":"1986","journal-title":"Eur. J. Phys.","ISSN":"http:\/\/id.crossref.org\/issn\/0143-0807","issn-type":"print"},{"key":"18","doi-asserted-by":"publisher","first-page":"164","DOI":"10.1088\/0143-0807\/18\/3\/006","volume":"18","author":"Penrose
        R","year":"1997","journal-title":"Eur. J. Phys.","ISSN":"http:\/\/id.crossref.org\/issn\/0143-0807","issn-type":"print"},{"key":"19","doi-asserted-by":"publisher","DOI":"10.2307\/2318774"},{"key":"20","author":"Dirac
        P A M","year":"1958","journal-title":"The Principles of Quantum Mechanics"}],"container-title":["European
        Journal of Physics"],"link":[{"URL":"https:\/\/iopscience.iop.org\/article\/10.1088\/0143-0807\/37\/5\/055409\/pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/iopscience.iop.org\/article\/10.1088\/0143-0807\/37\/5\/055409","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/iopscience.iop.org\/article\/10.1088\/0143-0807\/37\/5\/055409","content-type":"application\/pdf","content-version":"am","intended-application":"unspecified"},{"URL":"https:\/\/iopscience.iop.org\/article\/10.1088\/0143-0807\/37\/5\/055409\/pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"syndication"}],"deposited":{"date-parts":[[2020,3,16]],"date-time":"2020-03-16T13:04:26Z","timestamp":1584363866000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/iopscience.iop.org\/article\/10.1088\/0143-0807\/37\/5\/055409"}},"issued":{"date-parts":[[2016,7,20]]},"references-count":20,"journal-issue":{"issue":"5","published-print":{"date-parts":[[2016,9,1]]}},"URL":"http:\/\/dx.doi.org\/10.1088\/0143-0807\/37\/5\/055409","ISSN":["0143-0807","1361-6404"],"issn-type":[{"value":"0143-0807","type":"print"},{"value":"1361-6404","type":"electronic"}],"subject":["General
        Physics and Astronomy"],"published":{"date-parts":[[2016,7,20]]},"assertion":[{"value":"European
        Journal of Physics","name":"journal_title","label":"Journal title"},{"value":"paper","name":"article_type","label":"Article
        type"},{"value":"Applying classical geometry intuition to quantum spin","name":"article_title","label":"Article
        title"},{"value":"\u00a9 2016 IOP Publishing Ltd","name":"copyright_information","label":"Copyright
        information"},{"value":"cc-by Original content from this work may be used
        under the terms of the Creative Commons Attribution 3.0 licence. Any further
        distribution of this work must maintain attribution to the author(s) and the
        title of the work, journal citation and DOI.","name":"license_information","label":"License
        information"},{"value":"2016-04-11","name":"date_received","label":"Date received","group":{"name":"publication_dates","label":"Publication
        dates"}},{"value":"2016-06-20","name":"date_accepted","label":"Date accepted","group":{"name":"publication_dates","label":"Publication
        dates"}},{"value":"2016-07-20","name":"date_epub","label":"Online publication
        date","group":{"name":"publication_dates","label":"Publication dates"}}]},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T06:40:40Z","timestamp":1648968040585},"reference-count":29,"publisher":"Spring[...]
