interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.25.1 habanero/0.7.6
    method: GET
    uri: https://api.crossref.org/funders?sort=things
  response:
    body:
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"parameter-not-allowed","value":"sort","message":"This
        route does not support sort"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 400
      message: Bad Request
version: 1
