interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":466517,"items":[{"indexed":{"date-parts":[[2023,10,16]],"date-time":"2023-10-16T14:41:33Z","timestamp":1697467293111},"reference-count":38,"publisher":"American
      Chemical Society (ACS)","issue":"29","license":[{"start":{"date-parts":[[2021,7,15]],"date-time":"2021-07-15T00:00:00Z","timestamp":1626307200000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-029"},{"start":{"date-parts":[[2021,7,15]],"date-time":"2021-07-15T00:00:00Z","timestamp":1626307200000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-037"},{"start":{"date-parts":[[2021,7,15]],"date-time":"2021-07-15T00:00:00Z","timestamp":1626307200000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-045"}],"funder":[{"DOI":"10.13039\/100006228","name":"Oak
      Ridge National Laboratory","doi-asserted-by":"publisher","id":[{"id":"10.13039\/100006228","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100000078","name":"Division
      of Materials Research","doi-asserted-by":"publisher","award":["1905499"],"id":[{"id":"10.13039\/100000078","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
      Phys. Chem. C"],"published-print":{"date-parts":[[2021,7,29]]},"DOI":"10.1021\/acs.jpcc.1c02956","type":"journal-article","created":{"date-parts":[[2021,7,15]],"date-time":"2021-07-15T14:42:39Z","timestamp":1626360159000},"page":"16183-16190","source":"Crossref","is-referenced-by-count":5,"title":["Inelastic
      Neutron Scattering Study of Magnetic Exchange Pathways in MnS"],"prefix":"10.1021","volume":"125","author":[{"given":"Judith
      K.","family":"Clark","sequence":"first","affiliation":[{"name":"Department of
      Chemistry and Biochemistry, Florida State University, Tallahassee, Florida 32306,
      United States"}]},{"given":"Vincent","family":"Yannello","sequence":"additional","affiliation":[{"name":"Department
      of Chemistry, Biochemistry and Physics, University of Tampa, Tampa, Florida
      33606, United States"}]},{"given":"Anjana M.","family":"Samarakoon","sequence":"additional","affiliation":[{"name":"Neutron
      Scattering Division, Oak Ridge National Laboratory, Oak Ridge, Tennessee 37831,
      United States"}]},{"given":"Cyris","family":"Ross","sequence":"additional","affiliation":[{"name":"Department
      of Chemistry and Biochemistry, Florida State University, Tallahassee, Florida
      32306, United States"}]},{"given":"Madeleine C.","family":"Uible","sequence":"additional","affiliation":[{"name":"Department
      of Chemistry and Biochemistry, Florida State University, Tallahassee, Florida
      32306, United States"}]},{"given":"V. Ovidiu","family":"Garlea","sequence":"additional","affiliation":[{"name":"Neutron
      Scattering Division, Oak Ridge National Laboratory, Oak Ridge, Tennessee 37831,
      United States"}]},{"ORCID":"http:\/\/orcid.org\/0000-0002-2883-4694","authenticated-orcid":true,"given":"Michael","family":"Shatruk","sequence":"additional","affiliation":[{"name":"Department
      of Chemistry and Biochemistry, Florida State University, Tallahassee, Florida
      32306, United States"},{"name":"National High Field Magnetic Laboratory, Tallahassee,
      Florida 32310, United States"}]}],"member":"316","published-online":{"date-parts":[[2021,7,15]]},"reference":[{"key":"ref1\/cit1","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRev.56.922"},{"key":"ref2\/cit2","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRev.83.333"},{"key":"ref3\/cit3","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevLett.96.047209"},{"key":"ref4\/cit4","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRev.104.924"},{"key":"ref5\/cit5","doi-asserted-by":"publisher","DOI":"10.1088\/0022-3719\/16\/5\/012"},{"key":"ref6\/cit6","doi-asserted-by":"publisher","DOI":"10.1016\/j.jmmm.2019[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/funders/10.13039/notarealdoi/works
  response:
    content: Resource not found.
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 404
[...]
