interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=has-assertion%3Atrue
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":193496,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:44:37Z","timestamp":1648950277736},"reference-count":67,"publisher":"Elsevier
        BV","license":[{"start":{"date-parts":[[2017,7,1]],"date-time":"2017-07-01T00:00:00Z","timestamp":1498867200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2018,3,10]],"date-time":"2018-03-10T00:00:00Z","timestamp":1520640000000},"content-version":"am","delay-in-days":252,"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/100000001","name":"NSF","doi-asserted-by":"publisher","award":["1008788"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Icarus"],"published-print":{"date-parts":[[2017,7]]},"DOI":"10.1016\/j.icarus.2017.02.015","type":"journal-article","created":{"date-parts":[[2017,3,6]],"date-time":"2017-03-06T21:03:14Z","timestamp":1488834194000},"page":"134-149","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":2,"title":["Observations
        of the global haze redistribution on Titan from 2006 to 2015 with OSIRIS at
        Keck"],"prefix":"10.1016","volume":"290","author":[{"given":"M\u00e1t\u00e9","family":"\u00c1d\u00e1mkovics","sequence":"first","affiliation":[]},{"given":"Imke","family":"de
        Pater","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.icarus.2017.02.015_bib0001","doi-asserted-by":"crossref","first-page":"868","DOI":"10.1016\/j.icarus.2010.03.006","article-title":"Observations
        of a stationary mid-latitude cloud system on titan","volume":"208","author":"\u00c1d\u00e1mkovics","year":"2010","journal-title":"Icarus"},{"key":"10.1016\/j.icarus.2017.02.015_bib0002","doi-asserted-by":"crossref","first-page":"1586","DOI":"10.1016\/j.pss.2009.07.001","article-title":"Evidence
        for condensed-phase methane enhancement over xanadu on titan","volume":"57","author":"\u00c1d\u00e1mkovics","year":"2009","journal-title":"Planet.
        Space Sci."},{"issue":"E7","key":"10.1016\/j.icarus.2017.02.015_bib0003","doi-asserted-by":"crossref","first-page":"E07S06","DOI":"10.1029\/2005JE002610","article-title":"Titan\u2019S
        bright spots: multiband spectroscopic measurement of surface diversity and
        hazes","volume":"111","author":"\u00c1d\u00e1mkovics","year":"2006","journal-title":"J.
        Geophys. Res. (Planets)"},{"issue":"17","key":"10.1016\/j.icarus.2017.02.015_bib0004","doi-asserted-by":"crossref","first-page":"L17S05","DOI":"10.1029[...]
