interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/funders?rows=2
  response:
    content: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":null},"total-results":44529,"items":[{"id":"100000001","location":"United
      States","name":"National Science Foundation","alt-names":["U.S. National Science
      Foundation","USA NSF","US NSF","NSF"],"uri":"https:\/\/doi.org\/10.13039\/100000001","replaces":[],"replaced-by":[],"tokens":["national","science","foundation","us","national","science","foundation","usa","nsf","us","nsf","nsf"]},{"id":"100000003","location":"United
      States","name":"Boeing","alt-names":["Boeing Co.","The Boeing Company","Boeing
      Co","Boeing Company"],"uri":"https:\/\/doi.org\/10.13039\/100000003","replaces":[],"replaced-by":[],"tokens":["boeing","boeing","co","the","boeing","company","boeing","co","boeing","company"]}]}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
