interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=has-assertion%3Atrue
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":227947,"items":[{"indexed":{"date-parts":[[2024,7,3]],"date-time":"2024-07-03T17:36:22Z","timestamp":1720028182431},"reference-count":56,"publisher":"Elsevier
      BV","license":[{"start":{"date-parts":[[2014,10,1]],"date-time":"2014-10-01T00:00:00Z","timestamp":1412121600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
      Science Foundation","doi-asserted-by":"publisher","award":["1305338"],"id":[{"id":"10.13039\/100000001","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Colloids
      and Surfaces A: Physicochemical and Engineering Aspects"],"published-print":{"date-parts":[[2014,10]]},"DOI":"10.1016\/j.colsurfa.2014.06.037","type":"journal-article","created":{"date-parts":[[2014,6,28]],"date-time":"2014-06-28T12:15:31Z","timestamp":1403957731000},"page":"22-30","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":16,"special_numbering":"C","title":["Wetting
      of nanofiber yarns"],"prefix":"10.1016","volume":"459","author":[{"given":"Chen-Chih","family":"Tsai","sequence":"first","affiliation":[]},{"given":"Yu","family":"Gu","sequence":"additional","affiliation":[]},{"given":"Konstantin
      G.","family":"Kornev","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"issue":"10","key":"10.1016\/j.colsurfa.2014.06.037_bib0005","doi-asserted-by":"crossref","first-page":"2387","DOI":"10.1016\/j.polymer.2008.02.002","article-title":"Electrospinning
      jets and polymer nanofibers","volume":"49","author":"Reneker","year":"2008","journal-title":"Polymer"},{"issue":"14","key":"10.1016\/j.colsurfa.2014.06.037_bib0010","doi-asserted-by":"crossref","first-page":"1384","DOI":"10.1016\/j.addr.2007.04.020","article-title":"Formation
      of fibers by electrospinning","volume":"59","author":"Rutledge","year":"2007","journal-title":"Adv.
      Drug Deliv. Rev."},{"issue":"5862","key":"10.1016\/j.colsurfa.2014.06.037_bib0015","doi-asserted-by":"crossref","first-page":"419","DOI":"10.1126\/science.1151434","article-title":"Structural
      nanoc[...]
