interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/funders?filter=from-pub-date%3A2014-03-03
  response:
    body:
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"filter-not-available","value":"from-pub-date","message":"Filter
        from-pub-date specified but there is no such filter for this route. Valid
        filters for this route are: location"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 400
      message: Bad Request
version: 1
