interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/funders?filter=from-pub-date%3A2014-03-03
  response:
    content: '{"status":"failed","message-type":"validation-failure","message":[{"type":"filter-not-available","value":"from-pub-date","message":"Filter
      ''from-pub-date'' specified but there is no such filter for this route. Valid
      filters for this route are: location"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 400
version: 1
