interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/funders?query=NSF&rows=2
  response:
    body:
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":"NSF"},"total-results":85,"items":[{"id":"100014071","location":"United
        States","name":"Large Facilities Office","alt-names":["Large Facilities Office
        at NSF","NSF''s Large Facilities Office","National Science Foundation''s Large
        Facilities Office","BFA\/LFO","LFO","NSF Large Facilities Office"],"uri":"http:\/\/dx.doi.org\/10.13039\/100014071","replaces":[],"replaced-by":[],"tokens":["large","facilities","office","large","facilities","office","at","nsf","nsfs","large","facilities","office","national","science","foundations","large","facilities","office","bfa\/lfo","lfo","nsf","large","facilities","office"]},{"id":"100000150","location":"United
        States","name":"Division of Emerging Frontiers and Multidisciplinary Activities","alt-names":["Office
        of Emerging Frontiers and Multidisciplinary Activities","EFMA","NSF''s Emerging
        Frontiers in Research and In[...]
