interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=type%3Ajournal-article&rows=100&query.container-title=engineering
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":12006,"items":[{"indexed":{"date-parts":[[2025,7,5]],"date-time":"2025-07-05T02:04:33Z","timestamp":1751681073200,"version":"3.37.3"},"reference-count":101,"publisher":"Elsevier
      BV","license":[{"start":{"date-parts":[[2023,7,1]],"date-time":"2023-07-01T00:00:00Z","timestamp":1688169600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2023,7,1]],"date-time":"2023-07-01T00:00:00Z","timestamp":1688169600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/legal\/tdmrep-license"},{"start":{"date-parts":[[2023,3,30]],"date-time":"2023-03-30T00:00:00Z","timestamp":1680134400000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/"}],"funder":[{"DOI":"10.13039\/100000028","name":"Semiconductor
      Research Corporation","doi-asserted-by":"publisher","id":[{"id":"10.13039\/100000028","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100000001","name":"National
      Science Foundation","doi-asserted-by":"publisher","award":["1846157","1941181"],"id":[{"id":"10.13039\/100000001","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100000005","name":"U.S.
      Department of Defense","doi-asserted-by":"publisher","award":["13000844-021"],"id":[{"id":"10.13039\/100000005","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Engineering"],"published-print":{"date-parts":[[2023,7]]},"DOI":"10.1016\/j.eng.2022.10.019","type":"journal-article","created":{"date-parts":[[2023,4,13]],"date-time":"2023-04-13T09:33:52Z","timestamp":1681378432000},"page":"185-197","update-policy":"https:\/\/doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":36,"special_numbering":"C","title":["A
      Review of Recent Developments in \u201cOn-Chip\u201d Embedded Cooling Technologies
      for Heterogeneous Integrated Applications"],"prefix":"10.1016","volume":"26","author":[{"given":"Srikanth","family":"Rangarajan","sequence":"first","affiliation":[]},{"given":"Scott
      N.","family":"Schiffres","sequence":"additional","affiliation":[]},{"given":"Bahgat","family":"Sammakia","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.eng.2022.10.019_b0005","unstructured":"Merriam-Webster
      Dictionary. Definition of embed [Internet]. Merriam-Webster; c2022 [cited 2020
      Jun 24]. Available from: https:\/\/www.merriam-webster.com\/dictionary\/embed."},{"issue":"2","key":"10.1016\/j.eng.2022.10.019_b0010","doi-asserted-by":"crossref","first-page":"181","DOI":"10.1557\/adv.2016.120","article-title":"Near-junction
      microfluidic cooling for wide bandgap devices","volume":"1","author":"Bar-Cohen","year":"2016","journal-title":"MRS
      Adv"},{"key":"10.1016\/j.eng.2022.10.019_b0015","doi-asserted-by":"crossref","unstructured":"Bhopte
      S, Desu SB, Sammakia B. An integrated nano-structured heat spreader for high
      heat flux electronic systems. In: Proceedings of the 14th International Heat
      Transfer Conference; 2010 Aug 8\u201313; Washington, DC, USA. New York City:
      ASME; 2010. p. 629\u201335.","DOI":"10.1115\/IHTC14-22918"},{"key":"10.1016\/j.eng.2022.10.019_b0020","doi-asserted-by":"crossref","un[...]
