interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":425712,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:42:46Z","timestamp":1648950166883},"reference-count":43,"publisher":"American
        Physical Society (APS)","issue":"20","license":[{"start":{"date-parts":[[2014,5,12]],"date-time":"2014-05-12T00:00:00Z","timestamp":1399852800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/link.aps.org\/licenses\/aps-default-license"}],"funder":[{"DOI":"10.13039\/100000015","name":"U.S.
        Department of Energy","doi-asserted-by":"publisher","award":["DE-AC04-94AL85000"]},{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["DMR-0748516"]},{"DOI":"10.13039\/100000183","name":"Army
        Research Office","doi-asserted-by":"publisher","award":["W911NF-12-1-0338"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Phys.
        Rev. B"],"DOI":"10.1103\/physrevb.89.205306","type":"journal-article","created":{"date-parts":[[2014,5,12]],"date-time":"2014-05-12T17:08:16Z","timestamp":1399914496000},"source":"Crossref","is-referenced-by-count":1,"title":["Phase
        stability analysis of the InAs\/GaAs (001) wetting layer from first principles"],"prefix":"10.1103","volume":"89","author":[{"given":"John
        C.","family":"Thomas","sequence":"first","affiliation":[]},{"given":"Joanna
        Mirecki","family":"Millunchick","sequence":"additional","affiliation":[]},{"given":"Anton","family":"Van
        der Ven","sequence":"additional","affiliation":[]},{"given":"Normand A.","family":"Modine","sequence":"additional","affiliation":[]}],"member":"16","published-online":{"date-parts":[[2014,5,12]]},"reference":[{"key":"PhysRevB.89.205306Cc1R1","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevB.45.11173"},{"key":"PhysRevB.89.205306Cc2R1","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevB.53.4570"},{"key":"PhysRevB.89.205306Cc3R1","doi-asserted-by":"publisher","DOI":"10.1016\/j.jcrysgro.2005.10.027"},{"key":"PhysRevB.89.205306Cc4R1","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevB.82.165434"},{"key":"PhysRevB.89.205306Cc5R1","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevB.87.075320"},{"key"[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/funders/10.13039/notarealdoi/works
  response:
    body:
      string: Resource not found.
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 404
      message: Not Found
[...]
