interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":488102,"items":[{"indexed":{"date-parts":[[2024,9,19]],"date-time":"2024-09-19T16:34:49Z","timestamp":1726763689692},"reference-count":27,"publisher":"IEEE","license":[{"start":{"date-parts":[[2023,12,13]],"date-time":"2023-12-13T00:00:00Z","timestamp":1702425600000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-029"},{"start":{"date-parts":[[2023,12,13]],"date-time":"2023-12-13T00:00:00Z","timestamp":1702425600000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-037"}],"funder":[{"DOI":"10.13039\/100000006","name":"Office
      of Naval Research","doi-asserted-by":"publisher","award":["N000 14-20-1-2636"],"id":[{"id":"10.13039\/100000006","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100000001","name":"National
      Science Foundation","doi-asserted-by":"publisher","award":["CNS 1941670"],"id":[{"id":"10.13039\/100000001","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100000181","name":"Air
      Force Office of Scientific Research","doi-asserted-by":"publisher","award":["FA9550-20-1-0074,FA9550-22-1-0054"],"id":[{"id":"10.13039\/100000181","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2023,12,13]]},"DOI":"10.1109\/cdc49753.2023.10384305","type":"proceedings-article","created":{"date-parts":[[2024,1,19]],"date-time":"2024-01-19T18:38:36Z","timestamp":1705689516000},"source":"Crossref","is-referenced-by-count":2,"title":["Necessary
      and Sufficient Conditions for Satisfying Linear Temporal Logic Constraints Using
      Control Barrier Certificates"],"prefix":"10.1109","author":[{"given":"Luyao","family":"Niu","sequence":"first","affiliation":[{"name":"University
      of Washington,Network Security Lab,Department of Electrical and Computer Engineering,Seattle,WA,98195-2500"}]},{"given":"Andrew","family":"Clark","sequence":"additional","affiliation":[{"name":"McKelvey
      School of Engineering, Washington University in St. Louis,Electrical and Systems
      Engineering Department,St. Louis,MO,63130"}]},{"given":"Radha","family":"Poovendran","sequence":"additional","affiliation":[{"name":"University
      of Washington,Network Security Lab,Department of Electrical and Computer Engineering,Seattle,WA,98195-2500"}]}],"member":"263","reference":[{"key":"ref1","volume-title":"Principles
      of Model Checking","author":"Baier","year":"2008"},{"key":"ref2","doi-asserted-by":"publisher","DOI":"10.1016\/j.automatica.2008.08.008"},{"key":"ref3","doi-asserted-by":"publisher","DOI":"10.1109\/TASE.2015.2499164"},{"key":"ref4","doi-asserted-by":"publisher","DOI":"10.1109\/TCNS.2015.2428471"},{"key":"ref5","doi-asserted-by":"publisher","DOI":"10.1109\/TAC.2014.2298143"},{"key":"ref6","doi-asserted-by":"publisher","DOI":"10.1109\/CDC.2009.5399536"},{"key":"ref7","doi-asserted-by":"publisher","DOI":"10.1109\/CDC.2015.7403395"},{"key":"[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/funders/10.13039/notarealdoi/works
  response:
    content: Resource not found.
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 404
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000005/works
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":161316,"items":[{"indexed":{"date-parts":[[2024,8,23]],"date-time":"2024-08-23T02:47:15Z","timestamp":1724381235778},"reference-count":83,"publisher":"Elsevier
      BV","license":[{"start":{"date-parts":[[2014,8,1]],"date-time":"2014-08-01T00:00:00Z","timestamp":1406851200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/100000006","name":"Office
      of Naval Research","doi-asserted-by":"crossref","award":["N00014-11-1-0306","ONR-DRI
      N0014-10-1-0554"],"id":[{"id":"10.13039\/100000006","id-type":"DOI","asserted-by":"crossref"}]},{"name":"NSF","award":["DMS-1025468"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Journal
      of Computational Physics"],"published-print":{"date-parts":[[2014,8]]},"DOI":"10.1016\/j.jcp.2013.09.014","type":"journal-article","created":{"date-parts":[[2013,9,17]],"date-time":"2013-09-17T01:30:22Z","timestamp":1379381422000},"page":"60-77","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":42,"special_numbering":"C","title":["New
      perspectives on superparameterization for geophysical turbulence"],"prefix":"10.1016","volume":"271","author":[{"given":"Andrew
      J.","family":"Majda","sequence":"first","affiliation":[]},{"given":"Ian","family":"Grooms","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.jcp.2013.09.014_br0010","series-title":"Mathematics:
      Frontiers and Perspectives","first-page":"137","article-title":"Real world turbulence
      and modern applied mathematics","author":"Majda","year":"2000"},{"key":"10.1016\/j.jcp.2013.09.014_br0020","series-title":"Turbulence","author":"Hinze","year":"1959"},{"key":"10.1016\/j.jcp.2013.09.014_br0030","series-title":"Statistical
      Fluid Dynamics","author":"Monin","year":"1971"},{"key":"10.1016\/j.jcp.2013.09.014_br0040","series-title":"The
      Structure of Turbulent Shear Flow","author":"Townsend","year":"1976"},{"key":"10.1016\/j.jcp.2013.09.014_br0050","series-title":"Ocean
      Modeling in an Eddying Regime","year":"2008"},{"key":"10.1016\/j.jcp.2013.09.014_br0060","doi-asserted-by":"crossref","first-page":"171","DOI":"10.1016\/S0167-2789(99)00104-9","article-title":"CRCP:
      A cloud resolving convection parameterization for modeling the tropical convecting
      atmosphere","volume":"133","author":"Grabowski","year":"1999","journal-title":"Physica
      D"},{"key":"10.1016\/j.jcp.2013.09.014_br0070","doi-asserted-by":"crossref","first-page":"978","DOI":"10.1175\/1520-0469(2001)058<0978:CCPWTL>2.0.CO;2","article-title":"Coupling
      cloud processes with the large-scale dynamics using the cloud-resolving convection
      parameterization (CRCP)","volume":"58","author":"Grabowski","year":"2001","journal-title":"J.
      Atmos. Sci."},{"key":"10.1016\/j.jcp.2013.09.014_br0080","doi-asserted-by":"crossref","first-page":"1940","DOI":[...]
