interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=type%3Ajournal-article&rows=100&query.container-title=engineering
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":10175,"items":[{"indexed":{"date-parts":[[2023,9,23]],"date-time":"2023-09-23T05:52:07Z","timestamp":1695448327508},"reference-count":14,"publisher":"Elsevier
        BV","issue":"12","license":[{"start":{"date-parts":[[2021,12,1]],"date-time":"2021-12-01T00:00:00Z","timestamp":1638316800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2021,7,26]],"date-time":"2021-07-26T00:00:00Z","timestamp":1627257600000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher"},{"DOI":"10.13039\/100000002","name":"National
        Institutes of Health","doi-asserted-by":"publisher","award":["P41 EB023833","R01
        AR068073"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Engineering"],"published-print":{"date-parts":[[2021,12]]},"DOI":"10.1016\/j.eng.2021.05.014","type":"journal-article","created":{"date-parts":[[2021,7,30]],"date-time":"2021-07-30T03:27:03Z","timestamp":1627615623000},"page":"1704-1706","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":6,"title":["Machine
        Learning and Medical Devices: The Next Step for Tissue Engineering"],"prefix":"10.1016","volume":"7","author":[{"given":"Hannah
        A.","family":"Pearce","sequence":"first","affiliation":[]},{"given":"Antonios
        G.","family":"Mikos","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"issue":"19","key":"10.1016\/j.eng.2021.05.014_b0005","doi-asserted-by":"crossref","first-page":"1900538","DOI":"10.1002\/adhm.201900538","article-title":"Improving
        the rate of translation of tissue engineering products","volume":"8","author":"Ghaemi","year":"2019","journal-title":"Adv
        Healthc Mater"},{"issue":"4","key":"10.1016\/j.eng.2021.05.014_b0010","doi-asserted-by":"crossref","first-page":"269","DOI":"10.1136\/neurintsurg-2012-010400","article-title":"The
        FDA approval process for medical devices: an inherently flawed system or a
        valuable pathway for innovation?","volume":"5","author":"Fargen","year":"2013","journal-title":"J
        Neurointerv Surg"},{"key":"10.1016\/j.eng.2021.05.014_b0015","doi-asserted-by":"crossref","first-page":"127","[...]
