interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.25.1 habanero/0.7.6
    method: GET
    uri: https://api.crossref.org/funders?rows=2
  response:
    body:
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":null},"total-results":29743,"items":[{"id":"100000001","location":"United
        States","name":"National Science Foundation","alt-names":["USA NSF","NSF","US
        NSF"],"uri":"http:\/\/dx.doi.org\/10.13039\/100000001","replaces":[],"replaced-by":[],"tokens":["national","science","foundation","usa","nsf","nsf","us","nsf"]},{"id":"100000003","location":"United
        States","name":"Boeing","alt-names":["Boeing Company"],"uri":"http:\/\/dx.doi.org\/10.13039\/100000003","replaces":[],"replaced-by":[],"tokens":["boeing","boeing","company"]}]}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
