interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=type%3Ajournal-article&rows=100&query.container-title=engineering
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":9801,"items":[{"indexed":{"date-parts":[[2023,4,7]],"date-time":"2023-04-07T07:33:59Z","timestamp":1680852839694},"reference-count":22,"publisher":"Elsevier
        BV","issue":"2","license":[{"start":{"date-parts":[[2018,4,1]],"date-time":"2018-04-01T00:00:00Z","timestamp":1522540800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2018,3,24]],"date-time":"2018-03-24T00:00:00Z","timestamp":1521849600000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher"},{"DOI":"10.13039\/100000150","name":"Division
        of Emerging Frontiers in Research and Innovation","doi-asserted-by":"publisher"},{"DOI":"10.13039\/100000150","name":"Division
        of Emerging Frontiers in Research and Innovation","doi-asserted-by":"publisher"}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Engineering"],"published-print":{"date-parts":[[2018,4]]},"DOI":"10.1016\/j.eng.2018.03.005","type":"journal-article","created":{"date-parts":[[2018,4,3]],"date-time":"2018-04-03T15:13:04Z","timestamp":1522768384000},"page":"194-199","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":2,"title":["Impact
        of Low-Impact Development Technologies from an Ecological Perspective in Different
        Residential Zones of the City of Atlanta, Georgia"],"prefix":"10.1016","volume":"4","author":[{"given":"Zackery
        B.","family":"Morris","sequence":"first","affiliation":[]},{"given":"Stephen
        M.","family":"Malone","sequence":"additional","affiliation":[]},{"given":"Abigail
        R.","family":"Cohen","sequence":"additional","affiliation":[]},{"given":"Marc
        J.","family":"Weissburg","sequence":"additional","affiliation":[]},{"given":"Bert","family":"Bras","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.eng.2018.03.005_b0005","unstructured":"United
        Nations, Department of Economic and Social Affairs, Population Division. World
        urbanization prospects: the 2014 revision, highlights. New York: United Nations;
        2014."},{"issue":"2","key":"10.1016\/j.eng.2018.03.005_b0010","doi-asserted-by":"crossref","first-page":"43","DOI":"10.1162\/jie.2007.1107","article-title":"The
        changing metabolism of cities","volume":"11","author":"Kennedy","year":"2007","journal-title":"J
        Ind Ecol"},{"issue":"7","key":"10.1016\/j.eng.2018.03.005_b0015","doi-asserted-by":"crossref","first-page":"751","DOI":"10.1007\/s13280-011-0232-7","article-title":"Golubiewski
        N. Is there a metabolism of an urban ecosystem? An ecological critique","volume":"41","author":"Golubiewski","year":"2012","journal-title":"Ambio"},{"key":"10.1016\/j.eng.2018.03.005_b0020","series-title":"Food
        webs: realizing biological inspirations for sustainable industrial resource
        networks","author":"Layton","year":"2014"},{"issue":"20","key":"10.1016\/j.eng.2018.03.005_b0025","doi-asserted-by":"crossref","first-page":"11243","DOI":"10.1021\/acs.est.6b03066","article-title":"Designing
        industrial networks using ecological food web metrics","volume":"50","author":"Layton","year":"2016","journal-title":"Environ
        Sci Technol"},{"issue":"1","key":"10.1016\/j.eng.2018.03.005_b0030","do[...]
