interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/funders?query=NSF&rows=2
  response:
    content: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":"NSF"},"total-results":89,"items":[{"id":"100014071","location":"United
      States","name":"Large Facilities Office","alt-names":["Large Facilities Office
      at NSF","NSF''s Large Facilities Office","National Science Foundation''s Large
      Facilities Office","BFA\/LFO","LFO","NSF Large Facilities Office"],"uri":"https:\/\/doi.org\/10.13039\/100014071","replaces":[],"replaced-by":[],"tokens":["large","facilities","office","large","facilities","office","at","nsf","nsfs","large","facilities","office","national","science","foundations","large","facilities","office","bfa\/lfo","lfo","nsf","large","facilities","office"]},{"id":"100000106","location":"United
      States","name":"Office of Integrative Activities","alt-names":["OIA","NSF Office
      of Integrative Activities","National Science Foundation''s Office of Integrative
      Activities","NSF OIA","Office of Integrative Activities, National Science Foundation","NSF''s
      Office of Integrative Activities","OD\/OIA"],"uri":"https:\/\/doi.org\/10.13039\/100000106","replaces":["100007522"],"replaced-by":[],"tokens":["office","of","integrative","activities","oia","nsf","office","of","integrative","activities","national","science","foundations","office","of","integrative","activities","nsf","oia","office","of","integrative","activities","national","science","foundation","nsfs","office","of","integrative","activities","od\/oia"]}]}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
