interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=type%3Ajournal-article&rows=100&query.container-title=engineering
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":11163,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T05:45:36Z","timestamp":1648964736711},"reference-count":21,"publisher":"Elsevier
      BV","issue":"5","license":[{"start":{"date-parts":[[2020,5,1]],"date-time":"2020-05-01T00:00:00Z","timestamp":1588291200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2019,12,18]],"date-time":"2019-12-18T00:00:00Z","timestamp":1576627200000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
      Science Foundation","doi-asserted-by":"publisher","award":["1553613"],"id":[{"id":"10.13039\/100000001","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Engineering"],"published-print":{"date-parts":[[2020,5]]},"DOI":"10.1016\/j.eng.2019.09.009","type":"journal-article","created":{"date-parts":[[2019,12,23]],"date-time":"2019-12-23T16:44:46Z","timestamp":1577119486000},"page":"495-499","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":2,"title":["Constructing
      an Automation Table for an Image-Based Arabidopsis Resistance Assay"],"prefix":"10.1016","volume":"6","author":[{"given":"Goldi","family":"Makhija","sequence":"first","affiliation":[]},{"given":"Dinesh
      S.","family":"Pujara","sequence":"additional","affiliation":[]},{"given":"In-Hyouk","family":"Song","sequence":"additional","affiliation":[]},{"given":"Byoung","family":"Hee
      You","sequence":"additional","affiliation":[]},{"given":"Hong-Gu","family":"Kang","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"issue":"5967","key":"10.1016\/j.eng.2019.09.009_b0005","doi-asserted-by":"crossref","first-page":"818","DOI":"10.1126\/science.1183700","article-title":"Breeding
      technologies to increase crop production in a changing world","volume":"327","author":"Tester","year":"2010","journal-title":"Science"},{"issue":"12","key":"10.1016\/j.eng.2019.09.009_b0010","doi-asserted-by":"crossref","first-page":"2531","DOI":"10.1094\/PDIS-02-18-0307-RE","article-title":"Yield
      loss associated with different levels of stem rust resistance in bread wheat","volume":"102","author":"Soko","year":"2018","journal-title":"Plant
      Dis"},{"key":"10.1016\/j.eng.2019.09.009_b0015","doi-asserted-by":"crossref","first-page":"399","DOI":"10.1146\/annurev.phyto.45.062806.094427","article-title":"Elicito[...]
