interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.12.0 habanero/2.9.3
    method: GET
    uri: https://api.crossref.org/types/journal-article
  response:
    body:
      string: '{"status":"ok","message-type":"type","message-version":"1.0.0","message":{"id":"journal-article","label":"Journal
        Article"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public-single
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.12.0 habanero/2.9.3
    method: GET
    uri: https://api.crossref.org/types/tape
  response:
    body:
      string: Resource not found.
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public-single
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 404
      message: Not Found
version: 1
