interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/journals/2167-8359/works?query=ecology&sort=score&order=asc
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":166,"items":[{"indexed":{"date-parts":[[2022,10,26]],"date-time":"2022-10-26T05:08:11Z","timestamp":1666760891308},"reference-count":75,"publisher":"PeerJ","license":[{"start":{"date-parts":[[2022,10,25]],"date-time":"2022-10-25T00:00:00Z","timestamp":1666656000000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100002322","name":"Coordena\u00e7\u00e3o
        de Aperfei\u00e7oamento de Pessoal de N\u00edvel Superior - Brasil","doi-asserted-by":"crossref"},{"name":"Funda\u00e7\u00e3o
        para a Ci\u00eancia e a Tecnologia","award":["UIDB\/05064\/2020","UIDB\/04007\/2020"]},{"DOI":"10.13039\/501100003593","name":"Conselho
        Nacional do Desenvolvimento Cient\u00edfico e Tecnol\u00f3gico","doi-asserted-by":"crossref","award":["304309\/2018-4"]},{"DOI":"10.13039\/501100004586","name":"Funda\u00e7\u00e3o
        Carlos Chagas Filho de Amparo \u00e0 Pesquisa do Estado do Rio de Janeiro","doi-asserted-by":"crossref","award":["E-26\/202.647\/2019"]},{"name":"National
        Institute for Science and Technology in Ecology, Evolution and Biodiversity
        Conservation","award":["465610\/2014-5"]},{"DOI":"10.13039\/501100005285","name":"FAPEG","doi-asserted-by":"crossref","award":["201810267000023"]},{"name":"FAPERJ
        through the program Cientistas do Nosso Estado","award":["E-26\/202.803\/2018"]},{"DOI":"10.13039\/501100003593","name":"CNPq","doi-asserted-by":"crossref","award":["302974\/2015-6","424473\/2016","304375\/2020-9"]},{"name":"Programa
        Proci\u00eancia from the Universidade do Estado do Rio de Janeiro"},{"name":"National
        Council for Research and Development","award":["311103\/2015-4"]},{"name":"Foundation
        for the Support of Research of the State of Amazonas","award":["01.02.016301.000289\/2021-33"]},{"name":"National
        Institute for Research in Amazonia","award":["PRJ15.125"]},{"name":"Brazilian
        Research Network on Climate Change","award":["01.13.0353-00"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<jats:sec>\n               <jats:title>Background<\/jats:title>\n               <jats:p>Terrestrial
        biomes in South America are likely to experience a persistent increase in
        environmental temperature, possibly combined with moisture reduction due to
        climate change. In addition, natural fire ignition sources, such as lightning,
        can become more frequent under climate change scenarios since favourable environmental
        conditions are likely to occur more often. In this sense, changes in the frequency
        and magnitude of natural fires can impose[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/journals/2167-8359/works?query=ecology&sort=score&order=desc
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":166,"items":[{"indexed":{"date-parts":[[2023,9,9]],"date-time":"2023-09-09T19:08:34Z","timestamp":1694286514932},"reference-count":74,"publisher":"PeerJ","license":[{"start":{"date-parts":[[2018,11,29]],"date-time":"2018-11-29T00:00:00Z","timestamp":1543449600000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<jats:p>The
        orb-weaver spider <jats:italic>Meta bourneti<\/jats:italic> Simon 1922 (Araneae:
        Tetragnathidae) is one of the most common cave predators occurring in the
        Mediterranean basin. Although the congeneric <jats:italic>M. menardi<\/jats:italic>
        represented the model species in several studies, our knowledge of <jats:italic>M.
        bourneti<\/jats:italic> is only founded on observations performed on a handful
        of populations. In this study <jats:italic>M. bourneti<\/jats:italic> spiders
        were[...]
