interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/journals?offset=things
  response:
    content: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":null},"total-results":151113,"items":[{"last-status-check-time":1752278713182,"counts":{"current-dois":347,"backfile-dois":12394,"total-dois":12741},"breakdowns":{"dois-by-issued-year":[[1999,598],[2000,524],[1996,504],[1997,484],[1998,482],[2001,462],[2002,446],[2007,443],[2006,407],[2008,404],[2004,396],[2003,371],[2009,367],[2005,362],[1995,337],[2016,299],[1993,298],[1994,297],[1992,266],[2011,263],[1990,263],[1991,253],[2010,247],[1989,228],[1988,227],[2021,225],[2014,222],[2020,212],[2017,207],[2012,207],[2019,205],[1987,186],[2018,178],[2013,165],[2022,161],[2015,155],[1986,150],[2023,147],[1984,139],[2024,134],[1982,133],[1985,128],[1983,115],[1981,92],[1980,78],[2025,66],[1979,54],[1976,53],[1975,47],[1977,39],[1978,15]]},"publisher":"Wiley
      (John Wiley & Sons)","coverage":{"affiliations-current":0.7636887608069164,"similarity-checking-current":0.9106628242074928,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.109085041148943,"licenses-backfile":0.9783766338550912,"funders-current":0.5244956772334294,"affiliations-backfile":0.1416007745683395,"resource-links-backfile":0.9745844763595288,"orcids-backfile":0.07124415039535259,"update-policies-current":0.9106628242074928,"ror-ids-backfile":0.0,"orcids-current":0.6455331412103746,"similarity-checking-backfile":0.8851056963046635,"references-backfile":0.7764240761658867,"descriptions-backfile":0.0,"award-numbers-backfile":0.08439567532677102,"update-policies-backfile":0.07213167661771824,"licenses-current":0.9106628242074928,"award-numbers-current":0.3256484149855908,"abstracts-backfile":0.6391802485073423,"resource-links-current":0.08357348703170028,"abstracts-current":0.7723342939481268,"references-current":0.7636887608069164},"title":"Journal
      of Neuroscience Research","subjects":[],"coverage-type":{"all":{"last-status-check-time":1752278713182,"affiliations":0.1585308428818082,"abstracts":0.6427562392089154,"orcids":0.08687804112384241,"licenses":0.9764558154135928,"references":0.7760163239679799,"funders":0.1203892638518286,"similarity-checking":0.8858107047559253,"award-numbers":0.09095903311881964,"ror-ids":0.0,"update-policies":0.09496154449850887,"resource-links":0.9502432899073929,"descriptions":0.0},"backfile":{"last-status-check-time":1752278713182,"affiliations":0.1416007745683395,"abstracts":0.6391802485073423,"orcids":0.07124415039535259,"licenses":0.9783766338550912,"references":0.7764240761658867,"funders":0.109085041148943,"similarity-checking":0.8851056963046635,"award-numbers":0.08439567532677102,"ror-ids":0.0,"update-policies":0.07213167661771824,"resource-links":0.9745844763595288,"descriptions":0.0},"current":{"last-status-check-time":1752278713182,"affiliations":0.7636887608069164,"abstracts":0.7723342939481268,"orcids":0.6455331412103746,"licenses":0.9106628242074928,"references":0.7636887608069164,"funders":0.5244956772334294,"similarity-checking":0.9106628242074928,"award-numbers":0.3256484149855908,"ror-ids":0.0,"update-policies":0.9106628242074928,"resource-links":0.08357348703170028,"descriptions":0.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["0360-4012","1097-4547"],"issn-type":[{"type":"print","value":"0360-4012"},{"type":"electronic","value":"1097-4547"}]},{"last-status-check-time":1752278721750,"counts":{"current-dois":762,"backfile-dois":16782,"total-dois":17544},"breakdowns":{"dois-by-issued-year":[[2000,743],[2001,585],[2003,466],[1994,462],[2002,436],[1987,431],[2005,426],[1999,419],[1984,419],[1998,418],[2004,411],[2010,410],[1981,410],[1988,407],[1983,389],[1996,381],[1978,379],[1992,372],[1990,371],[2011,370],[1995,359],[1991,353],[1997,350],[2012,348],[1982,348],[2020,342],[1993,339[...]
