interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/journals?rows=1
  response:
    body:
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":1,"query":{"start-index":0,"search-terms":null},"total-results":122448,"items":[{"last-status-check-time":1695600382217,"counts":{"current-dois":488,"backfile-dois":10945,"total-dois":11433},"breakdowns":{"dois-by-issued-year":[[2009,489],[2002,402],[2001,395],[2004,393],[2003,383],[2007,382],[2006,378],[2000,362],[2008,358],[2005,352],[1996,342],[1999,338],[1995,337],[1998,333],[1997,311],[2016,299],[1994,291],[1993,285],[2010,280],[2011,263],[1992,261],[1990,260],[1991,249],[2021,225],[1989,225],[1988,225],[2014,222],[2020,212],[2017,207],[2012,207],[2019,205],[1987,183],[2018,178],[2013,165],[2022,161],[2015,155],[1986,148],[1984,136],[1982,129],[1985,124],[1983,112],[2023,102],[1981,89],[1980,76],[1979,53],[1976,51],[1975,46],[1977,39],[1978,15]]},"publisher":"Wiley
        (John Wiley & Sons)","coverage":{"affiliations-current":0.7848360655737705,"similarity-checking-current":0.9282786885245902,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.1051621745089082,"licenses-backfile":0.9906806761078119,"funders-current":0.5081967213114754,"affiliations-backfile":0.1321151210598447,"resource-links-backfile":0.9863864778437643,"orcids-backfile":0.06021014161717679,"update-policies-current":0.9282786885245902,"ror-ids-backfile":0.0,"orcids-current":0.5614754098360656,"similarity-checking-backfile":0.969026952946551,"references-backfile":0.8478757423481043,"descriptions-backfile":0.0,"award-numbers-backfile":0.08524440383736866,"update-policies-backfile":0.04860666971219735,"licenses-current":0.9282786885245902,"award-numbers-current":0.2930327868852459,"abstracts-backfile":0.1035175879396985,"resource-links-current":0.8012295081967213,"abstracts-current":0.7561475409836066,"references-current":0.7889344262295082},"title":"Journal
        of Neuroscience Research","subjects":[{"ASJC":2804,"name":"Cellular and Molecular
        Neuroscience"}],"coverage-type":{"all":{"last-status-check-time":1695600382217,"affiliations":0.1599615182788176,"abstracts":0.1313626027636872,"orcids":0.08159874059821585,"licenses":0.9879307329018716,"references":0.8452859891551513,"funders":0.1223543816687074,"similarity-checking":0.9672905369949274,"award-numbers":0.09410529998250831,"ror-ids":0.0,"update-policies":0.0861465803743222,"resource-links":0.9783977610634949,"descriptions":0.0},"backfile":{"last-status-check-time":1695600382217,"affiliations":0.1321151210598447,"abstracts":0.1035175879396985,"orcids":0.06021014161717679,"licenses":0.9906806761078119,"references":0.8478757423481043,"funders":0.1051621745089082,"similarity-checking":0.969026952946551,"award-numbers":0.08524440383736866,"ror-ids":0.0,"update-policies":0.04860666971219735,"resource-links":0.9863864778437643,"descriptions":0.0},"current":{"last-status-check-time":1695600382217,"affiliations":0.7848360655737705,"abstracts":0.7561475409836066,"orcids":0.5614754098360656,"licenses":0.9282786885245902,"references":0.7889344262295082,"funders":0.5081967213114754,"similarity-checking":0.9282786885245902,"award-numbers":0.2930327868852459,"ror-ids":0.0,"update-policies":0.9282786885245902,"resource-links":0.8012295081967213,"descriptions":0.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["0360-4012","1097-4547"],"issn-type":[{"value":"0360-4012","type":"print"},{"value":"1097-4547","type":"electronic"}]}]}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
