interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/journals/1803-2427/works
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":49,"items":[{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T03:17:56Z","timestamp":1648696676842},"reference-count":41,"publisher":"Walter
        de Gruyter GmbH","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2011,1,1]]},"DOI":"10.2478\/v10285-012-0034-z","type":"journal-article","created":{"date-parts":[[2012,8,10]],"date-time":"2012-08-10T09:15:57Z","timestamp":1344590157000},"source":"Crossref","is-referenced-by-count":0,"title":["Antropogenically
        Created Forest Edge in the Starohorsk\u00e9 Vrchy Mts. on the Example of Donovaly
        Village"],"prefix":"10.2478","volume":"4","author":[{"given":"Martina","family":"\u0160kodov\u00e1","sequence":"first","affiliation":[]},{"given":"Alfonz","family":"Gajdo\u0161","sequence":"additional","affiliation":[]}],"member":"374","reference":[{"key":"1","first-page":"29","article-title":"Landscape-geobotanical
        basis for a typology of the man-made forest boundary","volume":"1","author":"S.
        Balcerkiewicz","year":"1992","journal-title":"Ecology (\u010cSFR)"},{"key":"2","doi-asserted-by":"crossref","first-page":"389","DOI":"10.1111\/j.1523-1739.2004.00184.x","article-title":"Evidence
        of an edge effect on avian nest success: a meta-analysis","volume":"18","author":"P.
        Bat\u00e1ry","year":"2004","journal-title":"Conservation Biology"},{"key":"3","first-page":"866","volume-title":"Grundz\u00fcge
        der Vegetationskunde. Pflanzensoziologie","volume":"3","author":"J. Braun-Blanquet","year":"1964"},{"key":"4","doi-asserted-by":"crossref","first-page":"91","DOI":"10.1111\/j.1523-1739.2001.99309.x","article-title":"Effects
        of edge structure on flux of species into forest interiors","volume":"15","author":"M.
        Cadenasso","year":"2001","journal-title":"Conservation Biology"},{"key":"5","first-page":"1","volume-title":"Waldrand
        - Liebensraum Voller \u[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/journals/4444-4444/works
  response:
    body:
      string: Resource not found.
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/journals/2167-8359/works
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":15974,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T05:56:41Z","timestamp":1648965401674},"reference-count":0,"publisher":"PeerJ","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.7717\/peerj.4580\/correction-1","type":"journal-article","created":{"date-parts":[[2018,11,30]],"date-time":"2018-11-30T22:22:26Z","timestamp":1543616546000},"page":"e4580\/correction-1","source":"Crossref","is-referenced-by-count":1,"title":["Correction:
        Reinvestigating an enigmatic Late Cretaceous monocot: morphology, taxonomy,
        and biogeography of <i>Viracarpon<\/i>"],"prefix":"10.7717","volume":"6","author":[{"given":"Kelly
        K.S.","family":"Matsunaga","sequence":"first","affiliation":[]},{"given":"Selena
        Y.","family":"Smith","sequence":"additional","affiliation":[]},{"given":"Steven
        R.","family":"Manchester","sequence":"additional","affiliation":[]},{"given":"Dashrath","family":"Kapgate","sequence":"additional","affiliation":[]},{"given":"Deepak","family":"Ramteke","sequence":"additional","affiliation":[]},{"given":"Amin","family":"Garbout","sequence":"additional","affiliation":[]},{"given":"Herminso","family":"Villarraga-G\u00f3mez","sequence":"additional","affiliation":[]}],"member":"4443","published-online":{"date-parts":[[2018,11,30]]},"container-title":["PeerJ"],"language":"en","deposited":{"date-parts":[[2018,11,30]],"date-time":"2018-11-30T22:22:26Z","timestamp":1543616546000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/peerj.com\/articles\/4580\/correction-1\/"}},"issued":{"date-parts":[[2018,11,30]]},"references-count":0,"alternative-id":["10.7717\/peerj.4580\/correction-1"],"URL":"http:\/\/dx.doi.org\/10.7717\/peerj.4580\/correction-1","ISSN":["2167-8359"],"issn-type":[{"value":"2167-8359","type":"electronic"}],"subject":["General
        Agricultural and Biological Sciences","General Biochemistry, Genetics and
        Molecular Biology","General Medicine","General Neuroscience"],"published":{"date-parts":[[2018,11,30]]},"article-number":"e4580\/correction-1"},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T02:53:21Z","timestamp":1648954401795},"reference-count":16,"publisher":"PeerJ","license":[{"start":{"date-parts":[[2017,9,19]],"date-time":"2017-09-19T00:00:00Z","timestamp":1505779200000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"name":"Australian
        Government through the Australian Research Council","award":["LP150100912"]},{"name":"AusGEM
        collaboration between UTS and the Department of Primary Industry of the New
        South Wales Government, Australia"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<jats:sec><jats:title>Background<\/jats:title><jats:p>Profiling
        of microbial communities via metagenomic shotgun sequencing has enabled researches
        to gain unprecedented insight into microbial community structure and the functional
        roles of community members. This study describes a method and basic analysis
        for a metagenomic adaptation of the double digest restriction site associated
        DNA sequencing (ddRADseq) protocol for reduced representation metagenome profiling.<\/jats:p><\/jats:sec><jats:sec><jats:title>M[...]
