interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/journals?query=ecology&rows=2
  response:
    body:
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":"ecology"},"total-results":277,"items":[{"last-status-check-time":1705371317857,"counts":{"current-dois":661,"backfile-dois":22697,"total-dois":23358},"breakdowns":{"dois-by-issued-year":[[2002,468],[2017,463],[2000,455],[2008,454],[2001,452],[2016,450],[1997,444],[2010,440],[2004,435],[2015,433],[2005,433],[2006,432],[2007,412],[2003,411],[2014,402],[2009,396],[1998,394],[2019,386],[2018,376],[1999,367],[2013,362],[2021,351],[2012,341],[2022,329],[2023,319],[2020,315],[1993,315],[1995,311],[1996,310],[1987,308],[1990,301],[1994,297],[1988,292],[2011,289],[1982,285],[1991,280],[1992,276],[1989,276],[1985,260],[1981,260],[1983,255],[1984,254],[1986,242],[1974,237],[1968,236],[1973,222],[1969,222],[1980,221],[1975,220],[1967,220],[1966,212],[1972,211],[1971,208],[1977,203],[1970,201],[1976,200],[1978,195],[1959,195],[1960,193],[1964,191],[1961,189],[1965,187],[1979,186],[1956,175],[1963,173],[1957,172],[1958,170],[1962,165],[1955,153],[1954,127],[1953,127],[1952,112],[1951,108],[1940,107],[1936,101],[1950,100],[1941,95],[1935,93],[1939,89],[1938,88],[1945,87],[1942,87],[1937,86],[1949,84],[1943,84],[1930,82],[1948,81],[1947,80],[1924,78],[1928,74],[1931,73],[1927,72],[1944,70],[1929,70],[1932,69],[1934,68],[1946,65],[1923,63],[1926,62],[1922,61],[1921,60],[1925,59],[1933,53],[1920,42],[2024,13]]},"publisher":"Wiley
        (John Wiley & Sons)","coverage":{"affiliations-current":0.8729198184568835,"similarity-checking-current":0.962178517397882,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.05912675684011103,"licenses-backfile":0.9770454245054412,"funders-current":0.6838124054462935,"affiliations-backfile":0.09477023395162355,"resource-links-backfile":0.9770013658192713,"orcids-backfile":0.03894787857426092,"update-policies-current":0.962178517397882,"ror-ids-backfile":0.0,"orcids-current":0.8381240544629349,"similarity-checking-backfile":0.9824646429043487,"references-backfile":0.3417191699343526,"descriptions-backfile":0.0,"award-numbers-backfile":0.04375027536678856,"update-policies-backfile":0.057144115962462,"licenses-current":0.962178517397882,"award-numbers-current":0.5733736762481089,"abstracts-backfile":0.3804908137639336,"resource-links-current":0.6868381240544629,"abstracts-current":0.7201210287443268,"references-current":0.7639939485627837},"title":"Ecology","subjects":[{"ASJC":1105,"name":"Ecology,
        Evolution, Behavior and Systematics"}],"coverage-type":{"all":{"last-status-check-time":1705371317857,"affiliations":0.1167858213108438,"abstracts":0.3900851920030823,"orcids":0.06156085448863393,"licenses":0.976582901665311,"references":0.3536538379211439,"funders":0.07680123292949184,"similarity-checking":0.981848538036731,"award-numbers":0.05873539106982319,"ror-ids":0.0,"update-policies":0.08275183012971446,"resource-links":0.9687486621858812,"descriptions":0.0},"backfile":{"last-status-check-time":1705371317857,"affiliations":0.09477023395162355,"abstracts":0.3804908137639336,"orcids":0.03894787857426092,"licenses":0.9770454245054412,"references":0.3417191699343526,"funders":0.05912675684011103,"similarity-checking":0.9824646429043487,"award-numbers":0.04375027536678856,"ror-ids":0.0,"update-policies":0.057144115962462,"resource-links":0.9770013658192713,"descriptions":0.0},"current":{"last-status-check-time":1705371317857,"affiliations":0.8729198184568835,"abstracts":0.7201210287443268,"orcids":0.8381240544629349,"licenses":0.962178517397882,"references":0.7639939485627837,"funders":0.6838124054462935,"similarity-checking":0.962178517397882,"award-numbers":0.5733736762481089,"ror-ids":0.0,"update-policies":0.962178517397882,"resource-links":0.6868381240544629,"descriptions":0.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["0012-9658","1939-9170"],"issn-type":[{"value":"0012-9658","type":"print"},{"value":"1939-9170","type":"electronic"}]},{"last-status-check-time":1705364079465,"counts":{"current-dois":78,"backfile-dois":2126,"total-dois":2204},"breakdowns":{"dois-by-issued-year":[[2010,71],[2015,70],[2013,69],[2009,65],[2012,62],[2008,61],[2006,57],[2019,55],[2011,49],[2014,46],[2007,46],[2005,45],[1980,45],[1998,44],[2022,43],[2020,43],[2018,42],[2016,39],[2004,39],[1983,39],[2017,38],[2003,38],[2000,38],[1999,38],[1976,38],[2002,37],[2021,36],[1995,36],[1994,36],[1996,35],[2[...]
