interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/journals/1803-2427
  response:
    body:
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1695546596140,"counts":{"current-dois":50,"backfile-dois":214,"total-dois":264},"breakdowns":{"dois-by-issued-year":[[2017,35],[2018,23],[2020,22],[2022,20],[2021,20],[2019,20],[2015,20],[2016,15],[2013,15],[2011,15],[2014,11],[2023,10],[2010,10],[2008,10],[2012,9],[2009,9]]},"publisher":"De
        Gruyter Poland Sp. z o.o.","coverage":{"affiliations-current":1.0,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.0,"licenses-backfile":0.7102803738317757,"funders-current":0.0,"affiliations-backfile":0.705607476635514,"resource-links-backfile":0.8551401869158879,"orcids-backfile":0.01401869158878505,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.18,"similarity-checking-backfile":0.9813084112149533,"references-backfile":0.7102803738317757,"descriptions-backfile":0.0,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":1.0,"award-numbers-current":0.0,"abstracts-backfile":0.8504672897196262,"resource-links-current":0.0,"abstracts-current":1.0,"references-current":1.0},"title":"Journal
        of Landscape Ecology","subjects":[{"ASJC":2308,"name":"Management, Monitoring,
        Policy and Law"},{"ASJC":2309,"name":"Nature and Landscape Conservation"},{"ASJC":2303,"name":"Ecology"}],"coverage-type":{"all":{"last-status-check-time":1695546596140,"affiliations":0.7613636363636364,"abstracts":0.8787878787878788,"orcids":0.04545454545454545,"licenses":0.7651515151515152,"references":0.7651515151515152,"funders":0.0,"similarity-checking":0.9848484848484848,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.6931818181818182,"descriptions":0.0},"backfile":{"last-status-check-time":1695546596140,"affiliations":0.705607476635514,"abstracts":0.8504672897196262,"orcids":0.01401869158878505,"licenses":0.7102803738317757,"references":0.7102803738317757,"funders":0.0,"similarity-checking":0.9813084112149533,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.8551401869158879,"descriptions":0.0},"current":{"last-status-check-time":1695546596140,"affiliations":1.0,"abstracts":1.0,"orcids":0.18,"licenses":1.0,"references":1.0,"funders":0.0,"similarity-checking":1.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":false,"deposits-resource-links-current":false,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":false,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":false,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1803-2427","1805-4196"],"issn-type":[{"type":"print","value":"1803-2427"},{"type":"electronic","value":"1805-4196"}]}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
[...]
