interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/journals/1803-2427/works
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":49,"items":[{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T11:28:39Z","timestamp":1648726119856},"reference-count":11,"publisher":"Walter
      de Gruyter GmbH","issue":"3","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2011,1,1]]},"DOI":"10.2478\/v10285-012-0042-z","type":"journal-article","created":{"date-parts":[[2012,8,10]],"date-time":"2012-08-10T09:14:57Z","timestamp":1344590097000},"source":"Crossref","is-referenced-by-count":0,"title":["Destructive
      Evolution of Postmeliorated Landscapes of Central Meschera"],"prefix":"10.2478","volume":"4","author":[{"given":"Tatiana","family":"Kharitonova","sequence":"first","affiliation":[]}],"member":"374","reference":[{"key":"1","unstructured":"\u0410\u0432\u0435\u0441\u0441\u0430\u043b\u043e\u043c\u043e\u0432\u0430,
      \u0418.\u0410., \u0414\u044c\u044f\u043a\u043e\u043d\u043e\u0432, \u041a.\u041d.
      (1983). \u0413\u0435\u043e\u0445\u0438\u043c\u0438\u0447\u0435\u0441\u043a\u0438\u0435
      \u0430\u0441\u043f\u0435\u043a\u0442\u044b \u043e\u0441\u0443\u0448\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u0439
      \u043c\u0435\u043b\u0438\u043e\u0440\u0430\u0446\u0438\u0438 \u0432 \u0434\u043e\u043b\u0438\u043d\u043d\u043e-\u0437[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/journals/4444-4444/works
  response:
    content: Resource not found.
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 404
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/journals/2167-8359/works
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":18115,"items":[{"indexed":{"date-parts":[[2023,10,19]],"date-time":"2023-10-19T03:00:10Z","timestamp":1697684410725},"reference-count":48,"publisher":"PeerJ","license":[{"start":{"date-parts":[[2022,1,18]],"date-time":"2022-01-18T00:00:00Z","timestamp":1642464000000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"name":"The
      South Carolina Cotton Board","award":["SC15-130"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<jats:sec>\n               <jats:title>Background<\/jats:title>\n               <jats:p><jats:italic>Hoplolaimus
      galeatus<\/jats:italic> is a plant-parasite nematode with a broad range of hosts.
      This nematode is known to damage cotton, corn, and soybean crops. <jats:italic>Hoplolaimus
      galeatus<\/jats:italic> is also an economically important pest of turfgrasses.
      Despite its economical importance, no genomic resources exist for this parasite.<\/jats:p>\n            <\/jats:sec>\n            <jats:sec>\n               <jats:title>Methods<\/jats:title>\n               <jats[...]
