interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/journals?query=ecology&rows=2
  response:
    body:
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":"ecology"},"total-results":272,"items":[{"last-status-check-time":1695529633674,"counts":{"current-dois":937,"backfile-dois":22334,"total-dois":23271},"breakdowns":{"dois-by-issued-year":[[2002,468],[2017,463],[2000,455],[2008,454],[2001,452],[2015,446],[2010,440],[2016,439],[1997,439],[2004,435],[2005,433],[2006,432],[2007,412],[2003,411],[2014,402],[2009,396],[1998,387],[2019,386],[2018,375],[1999,367],[2013,362],[2021,351],[2012,341],[2022,329],[1995,323],[1993,318],[2020,315],[1987,308],[1990,300],[1996,298],[1994,294],[1988,292],[2011,289],[1982,283],[1991,280],[1989,277],[1992,276],[1981,262],[1985,260],[2023,257],[1983,255],[1984,254],[1986,242],[1974,237],[1968,236],[1973,222],[1969,222],[1980,221],[1975,220],[1967,220],[1966,212],[1972,211],[1971,208],[1977,203],[1970,201],[1976,200],[1978,195],[1959,195],[1960,192],[1964,191],[1961,189],[1965,187],[1979,186],[1956,175],[1963,173],[1957,172],[1958,170],[1962,165],[1955,153],[1954,127],[1953,127],[1952,112],[1951,108],[1940,107],[1936,101],[1950,100],[1941,95],[1935,93],[1939,89],[1938,88],[1945,87],[1942,87],[1937,86],[1949,84],[1943,84],[1930,82],[1948,81],[1947,80],[1924,78],[1928,74],[1931,73],[1927,72],[1944,70],[1929,70],[1932,69],[1934,68],[1946,65],[1923,63],[1926,62],[1922,61],[1921,60],[1925,59],[1933,53],[1920,42]]},"publisher":"Wiley
        (John Wiley & Sons)","coverage":{"affiliations-current":0.8740661686232657,"similarity-checking-current":0.9647812166488794,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.04970000895495657,"licenses-backfile":0.9777469329273752,"funders-current":0.656350053361793,"affiliations-backfile":0.0822065012984687,"resource-links-backfile":0.9777469329273752,"orcids-backfile":0.02708874361959344,"update-policies-current":0.9647812166488794,"ror-ids-backfile":0.0,"orcids-current":0.8249733191035219,"similarity-checking-backfile":0.9451956658010209,"references-backfile":0.3320945643413629,"descriptions-backfile":0.0,"award-numbers-backfile":0.03613324975373869,"update-policies-backfile":0.04289424196292648,"licenses-current":0.9647812166488794,"award-numbers-current":0.5496264674493063,"abstracts-backfile":0.07611713083191547,"resource-links-current":0.8463180362860192,"abstracts-current":0.7097118463180363,"references-current":0.7641408751334045},"title":"Ecology","subjects":[{"ASJC":1105,"name":"Ecology,
        Evolution, Behavior and Systematics"}],"coverage-type":{"all":{"last-status-check-time":1695529633674,"affiliations":0.1140855964248883,"abstracts":0.1016242695084221,"orcids":0.05921278789962186,"licenses":0.9771828807150224,"references":0.3494757648676521,"funders":0.07412341010656583,"similarity-checking":0.9459436232382262,"award-numbers":0.05680646270195944,"ror-ids":0.0,"update-policies":0.0800103128222757,"resource-links":0.9724132004125129,"descriptions":0.0},"backfile":{"last-status-check-time":1695529633674,"affiliations":0.0822065012984687,"abstracts":0.07611713083191547,"orcids":0.02708874361959344,"licenses":0.9777469329273752,"references":0.3320945643413629,"funders":0.04970000895495657,"similarity-checking":0.9451956658010209,"award-numbers":0.03613324975373869,"ror-ids":0.0,"update-policies":0.04289424196292648,"resource-links":0.9777469329273752,"descriptions":0.0},"current":{"last-status-check-time":1695529633674,"affiliations":0.8740661686232657,"abstracts":0.7097118463180363,"orcids":0.8249733191035219,"licenses":0.9647812166488794,"references":0.7641408751334045,"funders":0.656350053361793,"similarity-checking":0.9647812166488794,"award-numbers":0.5496264674493063,"ror-ids":0.0,"update-policies":0.9647812166488794,"resource-links":0.8463180362860192,"descriptions":0.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["0012-9658","1939-9170"],"issn-type":[{"value":"0012-9658","type":"print"},{"value":"1939-9170","type":"electronic"}]},{"last-status-check-time":1695601997989,"counts":{"current-dois":102,"backfile-dois":2090,"total-dois":2192},"breakdowns":{"dois-by-issued-year":[[2010,71],[2015,70],[2013,69],[2009,65],[2012,62],[2008,61],[2006,57],[2019,55],[2011,49],[2014,46],[2007,46],[2005,45],[1980,45],[1998,44],[2022,43],[2020,43],[2018,42],[2016,39],[2004,39],[1983,39],[2017,38],[2003,38],[2000,38],[1999,38],[1976,38],[2002,37],[2021,36],[1995,36],[1994,36],[1996,35],[[...]
