interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/journals?query=ecology&rows=2
  response:
    content: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":"ecology"},"total-results":304,"items":[{"last-status-check-time":1752284733881,"counts":{"current-dois":808,"backfile-dois":24561,"total-dois":25369},"breakdowns":{"dois-by-issued-year":[[2002,772],[2000,724],[2001,698],[1998,603],[1997,594],[1999,578],[2010,535],[2017,463],[2008,460],[2016,449],[2004,435],[2015,433],[2005,433],[2006,432],[2009,417],[2007,414],[2003,411],[2014,402],[2019,386],[2018,375],[2013,363],[2021,351],[2012,342],[2022,329],[2023,318],[2020,315],[1993,315],[2011,311],[1995,311],[1996,310],[1987,308],[1990,301],[1994,297],[1988,292],[2024,287],[1982,285],[1991,280],[1992,276],[1989,276],[1985,260],[1981,260],[1983,255],[1984,254],[1986,242],[1974,237],[1968,236],[1973,222],[1969,222],[1980,221],[1975,220],[1967,220],[1966,212],[1972,211],[1971,208],[2025,203],[1977,203],[1970,201],[1976,200],[1978,195],[1959,195],[1960,193],[1964,191],[1961,189],[1965,187],[1979,186],[1956,175],[1963,173],[1957,172],[1958,170],[1962,165],[1955,153],[1954,127],[1953,127],[1952,112],[1951,108],[1940,107],[1936,101],[1950,100],[1941,95],[1935,93],[1939,89],[1938,88],[1945,87],[1942,87],[1937,86],[1949,84],[1943,84],[1930,82],[1948,81],[1947,80],[1924,78],[1928,74],[1931,73],[1927,72],[1944,70],[1929,70],[1932,69],[1934,68],[1946,65],[1923,63],[1926,62],[1922,61],[1921,60],[1925,59],[1933,53],[1920,42]]},"publisher":"Wiley
      (John Wiley & Sons)","coverage":{"affiliations-current":0.8712871287128713,"similarity-checking-current":0.9616336633663366,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.06331175440739384,"licenses-backfile":0.9782989291966939,"funders-current":0.7165841584158416,"affiliations-backfile":0.09918162941248321,"resource-links-backfile":0.9782582142420911,"orcids-backfile":0.04727006229388054,"update-policies-current":0.9616336633663366,"ror-ids-backfile":0.0,"orcids-current":0.8391089108910891,"similarity-checking-backfile":0.9207279833882985,"references-backfile":0.3264932209600586,"descriptions-backfile":0.0,"award-numbers-backfile":0.0476772118399088,"update-policies-backfile":0.06571393672896055,"licenses-current":0.9616336633663366,"award-numbers-current":0.6089108910891089,"abstracts-backfile":0.3611823622816661,"resource-links-current":0.1695544554455446,"abstracts-current":0.7301980198019802,"references-current":0.7933168316831684},"title":"Ecology","subjects":[],"coverage-type":{"all":{"last-status-check-time":1752284733881,"affiliations":0.1237682301931415,"abstracts":0.3729207725660229,"orcids":0.07248718959400867,"licenses":0.9777296018919984,"references":0.3413480488766259,"funders":0.08411509657075286,"similarity-checking":0.9219944816712653,"award-numbers":0.06554986204178163,"ror-ids":0.0,"update-policies":0.09424517146235711,"resource-links":0.952463539613717,"descriptions":0.0},"backfile":{"last-status-check-time":1752284733881,"affiliations":0.09918162941248321,"abstracts":0.3611823622816661,"orcids":0.04727006229388054,"licenses":0.9782989291966939,"references":0.3264932209600586,"funders":0.06331175440739384,"similarity-checking":0.9207279833882985,"award-numbers":0.0476772118399088,"ror-ids":0.0,"update-policies":0.06571393672896055,"resource-links":0.9782582142420911,"descriptions":0.0},"current":{"last-status-check-time":1752284733881,"affiliations":0.8712871287128713,"abstracts":0.7301980198019802,"orcids":0.8391089108910891,"licenses":0.9616336633663366,"references":0.7933168316831684,"funders":0.7165841584158416,"similarity-checking":0.9616336633663366,"award-numbers":0.6089108910891089,"ror-ids":0.0,"update-policies":0.9616336633663366,"resource-links":0.1695544554455446,"descriptions":0.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["0012-9658","1939-9170"],"issn-type":[{"type":"print","value":"0012-9658"},{"type":"electronic","value":"1939-9170"}]},{"last-status-check-time":1752279509990,"counts":{"current-dois":86,"backfile-dois":2169,"total-dois":2255},"breakdowns":{"dois-by-issued-year":[[2010,71],[2015,70],[2013,69],[2009,65],[2012,62],[2008,61],[2006,57],[2019,55],[2011,49],[2014,46],[2007,46],[2005,45],[1980,45],[1998,44],[2022,43],[2020,43],[2018,42],[2016,39],[2004,39],[1983,39],[2017,38],[2003,38],[2000,38],[1999,38],[1976,38],[2002,37],[2021,36],[1995,36],[1994,36],[1996,35[...]
