interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/journals/1803-2427/works
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":49,"items":[{"indexed":{"date-parts":[[2024,4,28]],"date-time":"2024-04-28T09:40:14Z","timestamp":1714297214550},"reference-count":38,"publisher":"Walter
      de Gruyter GmbH","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2009,1,1]]},"abstract":"<jats:title>Any
      Lesson from the History of Sustainable Development?<\/jats:title><jats:p>Have
      we still got time for sustainability and reasonable application of ideas of
      sustainable development? It has been just over twenty years since the Brundtland
      Commission Report but, taken as an axiological term; sustainable development
      resonates with older historical horizons. At the heart of a long running history
      we are beginning to articulate more or less sustaining relationships between
      man and nature. We have described the (human) needs in the environmental, economic
      and social dimension of sustainable development to show some amazing shift in
      perception of sustainable development from local to global level. We are convinced
      that historical lesson of sustainable development shows there is no more time
      for sustainability, but time for SOStainability. Our proposed S-O-S in SOStainability
      means Save Our Sustainability! SOStainability represents the need to end the
      compromise between economic development and natural life supporting systems.<\/jats:p>","DOI":"10.2478\/v10285-012-0015-2","type":"journal-article","created":{"date-parts":[[2012,8,10]],"date-time":"2012-08-10T09:14:38Z","timestamp":1344590078000},"page":"5-17","source":"Crossref","is-referenced-by-count":0,"title":["Any
      Lesson from the History of Sustainable Development?"],"prefix":"10.2478","volume":"2","author":[{"given":"Miloslav","family":"Lapka","sequence":"first","affiliation":[]},{"given":"Eva","family":"Cudl\u00ednov\u00e1","sequence":"additional","affiliation":[]}],"member":"374","reference":[{"key":"1","unstructured":"Act
      of Congress (1972). <i>US Marine Mammal Protection Act.<\/i> Retrieved 6. September
      2008, from <a target=\"_blank\" href=''http:\/\/www.nmfs.noaa.gov\/pr\/pdfs\/laws\/mmpa.pdf''>http:\/\/www.nmfs.noaa.gov\/pr\/pdfs\/laws\/mmpa.pdf<\/a>"},{"issue":"3","key":"2","doi-asserted-by":"crossref","first-page":"191","DOI":"10.3197\/096327194776679700","article-title":"\u2018Sustainable
      Development\u2019: Is it a Useful Concept?''","volume":"3","author":"W. Beckerman","year":"1994","journal-title":"Environmental
      Values"},{"issue":"2","key":"3","doi-asserted-by":"crossref","first-page":"169","DOI":"10.3197\/096327195776679574","article-title":"How
      Would you Like your \u2018Sustainability\u2019, Sir? Weak or Strong? A Reply
      to my Critics","volume":"4","author":"W. Beckermann","year":"1995","journal-title":"Environmental
      Values"},{"key":"4","volume-title":"The Coming of the Post-Industrial Society.
      A Venture in Social Forecasting","author":"D. Bell","year":"1973"},{"key":"5","unstructured":"Board
      on Sustainable Development, National Research Council (1999). <i>Our Common
      Journey: A Transition toward Sustainability.<\/i> Washington DC. National Academy
      Press."},{"key":"6","unstructured":"Brundtland Commission - World Commission
      on Environment and Development (WCED) (1987). <i>Our Common Future.<\/i> Oxford
      University Press, Oxford, UK."},{"key":"7","volume-title":"Silent Spring","author":"R.
      Carson","year":"1962"},{"issue":"3","key":"8","doi-asserted-by":"crossref","first-page":"1","DOI":"10.1086\/466560","article-title":"The
      Problem of Soci[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/journals/4444-4444/works
  response:
    content: Resource not found.
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 404
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/journals/2167-8359/works
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":19551,"items":[{"indexed":{"date-parts":[[2024,9,19]],"date-time":"2024-09-19T16:35:03Z","timestamp":1726763703602},"reference-count":41,"publisher":"PeerJ","license":[{"start":{"date-parts":[[2024,1,25]],"date-time":"2024-01-25T00:00:00Z","timestamp":1706140800000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<jats:p>In
      the Western Scheldt Estuary near the Belgian-Dutch border, middle to late Eocene
      strata crop out at the current seafloor. Most vertebrae of large Eocene basilosaurid
      taxa from this area were previously described in several papers. They represent
      three morphotypes: elongated vertebrae of a large species of <jats:italic>Pachycetus<\/jats:italic>
      (Morphotype 1b), a not-elongated vertebra of a large \u2018dorudontid\u2019
      basilosaurid (Morphotype 2) and \u2018shortened\u2019 vertebrae of a new, unnamed
      taxon (Morphotype 3). This article deals with a still undescribed, smaller vertebra,
      NMR-16642, from this site. Our first aim was to date it by dinoflagellate cysts
      in adhering sediments. Yielding an age of about 38 Ma, it is one of the very
      few remains of basilosaurids from Euro[...]
