interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/journals?offset=things
  response:
    body:
      string: '{"status":"error","message-type":"exception","message-version":"1.0.0","message":{"name":"class
        java.lang.NullPointerException","description":"java.lang.NullPointerException:
        Cannot invoke \"java.lang.Character.charValue()\" because \"x\" is null","message":"Cannot
        invoke \"java.lang.Character.charValue()\" because \"x\" is null","stack":["clojure.lang.RT.intCast(RT.java:1177)","cayenne.api.v1.query$parse_offset_val.invokeStatic(query.clj:113)","cayenne.api.v1.query$parse_offset_val.invoke(query.clj:112)","cayenne.api.v1.validate$validate_offsets.invokeStatic(validate.clj:111)","cayenne.api.v1.validate$validate_offsets.doInvoke(validate.clj:109)","clojure.lang.RestFn.applyTo(RestFn.java:146)","clojure.core$apply.invokeStatic(core.clj:654)","clojure.core$partial$fn__4761.doInvoke(core.clj:2520)","clojure.lang.RestFn.invoke(RestFn[...]
