interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/journals?query=ecology&rows=2
  response:
    content: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":"ecology"},"total-results":292,"items":[{"last-status-check-time":1728785718141,"counts":{"current-dois":871,"backfile-dois":24234,"total-dois":25105},"breakdowns":{"dois-by-issued-year":[[2002,772],[2000,724],[2001,698],[1998,603],[1997,594],[1999,578],[2010,535],[2017,463],[2008,460],[2016,450],[2004,435],[2015,433],[2005,433],[2006,432],[2009,417],[2007,414],[2003,411],[2014,402],[2019,386],[2018,376],[2013,363],[2021,351],[2012,342],[2022,329],[2023,318],[2020,315],[1993,315],[2011,311],[1995,311],[1996,310],[1987,308],[1990,301],[1994,297],[1988,292],[1982,285],[1991,280],[1992,276],[1989,276],[1985,260],[1981,260],[1983,255],[1984,254],[1986,242],[1974,237],[1968,236],[2024,224],[1973,222],[1969,222],[1980,221],[1975,220],[1967,220],[1966,212],[1972,211],[1971,208],[1977,203],[1970,201],[1976,200],[1978,195],[1959,195],[1960,193],[1964,191],[1961,189],[1965,187],[1979,186],[1956,175],[1963,173],[1957,172],[1958,170],[1962,165],[1955,153],[1954,127],[1953,127],[1952,112],[1951,108],[1940,107],[1936,101],[1950,100],[1941,95],[1935,93],[1939,89],[1938,88],[1945,87],[1942,87],[1937,86],[1949,84],[1943,84],[1930,82],[1948,81],[1947,80],[1924,78],[1928,74],[1931,73],[1927,72],[1944,70],[1929,70],[1932,69],[1934,68],[1946,65],[1923,63],[1926,62],[1922,61],[1921,60],[1925,59],[1933,53],[1920,42]]},"publisher":"Wiley
      (John Wiley & Sons)","coverage":{"affiliations-current":0.8645235361653272,"similarity-checking-current":0.9609644087256028,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.05537674341833787,"licenses-backfile":0.9785012791945201,"funders-current":0.6888633754305395,"affiliations-backfile":0.08875959395890072,"resource-links-backfile":0.9784600148551622,"orcids-backfile":0.03647767599240736,"update-policies-current":0.9609644087256028,"ror-ids-backfile":0.0,"orcids-current":0.8312284730195179,"similarity-checking-backfile":0.9201535033424115,"references-backfile":0.3208715028472394,"descriptions-backfile":0.0,"award-numbers-backfile":0.04097548898242139,"update-policies-backfile":0.05351984814723116,"licenses-current":0.9609644087256028,"award-numbers-current":0.5774971297359357,"abstracts-backfile":0.3563588346950565,"resource-links-current":0.521239954075775,"abstracts-current":0.7106773823191734,"references-current":0.7669345579793341},"title":"Ecology","subjects":[],"coverage-type":{"all":{"last-status-check-time":1728785718141,"affiliations":0.1156695610611009,"abstracts":0.3686369792081574,"orcids":0.06404843463713852,"licenses":0.977853899466263,"references":0.336333944077113,"funders":0.07735202740380785,"similarity-checking":0.9215327013462917,"award-numbers":0.05958734963753684,"ror-ids":0.0,"update-policies":0.08499960168883933,"resource-links":0.9625587508962001,"descriptions":0.0},"backfile":{"last-status-check-time":1728785718141,"affiliations":0.08875959395890072,"abstracts":0.3563588346950565,"orcids":0.03647767599240736,"licenses":0.9785012791945201,"references":0.3208715028472394,"funders":0.05537674341833787,"similarity-checking":0.9201535033424115,"award-numbers":0.04097548898242139,"ror-ids":0.0,"update-policies":0.05351984814723116,"resource-links":0.9784600148551622,"descriptions":0.0},"current":{"last-status-check-time":1728785718141,"affiliations":0.8645235361653272,"abstracts":0.7106773823191734,"orcids":0.8312284730195179,"licenses":0.9609644087256028,"references":0.7669345579793341,"funders":0.6888633754305395,"similarity-checking":0.9609644087256028,"award-numbers":0.5774971297359357,"ror-ids":0.0,"update-policies":0.9609644087256028,"resource-links":0.521239954075775,"descriptions":0.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["0012-9658","1939-9170"],"issn-type":[{"type":"print","value":"0012-9658"},{"type":"electronic","value":"1939-9170"}]},{"last-status-check-time":1728778497583,"counts":{"current-dois":103,"backfile-dois":2126,"total-dois":2229},"breakdowns":{"dois-by-issued-year":[[2010,71],[2015,70],[2013,69],[2009,65],[2012,62],[2008,61],[2006,57],[2019,55],[2011,49],[2014,46],[2007,46],[2005,45],[1980,45],[1998,44],[2022,43],[2020,43],[2018,42],[2016,39],[2004,39],[1983,39],[2017,38],[2003,38],[2000,38],[1999,38],[1976,38],[2002,37],[2021,36],[1995,36],[1994,36],[1996,3[...]
