Sphinx<7.0.0
docutils
sphinxcontrib-issuetracker
sphinx-autodoc-typehints
sphinx_rtd_theme
tqdm
urllib3==2.2.0
requests
pytest
pytest-cov
pytest-recording
-e git+https://github.com/kiwicom/pytest-recording.git@128d134c77837d9f4eccbc0f2c08f50882af7e6a#egg=pytest_recording
codecov
vcrpy
PyYAML
bibtexparser == 2.0.0b7
