interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/types/journal-article/works
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":115141055,"items":[{"indexed":{"date-parts":[[2022,4,26]],"date-time":"2022-04-26T21:49:01Z","timestamp":1651009741455},"reference-count":62,"publisher":"Springer
      Science and Business Media LLC","issue":"9","license":[{"start":{"date-parts":[[1986,9,1]],"date-time":"1986-09-01T00:00:00Z","timestamp":525916800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Radiophys
      Quantum Electron"],"published-print":{"date-parts":[[1986,9]]},"DOI":"10.1007\/bf01034473","type":"journal-article","created":{"date-parts":[[2005,1,21]],"date-time":"2005-01-21T15:54:30Z","timestamp":1106322870000},"page":"768-781","source":"Crossref","is-referenced-by-count":3,"title":["Semiconductor
      masers using cyclotron resonance"],"prefix":"10.1007","volume":"29","author":[{"given":"A.
      A.","family":"Andronov","sequence":"first","affiliation":[]}],"member":"297","reference":[{"issue":"No.
      4","key":"CR1","doi-asserted-by":"crossref","first-page":"567","DOI":"10.1071\/PH580564","volume":"11","author":"R.
      Q. Twiss","year":"1958","unstructured":"R. Q. Twiss, Austral. J. Phys.,11, No.
      4, 567 (1958).","journal-title":"Austral. J. Phys."},{"issue":"No. 3","key":"CR2","first-page":"450","volume":"2","author":"A.
      V. Gaponov","year":"1959","unstructured":"A. V. Gaponov, Izv. Vyssh. Uchebn.
      Zaved., Radiofiz.,2, No. 3, 450; No. 5, 836 (1959).","journal-title":"Izv. Vyssh.
      Uchebn. Zaved., Radiofiz."},{"issue":"No. 1","key":"CR3","first-page":"57","volume":"3","author":"V.
      V. Zheleznyakov","year":"1960","unstructured":"V. V. Zheleznyakov, Izv. Vyssh.
      Uchebn. Zaved., Radiofiz.,3, No. 1, 57 (1960).","journal-title":"Izv. Vyssh.
      Uchebn. Zaved., Radiofiz."},{"issue":"No. 6","key":"CR4","first-page":"1146","volume":"47","author":"R.
      H. Pantell","year":"1959","unstructured":"R. H. Pantell, Proc. IRE,47, No. 6,
      1146 (1959).","journal-title":"Proc. IRE"},{"issue":"No. 12","key":"CR5","doi-asserted-by":"crossref","first-page":"504","DOI":"10.1103\/PhysRevLett.2.504","volume":"2","author":"J.
      Schmeider","year":"1959","unstructured":"J. Schmeider, Phys. Rev. Lett.,2, No.
      12, 504 (1959).","journal-title":"Phys. Rev. Lett."},{"issue":"No. 2","key":"CR6","doi-asserted-by":"crossref","first-page":"368","DOI":"10.1103\/PhysRev.98.368","volume":"98","author":"G.
      Dresselhaus","year":"1955","unstructured":"G. Dresselhaus, A. P. Kip, and S.
      Kittel, Phys. Rev.,98, No. 2, 368 (1955); R. H. Dexter, H. J. Zeiger, and B.
      Lax, Phys. Rev.,104, No. 3, 637 (1956).","journal-title":"Phys. Rev."},{"key":"CR7","first-page":"428","volume-title":"Quantum
      Electronics Symposium","author":"B. Lax","year":"1960","unstructured":"B. Lax,
      in: Quantum Electronics Symposium, Columbia Univ. Press, New York (1960), p.
      428."},{"issue":"No. 3","key":"CR8","first-page":"808","volume":"35","author":"A.
      C. Tager","year":"1958","unstructured":"A. C. Tager and A. D. Gladun, Zh. Eksp.
      Teor. Fiz.,35, No. 3, 808 (1958).","journal-title":"Zh. Eksp. Teor. Fiz."},{"issue":"No.
      5","key":"CR9","doi-asserted-by":"crossref","first-page":"1856","DOI":"10.1103\/PhysRev.109.1856","volume":"109","author":"H.
      Kroemer","year":"19[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/types/tape/works
  response:
    content: Resource not found.
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 404
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/types/report/works
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":824756,"items":[{"institution":[{"name":"Historical
      Energy Database (United States)","acronym":["HEDB"]},{"name":"Oklahoma Univ.,
      Norman (USA). School of Aerospace, Mechanical and Nuclear Engineering"}],"indexed":{"date-parts":[[2022,4,27]],"date-time":"2022-04-27T03:11:23Z","timestamp":1651029083918},"reference-count":0,"publisher":"Office
      of Scientific and Technical Information (OSTI)","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1978,1,1]]},"DOI":"10.2172\/5654064","type":"report","created":{"date-parts":[[2022,4,26]],"date-time":"2022-04-26T02:21:17Z","timestamp":1650939677000},"source":"Crossref","is-referenced-by-count":0,"title":["Ultrasonic
      pulse propagation in the cold-worked layer of railroad rail. Final report, June
      1, 1975-January 31, 1977"],"prefix":"10.2172","author":[{"given":"D.","family":"Bray","sequence":"first","affiliation":[]}],"member":"960","deposited":{"date-parts":[[2022,4,27]],"date-time":"2022-04-27T02:35:31Z","timestamp":1651026931000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/www.osti.gov\/servlets\/purl\/5654064\/"}},"issued":{"date-parts":[[1978,1,1]]},"references-count":0,"URL":"https:\/\/doi.org\/10.2172\/5654064","published":{"date-parts":[[1978,1,1]]}},{"indexed":{"date-parts":[[2022,4,27]],"date-time":"2022-04-27T12:14:12Z","timestamp":1651061652855},"reference-count":0,"publisher":"\u041a\u0440\u0438\u0432\u043e\u0440\u0456\u0437\u044c\u043a\u0438\u0439
      \u0434\u0435\u0440\u0436\u0430\u0432\u043d\u0438\u0439 \u043f\u0435\u0434\u0430\u0433\u043e\u0433\u0456\u0447\u043d\u0438\u0439
      \u0443\u043d\u0456\u0432\u0435\u0440\u0441\u0438\u0442\u0435\u0442","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020]]},"abstract":"<jats:p>\u0423
      \u0441\u0442\u0430\u0442\u0442\u0456 \u0440\u0435\u043f\u0440\u0435\u0437\u0435\u043d\u0442\u043e\u0432\u0430\u043d\u043e
      \u0441\u0442\u0440\u0443\u043a\u0442\u0443\u0440\u0443 \u0441\u043b\u043e\u0432\u043d\u0438\u043a\u0430
      \u0430\u043a\u0442\u0438\u0432\u043d\u043e \u0432\u0438\u043a\u043e\u0440\u0438\u0441\u0442\u043e\u0432\u0443\u0432\u0430\u043d\u0438\u0445
      \u043a\u0440\u0438\u043b\u0430\u0442\u0438\u0445 \u0432\u0438\u0440\u0430\u0437\u0456\u0432
      \u044[...]
