interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/types/journal/works?rows=2
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":74521,"items":[{"indexed":{"date-parts":[[2024,8,23]],"date-time":"2024-08-23T00:26:24Z","timestamp":1724372784607},"reference-count":0,"publisher":"Green
      Publication","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.53555\/\/kuey.v29i4.7348","type":"journal","created":{"date-parts":[[2024,8,22]],"date-time":"2024-08-22T09:54:42Z","timestamp":1724320482000},"source":"Crossref","is-referenced-by-count":0,"title":["Educational
      Administration: Theory and Practice"],"prefix":"10.53555","member":"31492","deposited":{"date-parts":[[2024,8,22]],"date-time":"2024-08-22T10:38:43Z","timestamp":1724323123000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/kuey.net\/index.php\/kuey\/article\/view\/7348"}},"short-title":["kuey"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"https:\/\/doi.org\/10.53555\/\/kuey.v29i4.7348"},{"indexed":{"date-parts":[[2022,4,5]],"date-time":"2022-04-05T03:05:29Z","timestamp":1649127929121},"reference-count":0,"publisher":"Editions
      Techniques de l Ingenieur","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.51257\/o-42286210","type":"journal","created":{"date-parts":[[2022,1,28]],"date-time":"2022-01-28T12:34:37Z","timestamp":1643373277000},"source":"Crossref","is-referenced-by-count":0,"title":["Micro\u00e9lectronique
      : dispositifs, technologies et circuits"],"prefix":"10.51257","member":"28401","language":"fr","deposited":{"date-parts":[[2022,1,28]],"date-time":"2022-01-28T12:34:37Z","timestamp":1643373277000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/www.techniques-ingenieur.fr\/doi\/10.51257\/o\/42286210"}},"issued":{"date-parts":[[null]]},"references-count":0,"URL":"https:\/\/doi.org\/10.51257\/o-42286210"}],"items-per-page":2,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
