interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/types/journal-article/works
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":104663691,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:45:59Z","timestamp":1648950359167},"reference-count":0,"publisher":"American
        Society of Clinical Oncology (ASCO)","issue":"18_suppl","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["JCO"],"published-print":{"date-parts":[[2007,6,20]]},"abstract":"<jats:p>
        3507 <\/jats:p><jats:p> Purpose: To detect IGF-1R on circulating tumor cells
        (CTCs) as a biomarker in the clinical development of a monoclonal human antibody,
        CP-751,871, targeting IGF-1R. Experimental Design: An automated sample preparation
        and analysis system for enumerating CTCs (Celltracks) was adapted for detecting
        IGF-1R positive CTCs with a diagnostic antibody targeting a different IGF-1R
        epitope to CP-751,871. This assay was utilized in th[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/types/tape/works
  response:
    body:
      string: Resource not found.
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/types/report/works
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":754653,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:46:06Z","timestamp":1648950366257},"publisher-location":"St.
        Paul, MN","reference-count":0,"publisher":"U.S. Department of Agriculture,
        Forest Service, North Central Research Station","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1993]]},"DOI":"10.2737\/ne-rn-353","type":"report","created":{"date-parts":[[2017,6,26]],"date-time":"2017-06-26T18:28:26Z","timestamp":1498501706000},"source":"Crossref","is-referenced-by-count":0,"title":["Bulletin
        of Hardwood Market Statistics: Winter 1992"],"prefix":"10.2737","author":[{"given":"Jean
        W.","family":"Nolley","sequence":"first","affiliation":[]},{"given":"Jean
        W.","family":"Nolley","sequence":"additional","affiliation":[]}],"member":"1450","deposited":{"date-parts":[[2017,9,27]],"date-time":"2017-09-27T19:28:05Z","timestamp":1506540485000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/www.fs.usda.gov\/treesearch\/pubs\/21571"}},"issued":{"date-parts":[[1993]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2737\/ne-rn-353","published":{"date-parts":[[1993]]}},{"institution":[{"name":"USDOE
        Office of Energy Efficiency and Renewable Energy Geothermal Tech Pgm","acronym":["DOEEEGTP"]},{"name":"JM
        Energy Consultants, Inc., Los Angeles, CA (USA)"},{"name":"Not Available"}],"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:46:09Z","timestamp":1648950369201},"reference-count":0,"publisher":"Office
        of Scientific and Technical Information (OSTI)","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.2172\/6334163","type":"report","created":{"date-parts":[[2007,5,9]],"date-time":"2007-05-09T10:10:57Z","timestamp":1178705457000},"approved":{"date-parts":[[2006,1,10]]},"source":"Crossref","is-referenced-by-count":0,"title":["Study
        and analysis of selected legal, institutional, and public-policy problems
        effecting hydrothermal geothermal commercialization in the five Pacific Rim
        States. Final technical report"],"prefix":"10.2172","author":[{"name":"JM
        Energy Consultants, Inc., Los Angeles, CA (USA)","sequence":"first","affiliation":[]}],"member":"960","published-online":{"date-parts":[[1981,7,9]]},"deposited":{"date-parts":[[2013,12,16]],"date-time":"2013-12-16T18:08:32Z","timestamp":1387217312000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/www.osti.gov\/servlets\/purl\/6334163-9c9tdP\/"}},"issued":{"date-parts":[[1981,7,9]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2172\/6334163","published":{"date-parts":[[1981,7,9]]}},{"institution":[{"name":"OSD
        or Non-Service DoD Agency","acronym":["PERS*"],"department":["Funding"]},{"name":"DEFENSE
        PERSONNEL SECURITY RESEARCH CENTER MONTEREY CA","department":["Performing"]}],"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:46:07Z","timestamp":1648950367957},"publisher-location":"Fort
        Belvoir, VA","reference-count":0,"publisher":"Defense Technical Information
        Center","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1994,5,1]]},"DOI":"10.21236\/ada283179","type":"report","created":{"date-parts":[[2017,9,5]],"date-time":"2017-09-05T11:54:42Z","timestamp":1504612482000},"source":"Crossref","is-referenced-by-count":0,"title":["Drug
        Use and Abuse: Background Information for Security Personnel"],"prefix":"10.21236","author":[{"given":"Jr","family":"Heuer","sequence":"first","affiliation":[]},{"family":"Richards
        J.","sequence":"first","affiliation":[]}],"member":"9879","original-title":[""],"deposited":{"date-parts":[[2021,3,5]],"date-time":"2021-03-05T10:57:21Z","timestamp":1614941841000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/www.dtic.mil\/docs\/citations\/ADA283179"}},"subtitle":[""],"issued":{"date-parts":[[1994,5,1]]},"references-count":0,"alternative-id":["PERS-TR-94-003"],"URL":"http:\/\/dx.doi.org\/10.21236\/ada283179","published":{"date-parts":[[1994,5,1]]}},{"institution":[{"name":"National
        Energy Technology Laboratory","acronym":["NETL"],"place":["Pittsburgh, PA,
        and Morgantown, WV"]},{"name":"Colorado Univ., Boulder, CO (United States).
        Dept. of Chemical Engineering"},{"name":"USDOE, Washington, DC (United States)"}],"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:46:20Z","timestamp":1648950380547},"reference-count":0,"publisher":"Office
        of Scientific and Technical Information (OSTI)","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.2172\/10131699","type":"report","created":[...]
