interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/types?query=journal
  response:
    content: '{"status":"ok","message-type":"type-list","message-version":"1.0.0","message":{"total-results":30,"items":[{"id":"book-section","label":"Book
      Section"},{"id":"monograph","label":"Monograph"},{"id":"report-component","label":"Report
      Component"},{"id":"report","label":"Report"},{"id":"peer-review","label":"Peer
      Review"},{"id":"book-track","label":"Book Track"},{"id":"journal-article","label":"Journal
      Article"},{"id":"book-part","label":"Part"},{"id":"other","label":"Other"},{"id":"book","label":"Book"},{"id":"journal-volume","label":"Journal
      Volume"},{"id":"book-set","label":"Book Set"},{"id":"reference-entry","label":"Reference
      Entry"},{"id":"proceedings-article","label":"Proceedings Article"},{"id":"journal","label":"Journal"},{"id":"component","label":"Component"},{"id":"book-chapter","label":"Book
      Chapter"},{"id":"proceedings-series","label":"Proceedings Series"},{"id":"report-series","label":"Report
      Series"},{"id":"proceedings","label":"Proceedings"},{"id":"database","label":"Database"},{"id":"standard","label":"Standard"},{"id":"reference-book","label":"Reference
      Book"},{"id":"posted-content","label":"Posted Content"},{"id":"journal-issue","label":"Journal
      Issue"},{"id":"dissertation","label":"Dissertation"},{"id":"grant","label":"Grant"},{"id":"dataset","label":"Dataset"},{"id":"book-series","label":"Book
      Series"},{"id":"edited-book","label":"Edited Book"}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
