interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.12.0 habanero/2.9.4
    method: GET
    uri: https://api.crossref.org/works?query=ecology&rows=0
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":596356,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":"ecology"}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public-array
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.12.0 habanero/2.9.4
    method: GET
    uri: https://api.crossref.org/works?query=ecology&rows=0
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":596356,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":"ecology"}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public-array
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '1'
    status:
      code: 200
      message: OK
version: 1
