interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/members/98/works?rows=5
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":412910,"items":[{"indexed":{"date-parts":[[2023,10,16]],"date-time":"2023-10-16T19:32:33Z","timestamp":1697484753049},"reference-count":0,"publisher":"Hindawi
      Limited","issue":"4","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":6452,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Hum.
      Mutat."],"published-print":{"date-parts":[[1998]]},"DOI":"10.1002\/(sici)1098-1004(1998)11:4<286::aid-humu6>3.3.co;2-2","type":"journal-article","created":{"date-parts":[[2002,8,25]],"date-time":"2002-08-25T19:00:59Z","timestamp":1030302059000},"page":"286-294","source":"Crossref","is-referenced-by-count":1,"title":["Mutation
      and expression analysis of the endoglin gene in hereditary hemorrhagic telangiectasia
      reveals null alleles"],"prefix":"10.1155","volume":"11","author":[{"given":"Carol
      J.","family":"Gallione","sequence":"first","affiliation":[]},{"given":"Daniel
      J.","family":"Klaus","sequence":"additional","affiliation":[]},{"given":"Eric
      Y.","family":"Yeh","sequence":"additional","affiliation":[]},{"given":"Timothy
      T.","family":"Stenzel","sequence":"additional","affiliation":[]},{"given":"Yan","family":"Xue","sequence":"additional","affiliation":[]},{"given":"Kara
      B.","family":"Anthony","sequence":"additional","affiliation":[]},{"given":"Kimberly
      A.","family":"McAllister","sequence":"additional","affil[...]
