interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016
  response:
    content: '{"status":"ok","message-type":"prefix","message-version":"1.0.0","message":{"member":"http:\/\/id.crossref.org\/member\/78","name":"Elsevier
      BV","prefix":"http:\/\/id.crossref.org\/prefix\/10.1016"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/members/98
  response:
    content: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1728775467597,"primary-name":"Hindawi
      Limited","counts":{"current-dois":59057,"backfile-dois":352451,"total-dois":411508},"breakdowns":{"dois-by-issued-year":[[2022,45422],[2020,38020],[2021,37048],[2014,30900],[2013,26728],[2019,23437],[2012,23041],[2015,22466],[2018,21462],[2016,20230],[2017,18457],[2011,13479],[2009,13321],[2023,10078],[2010,8602],[2007,5212],[2008,4559],[2006,3741],[2024,3557],[2005,3001],[2004,2927],[2001,2777],[2003,2624],[2000,2510],[2002,2509],[1999,2149],[1998,2095],[1997,1897],[1996,1745],[1994,1358],[1995,1356],[1992,1338],[1993,1250],[1991,1082],[1989,887],[1990,849],[1988,790],[1987,697],[1986,616],[1984,457],[1983,440],[1978,433],[1980,418],[1985,413],[1979,382],[1982,377],[1981,376],[1977,354],[1976,327],[1970,303],[1967,303],[1972,282],[1971,266],[1975,256],[1968,248],[1966,228],[1969,217],[1965,207],[1963,201],[1974,198],[1964,198],[1973,179],[1962,87],[1961,79],[1960,46],[1895,9],[1896,6],[1908,1]]},"prefixes":["10.7167","10.1100","10.1155","10.5402","10.7217","10.4061","10.6064","10.3814"],"coverage":{"affiliations-current":0.9645596626987487,"similarity-checking-current":0.9699273583148484,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.376917642452426,"licenses-backfile":0.9655526583837186,"funders-current":0.5406810369642887,"affiliations-backfile":0.7504135326612777,"resource-links-backfile":0.9535935491742115,"orcids-backfile":0.4766648413538336,"update-policies-current":0.1383578576629358,"ror-ids-backfile":0.0,"orcids-current":0.947542204988401,"similarity-checking-backfile":0.9458222561434072,"references-backfile":0.8709863215028472,"descriptions-backfile":0.0,"award-numbers-backfile":0.2949941977750099,"update-policies-backfile":0.0886704818542152,"licenses-current":0.9699612239023316,"award-numbers-current":0.4494302114905938,"abstracts-backfile":0.5820865879228602,"resource-links-current":0.9699273583148484,"abstracts-current":0.8260155443046548,"references-current":0.9633574343430923},"prefix":[{"name":"Hindawi
      (Datasets International)","value":"10.7167"},{"name":"Hindawi (The Scientific
      World)","value":"10.1100"},{"name":"Hindawi Limited","value":"10.1155"},{"name":"Hindawi
      (International Scholarly Research Network)","value":"10.5402"},{"name":"Hindawi
      (Conference Papers in Science)","value":"10.7217"},{"name":"Hindawi Publishing
      Corporation (Sage-Hindawi Access to Research)","value":"10.4061"},{"name":"Hindawi
      (Scientifica)","value":"10.6064"},{"name":"Hindawi Publishing Corporation (Syrexe)","value":"10.3814"}],"id":98,"tokens":["hindawi","limited"],"counts-type":{"all":{"monograph":6,"peer-review":10621,"journal-article":393914,"journal":1111,"component":303,"journal-issue":6955,"dataset":1,"edited-book":12},"backfile":{"monograph":6,"peer-review":9100,"journal-article":336631,"journal-issue":6702,"edited-book":12},"current":{"peer-review":1521,"journal-article":57283,"journal-issue":253}},"coverage-type":{"all":{"monograph":{"last-status-check-time":1728775467597,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"peer-review":{"last-status-check-time":1728775467597,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-article":{"last-status-check-time":1728775467597,"affiliations":0.8160359875505822,"abstracts":0.6446559401290637,"orcids":0.5685504957934981,"licenses":0.9978853252232721,"references":0.9237371609031413,"funders":0[...]
