interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/members/98/works?rows=5
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":151007,"items":[{"indexed":{"date-parts":[[2023,8,30]],"date-time":"2023-08-30T20:51:03Z","timestamp":1693428663198},"reference-count":21,"publisher":"Hindawi
      Limited","issue":"2","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":1624,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2012,1]]},"DOI":"10.1111\/j.1365-2109.2011.02829.x","type":"journal-article","created":{"date-parts":[[2011,3,23]],"date-time":"2011-03-23T02:44:02Z","timestamp":1300848242000},"page":"292-296","source":"Crossref","is-referenced-by-count":10,"title":["Spawning-related
      mortality in captive Atlantic cod (Gadus morhua L.)"],"prefix":"10.1155","volume":"43","author":[{"given":"T\u00f3mas","family":"\u00c1rnason","sequence":"first","affiliation":[]},{"given":"Bj\u00f6rn","family":"Bj\u00f6rnsson","sequence":"additional","affiliation":[]}],"member":"98","published-online":{"date-parts":[[2011,3,22]]},"reference":[{"key":"10.1111\/j.1365-2109.2011.02829.x-BIB1|cit1","doi-asserted-by":"crossref","first-page":"290","DOI":"10.1079\/9781845934941.0290","volume-title":"Finfish
      Aquaculture Diversification","author":"Bj\u00f6rnsson","year":"2010"},{"key":"10.1111\/j.1365-2109.2011.02829.x-BIB2|cit2","first-page":"677","volume-title":"The
      propagation of cod Gadus morhua L. Vol. 1, Fl\u00f8devigen Rapportserie","author":"Braaten","year":"1984"},{"key":"10.1111\/j.1365-2109.2011.02829.x-BIB3|cit3","first-page":"84","volume-title":"Fiskehelse
      og Fiskesykdommer","author":"Eggset","year":"2002"},{"key":"10.1111\/j.1365-2109.2011.02829.x-BIB4|cit4","first-page":"289","volume-title":"Proceedings
      of the 6th International Symposium on the Reproductive Physiology of Fish","author":"Finn","year":"2000"},{"key":"10.1111\/j.1365-2109.2011.02829.x-BIB5|cit5","doi-asserted-by":"crossref","first-page":"1","DOI":"10.1046\/j.1439-0426.1999.00098.x","article-title":"Feeding
      behaviour of cod (Gadus morhua) in relation to spawning","volume":"15","author":"Fordham","year":"1999","journal-title":"Journal
      of Applied Ichthyology"},{"key":"10.1111\/j.1365-2109.2011.02829.x-BIB6|cit6","first-page":"1","article-title":"Mortality
      of cod in sea-cages","volume":"10","author":"Gunnarsson","year":"2010","journal-title":"Sj\u00e1var\u00fatvegurinn-vefrit
      um sj\u00e1var\u00fatvegsm\u00e1l"},{"key":"10.1111\/j.1365-2109.2011.02829.x-BIB7|cit7","first-page":"42","article-title":"Categorization
      of mortality causes in cod farming","volume":"34","author":"Hanche-Olsen","year":"20[...]
