interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016
  response:
    body:
      string: '{"status":"ok","message-type":"prefix","message-version":"1.0.0","message":{"member":"http:\/\/id.crossref.org\/member\/41918","name":"Elsevier
        BV","prefix":"http:\/\/id.crossref.org\/prefix\/10.1016"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/members/98
  response:
    body:
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1695598063122,"primary-name":"Hindawi
        Limited","counts":{"current-dois":116894,"backfile-dois":398015,"total-dois":514909},"breakdowns":{"dois-by-issued-year":[[2022,54629],[2021,47850],[2020,43079],[2014,33557],[2013,30785],[2019,28163],[2018,27799],[2012,27711],[2015,26751],[2016,23959],[2017,22581],[2011,17395],[2009,15869],[2023,14415],[2010,11371],[2008,6828],[2007,6239],[2006,5523],[2005,4750],[2004,4733],[2002,4642],[2001,4472],[2003,4248],[2000,4066],[1998,3520],[1999,3467],[1997,2937],[1996,2881],[1995,2468],[1994,2370],[1992,2136],[1993,2102],[1991,1815],[1989,1418],[1990,1344],[1988,1297],[1987,1064],[1986,984],[1983,818],[1984,749],[1985,7[...]
