interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/members/98/works?rows=5&cursor=%2A
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAeImBlFmFScjNDcGpYUUVPbTJ4Skp0NFpiN2cAAAAAG1AalRZvMEJoaVdrd1RSZUtsbTRZQ0FjWS1BAAAAAB4rsPQWazdXTlZoRnVScFMtNnhxN1A4eEhEUQAAAAAea7iXFjNsQ3YwX25kUnFtNjhDTVFFZmVCNHcAAAAAHIn0FxYzLTl6di15UVI5T0R0ekU1ZDU1emRRAAAAABeXP8YWQVczemV1NkdUVVNzVlFnLUVxdWowUQ==","total-results":412910,"items":[{"indexed":{"date-parts":[[2023,10,16]],"date-time":"2023-10-16T19:32:33Z","timestamp":1697484753049},"reference-count":0,"publisher":"Hindawi
      Limited","issue":"4","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":6452,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Hum.
      Mutat."],"published-print":{"date-parts":[[1998]]},"DOI":"10.1002\/(sici)1098-1004(1998)11:4<286::aid-humu6>3.3.co;2-2","type":"journal-article","created":{"date-parts":[[2002,8,25]],"date-time":"2002-08-25T19:00:59Z","timestamp":1030302059000},"page":"286-294","source":"Crossref","is-referenced-by-count":1,"title":["Mutation
      and expression analysis of the endoglin gene in hereditary hemorrhagic telangiectasia
      reveals null alleles"],"prefix":"10.1155","volume":"11","author":[{"given":"Carol
      J.","family":"Gallione","sequence":"first","affiliation":[]},{"given":"Daniel
      J.","family":"Klaus","sequence":"additional","affiliation":[]},{"given":"Eric
      Y.","family":"Yeh","sequence":"additional","affiliation":[]},{"given":"Timothy
      T.","family":"Stenzel","sequence":"additional","affiliation":[]},{"given":"Yan","family":"Xue","sequence":"additional","affiliation":[]},{"given":"Kara
      B.","family":"Anthony","sequence":"additional","affiliation":[]},{"given":"Kimberly
      A.","family":"McAllister","sequence":"additional","affil[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/members/98/works?rows=5&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAeImBlFmFScjNDcGpYUUVPbTJ4Skp0NFpiN2cAAAAAG1AalRZvMEJoaVdrd1RSZUtsbTRZQ0FjWS1BAAAAAB4rsPQWazdXTlZoRnVScFMtNnhxN1A4eEhEUQAAAAAea7iXFjNsQ3YwX25kUnFtNjhDTVFFZmVCNHcAAAAAHIn0FxYzLTl6di15UVI5T0R0ekU1ZDU1emRRAAAAABeXP8YWQVczemV1NkdUVVNzVlFnLUVxdWowUQ%3D%3D
  response:
    content: '{"status":"ok[...]
[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/members/98/works?rows=5&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAeImBlFmFScjNDcGpYUUVPbTJ4Skp0NFpiN2cAAAAAG1AalRZvMEJoaVdrd1RSZUtsbTRZQ0FjWS1BAAAAAB4rsPQWazdXTlZoRnVScFMtNnhxN1A4eEhEUQAAAAAea7iXFjNsQ3YwX25kUnFtNjhDTVFFZmVCNHcAAAAAHIn0FxYzLTl6di15UVI5T0R0ekU1ZDU1emRRAAAAABeXP8YWQVczemV1NkdUVVNzVlFnLUVxdWowUQ%3D%3D
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAeImBlFmFScjNDcGpYUUVPbTJ4Skp0NFpiN2cAAAAAG1AalRZvMEJoaVdrd1RSZUtsbTRZQ0FjWS1BAAAAAB4rsPQWazdXTlZoRnVScFMtNnhxN1A4eEhEUQAAAAAea7iXFjNsQ3YwX25kUnFtNjhDTVFFZmVCNHcAAAAAHIn0FxYzLTl6di15UVI5T0R0ekU1ZDU1emRRAAAAABeXP8YWQVczemV1NkdUVVNzVlFnLUVxdWowUQ==","total-results":412910,"items":[{"indexed":{"date-parts":[[2023,10,16]],"date-time":"2023-10-16T07:32:34Z","timestamp":1697441554669},"reference-count":16,"publisher":"Hindawi
      Limited","license":[{"start":{"date-parts":[[2011,1,1]],"date-time":"2011-01-01T00:00:00Z","timestamp":1293840000000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Case
      Reports in Medicine"],"published-print":{"date-parts":[[2011]]},"abstract":"<jats:p>Endometrial
      stromal nodule (ESN) is the least common of the endometrial stromal tumors.
      They are rare neoplasms which are diagnosed in most instances by light microscopy.
      Although such nodules are benign, hysterectomy has been considered the treatment
      of choice to determine the margins of the tumor required for diagnosis and to
      differentiate it from invasive stromal sarcoma Whose prognosis is totally different.
      We report a case of a 45 years old woman, with presurgical diagnosis of adnexal
      mass or uterine tumor. She underwent a total abdominal hysterectomy. Pathologic
      examination revealed an endometrial stromal nodule. Through this observation,
      we insist on the fact that the ESNs are rare and benign entities which must
      be differentiated from the other invasive malignant stromal tumors; this can
      change the final prognosis.<\/jats:p>","DOI":"10.1155\/2011\/260647","type":"journal-article","created":{"date-parts":[[2011,3,7]],"date-time":"2011-03-07T15:16:54Z","timestamp":1299511014000},"page":"1-5","source":"Crossref","is-referenced-by-count":4,"title":["Endometrial
      Stromal Nodule: Report of a Case"],"prefix":"10.1155","volume":"2011","author":[{"given":"F.
      Z.","family":"Fdili Alaoui","sequence":"first","affiliation":[{"name":"Department
      of Obstetrics and Gynecology II, CHU Hassan II, Fez, Morocco"}]},{"given":"H.","family":"Chaara","sequence":"additional","affiliation":[{"name":"Department
      of Obstetrics and Gynecology II, CHU Hassan II, Fez, Morocco"}]},{"given":"H.","family":"Bouguern","sequence":"additional","affiliation":[{"name":"Department
      of Obstetrics and Gynecology II, CHU Hassan II, Fez, Morocco"}]},{"given":"M.
      A.","family":"Melhouf","sequence":"additional","affiliation":[{"name":"Department
      of Obstetrics and Gynecology II, CHU Hassan II, Fez, Morocco"}]},{"given":"H.","family":"Fatemi","sequence":"additional","affiliation":[{"name":"Department
      of Anatomic Pathology, CHU Hassan II, Fez, Morocco"}]},{"given":"A.","family":"Belmlih","sequence":"additional","affiliation":[{"name":"Department
      of Anatomic Pathology, CHU Hassan II, Fez, Morocco"}]},{"given":"Afaf","family":"Amarti","sequence":"additional","affiliation":[{"name":"Department
      of Anatomic Pathology, CHU Hassan II, Fez, Morocco"}]}],"member":"98","reference":[{"key":"1","first-page":"140","volume":"2","year":"2005","journal-title":"Aegean
      Pathology Journal"},{"key":"2","volume-title":"Endometrial stromal lesions","year":"2003"},{"key":"3","volume-title":"Mesenchymal
      tumors of the uterus","year":"2001"},{"key":"4","year":"2003"},{"key":"5","first-page":"27","volume":"14","year":"1996","journal-title":"Shimane
      Journal of Medical Science"},{"key":"6","series-title":"Atlas of Tumor Pathology
      3rd Series","year":"1992"},{"key":"7","year":"1992"},{"key":"8","doi-asserted-by":"publisher","DOI":"10.1053\/j.anndiagpath.2004.10.009"},{"issue":"1","key":"9","doi-asserted-by":"crossref","first-page":"1","DOI":"10.1111\/j.1365-2559.1981.tb01761.x","volume":"5","year":"1981","journal-title":"Histopathology"},{"issue":"4","key":"10","doi-asserted-by":"crossref","first-page":"561","DOI":"10.1111\/j.1471-0528.1957.tb06285.x","volume":"64","year":"1957","journal-title":"The
      Journal of Obstetrics and Gynaecology of the British Empire"},{"key":"11","doi-asserted-by":"publisher","DOI":"10.1097\/00000478-200205000-00003"},{"key":"12","doi-asserted-by":"publisher","DOI":"10.1007\/s00404-007-0412-7"},{"issue":"5,
      part 2","key":"13","doi-asserted-by":"crossref","first-page":"805","DOI":"10.1016\/S0029-7844(98)00332-9","volume":"93","year":"1999","journal-title":"Obstetrics
      & Gynecology"},{"key":"14","doi-asserted-by":"publisher","DOI":"10.1097\/00000478-200209000-00004"},{"issue":"5","key":"15","doi-asserted-by":"crossref","first-page":"415","DOI":"10.1097\/00000478-199005000-00002","volume":"14","year":"1990","journal-title":"American
      Journal of Surgical Pathology"},{"key":"16","doi-asserted-by":"publisher","DOI":"10.4103\/0377-4929.40407"}],"container-title":["Case
      Reports in Medicine"],"language":"en","link":[{"URL":"http:\/\/downloads.hindawi.com\/journals\/crim\/2011\/260647.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/journals\/crim\/2011\/260647.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/journals\/crim\/2011\/260647.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,6,19]],"date-time":"2017-06-19T16:42:51Z","timestamp":1497890571000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/www.hindawi.com\/journals\/crim\/2011\/260647\/"}},"issued":{"date-parts":[[2011]]},"references-count":16,"alternative-id":["260647","260647"],"URL":"http:\/\/dx.doi.org\/10.1155\/2011\/260647","ISSN":["1687-9627","1687-9635"],"issn-type":[{"value":"1687-9627","type":"print"},{"value":"1687-9635","type":"electronic"}],"published":{"date-parts":[[2011]]}},{"indexed":{"date-parts":[[2023,10,16]],"date-time":"2023-10-16T08:37:18Z","timestamp":1697445438088},"reference-count":25,"publisher":"Hindawi
      Limited","issue":"6","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":193,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Int
      J RF and Microwave Comp Aid Eng"],"published-print":{"date-parts":[[2015,8]]},"DOI":"10.1002\/mmce.20890","type":"journal-article","created":{"date-parts":[[2015,2,21]],"date-time":"2015-02-21T04:15:33Z","timestamp":1424492133000},"page":"536-547","source":"Crossref","is-referenced-by-count":4,"title":["Phase-spacing
      optimization of linear microstrip antenna arrays using simulation-based surrogate
      superposition models"],"prefix":"10.1155","volume":"25","author":[{"given":"Slawomir","family":"Koziel","sequence":"first","affiliation":[{"name":"Engineering
      Optimization & Modeling Center, School of Science and Engineering, Reykjavik
      University; Menntavegur 1 101 Reykjavik Iceland"}]},{"given":"Stanislav","family":"Ogurtsov","sequence":"additional","affiliation":[{"name":"Engineering
      Optimization & Modeling Center, School of Science and Engineering, Reykjavik
      University; Menntavegur 1 101 Reykjavik Iceland"}]}],"member":"98","published-online":{"date-parts":[[2015,2,20]]},"reference":[{"key":"10.1002\/mmce.20890-BIB0001|mmce20890-cit-0001","doi-asserted-by":"crossref","first-page":"1547","DOI":"10.1109\/LAWP.2013.2292573","article-title":"Multiobjective
      genetic optimization of nonuniform linear array with low sidelobes and beamwidth","volume":"12","author":"Bhargav","year":"2013","journal-title":"IEEE
      Antennas Wireless Propag Lett"},{"key":"10.1002\/mmce.20890-BIB0002|mmce20890-cit-0002","doi-asserted-by":"crossref","first-page":"1581","DOI":"10.1109\/TAP.2008.923354","article-title":"Grating
      lobe reduction in a phased array of limited scanning","volume":"56","author":"Wang","year":"2008","journal-title":"IEEE
[...]
