interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works/10.1136/jclinpath-2020-206745
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,9,1]],"date-time":"2023-09-01T12:31:49Z","timestamp":1693571509044},"reference-count":36,"publisher":"BMJ","issue":"5","license":[{"start":{"date-parts":[[2020,8,17]],"date-time":"2020-08-17T00:00:00Z","timestamp":1597622400000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by-nc\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100012166","name":"National
        Key Research and Development Program","doi-asserted-by":"crossref","award":["2017YFC0906500
        and 2016YFC1000301"]}],"content-domain":{"domain":["bmj.com"],"crossmark-restriction":true},"short-container-title":["J
        Clin Pathol"],"published-print":{"date-parts":[[2021,5]]},"abstract":"<jats:sec><jats:title>Background<\/jats:title><jats:p>The
        absence of high-quality next-generation sequencing (NGS) reference material
        (RM) has impeded the clinical use of liquid biopsies with plasma cell-free
        DNA (cfDNA) in China.<\/jats:p><\/jats:sec><jats:sec><jats:title>Objective<\/jats:title><jats:p>This
        study aimed to develop a national RM panel for external quality assessment
        and performance evaluation during kit registration of non-small-cell lung
        cancer (NSCLC)-related Kirsten rat sarcoma viral oncogene (<jats:italic>KRAS<\/jats:italic>)\/neuroblastoma
        ras oncogene (<jats:italic>NRAS<\/jats:italic>)\/epidermal growth factor receptor
        (<jats:italic>EGFR<\/jats:italic>)\/B-type Raf kinase (<jats:italic>BRAF<\/jats:italic>)\/mesenchymal\u2013epithelial
        transition factor (<jats:italic>MET<\/jats:italic>) genetic assays using plasma
        circulating tumor DNA (ctDNA).<\/jats:p><\/jats:sec><jats:sec><jats:title>Methods<\/jats:title><jats:p>Mutation
        cell lines detected by NGS and v[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works/10.1136/esmoopen-2020-000776
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,9,1]],"date-time":"2023-09-01T07:53:36Z","timestamp":1693554816330},"reference-count":28,"publisher":"Elsevier
        BV","issue":"4","license":[{"start":{"date-parts":[[2020,1,1]],"date-time":"2020-01-01T00:00:00Z","timestamp":1577836800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2020,11,5]],"date-time":"2020-11-05T00:00:00Z","timestamp":1604534400000},"content-version":"vor","delay-in-days":309,"URL":"http:\/\/creativecommons.org\/licenses\/by-nc\/4.0\/"}],"funder":[{"DOI":"10.13039\/100009619","name":"Japan
        Agency for Medical Research and Development","doi-asserted-by":"publisher","award":["JP18lk0201037"]}],"content-domain":{"domain":["esmoopen.com","elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["ESMO
        Open"],"published-print":{"date-parts":[[2020]]},"DOI":"10.1136\/esmoopen-2020-000776","type":"journal-article","created":{"date-parts":[[2020,8,20]],"date-time":"2020-08-20T05:50:49Z","timestamp":1597902649000},"page":"e000776","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":11,"title":["Phase
        II study of lenvatinib for metastatic colorectal cancer refractory to standard
        chemotherapy: the LEMON study (NCCH1503)"],"prefix":"10.1016","volume":"5","clinical-trial-number":[{"clinical-trial-number":"nct03797326","registry":"10.18810\/clinical-trials-gov"},{"clinical-trial-number":"nct04008797","registry":"10.18810\/clinical-trials-gov"}],"author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-3863-9582","authenticated-orcid":false,"given":"Satoru","family":"Iwasa","sequence":"first","affiliation":[]},{"given":"Natsuko","family":"Okita","sequence":"additional","affiliation":[]},{"given":"Aya","family":"Kuchiba","sequence":"additional","affiliation":[]},{"given":"Gakuto","family":"Ogawa","sequence":"additional","affiliation":[]},{"given":"Mamiko","family":"Kawasaki","sequence":"additional","affiliation":[]},{"given":"Kenichi","family":"Nakamura","sequence":"additional","affiliation":[]},{"given":"Hirokazu","family":"Shoji","sequence":"additional","affiliation":[]},{"given":"Yoshitaka","family":"Honma","sequence":"additional","affiliation":[]},{"given":"Atsuo","family":"Takashima","sequence":"additional","affiliation":[]},{"given":"Ken","family":"Kato","sequence":"additional","affiliation":[]},{"given":"Tetsuya","family":"Hamaguchi","sequence":"additional","affiliation":[]},{"given":"Narikazu","family":"Boku","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-0692-8419","authenticated-orcid":false,"given":"Yasuhide","family":"Yamada","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1136\/esmoopen-2020-000776_bb0010","author":"Saltz"},{"key":"10.1136\/esmoopen-2020-000776_bb0015","author":"Tabernero"},{"key":"10.1136\/esmoopen-2020-000776_bb0020","author":"Van
        Cutsem"},{"key":"10.1136\/esmoopen-2020-000776_bb0025","author":"Yamazaki"},{"key":"10.1136\/esmoopen-2020-000776_bb0030","author":"Price"},{"key":"10.1136\/esmoopen-2020-000776_bb0035","author":"Mayer"},{"key":"10.1136\/esmoopen-2020-000776_bb0040","author":"Grothey"},{"key":"10.1136\/esmoopen-2020-000776[...]
