interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/works?query=ecology&select=DOI%2Ctitle
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":525905,"items":[{"DOI":"10.1093\/obo\/9780199830060-0238","title":["Communicating
      Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0023","title":["Chemical Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0202","title":["Ecosystem
      Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0026","title":["Fire Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0128","title":["Disease
      Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0042","title":["Community Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0249","title":["Ecology
      and Physics"]},{"DOI":"10.1093\/obo\/9780199830060-0201","title":["Grazer Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0222","title":["Urban
      Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0014","title":["Mycorrhizal Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0244","title":["Flood
      Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0220","title":["Wetland Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0224","title":["Stochastic
      Processes in Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0039","title":["Applied
      Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0200","title":["Industrial Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0067","title":["Soil
      Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0139","title":["Ecology of the
      Himalaya"]},{"DOI":"10.1093\/obo\/9780199830060-0192","title":["Animal Population
      Ecology"]},{"DOI":"10.1093\/hesc\/9780197614044.003.0014","title":["Behavioral
      Ecology"]},{"DOI":"10.1093\/hesc\/9780197614044.003.0036","title":["Global Ecology"]}],"items-per-page":20,"query":{"start-index":0,"search-terms":"ecology"}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
