interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/works?query.publisher-name=Universidade%20Federal%20de%20Santa%20Maria
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":5240961,"items":[{"indexed":{"date-parts":[[2022,11,2]],"date-time":"2022-11-02T05:19:26Z","timestamp":1667366366772},"reference-count":0,"publisher":"Universidade
      Federal de Santa Maria","issue":"3","license":[{"start":{"date-parts":[[2022,10,22]],"date-time":"2022-10-22T00:00:00Z","timestamp":1666396800000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["ReA
      UFSM"],"abstract":"<jats:p>Purpose: This study aimed to analyze how the career-building
      process of sustainable entrepreneurs occurs from the perspective of sustainable
      careers and how the influential factors in their career decisions are related
      to the dimensions and characteristics of sustainable careers.\nDesign\/methodology\/approach:
      This is a qualitative study carried out by analyzing three Brazilian entrepreneurs\u2019
      life stories. Subsequently, the data were submitted to narrative ana[...]
