interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?query=ecology&select=DOI%2Ctitle
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":487599,"items":[{"DOI":"10.1093\/obo\/9780199830060-0202","title":["Ecosystem
        Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0238","title":["Communicating
        Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0042","title":["Community Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0023","title":["Chemical
        Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0128","title":["Disease Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0026","title":["Fire
        Ecology"]},{"DOI":"10.1093\/obo\/9780199830060-0222","title":["Urban Ecology"]},{"DOI":"10.1093[...]
