interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.3.0 habanero/2.4.0
    method: GET
    uri: https://api.crossref.org/works/10.1371/journal.pone.0033693?query.author=carl+boettiger
  response:
    body:
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"parameter-not-allowed","value":"query.*","message":"This
        route does not support field query parameters"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 400
      message: Bad Request
version: 1
