interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?sample=2
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2,"items":[{"indexed":{"date-parts":[[2022,7,7]],"date-time":"2022-07-07T11:26:58Z","timestamp":1657193218533},"reference-count":23,"publisher":"Springer
        Science and Business Media LLC","issue":"3","license":[{"start":{"date-parts":[[1985,1,1]],"date-time":"1985-01-01T00:00:00Z","timestamp":473385600000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Plant
        Food Hum Nutr"],"published-print":{"date-parts":[[1985]]},"DOI":"10.1007\/bf01092201","type":"journal-article","created":{"date-parts":[[2005,2,5]],"date-time":"2005-02-05T08:15:26Z","timestamp":1107591326000},"page":"323-329","source":"Crossref","is-referenced-by-count":6,"title":["Interaction
        of Dietary Fat and Soybean Isolate (SBI) on Azaserine-induced Pancreatic Carcinogenesis"],"prefix":"10.1007","volume":"35","author":[{"given":"B.
        D.","family":"Roebuck","sequence":"first","affiliation":[]},{"given":"Paul
        V.","family":"Kaplita","sequence":"additional","affiliation":[]},{"given":"Denise
        L.","family":"Macmillan","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"key":"CR1","first-page":"33","volume-title":"Morphometry","author":"WA
        Aherne","year":"1982","unstructured":"Aherne WA, Dunnill MS (1982) Morphometry,
        London: Edward Arnold, pp 33?45"},{"key":"CR2","doi-asserted-by":"crossref","first-page":"1726","DOI":"10.1093\/jn\/110.8.1726","volume":"110","author":"JG
        Bieri","year":"1980","unstructured":"Bieri JG (1980) Second report of the
        ad hoc committee on standards for nutritional studies. J Nutr 110:1726","journal-title":"J
        Nutr"},{"key":"CR3","first-page":"1327","volume":"67","author":"DR Birt","year":"1981","unstructured":"Birt
        DR, Salmasi S, Pour PM (1981) Enhancement of experimental pancreatic cancer
        in Syrian Golden hamsters by dietary fat. J Natl Cancer Inst 67:1327?1332","journal-title":"J
        Natl Cancer Inst"},{"key":"CR4","doi-asserted-by":"crossref","first-page":"681","DOI":"10.3181\/00379727-104-25950","volume":"104","author":"AN
        Booth","year":"1960","unstructured"[...]
