interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works/10.1016/j.neurobiolaging.2010.03.024
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,9,18]],"date-time":"2023-09-18T01:50:46Z","timestamp":1695001846717},"reference-count":57,"publisher":"Elsevier
        BV","issue":"3","license":[{"start":{"date-parts":[[2012,3,1]],"date-time":"2012-03-01T00:00:00Z","timestamp":1330560000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/501100004085","name":"Ministry
        of Education, Science and Technology","doi-asserted-by":"crossref","award":["R32-10064"]},{"name":"Stem
        Cell Research Center","award":["SC4170"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Neurobiology
        of Aging"],"published-print":{"date-parts":[[2012,3]]},"DOI":"10.1016\/j.neurobiolaging.2010.03.024","type":"journal-article","created":{"date-parts":[[2010,5,18]],"date-time":"2010-05-18T07:20:15Z","timestamp":1274167215000},"page":"588-602","source":"Crossref","is-referenced-by-count":207,"title":["Human
        umbilical cord blood-derived mesenchymal stem cells improve neuropathology
        and cognitive impairment in an Alzheimer''s disease mouse model through modulation
        of neuroinflammation"],"prefix":"10.1016","volume":"33","author":[{"given":"Hyun
        Ju","family":"Lee","sequence":"first","affiliation":[]},{"given":"Jong Kil","family":"Lee","sequence":"additional","affiliation":[]},{"given":"Hyun","family":"Lee","sequence":"additional","affiliation":[]},{"given":"Janet
        E.","family":"Carter","sequence":"additional","affiliation":[]},{"given":"Jong
        Wook","family":"Chang","sequence":"additional","affiliation":[]},{"given":"Wonil","family":"Oh","sequence":"additional","affiliation":[]},{"given":"Yoon
        Sun","family":"Yang","sequence":"additional","affiliation":[]},{"given":"Jun-Gyo","family":"Suh","sequence":"additional","affiliation":[]},{"given":"Byoung-Hee","family":"Lee","sequence":"additional","affiliation":[]},{"given":"Hee
        Kyung","family":"Jin","sequence":"additional","affiliation":[]},{"given":"Jae-sung","family":"Bae","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.neurobiolaging.2010.03.024_bib1","doi-asserted-by":"crossref","first-page":"63","DOI":"10.1096\/fasebj.13.1.63","article-title":"TNFalpha
        plus IFNgamma induce the production of Alzheimer beta-amyloid peptides and
        decrease the secretion of APPs","volume":"13","author":"Blasko","year":"1999","journal-title":"FASEB
        J"},{"key":"10.1016\/j.neurobiolaging.2010.03.024_bib2","doi-asserted-by":"crossref","first-page":"437","DOI":"10.2174\/156720506779025242","article-title":"Pathways
        by which Abeta facilitates tau pathology","volume":"3","author":"Blurton-Jones","year":"2006","journal-title":"Curr.
        Alzheimer Res"},{"key":"10.1016\/j.neurobiolaging.2010.03.024_bib3","doi-asserted-by":"crossref","first-page":"11784","DOI":"10.1073\/pnas.0604681103","article-title":"Glatiramer
       [...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works/10.1002/jor.1100150407
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,7,26]],"date-time":"2023-07-26T08:43:59Z","timestamp":1690361039948},"reference-count":36,"publisher":"Wiley","issue":"4","license":[{"start":{"date-parts":[[2015,9,1]],"date[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works/10.1038/srep16696
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,9,16]],"date-time":"2023-09-16T16:21:49Z","timestamp":1694881309841},"reference-count":62,"publisher":"Springer
        Science and Business Media LLC","issue":"1","license":[{"start":{"date-parts":[[2015,11,19]],"date-time":"2015-11-19T00:00:00Z","timestamp":1447891200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"},{"start":{"date-parts":[[2015,11,19]],"date-time":"2015-11-19T00:00:00Z","timestamp":1447891200000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["Sci
        Rep"],"abstract":"<jats:title>Abstract<\/jats:title><jats:p>Oligomers of alpha-synuclein
        are toxic to cells and have been proposed to play a key role in the etiopathogenesis
        of Parkinson\u2019s disease. As certain missense mutations in the gene encoding
        for alpha-synuclein induce early-onset forms of the disease, it has been suggested
        that these variants might have an inherent tendency to produce high concentrations
        of oligomers during aggregation, although a direct experimental evidence for
        this is still m[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works/10.1109/icdcsw.2003.1203662
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,2]],"date-time":"2022-04-02T01:59:14Z","timestamp":1648864754553},"reference-count":13,"publisher":"IEEE","content-domain":{"domain":[],"crossmark-restriction":false},[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works/10.3892/ijo_00000353
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T15:12:00Z","timestamp":1649085120236},"reference-count":0,"publisher":"Spandidos
        Publications","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Int
        J Oncol"],"published-print":{"date-parts":[[2009,6,26]]},"DOI":"10.3892\/ijo_00000353","type":"journal-article","created":{"date-parts":[[2009,6,26]],"date-time":"2009-06-26T11:19:22Z","timestamp":1246015162000},"source":"Crossref","is-referenced-by-count":3,"title":["Human
        bladder cancer cells undergo cisplatin-induced apoptosis that is associated
        with p53-dependent and p53-independent responses"],"prefix":"10.3892","author":[{"family":"Stravopodis","sequence":"first","affiliation":[]}],"member":"2249","container-title":["International
        Journal of Oncology"],"original-title":[],"link":[{"URL":"https:\/\/spandidos-publications.com\/10.3892\/ijo_00000353\/download","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,4,27]],"date-time":"2017-04-27T09:37:08Z","timestamp":1493285828000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.spandidos-publications.com\/ijo\/35\/2\/401"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2009,6,26]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.3892\/ijo_00000353","relation":{},"ISSN":["1019-6439"],"issn-type":[{"value":"1019-6439","type":"print"}],"subject":["Cancer
        Research","Oncology"],"published":{"date-parts":[[2009,6,26]]}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
