interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/works?query.publisher-name=Universidade%20Federal%20de%20Santa%20Maria
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":6823768,"items":[{"indexed":{"date-parts":[[2023,10,11]],"date-time":"2023-10-11T04:46:25Z","timestamp":1696999585914},"reference-count":0,"publisher":"Universidade
      Federal de Santa Maria","issue":"11","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Literatura
      e Autoritarismo"],"abstract":"<jats:p>Tomando como base a an\u00e1lise de uma
      cr\u00f4nica liter\u00e1ria do jornalista Jos\u00e9 Brito Broca, este artigo
      prop\u00f5e uma leitura sobre a estada do embaixador franc\u00eas Joseph-Arthur
      de Gobineau no Brasil (1869 a 1870), um dos mais importantes te\u00f3ricos do
      racismo no s\u00e9culo XIX.<\/jats:p>","DOI":"10.5902\/1679849x78440","type":"journal-article","created":{"date-parts":[[2023,10,11]],"date-time":"2023-10-11T02:30:55Z","timestamp":1696991455000},"page":"19-32","source":"Crossref","is-referenced-by-count":0,"title":["Uma
      cr\u00f4nica para Gobineau"],"prefix":"10.5902","author":[{"given":"Ronaldo
      Guimar\u00e3es","family":"Galv\u00e3o","sequence":"first","affiliation":[]}],"member":"4419","published-online":{"date-parts":[[2012,10,22]]},"container-title":["Literatura
      e Autoritarismo"],"link":[{"URL":"https:\/\/periodicos.ufsm.br\/LA\/article\/download\/78440\/55482","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/periodicos.ufsm.br\/LA\/article\/download\/78440\/55482","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2023,10,11]],"date-time":"2023-10-11T02:30:56Z","timestamp":1696991456000},"score":25.92083,"resource":{"primary":{"URL":"https:\/\/periodicos.ufsm.br\/LA\/article\/view\/78440"}},"issued":{"date-parts":[[2012,10,22]]},"references-count":0,"journal-issue":{"issue":"11","published-online":{"date-parts":[[2012,10,22]]}},"URL":"https:\/\/doi.org\/10.5902\/1679849x78440","ISSN":["1679-849X","1679-849X"],"issn-type":[{"value":"1679-849X","type":"electronic"},{"value":"1679-849X","type":"print"}],"published":{"date-parts":[[2012,10,22]]}},{"indexed":{"date-parts":[[2022,9,8]],"date-time":"2022-09-08T02:12:44Z","timestamp":1662603164426},"reference-count":0,"publisher":"Universidade
      Federal de Santa Maria","license":[{"start":{"date-parts":[[2022,9,5]],"date-time":"2022-09-05T00:00:00Z","timestamp":1662336000000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-sa\/4.0"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Kinesis"],"abstract":"<jats:p>Este
      estudo visa a determinar os principais fatores, segundo a an\u00e1lise do treinador,
      que permitiram \u00e0 equipe de handebol masculina da ADUFSM lograr \u00eaxito,
      em termos de resultado, nos anos 80 do s\u00e9culo passado. Para tal, foi realizada
      uma entrevista com Luiz Celso Giacomini[...]
