interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/works?query=ecology&rows=2
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":525905,"items":[{"indexed":{"date-parts":[[2024,5,9]],"date-time":"2024-05-09T22:23:56Z","timestamp":1715293436118},"reference-count":0,"publisher":"Oxford
      University Press","isbn-type":[{"value":"9780199830060","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>Communication
      is perhaps the most important, but least formally discussed, aspect of current
      ecological research and teaching. The last twenty years has demonstrated that
      this is no longer a viable approach and the rise of climate change research,
      and its concomitant denial, has brought disagreement and outright refusal to
      accept facts to the research community and the wider world. This has, in turn,
      produced a vigorous research community aimed specificall[...]
