interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/works?sample=2
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2,"items":[{"indexed":{"date-parts":[[2025,2,21]],"date-time":"2025-02-21T03:10:28Z","timestamp":1740107428837,"version":"3.37.3"},"reference-count":19,"publisher":"Springer
      Science and Business Media LLC","issue":"2","license":[{"start":{"date-parts":[[2016,6,22]],"date-time":"2016-06-22T00:00:00Z","timestamp":1466553600000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"funder":[{"DOI":"10.13039\/100002429","name":"Amgen","doi-asserted-by":"publisher","id":[{"id":"10.13039\/100002429","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["Cancer
      Chemother Pharmacol"],"published-print":{"date-parts":[[2016,8]]},"DOI":"10.1007\/s00280-016-3089-4","type":"journal-article","created":{"date-parts":[[2016,6,23]],"date-time":"2016-06-23T00:33:07Z","timestamp":1466641987000},"page":"361-367","update-policy":"https:\/\/doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":12,"title":["TACTIC:
      a multicentre, open-label, single-arm phase II trial of panitumumab, cisplatin,
      and gemcitabine in biliary tract cancer"],"prefix":"10.1007","volume":"78","author":[{"name":"behalf
      of the the Australasian Gastro-Intestinal Trials Group","sequence":"first","affiliation":[]},{"given":"D.","family":"Ferraro","sequence":"first","affiliation":[]},{"given":"D.","family":"Goldstein","sequence":"additional","affiliation":[]},{"given":"R.
      L.","family":"O\u2019Connell","sequence":"additional","affiliation":[]},{"given":"J.
      R.","family":"Zalcberg","sequence":"additional","affiliation":[]},{"given":"K.
      M.","family":"Sjoquist","sequence":"additional","affiliation":[]},{"given":"N.
      C.","family":"Tebbutt","sequence":"additional","affiliation":[]},{"given":"P.","family":"Grimison","sequence":"additional","affiliation":[]},{"given":"S.","family":"McLachlan","sequence":"additional","affiliation":[]},{"given":"L.
      L.","family":"Lipton","sequence":"additional","affiliation":[]},{"given":"P.","family":"Vasey","sequence":"additional","affiliation":[]},{"given":"V.
      J.","family":"Gebski","sequence":"additional","affiliation":[]},{"given":"C.","family":"Aiken","sequence":"additional","affiliation":[]},{"given":"M.","family":"Cronk","sequence":"additional","affiliation":[]},{"given":"S.","family":"Ng","sequence":"additional","affiliation":[]},{"given":"C.
      S.","family":"Karapetis","sequence":"additional","affiliation":[]},{"given":"J.","family":"Shannon","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2016,6,22]]},"reference":[{"issue":"3","key":"3089_CR1","doi-asserted-by":"publisher","first-page":"242","DOI":"10.1002\/(sici)1096-9098(199703)64:3<242::aid-jso12>3.0.co;2-6","volume":"64","author":"TP
      Wade","year":"1997","unstructured":"Wade TP, Prasad CN, Virgo KS, Johnson FE
      (1997) Experience with distal bile duct cancers in U.S. Veterans Affairs hospitals:
      1987\u20131991. J Surg Oncol 64(3):242\u2013245. doi: 10.1002\/(sici)1096-9098(199703)64:3<242:aid-jso12>3.0.co;2-6","journal-title":"J
      Surg Oncol"},{"issue":"15","key":"3089_CR2","doi-asserted-by":"publisher","first-page":"2169","DOI":"10.1016\/j.ejca.2015.07.034","volume":"51","author":"C
      Lepage","year":"2015","unstructured":"Lepage C, Capocaccia R, Hackl M, Lemmens
      V, Molina E, Pierannunzio D, Sant M, Trama A, Faivre J (2015) Survival in patients
      with primary liver cancer, gallbladder and extrahepatic biliary tract cancer
      and pancreatic cancer in Europe 1999\u20132007: results of EUROCARE-5. E[...]
