interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?query=ecology&query.author=carl+boettiger
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1101,"items":[{"indexed":{"date-parts":[[2023,8,24]],"date-time":"2023-08-24T16:45:55Z","timestamp":1692895555739},"reference-count":52,"publisher":"Wiley","issue":"7","license":[{"start":{"date-parts":[[2022,5,30]],"date-time":"2022-05-30T00:00:00Z","timestamp":1653868800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor"}],"funder":[{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"publisher","award":["1942280"]}],"content-domain":{"domain":["onlinelibrary.wiley.com"],"crossmark-restriction":true},"short-container-title":["Ecology
        Letters"],"published-print":{"date-parts":[[2022,7]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>Encouraged
        by decision makers\u2019 appetite for future information on topics ranging
        from elections to pandemics, and enabled by the explosion of data and computational
        methods, model\u2010based forecasts have garnered increasing influence on
        a breadth of decisions in modern society. Using several classic examples from
        fisheries management, I demonstrate that selecting the model or models that
        produce the most accurate and precise forecast (measured by statistical scores)
        can sometimes lead to worse outcomes (measured by real\u2010world objectives).
        This can create a forecast trap, in which the outcomes such as fish biomass
        or economic yield decline while the manager becomes increasingly convinced
        that these actions are consistent with the best models and data available.
        The forecast trap is not unique to this example, but a fundamental consequence
        of non\u2010uniqueness of models. Existing practices promoting a broader set
        of models are the best way to avoid the trap.<\/jats:p>","DOI":"10.1111\/ele.14024","type":"journal-article","created":{"date-parts":[[2022,5,30]],"date-time":"2022-05-30T16:45:09Z","timestamp":1653929109000},"page":"1655-1664","update-policy":"http:\/\/dx.doi.org\/10.1002\/crossmark_policy","source":"Crossref","is-referenced-by-count":5,"title":["The
        forecast trap"],"prefix":"10.1111","volume":"25","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-1642-628X","authenticated-orcid":false,"given":"Carl","family":"Boettiger","sequence":"first","affiliation":[{"name":"Department
        of Environmental Science, Policy, and Management University of California  Berkeley
        California USA"}]}],"member":"311","published-online":{"date-parts":[[2022,5,30]]},"reference":[{"key":"e_1_2_6_2_1","volume-title":"Viability
        theory","author":"Aubin J.P.","year":"1991"},{"key":"e_1_2_6_3_1","doi-asserted-by":"publisher","DOI":"10.1007\/s12080-020-00477-4"},{"key":"e_1_2_6_4_1","doi-asserted-by":"publisher","DOI":"10.1890\/15-0236"},{"key":"e_1_2_6_5_1","doi-asserted-by":"publisher","DOI":"10.1098\/rspb.2014.1631"},{"key":"e_1_2_6_6_1","doi-asserted-by":"publisher","DOI":"10.1016\/j.ecolmodel.2020.109423"},{"key":"e_1_2_6_7_1","doi-asserted-by":"publisher","DOI":"10.1007\/978-1-4757-2917-7_3"},{"key":"e_1_2_6_8_1","doi-asserted-by":"publisher","DOI":"10.1073\/pnas.0805265105"},{"key":"e_1_2_6_9_1","doi-asserted-by":"publisher","DOI":"10.1086\/260090"},{"key":"e_1_2_6_10_1","volume-title":"Mathematical
        bioeconomics: the optimal management of renewable resources","author":"Clark
        C.W.","year":"1990"},{"key":"e_1_2_6_11_1","doi-asserted-by":"publisher","DOI":"10.1126\/science.293.5530.657"},{"key":"e_1_2_6_12_1","doi-asserted-by":"publisher","DOI":"10.1073\/pnas.1520420113"},{"key":"e_1_2_6_13_1","doi-asserted-by":"publisher","DOI":"10.1038\/s41586-021-04301-9"},{"key":"e_1_2_6_14_1","doi-asserted-by":"publisher","DOI":"10.1073\/pnas.1710231115"},{"key":"e_1_2_6_15_1","unstructured":"Dulac\u2010Arnold
        G. Mankowitz D.&Hester T.(2019).Challenges of Real\u2010World Reinforcement
        Learning.arXiv:1904.12901 [cs stat]."},{"key":"e_1_2_6_16_1","doi-asserted-by":"publisher","DOI":"10.1016\/j.tree.2009.03.020"},{"key":"e_1_2_6_17_1","doi-asserted-by":"publisher","DOI":"10.1016\/j.tree.2003.11.004"},{"key":"e_1_2_6_18_1","doi-asserted-by":"publisher","DOI":"10.1198\/016214506000001437"},{"key":"e_1_2_6_19_1","unstructured":"Graves
        A. Bellemare M.G. Menick J. Mu[...]
