interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/works?rows=2
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":171479891,"items":[{"indexed":{"date-parts":[[2022,4,26]],"date-time":"2022-04-26T20:11:24Z","timestamp":1651003884571},"publisher-location":"1
      Oliver''s Yard,\u00a055 City Road,\u00a0London\u00a0EC1Y 1SP\u00a0United Kingdom\u00a0","reference-count":0,"publisher":"SAGE
      Publications Ltd","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014]]},"DOI":"10.4135\/9781473913875.n8","type":"book-chapter","created":{"date-parts":[[2014,12,23]],"date-time":"2014-12-23T12:25:28Z","timestamp":1419337528000},"page":"92-107","source":"Crossref","is-referenced-by-count":0,"title":["Data
      Analysis"],"prefix":"10.4135","member":"179","container-title":["Success with
      Your Early Years Research Project"],"link":[{"URL":"http:\/\/journals.sagepub.com\/doi\/pdf\/10.4135\/9781473913875.n8","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2022,4,26]],"date-time":"2022-04-26T19:33:52Z","timestamp":1651001632000},"score":1.0,"resource":{"primary":{"URL":"https:\/\/methods.sagepub.com\/book\/success-with-your-early-years-research-project\/n8.xml"}},"issued":{"date-parts":[[2014]]},"references-count":0,"alternative-id":["10.4135\/9781473913875"],"URL":"https:\/\/doi.org\/10.4135\/9781473913875.n8","published":{"date-parts":[[2014]]}},{"indexed":{"date-parts":[[2022,4,26]],"date-time":"2022-04-26T20:11:49Z","timestamp":1651003909895},"publisher-location":"1
      Oliver''s Yard,\u00a055 City Road,\u00a0London\u00a0England\u00a0EC1Y 1SP\u00a0United
      Kingdom\u00a0","reference-count":0,"publisher":"SAGE Publications Ltd","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2005]]},"DOI":"10.4135\/9781849209977.n6","type":"book-chapter","created":{"date-parts":[[2016,6,19]],"date-time":"2016-06-19T11:02:14Z","timestamp":1466334134000},"page":"96-111","source":"Crossref","is-referenced-by-count":0,"title":["Doing
      Research: Reflecting on Methods, Methodology and Ethics"],"prefix":"10.4135","member":"179","container-title":["Succeeding
      with Your Doctorate"],"link":[{"URL":"http:\/\/journals.sagepub.com\/doi\/pdf\/10.4135\/9781849209977.n6","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2022,4,26]],"date-time":"2022-04-26T19:33:42Z","timestamp":1651001622000},"score":1.0,"resource":{"primary":{"URL":"https:\/\/methods.sagepub.com\/book\/succeeding-with-your-doctorate\/n6.xml"}},"issued":{"date-parts":[[2005]]},"references-count":0,"alternative-id":["10.4135\/9781849209977"],"URL":"https:\/\/doi.org\/10.4135\/9781849209977.n6","published":{"date-parts":[[2005]]}}],"items-per-page":2,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
