interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?query.publisher-name=Universidade+Federal+de+Santa+Maria
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":4836761,"items":[{"indexed":{"date-parts":[[2023,3,23]],"date-time":"2023-03-23T05:05:37Z","timestamp":1679547937975},"reference-count":0,"publisher":"Universidade
        Federal de Santa Maria","license":[{"start":{"date-parts":[[2023,3,22]],"date-time":"2023-03-22T00:00:00Z","timestamp":1679443200000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by-nc\/4.0"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Educa\u00e7\u00e3o"],"abstract":"<jats:p>Desde
        o per\u00edodo de atua\u00e7\u00e3o dos Jesu\u00edtas at\u00e9 os dias atuais,
        a m\u00fasica tem se mostrado presente nos mais diversos aspectos da vida
        social do Brasil, seja na educa\u00e7\u00e3o, na religi\u00e3o ou entretenimento.
        Diante disso, esta pesquisa documental visa compreender a fun\u00e7\u00e3o
        social da educa\u00e7\u00e3o musical desde o Brasil Imp\u00e9rio (1847), at\u00e9
        a homologa\u00e7\u00e3o da vers\u00e3o final da BNCC ([...]
