interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/works?sample=2
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2,"items":[{"indexed":{"date-parts":[[2024,9,16]],"date-time":"2024-09-16T15:46:15Z","timestamp":1726501575091},"edition-number":"1","reference-count":0,"publisher":"Bloomsbury
      Publishing Plc","isbn-type":[{"type":"electronic","value":"9781350068056"},{"type":"print","value":"9781350369412"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2023]]},"DOI":"10.5040\/9781350068056.ch-i","type":"other","created":{"date-parts":[[2023,8,4]],"date-time":"2023-08-04T11:22:53Z","timestamp":1691148173000},"page":"1-14","source":"Crossref","is-referenced-by-count":0,"title":["Introduction"],"prefix":"10.5040","member":"2984","container-title":["Ludwig
      Hilberseimer"],"deposited":{"date-parts":[[2024,1,19]],"date-time":"2024-01-19T10:19:02Z","timestamp":1705659542000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/www.bloomsburycollections.com\/monograph-detail?docid=b-9781350068056&tocid=b-9781350068056-0000183"},"secondary":[{"URL":"https:\/\/www.bloomsburycollections.com\/monograph-detail?docid=b-9781350068056&tocid=b-9781350068056-0000183","label":"secondary_bloomsburyCollections"},{"URL":"https:\/\/www.bloomsburyvisualarts.com\/encyclopedia-chapter?docid=b-9781350068056&tocid=b-9781350068056-0000183","label":"secondary_architectureLibrary"}]},"issued":{"date-parts":[[2023]]},"ISBN":["9781350068056","9781350369412"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5040\/9781350068056.ch-i","published":{"date-parts":[[2023]]}},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T05:20:43Z","timestamp":1648963243181},"reference-count":0,"publisher":"Massachusetts
      Medical Society","issue":"27","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
      Boston Medical and Surgical Journal"],"published-print":{"date-parts":[[1914,12,31]]},"DOI":"10.1056\/nejm191412311712712","type":"journal-article","created":{"date-parts":[[2011,11,11]],"date-time":"2011-11-11T23:39:31Z","timestamp":1321054771000},"page":"1016-1016","source":"Crossref","is-referenced-by-count":0,"title":["Proposed
      Reorganization of the Boston Board of Health"],"prefix":"10.1056","volume":"171","member":"150","container-title":["The
      Boston Medical and Surgical Journal"],"language":"en","link":[{"URL":"http:\/\/www.nejm.org\/doi\/pdf\/10.1056\/NEJM191412311712712","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,11,2]],"date-time":"2016-11-02T16:36:01Z","timestamp":1478104561000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/www.nejm.org\/doi\/abs\/10.1056\/NEJM191412311712712"}},"issued":{"date-parts":[[1914,12,31]]},"references-count":0,"journal-issue":{"issue":"27","published-print":{"date-parts":[[1914,12,31]]}},"alternative-id":["10.1056\/NEJM191412311712712"],"URL":"http:\/\/dx.doi.org\/10.1056\/nejm191412311712712","ISSN":["0096-6762","1533-4406"],"issn-type":[{"value":"0096-6762","type":"print"},{"value":"1533-4406","type":"electronic"}],"published":{"date-parts":[[1914,12,31]]}}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
