interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/works?rows=2
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":163135345,"items":[{"indexed":{"date-parts":[[2023,10,16]],"date-time":"2023-10-16T18:58:20Z","timestamp":1697482700644},"reference-count":37,"publisher":"Elsevier
      BV","issue":"1-2","license":[{"start":{"date-parts":[[2008,5,1]],"date-time":"2008-05-01T00:00:00Z","timestamp":1209600000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
      of Chromatography A"],"published-print":{"date-parts":[[2008,5]]},"DOI":"10.1016\/j.chroma.2008.01.017","type":"journal-article","created":{"date-parts":[[2008,1,14]],"date-time":"2008-01-14T07:20:02Z","timestamp":1200295202000},"page":"90-98","source":"Crossref","is-referenced-by-count":8,"title":["A
      new generation of more pH stable reversed phases prepared by silanization of
      zirconized silica"],"prefix":"10.1016","volume":"1191","author":[{"given":"C\u00e9sar
      R.","family":"Silva","sequence":"first","affiliation":[]},{"given":"Claudio","family":"Airoldi","sequence":"additional","affiliation":[]},{"given":"Kenneth
      E.","family":"Collins","sequence":"additional","affiliation":[]},{"given":"Carol
      H.","family":"Collins","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.chroma.2008.01.017_bib1","first-page":"532","volume":"25","author":"Majors","year":"2007","journal-title":"LC
      GC North Am."},{"key":"10.1016\/j.chroma.2008.01.017_bib2","doi-asserted-by":"crossref","first-page":"23","DOI":"10.1016\/S0021-9673(04)01438-4","volume":"1060","author":"Claessens","year":"2004","journal-title":"J.
      Chromatogr. A"},{"key":"10.1016\/j.chroma.2008.01.017_bib3","doi-asserted-by":"crossref","first-page":"1158","DOI":"10.1002\/jssc.200600492","volume":"30","author":"Plumb","year":"2007","journal-title":"J.
      Sep. Sci."},{"key":"10.1016\/j.chroma.2008.01.017_bib4","doi-asserted-by":"crossref","first-page":"1207","DOI":"10.1002\/jssc.200600535","volum[...]
