interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?rows=2
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":154291528,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:45:59Z","timestamp":1648950359167},"reference-count":0,"publisher":"American
        Society of Clinical Oncology (ASCO)","issue":"18_suppl","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["JCO"],"published-print":{"date-parts":[[2007,6,20]]},"abstract":"<jats:p>
        3507 <\/jats:p><jats:p> Purpose: To detect IGF-1R on circulating tumor cells
        (CTCs) as a biomarker in the clinical development of a monoclonal human antibody,
        CP-751,871, targeting IGF-1R. Experimental Design: An automated sample preparation
        and analysis system for enumerating CTCs (Celltracks) was adapted for detecting
        IGF-1R positive CTCs with a diagnostic antibody targeting a different IGF-1R
        epitope to CP-751,871. This assay was utilized in th[...]
