interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?query=ecology&rows=2
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":500477,"items":[{"indexed":{"date-parts":[[2022,7,25]],"date-time":"2022-07-25T15:11:58Z","timestamp":1658761918700},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>Communication
        is perhaps the most important, but least formally discussed, aspect of current
        ecological research and teaching. The last twenty years has demonstrated that
        this is no longer a viable approach and the rise of climate change research,
        and its concomitant denial, has brought disagreement and outright refusal
        to accept facts to the research community and the wider world. This has, in
        turn, produced a vigorous research community aimed[...]
