interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?sample=2
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T22:26:02Z","timestamp":1648679162823},"reference-count":0,"publisher":"State
        University of Malang (UM)","issue":"2","license":[{"start":{"date-parts":[[2021,12,19]],"date-time":"2021-12-19T00:00:00Z","timestamp":1639872000000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by-sa\/4.0"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Knowl.
        Eng. Data Sci."],"abstract":"<jats:p>Down syndrome, also known as trisomy
        genetic condition, is a genetic disorder that affects many people. Williams
        syndrome is a hereditary disorder that can affect anyone at birth. It marks
        medical and cognitive issues, such as cardiovascular illness, developmental
        delays, and learning impairments. This is accompanied by exceptional verbal
        abilities, a gregarious attitude, and a passion for music. Down syndrome and
        William Syndrome are both genetic [...]
