interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=thing
  response:
    body:
      string: '{"status":"error","message-type":"exception","message-version":"1.0.0","message":{"name":"class
        clojure.lang.ExceptionInfo","description":"clojure.lang.ExceptionInfo: Response
        Exception qbits.spandex.Response@62e94d4","message":"Response Exception","stack":["clojure.core$ex_info.invokeStatic(core.clj:4617)","clojure.core$ex_info.invoke(core.clj:4617)","qbits.spandex$response_ex__GT_ex_info.invokeStatic(spandex.clj:218)","qbits.spandex$response_ex__GT_ex_info.invoke(spandex.clj:215)","qbits.spandex$eval12950$fn__12951.invoke(spandex.clj:227)","qbits.spandex$eval12933$fn__12934$G__12924__12939.invoke(spandex.clj:222)","qbits.spandex$response_listener$reify__12959.onFailure(spandex.clj:251)","org.elasticsearch.client.RestClient$FailureTrackingRespons[...]
