interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.25.1 habanero/0.7.6
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=thing
  response:
    body:
      string: '{"status":"error","message-type":"exception","message-version":"1.0.0","message":{"name":"class
        clojure.lang.ExceptionInfo","description":"clojure.lang.ExceptionInfo: Response
        Exception qbits.spandex.Response@cd08ea30","message":"Response Exception","stack":["clojure.core$ex_info.invokeStatic(core.clj:4617)","clojure.core$ex_info.invoke(core.clj:4617)","qbits.spandex$response_ex__GT_ex_info.invokeStatic(spandex.clj:218)","qbits.spandex$response_ex__GT_ex_info.invoke(spandex.clj:215)","qbits.spandex$eval12716$fn__12717.invoke(spandex.clj:227)","qbits.spandex$eval12699$fn__12700$G__12690__12705.invoke(spandex.clj:222)","qbits.spandex$response_listener$reify__12725.onFailure(spandex.clj:251)","org.elasticsearch.client.RestClient$FailureTrackingRespons[...]
