interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=%2A
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAL-OJzFlB5ck9kanFXU3VTcGttSUMybk5uSkEAAAAADClKFhZ6X0R6YlNYMlQ3Q2daajFveXFtVzNnAAAAAAzDzwoWUmxIekhfRGpRLXk5dVNUN3RLRHdXUQAAAAAJEM3CFjJqaHFGMHd5UnRXbVNsVlVaaFZ2aXcAAAAADkYjtBZfQU9Lc0pfMVI4dUZDWTBHZU41OS1BAAAAAADfxZUWZWtHWEpWSVFRQkdSVTlXSDlER2NvUQ==","total-results":360,"items":[{"indexed":{"date-parts":[[2022,4,1]],"date-time":"2022-04-01T16:02:52Z","timestamp":1648828972344},"publisher-location":"Berlin\/Heidelberg","reference-count":0,"publisher":"Springer-Verlag","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1007\/springerreference_66110","type":"reference-entry","created":{"date-parts":[[2011,8,29]],"date-time":"2011-08-29T16:57:47Z","timestamp":1314637067000},"source":"Crossref","is-referenced-by-count":0,"title":["Web
        Widget"],"prefix":"10.1007","member":"297","container-title":["SpringerReference"],"deposited":{"date-parts":[[2011,8,29]],"date-time":"2011-08-29T17:12:29Z","timestamp":1314637949000},"score":21.214859,"resource":{"primary":{"URL":"http:\/\/www.springerreference.com\/index\/doi\/10.1007\/SpringerReference_66110"}},"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/springerreference_66110"},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:55:07Z","timestamp":1648950907102},"publisher-location":"Berkeley,
        CA","reference-count":0,"publisher":"Apress","isbn-type":[{"value":"9781590598160","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1007\/978-1-4302-0197-7_9","type":"book-chapter","created":{"date-parts":[[2007,9,8]],"date-time":"2007-09-08T13:37:48Z","timestamp":1189258668000},"page":"305-349","source":"Crossref","is-referenced-by-count":0,"title":["Widget
        Mania: Using a GUI Widget Framework"],"prefix":"10.1007","member":"297","container-title":["Practical
        JavaScript\u2122, DOM Scripting, and Ajax Projects"],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-1-4302-0197-7_9.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,5,1]],"date-time":"2021-05-01T00:01:45Z","timestamp":1619827305000},"score":21.051516,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-1-4302-0197-7_9"}},"issued":{"date-parts":[[null]]},"ISBN":["9781590598160"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-1-4302-0197-7_9"},{"indexed":{"date-parts":[[2022,4,2]],"date-time":"2022-04-02T17:08:57Z","timestamp":1648919337930},"reference-count":26,"publisher":"IEEE","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2009,9]]},"DOI":"10.1109\/afrcon.2009.5308146","type":"proceedings-article","created":{"date-parts":[[2009,11,12]],"date-time":"2009-11-12T20:56:19Z","timestamp":1258059379000},"source":"Crossref","is-referenced-by-count":2,"title":["A
        review of the widget landscape and incompatibilities between widget engines"],"prefix":"10.1109","author":[{"given":"Paco","family":"Mendes","sequence":"first","affiliation":[]},{"given":"Marcos","family":"Caceres","sequence":"additional","affiliation":[]},{"given":"Barry","family":"Dwolatzky","sequence":"additional","affiliation":[]}],"member":"263","reference":[{"key":"19","author":"bersvendsen","year":"2009","journal-title":"Widgets
        1 0 APIs and events"},{"key":"17","year":"0"},{"key":"18","year":"2008","journal-title":"Opera
        widgets security model"},{"key":"15","first-page":"604","article-title":"Technological
        discontinuities and dominant designs: A cyclical model of technological change","volume":"5","author":"tushman","year":"1990","journal-title":"Administrative
        Science Quarterly"},{"key":"16","year":"0"},{"key":"13","year":"0"},{"key":"14","author":"christensen","year":"1997","journal-title":"The
        Innovator''s Dilemma When New Technologies Cause Great Firms to Fail"},{"key":"11","author":"ca?ceres","year":"2008","journal-title":"Widgets
        1 0 The Widget Landscape (Q1 2008)"},{"key":"12","year":"0"},{"key":"21","year":"0"},{"key":"20","year":"2005","journal-title":"Working
        Group Charter"},{"key":"22","year":"2009","journal-title":"Working group wiki"},{"key":"23","year":"2009","journal-title":"Working
        Group Charter"},{"key":"24","year":"0"},{"key":"25","year":"0"},{"key":"26","year":"0"},{"key":"3","doi-asserted-by":"publisher","DOI":"10.1109\/SEAA.2008.17"},{"key":"2","author":"zammetti","year":"2007","journal-title":"Practical
        JavaScript DOM Scripting and Ajax Projects"},{"key":"10","author":"ca?ceres","year":"2009","journal-title":"Widgets
        1 0 Packaging and configuration"},{"key":"1","author":"ca?ceres","year":"2008","journal-title":"Widgets
        1 0 Requirements"},{"key":"7","year":"2009","journal-title":"Dashboard Widgets"},{"key":"6","year":"2009","journal-title":"Apple
        reports second quarter results [Online] Available"},{"key":"5","year":"2009","journal-title":"Apple''s
        revolutionary app store downloads top one billion in just nine months"},{"key":"4","year":"0"},{"key":"9","author":"laokar","year":"2006","journal-title":"Mobile
        Web 2 0 The Innovator''s Guide to Developing and Marketing Next Generation
        Wireless Mobile Applications"},{"key":"8","year":"2009","journal-title":"Windows
        sidebar and gadgets"}],"event":{"name":"AFRICON 2009 (AFRICON)","location":"Nairobi,
        Kenya","start":{"date-parts":[[2009,9,23]]},"end":{"date-parts":[[2009,9,25]]}},"container-title":["AFRICON
        2009"],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx5\/5295237\/5308064\/05308146.pdf?arnumber=5308146","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,3,18]],"date-time":"2017-03-18T06:37:47Z","timestamp":1489819067000},"score":20.491625,"resource":{"primary":{"URL":"http:\/\/ieeexplore.ieee.org\/document\/5308146\/"}},"issued":{"date-parts":[[2009,9]]},"references-count":26,"URL":"http:\/\/dx.doi.org\/10.1109\/afrcon.2009.5308146","published":{"date-parts":[[2009,9]]}},{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T06:40:25Z","timestamp":1648536025460},"publisher-location":"Berkeley,
        CA","reference-count":0,"publisher":"Apress","isbn-type":[{"value":"9781484267004","type":"electronic"}],"license":[{"start":{"date-parts":[[2020,1,1]],"date-time":"2020-01-01T00:00:00Z","timestamp":1577836800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"},{"start":{"date-parts":[[2020,1,1]],"date-time":"2020-01-01T00:00:00Z","timestamp":1577836800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"published-print":{"date-parts":[[2020]]},"DOI":"10.1007\/978-1-4842-6700-4_7","type":"book-chapter","created":{"date-parts":[[2020,11,12]],"date-time":"2020-11-12T15:04:20Z","timestamp":1605193460000},"update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":0,"title":["Adding
        a Widget Intent"],"prefix":"10.1007","author":[{"given":"Stewart","family":"Lynch","sequence":"first","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2020,11,13]]},"container-title":["Introducing
        WidgetKit for iOS"],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-1-4842-6700-4_7","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,11,12]],"date-time":"2020-11-12T15:04:22Z","timestamp":1605193462000},"score":20.441883,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-1-4842-6700-4_7"}},"issued":{"date-parts":[[2020]]},"ISBN":["9781484267004"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-1-4842-6700-4_7","published":{"date-parts":[[2020]]},"assertion":[{"value":"13
        November 2020","order":1,"name":"first_online","label":"First Online","group":{"name":"ChapterHistory","label":"Chapter
        History"}}]},{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T23:04:56Z","timestamp":1648595096455},"publisher-location":"Berkeley,
        CA","reference-count":0,"publisher":"Apress","isbn-type":[{"value":"9781484267004","type":"electronic"}],"license":[{"start":{"date-parts":[[2020,1,1]],"date-time":"2020-01-01T00:00:00Z","timestamp":1577836800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"},[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAL-OJzFlB5ck9kanFXU3VTcGttSUMybk5uSkEAAAAADClKFhZ6X0R6YlNYMlQ3Q2daajFveXFtVzNnAAAAAAzDzwoWUmxIekhfRGpRLXk5dVNUN3RLRHdXUQAAAAAJEM3CFjJqaHFGMHd5UnRXbVNsVlVaaFZ2aXcAAAAADkYjtBZfQU9Lc0pfMVI4dUZDWTBHZU41OS1BAAAAAADfxZUWZWtHWEpWSVFRQkdSVTlXSDlER2NvUQ%3D%3D
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAL-OJzFlB5ck9kanFXU3VTcGttSUMybk5uSkEAAAAADClKFhZ6X0R6YlNYMlQ3Q2daajFveXFtVzNnAAAAAAzDzwoWUmxIekhfRGpRLXk5dVNUN3RLRHdXUQAAAAAJEM3CFjJqaHFGMHd5UnRXbVNsVlVaaFZ2aXcAAAAADkYjtBZfQU9Lc0pfMVI4dUZDWTBHZU41OS1BAAAAAADfxZUWZWtHWEpWSVFRQkdSVTlXSDlER2NvUQ==","total-results":360,"items":[{"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T21:38:30Z","timestamp":1649108310854},"publisher-location":"Boca
        Raton","edition-number":"1","reference-count":0,"publisher":"Chapman and Hall\/CRC","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2021,6,18]]},"DOI":"10.1201\/9781003134046-5","type":"book-chapter","created":{"date-parts":[[2021,6,18]],"date-time":"2021-06-18T12:51:07Z","timestamp":1624020667000},"page":"57-66","source":"Crossref","is-referenced-by-count":0,"title":["Your
        First Widget"],"prefix":"10.1201","author":[{"given":"John","family":"Coene","sequence":"first","affiliation":[]}],"member":"301","container-title":["Javascript
        for R"],"deposited":{"date-parts":[[2021,6,18]],"date-time":"2021-06-18T12:51:12Z","timestamp":1624020672000},"score":18.055326,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9781003134046\/chapters\/10.1201\/9781003134046-5"}},"issued":{"date-parts":[[2021,6,18]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1201\/9781003134046-5","published":{"date-parts":[[2021,6,18]]}},{"institution":[{"name":"Idaho
        National Engineering and Environmental Laboratory","acronym":["INEEL"],"place":["Idaho
        Falls, ID"]},{"name":"EG and G Idaho, Inc., Idaho Falls, ID (United States)"},{"name":"DOE;
        USDOE, Washington, DC (United States)"}],"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T05:55:42Z","timestamp":1648965342730},"reference-count":0,"publisher":"Office
        of Scientific and Technical Information (OSTI)","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.2172\/7118251","type":"report","created":{"date-parts":[[2008,2,6]],"date-time":"2008-02-06T06:57:11Z","timestamp":1202281031000},"approved":{"date-parts":[[2008,2,6]]},"source":"Crossref","is-referenced-by-count":0,"title":["Motif,
        the basics: an overview of the widget set"],"prefix":"10.2172","author":[{"given":"F.R.","family":"McClurg","sequence":"first","affiliation":[]}],"member":"960","published-online":{"date-parts":[[1992,10,1]]},"deposited":{"date-parts":[[2013,12,16]],"date-time":"2013-12-16T23:08:32Z","timestamp":1387235312000},"score":18.046745,"resource":{"primary":{"URL":"http:\/\/www.osti.gov\/servlets\/purl\/7118251-IpWepb\/"}},"issued":{"date-parts":[[1992,10,1]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2172\/7118251","published":{"date-parts":[[1992,10,1]]}},{"indexed":{"date-parts":[[2023,5,21]],"date-time":"2023-05-21T04:16:17Z","timestamp":1684642577660},"reference-count":0,"publisher":"Springer
        Science and Business Media LLC","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Nature"],"published-print":{"date-parts":[[2015,6,19]]},"DOI":"10.1038\/nature.2015.17807","type":"journal-article","created":{"date-parts":[[2015,6,19]],"date-time":"2015-06-19T16:02:29Z","timestamp":1434729749000},"source":"Crossref","is-referenced-by-count":1,"title":["Dummy
        widget test article"],"prefix":"10.1038","member":"297","container-title":["Nature"],"deposited":{"date-parts":[[2023,5,20]],"date-time":"2023-05-20T23:09:12Z","timestamp":1684624152000},"score":18.046745,"resource":{"primary":{"URL":"https:\/\/www.nature.com\/doifinder\/10.1038\/nature.2015.17807"}},"issued":{"date-parts":[[2015,6,19]]},"references-count":0,"alternative-id":["nature.2015.17807"],"URL":"http:\/\/dx.doi.org\/10.1038\/nature.2015.17807","ISSN":["1476-4687"],"issn-type":[{"value":"1476-4687","type":"electronic"}],"subject":["Multidisciplinary"],"published":{"date-parts":[[2015,6,19]]}},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T04:19:59Z","timestamp":1648959599411},"reference-count":0,"publisher":"Elsevier","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2012]]},"DOI":"10.1016\/b978-0-12-384717-1.00012-9","type":"book-chapter","created":{"date-parts":[[2012,2,27]],"date-time":"2012-02-27T17:08:12Z","timestamp":1330362492000},"page":"391-450","source[...]
[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAL-OKCFlB5ck9kanFXU3VTcGttSUMybk5uSkEAAAAADClKJBZ6X0R6YlNYMlQ3Q2daajFveXFtVzNnAAAAAAzDzxcWUmxIekhfRGpRLXk5dVNUN3RLRHdXUQAAAAAJEM3PFjJqaHFGMHd5UnRXbVNsVlVaaFZ2aXcAAAAADkYjxxZfQU9Lc0pfMVI4dUZDWTBHZU41OS1BAAAAAADfxaMWZWtHWEpWSVFRQkdSVTlXSDlER2NvUQ%3D%3D
  response:
    body:
      string: '{"sta[...]
