interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.3.0 habanero/2.4.0
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=thing
  response:
    body:
      string: '{"status":"failed","message-type":"resource-failure","message":[{"type":"cursor-invalid","value":"thing","message":"Cursor
        specified but it is invalid"}]}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 404
      message: Not Found
version: 1
