interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=%2A
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAeImYWFmFScjNDcGpYUUVPbTJ4Skp0NFpiN2cAAAAAG1Af3hZvMEJoaVdrd1RSZUtsbTRZQ0FjWS1BAAAAAB4rtsEWazdXTlZoRnVScFMtNnhxN1A4eEhEUQAAAAAYMlScFjJqaHFGMHd5UnRXbVNsVlVaaFZ2aXcAAAAAB615uBZhVVJRRXBxZ1NQS1dfbkl6bk5JZDZ3AAAAABeXRXsWQVczemV1NkdUVVNzVlFnLUVxdWowUQ==","total-results":404,"items":[{"indexed":{"date-parts":[[2024,9,6]],"date-time":"2024-09-06T02:45:48Z","timestamp":1725590748847},"publisher-location":"Berlin\/Heidelberg","reference-count":0,"publisher":"Springer-Verlag","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1007\/springerreference_66110","type":"reference-entry","created":{"date-parts":[[2011,8,29]],"date-time":"2011-08-29T12:57:47Z","timestamp":1314622667000},"source":"Crossref","is-referenced-by-count":0,"title":["Web
      Widget"],"prefix":"10.1007","member":"297","container-title":["SpringerReference"],"language":"en","deposited":{"date-parts":[[2011,8,29]],"date-time":"2011-08-29T13:12:29Z","timestamp":1314623549000},"score":20.820068,"resource":{"primary":{"URL":"http:\/\/www.springerreference.com\/index\/doi\/10.1007\/SpringerReference_66110"}},"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/springerreference_66110"},{"indexed":{"date-parts":[[2024,9,4]],"date-time":"2024-09-04T22:59:26Z","timestamp":1725490766949},"publisher-location":"Berkeley,
      CA","reference-count":0,"publisher":"Apress","isbn-type":[{"type":"print","value":"9781590598160"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1007\/978-1-4302-0197-7_9","type":"book-chapter","created":{"date-parts":[[2007,9,8]],"date-time":"2007-09-08T13:37:48Z","timestamp":1189258668000},"page":"305-349","source":"Crossref","is-referenced-by-count":0,"title":["Widget
      Mania: Using a GUI Widget Framework"],"prefix":"10.1007","member":"297","container-title":["Practical
      JavaScript\u2122, DOM Scripting, and Ajax Projects"],"language":"en","link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-1-4302-0197-7_9.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,5,1]],"date-time":"2021-05-01T00:01:45Z","timestamp":1619827305000},"score":20.578672,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-1-4302-0197-7_9"}},"issued":{"date-parts":[[null]]},"ISBN":["9781590598160"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-1-4302-0197-7_9"},{"indexed":{"date-parts":[[2024,9,12]],"date-time":"2024-09-12T01:40:48Z","timestamp":1726105248888},"publisher-location":"Berkeley,
      CA","reference-count":0,"publisher":"Apress","isbn-type":[{"type":"electronic","value":"9781484267004"}],"license":[{"start":{"date-parts":[[2020,1,1]],"date-time":"2020-01-01T00:00:00Z","timestamp":1577836800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"},{"start":{"date-parts":[[2020,1,1]],"date-time":"2020-01-01T00:00:00Z","timestamp":1577836800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"published-print":{"date-parts":[[2020]]},"DOI":"10.1007\/978-1-4842-6700-4_7","type":"book-chapter","created":{"date-parts":[[2020,11,12]],"date-time":"2020-11-12T15:04:20Z","timestamp":1605193460000},"update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":0,"title":["Adding
      a Widget Intent"],"prefix":"10.1007","author":[{"given":"Stewart","family":"Lynch","sequence":"first","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2020,11,13]]},"container-title":["Introducing
      WidgetKit for iOS"],"language":"en","link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-1-4842-6700-4_7","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,11,12]],"date-time":"2020-11-12T15:04:22Z","timestamp":1605193462000},"score":19.913614,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-1-4842-6700-4_7"}},"issued":{"date-parts":[[2020]]},"ISBN":["9781484267004"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-1-4842-6700-4_7","published":{"date-parts":[[2020]]},"assertion":[{"value":"13
      November 2020","order":1,"name":"first_online","label":"First Online","group":{"name":"ChapterHistory","label":"Chapter
      History"}}]},{"indexed":{"date-parts":[[2024,9,12]],"date-time":"2024-09-12T01:40:51Z","timestamp":1726105251800},"publisher-location":"Berkeley,
      CA","reference-count":0,"publisher":"Apress","isbn-type":[{"type":"electronic","value":"9781484267004"}],"license":[{"start":{"date-parts":[[2020,1,1]],"date-time":"2020-01-01T00:00:00Z","timestamp":1577836800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"},{"st[...]
