interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=%2A
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAKgUA_Flo0ZUxVcFdrUnZHX0U1VHJLM2wyRmcAAAAAA2hkPhZzdDctS25FTlRseXVSMmFKM2x1Z2pnAAAAABto-osWel9EemJTWDJUN0NnWmoxb3lxbVczZwAAAAAea740FjNsQ3YwX25kUnFtNjhDTVFFZmVCNHcAAAAAB615uxZhVVJRRXBxZ1NQS1dfbkl6bk5JZDZ3AAAAAAq10lIWbXNDZkMzblNRQldDelVoSm5BNXNSdw==","total-results":404,"items":[{"indexed":{"date-parts":[[2024,9,6]],"date-time":"2024-09-06T02:45:48Z","timestamp":1725590748847},"publisher-location":"Berlin\/Heidelberg","reference-count":0,"publisher":"Springer-Verlag","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1007\/springerreference_66110","type":"reference-entry","created":{"date-parts":[[2011,8,29]],"date-time":"2011-08-29T12:57:47Z","timestamp":1314622667000},"source":"Crossref","is-referenced-by-count":0,"title":["Web
      Widget"],"prefix":"10.1007","member":"297","container-title":["SpringerReference"],"language":"en","deposited":{"date-parts":[[2011,8,29]],"date-time":"2011-08-29T13:12:29Z","timestamp":1314623549000},"score":20.820068,"resource":{"primary":{"URL":"http:\/\/www.springerreference.com\/index\/doi\/10.1007\/SpringerReference_66110"}},"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/springerreference_66110"},{"indexed":{"date-parts":[[2024,9,4]],"date-time":"2024-09-04T22:59:26Z","timestamp":1725490766949},"publisher-location":"Berkeley,
      CA","reference-count":0,"publisher":"Apress","isbn-type":[{"type":"print","value":"9781590598160"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1007\/978-1-4302-0197-7_9","type":"book-chapter","created":{"date-parts":[[2007,9,8]],"date-time":"2007-09-08T13:37:48Z","timestamp":1189258668000},"page":"305-349","source":"Crossref","is-referenced-by-count":0,"title":["Widget
      Mania: Using a GUI Widget Framework"],"prefix":"10.1007","member":"297","container-title":["Practical
      JavaScript\u2122, DOM Scripting, and Ajax Projects"],"language":"en","link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-1-4302-0197-7_9.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,5,1]],"date-time":"2021-05-01T00:01:45Z","timestamp":1619827305000},"score":20.617975,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-1-4302-0197-7_9"}},"issued":{"date-parts":[[null]]},"ISBN":["9781590598160"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-1-4302-0197-7_9"},{"indexed":{"date-parts":[[2024,9,12]],"date-time":"2024-09-12T01:40:51Z","timestamp":1726105251800},"publisher-location":"Berkeley,
      CA","reference-count":0,"publisher":"Apress","isbn-type":[{"type":"electronic","value":"9781484267004"}],"license":[{"start":{"date-parts":[[2020,1,1]],"date-time":"2020-01-01T00:00:00Z","timestamp":1577836800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"},{"start":{"date-parts":[[2020,1,1]],"date-time":"2020-01-01T00:00:00Z","timestamp":1577836800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"published-print":{"date-parts":[[2020]]},"DOI":"10.1007\/978-1-4842-6700-4_5","type":"book-chapter","created":{"date-parts":[[2020,11,12]],"date-time":"2020-11-12T10:04:20Z","timestamp":1605175460000},"update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":0,"title":["Adding
      Additional Widget Sizes"],"prefix":"10.1007","author":[{"given":"Stewart","family":"Lynch","sequence":"first","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2020,11,13]]},"container-title":["Introducing
      WidgetKit for iOS"],"language":"en","link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-1-4842-6700-4_5","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,11,12]],"date-time":"2020-11-12T10:04:26Z","timestamp":1605175466000},"score":19.880604,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-1-4842-6700-4_5"}},"issued":{"date-parts":[[2020]]},"ISBN":["9781484267004"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-1-4842-6700-4_5","published":{"date-parts":[[2020]]},"assertion":[{"value":"13
      November 2020","order":1,"name":"first_online","label":"First Online","group":{"name":"ChapterHistory","label":"Chapter
      History"}}]},{"indexed":{"date-parts":[[2024,9,12]],"date-time":"2024-09-12T01:40:48Z","timestamp":1726105248888},"publisher-location":"Berkeley,
      CA","reference-count":0,"publisher":"Apress","isbn-type":[{"type":"electronic","value":"9781484267004"}],"license":[{"start":{"date-parts":[[2020,1,1]],"date-time":"2020-01-01T00:00:00Z","timestamp":1577836800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"},{"st[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAKgUA_Flo0ZUxVcFdrUnZHX0U1VHJLM2wyRmcAAAAAA2hkPhZzdDctS25FTlRseXVSMmFKM2x1Z2pnAAAAABto-osWel9EemJTWDJUN0NnWmoxb3lxbVczZwAAAAAea740FjNsQ3YwX25kUnFtNjhDTVFFZmVCNHcAAAAAB615uxZhVVJRRXBxZ1NQS1dfbkl6bk5JZDZ3AAAAAAq10lIWbXNDZkMzblNRQldDelVoSm5BNXNSdw%3D%3D
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAKgUA_Flo0ZUxVcFdrUnZHX0U1VHJLM2wyRmcAAAAAA2hkPhZzdDctS25FTlRseXVSMmFKM2x1Z2pnAAAAABto-osWel9EemJTWDJUN0NnWmoxb3lxbVczZwAAAAAea740FjNsQ3YwX25kUnFtNjhDTVFFZmVCNHcAAAAAB615uxZhVVJRRXBxZ1NQS1dfbkl6bk5JZDZ3AAAAAAq10lIWbXNDZkMzblNRQldDelVoSm5BNXNSdw==","total-results":404,"items":[{"institution":[{"name":"Comprehensive
      R Archive Network","acronym":["CRAN"]}],"indexed":{"date-parts":[[2024,6,13]],"date-time":"2024-06-13T00:31:29Z","timestamp":1718238689222},"description":"Provides
      a nested menu widget for usage in ''Shiny'' applications. This is useful for
      hierarchical choices (e.g. continent, country, city).","reference-count":0,"publisher":"The
      R Foundation","content-domain":{"domain":[],"crossmark-restriction":false},"content-updated":{"date-parts":[[2022,9,16]]},"published-print":{"date-parts":[[2022,8,14]]},"DOI":"10.32614\/cran.package.nestedmenu","type":"dataset","created":{"date-parts":[[2024,6,12]],"date-time":"2024-06-12T07:32:03Z","timestamp":1718177523000},"source":"Crossref","is-referenced-by-count":0,"title":["NestedMenu:
      A Nested Menu Widget for ''Shiny'' Applications"],"prefix":"10.32614","author":[{"given":"St\u00e9phane","family":"Laurent","sequence":"first","affiliation":[]}],"member":"17266","content-created":{"date-parts":[[2022,8,14]]},"container-title":["CRAN:
      Contributed Packages"],"deposited":{"date-parts":[[2024,6,12]],"date-time":"2024-06-12T08:27:06Z","timestamp":1718180826000},"score":17.605585,"resource":{"primary":{"URL":"https:\/\/CRAN.R-project.org\/package=NestedMenu"}},"issued":{"date-parts":[[2022,8,14]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.32614\/cran.package.nestedmenu","published":{"date-parts":[[2022,8,14]]}},{"indexed":{"date-parts":[[2024,4,28]],"date-time"[...]
[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAKgUBUFlo0ZUxVcFdrUnZHX0U1VHJLM2wyRmcAAAAAG1Af_RZvMEJoaVdrd1RSZUtsbTRZQ0FjWS1BAAAAAB4rtuEWazdXTlZoRnVScFMtNnhxN1A4eEhEUQAAAAAYMlSyFjJqaHFGMHd5UnRXbVNsVlVaaFZ2aXcAAAAAB615zhZhVVJRRXBxZ1NQS1dfbkl6bk5JZDZ3AAAAABeXRZgWQVczemV1NkdUVVNzVlFnLUVxdWowUQ%3D%3D
  response:
    content: '{"status":"ok","me[...]
