interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://doi.org/10.1139/cjc-2022-0282
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.1139%2Fcjc-2022-0282/transform">https://api.crossref.org/v1/works/10.1139%2Fcjc-2022-0282/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.1139%2Fcjc-2022-0282/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/v1/works/10.1139%2Fcjc-2022-0282/transform
  response:
    body:
      string: " @article{Zupan_2023, title={Grid-based state space exploration for
        molecular binding}, volume={101}, ISSN={1480-3291}, url={http://dx.doi.org/10.1139/cjc-2022-0282},
        DOI={10.1139/cjc-2022-0282}, number={9}, journal={Canadian Journal of Chemistry},
        publisher={Canadian Science Publishing}, author={Zupan, Hana and Heinz, Frederick
        and Keller, Bettina G.}, year={2023}, month=sep, pages={710\u2013724} }\n"
    headers:
      content-type:
      - application/x-bibtex
      link:
      - <http://dx.doi.org/10.1139/cjc-2022-0282>; rel="canonical", <https://cdnsciencepub.com/doi/full-xml/10.1139/cjc-2022-0282>;
        version="vor"; type="application/xml"; rel="item", <https://cdnsciencepub.com/doi/pdf/10.1139/cjc-2022-0282>;
        version="vor"; rel="item", <http://www.nrcresearchpress.com/page/about/CorporateTextAndDataMining>;
        version="tdm"; rel="license", <http://orcid.org/0000-0002-5501-3883>; title="Hana
        Zupan"; rel="author"
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
