interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: http://api.crossref.org/works/10.1126/science.169.3946.635/transform/application/vnd.citationstyles.csl+json
  response:
    body:
      string: '{"indexed":{"date-parts":[[2024,1,12]],"date-time":"2024-01-12T03:10:26Z","timestamp":1705029026576},"reference-count":76,"publisher":"American
        Association for the Advancement of Science (AAAS)","issue":"3946","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1970,8,14]]},"abstract":"<jats:p>The
        train of thought pursued in this article has led to the conclusion that the
        structure of cold water seems likely to consist, for the most part, of hydrogen-bonded,
        four-coordinated, framework regions, with interstitial monomers occupying
        some fraction of the cavities the framework encloses. The precise geometry
        of the framework has not been specified, but some evidence suggests that it
        is rather regular at low temperatures and becomes more random as the water
        gets warmer. These conclusions, meager as they are in comparison with what
        we shall eventually need to know about water, are still \"subject to change
        without notice.\" Such a change would, for instance, be made necessary by
        the discrediting either of the data or of the interpretations on which the
        model is based. The discovery of new facts, or of new meanings in old facts,
        which were clearly in conflict with the model, would also make it necessary
        to modify, if not to abandon, it. Even this would be progress, however, for
        it would be another product of the method of drawing upon data from diverse
        sources and would be a further step toward the progressively more comprehensive
        model to which this method will lead and the progressively greater confidence
        we will be able to place in our conclusions.<\/jats:p>","DOI":"10.1126\/science.169.3946.635","type":"journal-article","created":{"date-parts":[[2006,10,5]],"date-time":"2006-10-05T12:56:56Z","timestamp":1160053016000},"page":"635-641","source":"Crossref","is-referenced-by-count":87,"title":"The
        Structure of Ordinary Water","prefix":"10.1126","volume":"169","author":[{"given":"Henry
        S.","family":"Frank","sequence":"first","affiliation":[{"name":"University
        of Pittsburgh, Mellon Institute of Carnegie-Mellon University"}]}],"member":"221","reference":[{"key":"e_1_2_1_1_1","unstructured":"Waller
        R. Essayes of Natural Experiments (1964)."},{"key":"e_1_2_1_2_1","first-page":"2020","volume":"5","year":"1670","unstructured":"PHILOSOPHICAL
        TRANSACTIONS 5: 2020 (1670).","journal-title":"PHILOSOPHICAL TRANSACTIONS"},{"key":"e_1_2_1_3_1","first-page":"105","year":"1967","unstructured":"Arnett,
        E. M., Physico-Chemical Processes in Mixed Aqueous Solvents: 105 (1967).","journal-title":"Physico-Chemical
        Processes in Mixed Aqueous Solvents"},{"key":"e_1_2_1_4_1","unstructured":"Ben-Naim
        A. Water and Aqueous Solutions: Structure Thermodynamics and Transport Processes
        (1970)."},{"key":"e_1_2_1_5_1","doi-asserted-by":"crossref","first-page":"515","DOI":"10.1063\/1.1749327","volume":"1","year":"1933","unstructured":"BERNAL,
        J.D., A theory of water and ionic solution, with particular reference to hydrogen
        and hydroxyl ions, JOURNAL OF CHEMICAL PHYSICS 1: 515 (1933).","journal-title":"JOURNAL
        OF CHEMICAL PHYSICS"},{"key":"e_1_2_1_6_1","first-page":"299","volume":"280","year":"1964","unstructured":"BERNAL,
        J.D., BAKERIAN LECTURE 1962 - STRUCTURE OF LIQUIDS, PROCEEDINGS OF THE ROYA[...]
