interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/works?cursor=thing&query=widget
  response:
    body: {string: !!python/unicode '{"status":"error","message-type":"exception","message-version":"1.0.0","message":{"name":"class
        org.apache.solr.client.solrj.impl.HttpSolrClient$RemoteSolrException","description":"org.apache.solr.client.solrj.impl.HttpSolrClient$RemoteSolrException:
        Error from server at http:\/\/mds9:8983\/solr\/crmds1: Unable to parse ''cursorMark''
        after totem: value must either be ''*'' or the ''nextCursorMark'' returned
        by a previous search: thing","message":"Error from server at http:\/\/mds9:8983\/solr\/crmds1:
        Unable to parse ''cursorMark'' after totem: value must either be ''*'' or
        the ''nextCursorMark'' returned by a previous search: thing","cause":null}}'}
    headers:
      exception-name: [class org.apache.solr.client.solrj.impl.HttpSolrClient$RemoteSolrException]
      x-rate-limit-interval: [1s]
      x-rate-limit-limit: ['10']
    status: {code: 500, message: Internal Server Error}
version: 1
