interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=%2A
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ2ppnIqt8CPwZodHRwOi8vZHguZG9pLm9yZy8xMC4xMDQ5L21lOjIwMDMwNTAx","total-results":249,"items":[{"indexed":{"date-parts":[[2017,10,23]],"date-time":"2017-10-23T17:16:05Z","timestamp":1508778965599},"reference-count":19,"publisher":"Elsevier
        BV","issue":"4","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1995,7,1]],"date-time":"1995-07-01T00:00:00Z","timestamp":804556800000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Computers
        & Graphics"],"published-print":{"date-parts":[[1995,7]]},"DOI":"10.1016\/0097-8493(95)00035-b","type":"journal-article","created":{"date-parts":[[2002,7,25]],"date-time":"2002-07-25T14:55:29Z","timestamp":1027608929000},"page":"575-583","source":"Crossref","is-referenced-by-count":0,"title":["Object-oriented
        implementation of the OSF\/MotifTM widget set in Eiffel"],"prefix":"10.1016","volume":"19","author":[{"given":"Fergal","family":"Somers","affiliation":[]},{"given":"Ghee
        S.","family":"Teo","affiliation":[]},{"given":"Francis","family":"Neelamkavil","affiliation":[]}],"member":"78","container-title":["Computers
        & Graphics"],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:009784939500035B?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:009784939500035B?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,6,14]],"date-time":"2017-06-14T21:36:56Z","timestamp":1497476216000},"score":11.994173,"issued":{"date-parts":[[1995,7]]},"references-count":19,"alternative-id":["009784939500035B"],"URL":"http:\/\/dx.doi.org\/10.1016\/0097-8493(95)00035-b","ISSN":["0097-8493"],"issn-type":[{"value":"0097-8493","type":"print"}],"subject":["General
        Engineering","Human-Computer Interaction","Computer Graphics and Computer-Aided
        Design"]},{"indexed":{"date-parts":[[2017,10,24]],"date-time":"2017-10-24T04:27:37Z","timestamp":1508819257196},"reference-count":0,"publisher":"IEEE
        Comput. Soc. Press","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1109\/hicss.1991.183968","type":"proceedings-article","created":{"date-parts":[[2002,12,9]],"date-time":"2002-12-09T23:40:41Z","timestamp":1039477241000},"source":"Crossref","is-referenced-by-count":0,"title":["Validation
        of Motif graphical user interface widget set"],"prefix":"10.1109","author":[{"given":"A.","family":"Birjandi","affiliation":[]},{"given":"S.","family":"Sydorowicz","affiliation":[]}],"member":"263","event":{"name":"Twenty-Fourth
        Annual Hawaii International Conference on System Sciences","location":"Kauai,
        HI, USA"},"container-title":["Proceedings of the Twenty-Fourth Annual Hawaii
        International Conference on System Sciences"],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx2\/882\/4722\/00183968.pdf?arnumber=183968","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,3,9]],"date-time":"2017-03-09T02:31:32Z","timestamp":1489026692000},"score":13.90302,"issued":{"date-parts":[[null]]},"refe[...]
