interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=thing
  response:
    body: {string: '{"status":"error","message-type":"exception","message-version":"1.0.0","message":{"name":"class
        org.apache.solr.client.solrj.impl.HttpSolrClient$RemoteSolrException","description":"org.apache.solr.client.solrj.impl.HttpSolrClient$RemoteSolrException:
        Error from server at http:\/\/mds3:8984\/solr\/crmds1: Unable to parse ''cursorMark''
        after totem: value must either be ''*'' or the ''nextCursorMark'' returned
        by a previous search: thing","message":"Error from server at http:\/\/mds3:8984\/solr\/crmds1:
        Unable to parse ''cursorMark'' after totem: value must either be ''*'' or
        the ''nextCursorMark'' returned by a previous search: thing","stack":["org.apache.solr.client.solrj.impl.HttpSolrClient.executeMethod(HttpSolrClient.java:610)","org.apache.solr.client.solrj.impl.HttpSolrClient.request(HttpSolrClient.java:279)","org.apache.solr.client.solrj.impl.HttpSolrClient.request(HttpSolrClient.java:268)","org.apache.solr.client.solrj.SolrRequest.process(SolrRequest.java:149)","org.apache.solr.client.solrj.SolrClient.query(SolrClient.java:974)","org.apache.solr.client.solrj.SolrClient.query(SolrClient.java:990)","sun.reflect.GeneratedMethodAc[...]
