interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/works?cursor=%2A&query=widget
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoE\/D2h0dHA6Ly9keC5kb2kub3JnLzEwLjEwMDcvOTc4LTEtNDQ3MS0zMjM2LTNfMTg=","total-results":241,"items":[{"indexed":{"date-parts":[[2017,5,29]],"date-time":"2017-05-29T06:46:57Z","timestamp":1496040417597},"reference-count":0,"publisher":"American
        Medical Association (AMA)","issue":"7","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["JAMA
        Surg"],"published-print":{"date-parts":[[2014,7,1]]},"DOI":"10.1001\/jamasurg.2013.5710","type":"journal-article","created":{"date-parts":[[2014,5,21]],"date-time":"2014-05-21T22:31:01Z","timestamp":1400711461000},"page":"686","source":"Crossref","is-referenced-by-count":0,"title":["Assessing
        the Value of Surgical Robotics"],"prefix":"10.1001","volume":"149","author":[{"given":"David
        D.","family":"Yuh","affiliation":[{"name":"Section of Cardiac Surgery, Yale
        University School of Medicine, New Haven, Connecticut"}]}],"member":"10","container-title":["JAMA
        Surgery"],"original-title":[],"deposited":{"date-parts":[[2016,12,15]],"date-time":"2016-12-15T16:56:20Z","timestamp":1481820980000},"score":13.870637,"subtitle":["Not
        Your Grandfather\u2019s Widget"],"short-title":[],"issued":{"date-parts":[[2014,7,1]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1001\/jamasurg.2013.5710","relation":{},"ISSN":["2168-6254"],"issn-type":[{"value":"2168-6254","type":"print"}]},{"indexed":{"date-parts":[[2017,5,27]],"date-time":"2017-05-27T07:50:57Z","timestamp":1495871457281},"publisher-location":"Hoboken,
        NJ, USA","reference-count":0,"publisher":"John Wiley & Sons, Inc.","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1002\/9781118386842.app1","type":"book-chapter","created":{"date-parts":[[2012,3,9]],"date-time":"2012-03-09T16:09:07Z","timestamp":1331309347000},"page":"223-232","source":"Crossref","is-referenced-by-count":0,"title":["Appendix
        A: Suggested Solutions to Widget Manufacturing Company Case-Parts I, II, and
        III"],"prefix":"10.1002","member":"311","published-online":{"date-parts":[[2012,3,9]]},"container-title":["Essentials
        of Working Capital Management"],"original-title":[],"deposited":{"date-parts":[[2012,3,9]],"date-time":"2012-03-09T16:10:23Z","timestamp":1331309423000},"score":13.870637,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2012,3,9]]},"ISBN":["9781118386842","9780470879986"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1002\/9781118386842.app1","relation":{}},{"indexed":{"date-parts":[[2017,5,27]],"date-time":"2017-05-27T09:00:32Z","timestamp":1495875632396},"reference-count":9,"publisher":"Wiley-Blackwell","issue":"3","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":14975,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[1974,9]]},"DOI":"10.1002\/j.2161-1920.1974.tb01150.x","type":"journal-article","created":{"date-parts":[[2012,2,16]],"date-time":"2012-02-16T15:41:41Z","timestamp":1329406901000},"page":"101-106","source":"Crossref","is-referenced-by-count":1,"title":["The
        Widget Syndrome"],"prefix":"10.1002","volume":"11","author":[{"given":"DAVID
        P.","family":"MEYER","affiliation":[]}],"member":"311","published-online":{"date-parts":[[2012,2,16]]},"reference":[{"key":"10.1002\/j.2161-1920.1974.tb01150.x-BIB1|cit1","author":"Haber","year":"1964","volume-title":"The
        role of the United States Employment Service in a changing economy"},{"key":"10.1002\/j.2161-1920.1974.tb01150.x-BIB2|cit2","author":"Johnson","year":"1973","volume-title":"Counterpoint,
        The changing employment service"},{"key":"10.1002\/j.2161-1920.1974.tb01150.x-BIB3|cit3","author":"Lester","year":"1966","volume-title":"Manpower
        planning in a free society"},{"key":"10.1002\/j.2161-1920.1974.tb01150.x-BIB4|cit4","unstructured":"Leung
        , P. The Influence of the Concept of a Capricious Universe on a Primitive
        Society Unpublished manuscript, Arizona State University 1967"},{"key":"10.1002\/j.2161-1920.1974.tb01150.x-BIB5|cit5","author":"National
        Association for the Advancement of Colored People, Western Region vs. Peter
        J. Brennan","year":"1973","volume-title":"United States Department of Labor,
        Declaratory Judgment and Injunction, May 31"},{"key":"10.1002\/j.2161-1920.1974.tb01150.x-BIB6|cit6","unstructured":"United
        States Department of Labor, Manpower Administration, Training Employment Service
        Program Letter 2821. Actions to be Taken by the State Employment Security
        Agencies to Comply with Court Order, etc 1973"},{"key":"10.1002\/j.2161-1920.1974.tb01150.x-BIB7|cit7","unstructured":"United
        States Department of Labor, Manpower Administration USES Manual, Part II 1954"},{"key":"10.1002\/j.2161-1920.1974.tb01150.x-BIB8|cit8","year":"1972","volume-title":"United
        States Department of Labor"},{"key":"10.1002\/j.2161-1920.1974.tb01150.x-BIB9|cit9","year":"1973","volume-title":"Work
        in America, Report of special task force to the secretary of HEW"}],"container-title":["Journal
        of Employment Counseling"],"original-title":[],"link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1002%2Fj.2161-1920.1974.tb01150.x","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,4,10]],"date-time":"2017-04-10T21:57:01Z","timestamp":1491861421000},"score":15.358873,"subtitle":[],"short-title":[],"issued":{"date-parts":[[1974,9]]},"references-count":9,"URL":"http:\/\/dx.doi.org\/10.1002\/j.2161-1920.1974.tb01150.x","relation":{"cites":[]},"ISSN":["0022-0787"],"issn-type":[{"value":"0022-0787","type":"print"}],"subject":["Applied
        Psychology","Organizational Behavior and Human Resource Management","Psychology(all)"]},{"indexed":{"date-parts":[[2017,6,22]],"date-time":"2017-06-22T09:06:38Z","timestamp":1498122398794},"reference-count":54,"publisher":"Wiley-Blackwell","issue":"2","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":2361,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Exp. Zool."],"published-print":{"date-parts":[[2009,3,15]]},"DOI":"10.1002\/jez.b.21253","type":"journal-article","created":{"date-parts":[[2008,12,9]],"date-time":"2008-12-09T22:28:38Z","timestamp":1228861718000},"page":"136-147","source":"Crossref","is-referenced-by-count":26,"title":["Snail
        phenotypic variation and stress proteins: do different heat response strategies
        contribute to Waddington''s widget in field populations?"],"prefix":"10.1002","volume":"312B","author":[{"given":"Heinz-R.","family":"K\u00f6hler","affiliation":[]},{"given":"Raimondo","family":"Lazzara","affiliation":[]},{"given":"Nils","family":"Dittbrenner","affiliation":[]},{"given":"Yvan","family":"Capowiez","affiliation":[]},{"given":"Christophe","family":"Mazzia","affiliation":[]},{"given":"Rita","family":"Triebskorn","affiliation":[]}],"member":"311","reference":[{"key":"10.1002\/jez.b.21253-BIB1","first-page":"515","article-title":"Ontogeny
        of resistance to desiccation in the bush-dwelling snail Theba pisana (Helicidae)","volume":"244","author":"Arad","year":"1998","journal-title":"J
        Zool"},{"key":"10.1002\/jez.b.21253-BIB2","first-page":"739","article-title":"Stress
        proteins (hsp70, hsp60) induced in isopods and nematodes by field exposure
        to metals in a gradient near Avonmouth, UK","volume":"13","author":"Arts","year":"2004","journal-title":"Ecotoxicology"},{"key":"10.1002\/jez.b.21253-BIB3","first-page":"549","article-title":"Evolutionary
        capacitance as a general feature of complex gene networks","volume":"424","author":"Bergman","year":[...]
