interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/works?query=widget&cursor=%2A
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ0l+bf6uICPwRodHRwOi8vZHguZG9pLm9yZy8xMC4xMTIxLzEuNDk2OTYyOQ==","total-results":251,"items":[{"indexed":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T21:59:33Z","timestamp":1523656773963},"reference-count":3,"publisher":"SAGE
        Publications","issue":"1","license":[{"URL":"http:\/\/journals.sagepub.com\/page\/policies\/text-and-data-mining-license","start":{"date-parts":[[2014,6,1]],"date-time":"2014-06-01T00:00:00Z","timestamp":1401580800000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":["journals.sagepub.com"],"crossmark-restriction":true},"short-container-title":["Proceedings
        of the International Symposium on Human Factors and Ergonomics in Health Care"],"published-print":{"date-parts":[[2014,6]]},"DOI":"10.1177\/2327857914031030","type":"journal-article","created":{"date-parts":[[2014,7,22]],"date-time":"2014-07-22T16:37:42Z","timestamp":1406047062000},"page":"186-190","update-policy":"http:\/\/dx.doi.org\/10.1177\/sage-journals-update-policy","source":"Crossref","is-referenced-by-count":0,"title":["Web
        Application Dashboards"],"prefix":"10.1177","volume":"3","author":[{"given":"Todd
        C.","family":"Hughes","sequence":"first","affiliation":[{"name":"Next Century
        Corporation, 7075 Samuel Morse Drive, Columbia, MD"}]},{"given":"Tina","family":"Coleman","sequence":"additional","affiliation":[{"name":"Next
        Century Corporation, 7075 Samuel Morse Drive, Columbia, MD"}]},{"given":"David","family":"Benjamin
        Hellar","sequence":"additional","affiliation":[{"name":"Next Century Corporation"}]},{"given":"Laurian
        C.","family":"Vega","sequence":"additional","affiliation":[{"name":"Next Century
        Corporation"}]},{"given":"Emily S.","family":"Patterson","sequence":"additional","affiliation":[{"name":"School
        of Health and Rehabilitation Sciences, College of Medicine, Ohio State University,
        Columbus, OH"}]}],"member":"179","published-online":{"date-parts":[[2014,7,22]]},"reference":[{"key":"bibr1-2327857914031030","author":"Hall
        D. L.","year":"2009","volume-title":"12th International Conference on Information
        Fusion"},{"key":"bibr12-2327857914031030","unstructured":"Coast Guard WatchKeeper:
        \u2018House panel probes gaps in maritime data sharing\u2019, by Adam Mazmanian,
        FCW, July 2013"},{"key":"bibr14-2327857914031030","DOI":"10.1177\/154193120404801505","doi-asserted-by":"publisher"}],"container-title":["Proceedings
        of the International Symposium on Human Factors and Ergonomics in Health Care"],"language":"en","link":[{"URL":"http:\/\/journals.sagepub.com\/doi\/pdf\/10.1177\/2327857914031030","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/journals.sagepub.com\/doi\/pdf\/10.1177\/2327857914031030","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,12,15]],"date-time":"2017-12-15T22:36:04Z","timestamp":1513377364000},"score":7.9754186,"subtitle":["From
        Intelligence Analysis to Health Care Applying the Open-Source OZONE Widget
        Framework to Health IT"],"issued":{"date-parts":[[2014,6]]},"references-count":3,"journal-issue":{"published-online":{"date-parts":[[2014,7,22]]},"published-print":{"date-parts":[[2014,6]]},"issue":"1"},"alternative-id":["10.1177\/2327857914031030"],"URL":"http:\/\/dx.doi.org\/10.1177\/2327857914031030","relation":{"cites":[]},"ISSN":["2327-8595","2327-8595"],"issn-type":[{"value":"2327-8595","type":"print"},{"value":"2327-8595","type":"electronic"}]},{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:21:39Z","timestamp":1523676099712},"publisher-location":"Cham","reference-count":0,"publisher":"Springer
        International Publishing","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014]]},"DOI":"10.1007\/978-3-319-08245-5_38","type":"book-chapter","created":{"date-parts":[[2014,9,17]],"date-time":"2014-09-17T16:29:28Z","timestamp":1410971368000},"page":"507-510","source":"Crossref","is-referenced-by-count":0,"title":["DireWolf
        Goes Pack Hunting: A Peer-to-Peer Approach for Secure Low Latency Widget Distribution
        Using WebRTC"],"prefix":"10.1007","author":[{"given":"Istv\u00e1n","family":"Koren","sequence":"first","affiliation":[]},{"given":"Jens","family":"Bavendiek","sequence":"additional","affiliation":[]},{"given":"Ralf","family":"Klamma","sequence":"additional","affiliation":[]}],"member":"297","container-title":["Lecture
        Notes in Computer Science","Web Engineering"],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-319-08245-5_38","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2014,9,17]],"date-time":"2014-09-17T16:30:21Z","timestamp":1410971421000},"score":11.773849,"issued":{"date-parts":[[2014]]},"ISBN":["9783319082448","9783319082455"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-3-319-08245-5_38","ISSN":["0302-9743","1611-3349"],"issn-type":[{"value":"0302-9743","type":"print"},{"value":"1611-3349","type":"electronic"}]},{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T06:00:46Z","timestamp":1523685646744},"reference-count":0,"publisher":"Korea
        Multimedia Society","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Korea Multimedia Society"],"published-print":{"date-parts":[[2011,2,28]]},"DOI":"10.9717\/kmms.2011.14.2.153","type":"journal-article","created":{"date-parts":[[2014,10,13]],"date-time":"2014-10-13T05:41:11Z","timestamp":1413178871000},"page":"153-170","source":"Crossref","is-referenced-by-count":0,"title":["An
        Effective Employment and Execution Performance Improvement Method of Mobile
        Web Widget Resources Based on the OMTP BONDI"],"prefix":"10.9717","volume":"14","author":[{"given":"Ji-Woong","family":"Bang","sequence":"first","affiliation":[]},{"given":"Dae-Won","family":"Kim","sequence":"additional","affiliation":[]}],"member":"4660","container-title":["Journal
        of Korea Multimedia Society"],"original-title":["OMTP BONDI \uae30\ubc18 \ubaa8\ubc14\uc77c
        \uc6f9 \uc704\uc82f \ub9ac\uc18c\uc2a4\uc758 \ud6a8\uc728\uc801 \uc6b4\uc6a9
        \ubc0f \uad6c\ub3d9 \uc131\ub2a5 \uac1c\uc120 \uae30\ubc95 \uc5f0\uad6c"],"language":"en","link":[{"URL":"http:\/\/ocean.kisti.re.kr\/downfile\/crosscheck\/kmtd\/JAKO201118565336804.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,10,20]],"date-time":"2016-10-20T08:41:58Z"[...]
