interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=has-assertion%3Atrue
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":40019,"items":[{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:15:44Z","timestamp":1523675744686},"reference-count":45,"publisher":"Elsevier
        BV","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2014,12,1]],"date-time":"2014-12-01T00:00:00Z","timestamp":1417392000000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["CMMI-1029922"]},{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"publisher","award":["51128801"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Engineering
        Structures"],"published-print":{"date-parts":[[2014,12]]},"DOI":"10.1016\/j.engstruct.2014.08.041","type":"journal-article","created":{"date-parts":[[2014,9,16]],"date-time":"2014-09-16T19:42:41Z","timestamp":1410896561000},"page":"75-88","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":19,"title":["Assessment
        of methods for extreme value analysis of non-Gaussian wind effects with short-term
        time history samples"],"prefix":"10.1016","volume":"80","author":[{"given":"Jie","family":"Ding","sequence":"first","affiliation":[]},{"given":"Xinzhong","family":"Chen","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Engineering
        Structures"],"language":"en","link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0141029614005124?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0141029614005124?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,6,22]],"date-time":"2017-06-22T20:32:15Z","timestamp":1498163535000},"score":1.0,"issued":{"date-parts":[[2014,12]]},"references-count":45,"alternative-id":["S0141029614005124"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.engstruct.2014.08.041","ISSN":["0141-0296"],"issn-type":[{"value":"0141-0296","type":"print"}],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"Assessment of methods for extreme value
        analysis of non-Gaussian wind effects with short-term time history samples","name":"articletitle","label":"Article
        Title"},{"value":"Engineering Structures","name":"journaltitle","label":"Journal
        Title"},{"value":"http:\/\/dx.doi.org\/10.1016\/j.engstruct.2014.08.041","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name":"content_type","label":"Content
        Type"},{"value":"Copyright \u00a9 2014 Elsevier Ltd. All rights reserved.","name":"copyright","label":"Copyright"}]},{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:25:39Z","timestamp":1523676339899},"reference-count":22,"publisher":"Royal
        Society of Chemistry (RSC)","issue":"89","funder":[{"DOI":"10.13039\/100000146","name":"Division
        of Chemical, Bioengineering, Environmental, and Transport Systems","doi-asserted-by":"publisher","award":["CBET1263774"]}],"content-domain":{"domain":["rsc.org"],"crossmark-restriction":true},"short-container-title":["Chem.
        Commun."],"DOI":"10.1039\/c4cc07118b","type":"journal-article","created":{"date-parts":[[2014,9,18]],"date-time":"2014-09-18T08:00:51Z","timestamp":1411027251000},"page":"13735-13738","update-policy":"http:\/\/dx.doi.org\/10.1039\/rsc_crossmark_policy","source":"Crossref","is-referenced-by-count":13,"title":["Halo-tag
        mediated self-labeling of fluorescent proteins to molecular beacons for nucleic
        acid detection"],"prefix":"10.1039","volume":"50","author":[{"given":"Daniel","family":"Blackstock","sequence":"first","affiliation":[]},{"given":"Wilfred","family":"Chen","sequence":"additional","affiliation":[]}],"member":"292","published-online":{"date-parts":[[2014,9,18]]},"reference":[{"key":"C4CC07118B-(cit1)\/*[position()=1]","author":"Pollok","volume":"9","first-page":"57","year":"1999","journal-title":"Trends
        Cell Biol.","DOI":"10.1016\/S0962-8924(98)01434-2","doi-asserted-by":"crossref"},{"key":"C4CC07118B-(cit2)\/*[position()=1]","author":"Ni","volume":"40","first-page":"279","year":"2006","journal-title":"Methods","DOI":"10.1016\/j.ymeth.2006.06.013","doi-asserted-by":"crossref"},{"key":"C4CC07118B-(cit3)\/*[position()=1]","author":"Truong","volume":"8","first-page":"1069","year":"2001","journal-title":"Nat.
        Struct. Biol.","DOI":"10.1038\/nsb728","doi-asserted-by":"crossref[...]
