interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/funders?rows=2
  response:
    body: {string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":null},"total-results":17549,"items":[{"id":"100002569","location":"United
        States","name":"American Association of Endodontists Foundation","alt-names":["AAE
        Foundation for Endodontics","AAE Foundation","Foundation for Endodontics","AAEF"],"uri":"http:\/\/dx.doi.org\/10.13039\/100002569","replaces":[],"replaced-by":[],"tokens":["american","association","of","endodontists","foundation","aae","foundation","for","endodontics","aae","foundation","foundation","for","endodontics","aaef"]},{"id":"501100009402","location":"Ethiopia","name":"Mekelle
        University","alt-names":["MU"],"uri":"http:\/\/dx.doi.org\/10.13039\/501100009402","replaces":[],"replaced-by":[],"tokens":["mekelle","university","mu"]}]}}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 200, message: OK}
version: 1
