interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.5.0.2]
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=has-assertion%3Atrue
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":32903,"items":[{"indexed":{"date-parts":[[2017,8,9]],"date-time":"2017-08-09T21:14:27Z","timestamp":1502313267245},"reference-count":69,"publisher":"Elsevier
        BV","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2015,10,1]],"date-time":"2015-10-01T00:00:00Z","timestamp":1443657600000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"crossref","award":["CHE-1111496"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Journal
        of Organometallic Chemistry"],"published-print":{"date-parts":[[2015,10]]},"DOI":"10.1016\/j.jorganchem.2015.03.024","type":"journal-article","created":{"date-parts":[[2015,4,16]],"date-time":"2015-04-16T00:39:00Z","timestamp":1429144740000},"page":"2-10","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":7,"title":["Phenyl\u2013gold
        complexes of Ru6 and Ru5 carbonyl clusters"],"prefix":"10.1016","volume":"795","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-2596-5100","authenticated-orcid":false,"given":"Richard
        D.","family":"Adams","affiliation":[]},{"given":"Jonathan","family":"Tedder","affiliation":[]},{"given":"Yuen
        Onn","family":"Wong","affiliation":[]}],"member":"78","container-title":["Journal
        of Organometallic Chemistry"],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0022328X15001837?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0022328X15001837?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,6,23]],"date-time":"2017-06-23T09:30:07Z","timestamp":1498210207000},"score":1.0,"issued":{"date-parts":[[2015,10]]},"references-count":69,"alternative-id":["S0022328X15001837"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.jorganchem.2015.03.024","ISSN":["0022-328X"],"issn-type":[{"value":"0022-328X","type":"print"}],"subject":["Physical
        and Theoretical Chemistry","Inorganic Chemistry","Organic Chemistry","Materials
        Chemistry","Biochemistry"],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"Phenyl\u2013gold complexes of Ru6 and
        Ru5 carbonyl clusters","name":"articletitle","label":"Article Title"},{"value":"Journal
        of Organometallic Chemistry","name":"journaltitle","label":"Journal Title"},{"value":"http:\/\/dx.doi.org\/10.1016\/j.jorganchem.2015.03.024","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name":"content_type","label":"Content
        Type"},{"value":"Copyright \u00a9 2015 Elsevier B.V. All rights reserved.","name":"copyright","label":"Copyright"}]},{"indexed":{"date-parts":[[2017,8,9]],"date-time":"2017-08-09T21:14:28Z","timestamp":1502313268159},"reference-count":16,"publisher":"Elsevier
        BV","issue":"12","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2015,6,1]],"date-time":"2015-06-01T00:00:00Z","timestamp":1433116800000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["PHY-1347399","DMS-1363432"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Journal
 [...]
