interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/funders?filter=has-assertion%3Atrue
  response:
    body: {string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"filter-not-available","value":"has-assertion","message":"Filter
        has-assertion specified but there is no such filter for this route. Valid
        filters for this route are: location"}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 400, message: Bad Request}
version: 1
