interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.5.0.2]
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=type%3Ajournal-article&rows=100&query.container-title=engineering
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3052,"items":[{"indexed":{"date-parts":[[2017,8,11]],"date-time":"2017-08-11T00:33:30Z","timestamp":1502411610338},"reference-count":54,"publisher":"Elsevier
        BV","issue":"4","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2016,12,1]],"date-time":"2016-12-01T00:00:00Z","timestamp":1480550400000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2017,2,27]],"date-time":"2017-02-27T00:00:00Z","timestamp":1488153600000},"delay-in-days":88,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"crossref","award":["1243510"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Engineering"],"published-print":{"date-parts":[[2016,12]]},"DOI":"10.1016\/j.eng.2016.04.010","type":"journal-article","created":{"date-parts":[[2017,2,28]],"date-time":"2017-02-28T17:12:22Z","timestamp":1488301942000},"page":"481-489","source":"Crossref","is-referenced-by-count":0,"title":["More
        than Target 6.3: A Systems Approach to Rethinking Sustainable Development
        Goals in a Resource-Scarce World"],"prefix":"10.1016","volume":"2","author":[{"given":"Qiong","family":"Zhang","affiliation":[]},{"given":"Christine","family":"Prouty","affiliation":[]},{"given":"Julie
        B.","family":"Zimmerman","affiliation":[]},{"given":"James R.","family":"Mihelcic","affiliation":[]}],"member":"78","container-title":["Engineering"],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S209580991730084X?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S209580991730084X?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,6,25]],"date-time":"2017-06-25T11:34:56Z","timestamp":1498390496000},"score":6.1925774,"issued":{"date-parts":[[2016,12]]},"references-count":54,"alternative-id":["S209580991730084X"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.eng.2016.04.010","ISSN":["2095-8099"],"issn-type":[{"value":"2095-8099","type":"print"}],"subject":["General
        Engineering","Environmental Engineering","General Computer Science","Energy
        Engineering and Power Technology","Materials Science (miscellaneous)","General
        Chemical Engineering"]},{"indexed":{"date-parts":[[2017,8,11]],"date-time":"2017-08-11T02:53:10Z","timestamp":1502419990006},"reference-count":313,"publisher":"Elsevier
        BV","issue":"1","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2017,2,1]],"date-time":[...]
