interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=type%3Ajournal-article&rows=100&query.container-title=engineering
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"items-per-page":100,"query":{"start-index":0,"search-terms":null},"total-results":2862,"items":[{"indexed":{"date-parts":[[2017,6,24]],"date-time":"2017-06-24T12:20:46Z","timestamp":1498306846368},"reference-count":29,"publisher":"Elsevier
        BV","issue":"4","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2015,12,1]],"date-time":"2015-12-01T00:00:00Z","timestamp":1448928000000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2016,2,22]],"date-time":"2016-02-22T00:00:00Z","timestamp":1456099200000},"delay-in-days":83,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["1128325"]},{"name":"Power
        Systems Engineering Research Foundation (PSERC)","award":[]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Engineering"],"published-print":{"date-parts":[[2015,12]]},"DOI":"10.15302\/j-eng-2015098","type":"journal-article","created":{"date-parts":[[2016,4,27]],"date-time":"2016-04-27T14:46:04Z","timestamp":1461768364000},"page":"466-474","source":"Crossref","is-referenced-by-count":0,"title":["Smart
        Grid Wide-Area Transmission System Visualization"],"prefix":"10.1016","volume":"1","author":[{"given":"Thomas
        J.","family":"Overbye","affiliation":[]},{"given":"James","family":"Weber","affiliation":[]}],"member":"78","container-title":["Engineering"],"original-title":[],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S2095809916300273?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S2095809916300273?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,6,24]],"date-time":"2017-06-24T11:53:47Z","timestamp":1498305227000},"score":6.2398615,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2015,12]]},"references-count":29,"alternative-id":["S2095809916300273"],"URL":"http:\/\/dx.doi.org\/10.15302\/j-eng-2015098","relation":{},"ISSN":["2095-8099"],"issn-type":[{"value":"2095-8099","type":"print"}]},{"indexed":{"date-parts":[[2017,6,25]],"date-time":"2017-06-25T14:12:26Z","timestamp":1498399946345},"reference-count":313,"publisher":"Elsevier
        BV","issue":"1","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2017,2,1]],"date-time":"2017-02-01T00:00:00Z","timestamp":1485907200000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2017,3,[...]
