interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.19.1 habanero/0.6.2.1]
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=type%3Ajournal-article&rows=100&query.container-title=engineering
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":4487,"items":[{"indexed":{"date-parts":[[2018,9,25]],"date-time":"2018-09-25T09:02:41Z","timestamp":1537866161772},"reference-count":28,"publisher":"Elsevier
        BV","issue":"4","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2015,12,1]],"date-time":"2015-12-01T00:00:00Z","timestamp":1448928000000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2016,2,22]],"date-time":"2016-02-22T00:00:00Z","timestamp":1456099200000},"delay-in-days":83,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["1135872"]},{"name":"National
        Key Basic Research Program of China (973 Program)","award":["2012CB215102"]},{"name":"Hong
        Kong RGC Theme-based Research Project","award":["T23-701\/14-N"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Engineering"],"published-print":{"date-parts":[[2015,12]]},"DOI":"10.15302\/j-eng-2015111","type":"journal-article","created":{"date-parts":[[2016,4,27]],"date-time":"2016-04-27T14:46:04Z","timestamp":1461768364000},"page":"436-446","source":"Crossref","is-referenced-by-count":21,"title":["Smart
        Grids with Intelligent Periphery: An Architecture for the Energy Internet"],"prefix":"10.1016","volume":"1","author":[{"given":"Felix
        F.","family":"Wu","sequence":"first","affiliation":[]},{"given":"Pravin P.","family":"Varaiya","sequence":"additional","affiliation":[]},{"given":"Ron
        S.Y.","family":"Hui","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Engineering"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S2095809916300248?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S2095809916300248?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,9,13]],"date-time":"2018-09-13T04:51:07Z","timestamp":1536814267000},"score":5.2057376,"issued":{"date-parts":[[2015,12]]},"references-count":28,"journal-issue":{"published-print":{"date-parts":[[2015,12]]},"issue":"4"},"alternative-id":["S2095809916300248"],"URL":"http:\/\/dx.doi.org\/10.15302\/j-eng-2015111","ISSN":["2095-8099"],"issn-type":[{"value":"2095-8099","type":"print"}],"subject":["General
        Engineering","Environmental Engineering","General Computer Science","Energy
        Engineering and Power Technology","Materials Science (miscellaneous)","General
        Chemical Engineering"]},{"indexed":{"date-parts":[[2018,9,4]],"date-time":"2018-09-04T00:40:36Z","timestamp":1536021636746},"reference-count":54,"publisher":"Elsevier
        BV","issue":"4","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2016,12,1]],"date-time":[...]
