interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=type%3Ajournal-article&rows=100&query.container-title=engineering
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3671,"items":[{"indexed":{"date-parts":[[2018,5,12]],"date-time":"2018-05-12T08:02:34Z","timestamp":1526112154720},"reference-count":313,"publisher":"Elsevier
        BV","issue":"1","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2017,2,1]],"date-time":"2017-02-01T00:00:00Z","timestamp":1485907200000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2017,3,28]],"date-time":"2017-03-28T00:00:00Z","timestamp":1490659200000},"delay-in-days":55,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["CBET 1511759"]},{"DOI":"10.13039\/100000002","name":"National
        Institutes of Health","doi-asserted-by":"publisher","award":["HL109442","R15GM122953","UH3
        TR000505","GM110494","AI096305"]},{"name":"Guangdong Innovative and Entrepreneurial
        Research Team Program","award":["2013S086"]},{"name":"Global Research Laboratory
        Program","award":["2015032163"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Engineering"],"published-print":{"date-parts":[[2017,2]]},"DOI":"10.1016\/j.eng.2017.01.014","type":"journal-article","created":{"date-parts":[[2017,3,28]],"date-time":"2017-03-28T19:21:28Z","timestamp":1490728888000},"page":"36-54","source":"Crossref","is-referenced-by-count":7,"title":["Biophysical
        Regulation of Cell Behavior\u2014Cross Talk between Substrate Stiffness and
        Nanotopography"],"prefix":"10.1016","volume":"3","author":[{"given":"Yong","family":"Yang","sequence":"first","affiliation":[]},{"given":"Kai","family":"Wang","sequence":"additional","affiliation":[]},{"given":"Xiaosong","family":"Gu","sequence":"additional","affiliation":[]},{"given":"Kam
        W.","family":"Leong","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Engineering"],"language":"en","link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S2095809917301546?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S2095809917301546?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,11,3]],"date-time":"2017-11-03T04:26:00Z","timestamp":1509683160000},"score":5.1585345,"issued":{"date-parts":[[2017,2]]},"references-count":313,"journal-issue":{"published-print":{"date-parts":[[2017,2]]},"issue":"1"},"alternative-id":["S2095809917301546"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.eng.2017.01.014","ISSN":["2095-8099"],"issn-type":[{"value":"2095-8099","type":"print"}]},{"indexed":{"date-parts":[[2018,5,8]],"date-time":"2018-05-08T09:28:59Z","timestamp":1525771739019},"reference-count":28,"publisher":"Elsevier
        BV","issue":"4","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2015,12,1]],"date-time":"2015-12-01T00:00:00Z","timestamp":1448928000000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2016,2,2[...]
