interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/funders?sample=2
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":null},"total-results":14811,"items":[{"id":"501100000314","location":"United
        Kingdom","name":"ABBEY AWARDS","alt-names":["Abbey"],"uri":"http:\/\/dx.doi.org\/10.13039\/501100000314","replaces":[],"replaced-by":[],"tokens":["abbey","awards","abbey"]},{"id":"501100001316","location":"United
        Kingdom","name":"University of Kent","alt-names":[],"uri":"http:\/\/dx.doi.org\/10.13039\/501100001316","replaces":[],"replaced-by":[],"tokens":["university","of","kent"]},{"id":"100010240","location":"United
        States","name":"Nancy Sayles Day Foundation","alt-names":[],"uri":"http:\/\/dx.doi.org\/10.13039\/100010240","replaces":[],"replaced-by":[],"tokens":["nancy","sayles","day","foundation"]},{"id":"501100005738[...]
