interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=has-assertion%3Atrue
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"items-per-page":20,"query":{"start-index":0,"search-terms":null},"total-results":30722,"items":[{"indexed":{"date-parts":[[2017,5,25]],"date-time":"2017-05-25T00:48:31Z","timestamp":1495673311436},"reference-count":73,"publisher":"Informa
        UK Limited","issue":"1","funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["Graduate Research
        Fellowship Program\/1342962"]}],"content-domain":{"domain":["www.tandfonline.com"],"crossmark-restriction":true},"short-container-title":["Developmental
        Neuropsychology"],"published-print":{"date-parts":[[2017,1,2]]},"DOI":"10.1080\/87565641.2016.1247162","type":"journal-article","created":{"date-parts":[[2017,1,6]],"date-time":"2017-01-06T22:04:44Z","timestamp":1483740284000},"page":"1-24","update-policy":"http:\/\/dx.doi.org\/10.1080\/tandf_crossmark_01","source":"Crossref","is-referenced-by-count":0,"title":["Changes
        in the NoGo N2 Event-Related Potential Component Across Childhood: A Systematic
        Review and Meta-Analysis"],"prefix":"10.1080","volume":"42","author":[{"given":"Caroline","family":"Hoyniak","affiliation":[]}],"member":"301","published-online":{"date-parts":[[2017,1,6]]},"reference":[{"key":"CIT0001","DOI":"10.1176\/appi.books.9780890425596"},{"key":"CIT0002","DOI":"10.1016\/S0165-1781(02)00104-X"},{"key":"CIT0003","DOI":"10.1007\/BF00909976"},{"key":"CIT0004","DOI":"10.1037\/0033-2909.121.1.65"},{"key":"CIT0005","DOI":"10.1016\/j.cogbrainres.2004.08.011"},{"key":"CIT0006","DOI":"10.1111\/j.1467-8624.2010.01499.x"},{"key":"CIT0007","DOI":"10.1016\/S1388-2457(01)00691-5"},{"key":"CIT0008","author":"Borenstein
        M.","year":"2009","volume-title":"The handbook of research synthesis and meta-analysis"},{"key":"CIT0009","DOI":"10.1016\/j.ijpsycho.2005.03.008"},{"key":"CIT0010","DOI":"10.1038\/nrn3475"},{"key":"CIT0011","DOI":"10.1016\/0160-2896(94)90019-1"},{"key":"CIT0012","DOI":"10.1016\/j.tics.2005.01.011"},{"key":"CIT0013","DOI":"10.1162\/jocn.1997.9.6.835"},{"key":"CIT0014","DOI":"10.1111\/j.1469-8986.2011.01349.x"},{"key":"CIT0015","DOI":"10.2307\/3001666"},{"key":"CIT0016","author":"Cohen
        J.","year":"1977","volume-title":"St[...]
