interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=type%3Ajournal-article&rows=100&query.container-title=engineering
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3421,"items":[{"indexed":{"date-parts":[[2017,12,8]],"date-time":"2017-12-08T18:42:20Z","timestamp":1512758540352},"reference-count":28,"publisher":"Elsevier
        BV","issue":"4","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2015,12,1]],"date-time":"2015-12-01T00:00:00Z","timestamp":1448928000000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2016,2,22]],"date-time":"2016-02-22T00:00:00Z","timestamp":1456099200000},"delay-in-days":83,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["1135872"]},{"name":"National
        Key Basic Research Program of China (973 Program)","award":["2012CB215102"]},{"name":"Hong
        Kong RGC Theme-based Research Project","award":["T23-701\/14-N"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Engineering"],"published-print":{"date-parts":[[2015,12]]},"DOI":"10.15302\/j-eng-2015111","type":"journal-article","created":{"date-parts":[[2016,4,27]],"date-time":"2016-04-27T14:46:04Z","timestamp":1461768364000},"page":"436-446","source":"Crossref","is-referenced-by-count":18,"title":["Smart
        Grids with Intelligent Periphery: An Architecture for the Energy Internet"],"prefix":"10.1016","volume":"1","author":[{"given":"Felix
        F.","family":"Wu","affiliation":[]},{"given":"Pravin P.","family":"Varaiya","affiliation":[]},{"given":"Ron
        S.Y.","family":"Hui","affiliation":[]}],"member":"78","container-title":["Engineering"],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S2095809916300248?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S2095809916300248?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,9,27]],"date-time":"2017-09-27T07:34:12Z","timestamp":1506497652000},"score":6.2461424,"issued":{"date-parts":[[2015,12]]},"references-count":28,"alternative-id":["S2095809916300248"],"URL":"http:\/\/dx.doi.org\/10.15302\/j-eng-2015111","ISSN":["2095-8099"],"issn-type":[{"value":"2095-8099","type":"print"}],"subject":["General
        Engineering","Environmental Engineering","General Computer Science","Energy
        Engineering and Power Technology","Materials Science (miscellaneous)","General
        Chemical Engineering"]},{"indexed":{"date-parts":[[2018,1,9]],"date-time":"2018-01-09T07:42:24Z","timestamp":1515483744353},"reference-count":163,"publisher":"Elsevier
        BV","issue":"3","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2015,9,1]],"date-time":"[...]
