interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.19.1 habanero/0.6.2.1]
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=has-assertion%3Atrue
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":49246,"items":[{"indexed":{"date-parts":[[2018,5,8]],"date-time":"2018-05-08T03:22:33Z","timestamp":1525749753797},"reference-count":24,"publisher":"Cambridge
        University Press (CUP)","issue":"04","funder":[{"DOI":"10.13039\/100000181","name":"Air
        Force Office of Scientific Research","doi-asserted-by":"publisher","award":["FA9550-14-1-0316"]},{"DOI":"10.13039\/100000078","name":"Division
        of Materials Research","doi-asserted-by":"publisher","award":["DMR-1056625"]},{"DOI":"10.13039\/100006151","name":"Basic
        Energy Sciences","doi-asserted-by":"publisher","award":["DE-SC0001299"]}],"content-domain":{"domain":["www.cambridge.org"],"crossmark-restriction":true},"short-container-title":["MRC"],"published-print":{"date-parts":[[2017,12]]},"abstract":"<jats:title>Abstract<\/jats:title>\n            <jats:p>\n               <jats:fig
        position=\"anchor\">\n                  <jats:graphic xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\"
        mime-subtype=\"jpeg\" mimetype=\"image\" position=\"float\" xlink:href=\"S2159685917001185_figAb\"
        xlink:type=\"simple\" \/>\n               <\/jats:fig>\n            <\/jats:p>","DOI":"10.1557\/mrc.2017.118","type":"journal-article","created":{"date-parts":[[2017,10,25]],"date-time":"2017-10-25T08:29:47Z","timestamp":1508920187000},"page":"922-927","update-policy":"http:\/\/dx.doi.org\/10.1017\/policypage","source":"Crossref","is-referenced-by-count":0,"title":["Experimental
        determination of phonon thermal conductivity and Lorenz ratio of single-crystal
        bismuth telluride"],"prefix":"10.1557","volume":"7","author":[{"given":"Mengliang","family":"Yao","sequence":"first","affiliation":[]},{"given":"Cyril","family":"Opeil","sequence":"additional","affiliation":[]},{"given":"Stephen","family":"Wilson","sequence":"additional","affiliation":[]},{"given":"Mona","family":"Zebarjadi","sequence":"additional","affiliation":[]}],"member":"56","published-online":{"date-parts":[[2017,10,25]]},"reference":[{"key":"S2159685917001185_ref19","DOI":"10.1088\/0370-1301\/69\/8\/117","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref20","DOI":"10.1007\/s11664-012-2279-z","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref17","DOI":"10.1088\/0370-1301\/69\/2\/310","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref16","DOI":"10.1038\/nmat3621","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref15","DOI":"10.1038\/nphys1270","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref9","DOI":"10.1073\/pnas.1424388112","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref14","author":"Lin","volume":"22","first-page":"1313","year":"2011","journal-title":"J.
        Mater. Sci.: Mater. Electron"},{"key":"S2159685917001185_ref8","DOI":"10.1016\/j.nanoen.2013.12.015","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref13","DOI":"10.1063\/1.1656714","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref7","DOI":"10.1016\/j.nanoen.2013.09.009","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref12","DOI":"10.1016\/0022-3697(63)90153-7","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref6","author":"Pippard","year":"1989","volume-title":"Magnetoresistance
        in Metals"},{"key":"S2159685917001185_ref11","DOI":"10.1088\/0022-3719\/2\/11\/328","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref5","DOI":"10.1002\/pssb.2220650237","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref10","DOI":"10.1002\/aenm.201401977","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref4","DOI":"10.1063\/1.4997034","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref3","DOI":"10.1103\/PhysRevB.85.205410","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref2","DOI":"10.1007\/b136496","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref1","author":"Lifshitz","year":"1981","volume-title":"Physical
        Kinetics"},{"key":"S2159685917001185_ref24","DOI":"10.1063\/1.1931133","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref23","DOI":"10.1063\/1.1931132","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref22","DOI":"10.1088\/0022-3719\/8\/12\/008","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref21","DOI":"10.1016\/0022-3697(57)90081-1","doi-asserted-by":"publisher"},{"key":"S2159685917001185_ref18","DOI":"10.1103\/PhysRevB.90.134309","doi-asserted-by":"publisher"}],"container-title":["MRS
        Communications"],"language":"en","link":[{"URL":"https:\/\/www.cambridge.org\/core\/services\/aop-cambridge-core\/content\/view\/S2159685917001185","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,12,27]],"date-time":"2017-12-27T12:13:12Z","timestamp":1514376792000},"score":1.0,"issued":{"date-parts":[[2017,10,25]]},"references-count":24,"journal-issue":{"published-print":{"date-parts":[[2017,12]]},"issue":"04"},"alternative-id":["S2159685917001185"],"URL":"http:\/\/dx.doi.org\/10.1557\/mrc.2017.118","relation":{"cites":[]},"ISSN":["2159-6859","2159-6867"],"issn-type":[{"value":"2159-6859","type":"print"},{"value":"2159-6867","type":"electronic"}],"assertion":[{"value":"Copyright
        \u00a9 Materials Research Society 2017\u00a0","name":"license","label":"License","group":{"name":"copyright_and_licensing","label":"Copyright
        and Licensing"}}]},{"indexed":{"date-parts":[[2018,5,8]],"date-time":"2018-05-08T03:21:40Z","timestamp":1525749700902},"reference-count":30,"publisher":"IOP
        Publishing","issue":"3","license":[{"URL":"http:\/\/iopscience.iop.org\/info\/page\/text-and-data-mining","start":{"date-parts":[[2016,2,12]],"date-time":"2016-02-12T00:00:00Z","timestamp":1455235200000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/iopscience.iop.org\/page\/copyright","start":{"date-parts":[[2016,2,12]],"date-time":"2016-02-12T00:00:00Z","timestamp":1455235200000},"delay-in-days":0,"content-version":"vor"},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0","start":{"date-parts":[[2017,2,12]],"date-time":"2017-02-12T00:00:00Z","timestamp":1486857600000},"delay-in-days":366,"content-version":"am"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science [...]
