interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001/works?filter=has-assertion%3Atrue
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":36330,"items":[{"indexed":{"date-parts":[[2018,1,30]],"date-time":"2018-01-30T16:42:18Z","timestamp":1517330538494},"reference-count":53,"publisher":"Elsevier
        BV","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2016,2,1]],"date-time":"2016-02-01T00:00:00Z","timestamp":1454284800000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/","start":{"date-parts":[[2016,12,5]],"date-time":"2016-12-05T00:00:00Z","timestamp":1480896000000},"delay-in-days":308,"content-version":"am"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["CHE-0907787"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Inorganica
        Chimica Acta"],"published-print":{"date-parts":[[2016,2]]},"DOI":"10.1016\/j.ica.2015.11.010","type":"journal-article","created":{"date-parts":[[2015,11,15]],"date-time":"2015-11-15T03:42:59Z","timestamp":1447558979000},"page":"109-116","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":5,"title":["Metal-organodiphosphonate
        chemistry: Hydrothermal syntheses and structures of Ca(II) coordination polymers
        with xylyldiphosphonate ligands"],"prefix":"10.1016","volume":"441","author":[{"given":"Valerie","family":"Lopez-Diaz","affiliation":[]},{"given":"Tiffany
        M.","family":"Smith Pellizerri","affiliation":[]},{"given":"Matthew D.","family":"Lijewski","affiliation":[]},{"given":"Karin","family":"Ruhlandt","affiliation":[]},{"given":"Jon","family":"Zubieta","affiliation":[]}],"member":"78","container-title":["Inorganica
        Chimica Acta"],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0020169315005642?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0020169315005642?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,5,28]],"date-time":"2017-05-28T08:17:23Z","timestamp":1495959443000},"score":1.0,"issued":{"date-parts":[[2016,2]]},"references-count":53,"alternative-id":["S0020169315005642"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.ica.2015.11.010","ISSN":["0020-1693"],"issn-type":[{"value":"0020-1693","type":"print"}],"subject":["Physical
        and Theoretical Chemistry","Inorganic Chemistry","Materials Chemistry"],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"Metal-organodiphosphonate chemistry:
        Hydrothermal syntheses and structures of Ca(II) coordination polymers with
        xylyldiphosphonate ligands","name":"articletitle","label":"Article Title"},{"value":"Inorganica
        Chimica Acta","name":"journaltitle","label":"Journal Title"},{"value":"http:\/\/dx.doi.org\/10.1016\/j.ica.2015.11.010","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value[...]
