interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/journals?query=ecology&rows=2
  response:
    body: {string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":"ecology"},"total-results":192,"items":[{"last-status-check-time":null,"counts":null,"breakdowns":null,"publisher":"\"Clausius
        Scientific Press, Inc.\"","coverage":null,"title":"Environment Resource and
        Ecology Journal","subjects":[],"flags":null,"ISSN":[],"issn-type":[]},{"last-status-check-time":null,"counts":null,"breakdowns":null,"publisher":"New
        Zealand Ecological Society","coverage":null,"title":"New Zealand Journal of
        Ecology","subjects":[],"flags":null,"ISSN":[],"issn-type":[]}]}}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 200, message: OK}
version: 1
