interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/journals/2167-8359/works?filter=type%3Ajournal-article&query.title=fish
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":50,"items":[{"indexed":{"date-parts":[[2017,6,22]],"date-time":"2017-06-22T19:20:23Z","timestamp":1498159223927},"reference-count":41,"publisher":"PeerJ","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.7717\/peerj.525","type":"journal-article","created":{"date-parts":[[2014,8,14]],"date-time":"2014-08-14T07:52:25Z","timestamp":1408002745000},"page":"e525","source":"Crossref","is-referenced-by-count":0,"title":["Divergence
        by depth in an oceanic fish"],"prefix":"10.7717","volume":"2","author":[{"given":"Peter","family":"Shum","affiliation":[{"name":"School
        of Environment & Life Sciences, University of Salford, Manchester, UK"}]},{"given":"Christophe","family":"Pampoulie","affiliation":[{"name":"Marine
        Research Institute, Reykjav\u00edk, Iceland"}]},{"given":"Carlotta","family":"Sacchi","affiliation":[{"name":"School
        of Biology & Environmental Science, University College Dublin, Dublin, Ireland"}]},{"given":"Stefano","family":"Mariani","affiliation":[{"name":"School
        of Environment & Life Sciences, University of Salford, Manchester, UK"}]}],"member":"4443","published-online":{"date-parts":[[2014,8,14]]},"reference":[{"key":"10.7717\/peerj.525\/ref-1","first-page":"814","article-title":"Ancient
        species flocks and recent speciation events: what can rockfish teach us about
        cichlids (and vice versa)?","volume":"49","author":"Alesandrini","year":"1999","journal-title":"Journal
        of Molecular Evolution"},{"key":"10.7717\/peerj.525\/ref-2","author":"Belkhir","year":"1996","edition":"4.05","journal-title":"Logiciel
        sous Windows TM pour la g\u00e9n\u00e9tique des populations"},{"key":"10.7717\/peerj.525\/ref-3","first-page":"158","DOI":"10.1007\/s11692-012-9183-6","article-title":"Sympatric
        speciation in the post \u201cmodern synthesis\u201d era of evolutionary biology","volume":"39","author":"Bird","year":"2012","journal-title":"Evolutionary
        Biology"},{"key":"10.7717\/peerj.525\/ref-4","first-page":"2128","DOI":"10.1111\/j.1365-294X.2011.05081.x","ar[...]
