interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/journals/2167-8359/works?sort=score&query=ecology&order=asc
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":37,"items":[{"indexed":{"date-parts":[[2017,5,25]],"date-time":"2017-05-25T19:25:01Z","timestamp":1495740301257},"reference-count":82,"publisher":"PeerJ","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2017,4,19]],"date-time":"2017-04-19T00:00:00Z","timestamp":1492560000000},"delay-in-days":0,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/501100008777","name":"Fundaci\u00f3n
        Bunge y Born","doi-asserted-by":"crossref","award":[]},{"name":"SECITI Postdoctoral
        Fellowship","award":["029\/2013"]},{"name":"Gobierno Valenciano","award":[]},{"name":"CONACyT
        Mexico","award":["207187","462083"]},{"name":"EU Marie Curie Initial Training
        Network (ITN) Symbiomics: Molecular ecology and evolution of bacterial symbionts","award":["FP7-PEOPLE-2010-ITN"]},{"name":"CONACyT
        Mexico","award":["207187","462083"]},{"name":"NSF","award":["1136602"]},{"name":"co-financed
        by FEDER funds and Ministerio de Econom\u00eda y Competitividad, Spain","award":["BFU2015-64322-C2-1-R"]},{"name":"Conselleria
        d\u2019Educaci\u00f3, Generalitat Valenciana, Spain","award":["PrometeoII\/2014\/065"]},{"name":"WWF-Alianza
        Carlos Slim","award":[]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>We
        report the genome sequence of <jats:italic>Exiguobacterium chiriqhucha<\/jats:italic>
        str. N139, isolated from a high-altitude Andean lake. Comparative genomic
        analyses of the <jats:italic>Exiguobacterium<\/jats:italic> genomes available
        suggest that our strain belongs to the same species as the previously reported
        <jats:italic>E. pavilionensis<\/jats:italic> str. RW-2 and <jats:italic>Exiguobacterium<\/jats:italic>
        str. GIC 31. We describe this species and propose the <jats:italic>chiriqhucha<\/ja[...]
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/journals/2167-8359/works?sort=score&query=ecology&order=desc
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":37,"items":[{"indexed":{"date-parts":[[2017,6,29]],"date-time":"2017-06-29T05:02:09Z","timestamp":1498712529085},"reference-count":18,"publisher":"PeerJ","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.7717\/peerj.616","type":"journal-article","created":{"date-parts":[[2014,10,9]],"date-time":"2014-10-09T08:24:38Z","timestamp":1412843078000},"page":"e616","source":"Crossref","is-referenced-by-count":100,"title":["Using
        observation-level random effects to model overdispersion in count data in
        ecology and evolution"],"prefix":"10.7717","volume":"2","author":[{"given":"Xavier
        A.","family":"Harrison","affiliation":[{"name":"Institute of Zoology, Zoological
        Society of London, London, UK"}]}],"member":"4443","published-online":{"date-parts":[[2014,10,9]]},"reference":[{"key":"10.7717\/peerj.616\/ref-1","author":"Bates","year":"2014","edition":"1.1-6","journal-title":"lme4:
        linear mixed-effects models using Eigen and S4"},{"key":"10.7717\/peerj.616\/ref-2","first-page":"127","DOI":"10.1016\/j.tree.2008.10.008","article-title":"Generalized
        linear mixed models: a practical guide for ecology and evolution","volume":"24","author":"Bolker","year":"2009","journal-title":"Trends
        in Ecology & Evolution"},{"key":"10.7717\/peerj.616\/ref-3","author":"Crawley","year":"2007","volume-title":"The
        R book","DOI":"10.1002\/9780470515075"},{"key":"10.7717\/peerj.616\/ref-4","first-page":"563","DOI":"10.1017\/S0031182001007740","article-title":"Analysis
        of aggregation, a worked example: number of ticks on red grouse","volume":"122","author":"Elston","year":"2001","journal-title":"Parasitology"},{"key":"10.7717\/peerj.616\/ref-5","first-page":"233","DOI":"10.1080\/10556788.2011.597854","article-title":"AD
        Model Builder: using automatic differentiation for statistic[...]
