interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/journals?rows=1
  response:
    body: {string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":1,"query":{"start-index":0,"search-terms":null},"total-results":57961,"items":[{"last-status-check-time":null,"counts":null,"breakdowns":null,"publisher":"Innovative
        Medical Technologies Development Foundation","coverage":null,"title":"36510","subjects":[],"flags":null,"ISSN":[],"issn-type":[]}]}}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 200, message: OK}
version: 1
