interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.19.1 habanero/0.6.2.1]
    method: GET
    uri: https://api.crossref.org/journals/2167-8359/works?filter=type%3Ajournal-article&query.title=fish
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":88,"items":[{"indexed":{"date-parts":[[2018,7,5]],"date-time":"2018-07-05T22:02:29Z","timestamp":1530828149317},"reference-count":71,"publisher":"PeerJ","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2017,9,15]],"date-time":"2017-09-15T00:00:00Z","timestamp":1505433600000},"delay-in-days":0,"content-version":"unspecified"}],"funder":[{"name":"Ministry
        of Higher Education Malaysia\u2019s Fundamental Research Grant Scheme","award":["FP032-2014B"]},{"name":"University
        Malaya\u2019s Grant","award":["BK018-2015"]},{"name":"University of Malaya\u2019s
        Postgraduate Research Grants","award":["PG130-2013A","PG212-2014B"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<jats:p>Life
        science ontologies play an important role in Semantic Web. Given the diversity
        in fish species and the associated wealth of information, it is imperative
        to develop an ontology capable of linking and integrating this information
        in an automated fashion. As such, we introduce the Fish Ontology (FO), an
        automated classification architecture of existing fish taxa which provides
        taxonomic information on unknown fish based on metadata restrictions. It is
        designed to support knowledge discovery, provide semantic annotation of fish
        and fisheries resources, data integration, and information retrieval. Automated
        classification for unknown specimens is a unique feature that currently does
        not appear to exist in other known ontologies. Examples of automated classification
        for major groups of fish are demonstrated, showing the inferred information
        by introducing several restrictions at the species or specimen level. The
        current version of FO has 1,830 classes, includes widely used fisheries terminology,
        and models major aspects of fish taxonomy, grouping, and character. With more
        than 30,000 known fish species globally, the FO will be an indispensable tool
        for fish scientists and other interested\u00a0users.<\/jats:p>","DOI":"10.7717\/peerj.3811","type":"journal-article","created":{"date-parts":[[2017,9,15]],"date-time":"2017-09-15T08:06:53Z","timestamp":1505462813000},"page":"e3811","source":"Crossref","is-referenced-by-count":2,"title":["Fish
        Ontology framework for taxonomy-based fish recognition"],"prefix":"10.7717","volume":"5","author":[{"given":"Najib
        M.","family":"Ali","sequence":"first","affiliation":[{"name":"Institute of
        Biological Sciences, Faculty of Science, University of Malaya, Kuala Lumpur,
        Malaysia"}]},{"given":"Haris A.","family":"Khan","sequence":"additional","affiliation":[{"name":"Institute
        of Biological Sciences, Faculty of Science, University of Malaya, Kuala Lumpur,
        Malaysia"}]},{"given":"Amy Y-Hui","family":"Then","sequence":"additional","affiliation":[{"name":"Institute
        of Biological Sciences, Faculty of Science, University of Malaya, Kuala Lumpur,
        Malaysia"}]},{"given":"Chong","family":"Ving Ching","sequence":"additional","affiliation":[{"name":"Institute
        of Biological Sciences, Faculty of Science, University of Malaya, Kuala Lumpur,
        Malaysia"}]},{"given":"Manas","family":"Gaur","sequence":"additional","affiliation":[{"name":"Wright
        State University, Kno.e.sis Center, Dayton, OH, United States of America"}]},{"given":"Sarinder
        Kaur","family":"Dhillon","sequence":"additional","affiliation":[{"name":"Institute
        of Biological Sciences, Faculty of Science, University of Malaya, Kuala Lumpur,
        Malaysia"}]}],"member":"4443","published-online":{"date-parts":[[2017,9,15]]},"reference":[{"key":"10.7717\/peerj.3811\/ref-1","doi-asserted-by":"publisher","first-page":"19","DOI":"10.1080\/14772000.2012.761655","article-title":"Biodiversity
        image retrieval framework for monogeneans","volume":"11","author":"Abu","year":"2013","journal-title":"Systematics
        and Biodiversity"},{"key":"10.7717\/peerj.3811\/ref-2","doi-asserted-by":"publisher","first-page":"48","DOI":"10.1186\/1471-2105-14-48","article-title":"Semantic
        representation of monogenean haptoral Bar image annotation","volume":"14","author":"Abu","year":"2013","journal-title":"BMC
        Bioinformatics"},{"key":"10.7717\/peerj.3811\/ref-3","author":"Alexander","year":"2013","article-title":"The
        difference between a triplestore and a relational database"},{"key":"10.7717\/peerj.3811\/ref-4","author":"Alroy","year":"2012","article-title":"The
        Paleobiology Database"},{"key":"10.7717\/peerj.3811\/ref-5","author":"Ankolekar","first-page":"825","year":"2007","article-title":"The
        two cultures: mashing up Web 2.0 and the semantic web"},{"key":"10.7717\/peerj.3811\/ref-6","doi-asserted-by":"publisher","first-page":"25","DOI":"10.1038\/75556","article-title":"Gene
        ontology: tool for the unification of biology","volume":"25","author":"Ashburner","year":"2000","journal-title":"Nature
        Genetics"},{"key":"10.7717\/peerj.3811\/ref-7","author":"Baader","year":"2003","volume-title":"The
        description logic handbook: theory, implementation, and applications"},{"key":"10.7717\/peerj.3811\/ref-8","doi-asserted-by":"publisher","first-page":"639","DOI":"10.1093\/sysbio\/syt028","article-title":"A
        semantic model for species description applied to the Ensign Wasps (Hymenoptera:
        Evaniidae) of New Caledonia","volume":"62","author":"Balhoff","year":"2013","journal-title":"Systematic
        Biology"},{"key":"10.7717\/peerj.3811\/ref-9","author":"Barbosa","first-page":"39","year":"2001","article-title":"An
        electronic marketplace architecture based on technology of intelligent agents
        and knowledge","volume-title":"E-commerce agents, marketplace solutions, security
        issues, and supply and demand"},{"key":"10.7717\/peerj.3811\/ref-10","author":"Berners-Lee","year":"2016","article-title":"Linked
        data\u2013design issues"},{"issue":"3","key":"10.7717\/peerj.3811\/ref-11","doi-asserted-by":"publisher","first-page":"154","DOI":"10.1016\/j.websem.2009.07.002","article-title":"DBpedia\u2014a
        crystallization point for the Web of Data","volume":"7","author":"Bizer","year":"2009","journal-title":"Web
        Semantics: Science, Services and Agents on the World Wide Web"},{"key":"10.7717\/peerj.3811\/ref-12","author":"Campbell","year":"2006","volume-title":"Ontology
        for call control"},{"key":"10.7717\/peerj.3811\/ref-13","author":"Caracciolo","first-page":"383","year":"2012","article-title":"Knowledge
        management at FAO: a case study on network of ontologies in fisheries","volume-title":"Ontology
        Engineering in a Networked World","DOI":"10.1007\/978-3-642-24794-1_18","doi-asserted-by":"c[...]
