interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/journals?sort=things
  response:
    body: {string: !!python/unicode '{"status":"failed","message-type":"validation-failure","message":[{"type":"sort-field-not-valid","value":"things","message":"Sort
        field specified as things but must be one of: score, created, issued, indexed,
        is-referenced-by-count, relevance, published, published-print, published-online,
        submitted, updated, references-count, deposited"}]}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-rate-limit-interval: [1s]
      x-rate-limit-limit: ['50']
    status: {code: 400, message: Bad Request}
version: 1
