interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/licenses
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":368,"items":[{"URL":"http:\/\/academico.uerr.edu.br\/ojs\/index.php\/REMGADS","work-count":3},{"URL":"http:\/\/aspb.org\/publications\/aspb-journals\/open-articles","work-count":84},{"URL":"http:\/\/avs.org","work-count":1},{"URL":"http:\/\/co.creativecommons.org\/","work-count":2},{"URL":"http:\/\/creativecomm.org\/licenses\/by\/2.0","work-count":1},{"URL":"http:\/\/creativecommons.org\/
        licenses\/by\/4.0\/","work-count":2},{"URL":"http:\/\/creativecommons.org\/LICENSEs\/by\/3.0\/","work-count":1},{"URL":"http:\/\/creativecommons.org\/licences\/by-nc-sa\/3.0\/cr\/","work-coun[...]
