interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/licenses?query=aps
  response:
    body: {string: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":34,"items":[{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/","work-count":8},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/","work-count":14},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-sa\/4.0","work-count":3},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc\/3.0\/","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/by\/2.0","work-count":1},{"URL":"http:\/\/creative[...]
