interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/licenses
  response:
    body: {string: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":528,"items":[{"URL":"http:\/\/academic.oup.com\/journals\/pages\/about_us\/legal\/notices","work-count":153},{"URL":"http:\/\/academico.uerr.edu.br\/ojs\/index.php\/REMGADS","work-count":3},{"URL":"http:\/\/aspb.org\/publications\/aspb-journals\/open-articles","work-count":684},{"URL":"http:\/\/co.creativecommons.org\/","work-count":2},{"URL":"http:\/\/creativecomm.org\/licenses\/by\/2.0","work-count":1},{"URL":"http:\/\/creativecommons.
        org\/licenses\/by-nc\/2.5","work-count":1},{"URL":"http:\/\/creativecommons.org\/
        licenses\/by\/4.0\/","work-count":2},{"URL":"http:\/\/creativeco[...]
