interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/licenses
  response:
    body: {string: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":567,"items":[{"URL":"http:\/\/
        creativecommons.org\/licenses\/by-nc-nd\/4.0\/","work-count":11},{"URL":"http:\/\/
        http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/","work-count":6},{"URL":"http:\/\/academic.oup.com\/journals\/pages\/about_us\/legal\/notices","work-count":4170},{"URL":"http:\/\/academico.uerr.edu.br\/ojs\/index.php\/REMGADS","work-count":3},{"URL":"http:\/\/aspb.org\/publications\/aspb-journals\/open-articles","work-count":750},{"URL":"http:\/\/co.creativecommons.org\/","work-count":2},{"URL":"http:\/\/creativecomm.org\/licenses\/by\/2.0","work-count":1},{"URL":"http:\/\/creativecommons.
     [...]
