interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/licenses?query=aps
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":24,"items":[{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/","work-count":8},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/","work-count":15},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-sa\/4.0","work-count":2},{"URL":"http:\/\/creativecommons.org\/licenses\/by\/2.0","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/by\/2.0\/uk\/legalcode","work-count":2},{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","work-count":13},{"URL":"http:\/\/c[...]
