interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.25.0 habanero/0.7.5
    method: GET
    uri: https://api.crossref.org/members?rows=0
  response:
    body:
      string: '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items-per-page":0,"query":{"start-index":0,"search-terms":null},"total-results":17779,"items":[]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Interval:
      - 1s
      X-Rate-Limit-Limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
