interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/members/98/works?rows=7&query.author=carl+boettiger
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"items-per-page":7,"query":{"start-index":0,"search-terms":null},"total-results":241,"items":[{"indexed":{"date-parts":[[2017,5,27]],"date-time":"2017-05-27T21:15:03Z","timestamp":1495919703014},"reference-count":0,"publisher":"Hindawi
        Publishing Corporation","issue":"3-4","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[1997,1,1]],"date-time":"1997-01-01T00:00:00Z","timestamp":852076800000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Abstract
        and Applied Analysis"],"published-print":{"date-parts":[[1997]]},"abstract":"<jats:p>In
        this paper we consider a quasilinear parabolic equation in a bounded domain
        under periodic Dirichlet boundary conditions. Our main goal is to prove the
        existence of extremal solutions among all solutions lying in a sector formed
        by appropriately defined upper and lower solutions. The main tools used in
        the proof of our result are recently obtained abstract results on nonlinear
        evolution equations, comparison and truncation techniques and suitably constructed
        special testfunction.<\/jats:p>","DOI":"10.1155\/s1085337597000389","type":"journal-article","created":{"date-parts":[[2002,9,16]],"date-time":"2002-09-16T12:00:16Z","timestamp":1032177616000},"page":"257-270","source":"Crossref","is-referenced-by-count":3,"title":["Existence
        of extremal periodic solutions for quasilinear parabolic equations"],"prefix":"10.1155","volume":"2","author":[{"given":"Siegfried","family":"Carl","affiliation":[{"name":"Martin-Luther-Universit\u00e4t
        Halle-Wittenberg, Fachbereich Mathematik und Informatik, Institut f\u00fcr
        Analysis, Halle D-06099, Germany"}]}],"member":"98","container-title":["Abstract
        and Applied Analysis"],"original-title":[],"link":[{"URL":"http:\/\/downloads.hindawi.com\/journals\/aaa\/1997\/743028.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2016,8,23]],"date-time":"2016-08-23T14:37:29Z","timestamp":1471963049000},"score":9.621031,"subtitle":[],"short-title":[],"issued":{"date-parts":[[1997]]},"references-count":0,"alternative-id":["743028"],"URL":"http:\/\/dx.doi.org\/10.1155\/s1085337597000389","relation":{},"ISSN":["1085-3375"],"issn-type":[{"value":"1085-3375","type":"print"}],"subject":["Applied
        Mathematics","Analysis"]},{"indexed":{"date-parts":[[2017,5,27]],"date-time":"2017-05-27T21:14:43Z","timestamp":1495919683323},"reference-count":0,"publisher":"Hindawi
        Publishing Corporation","issue":"8","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2001,1,1]],"date-time":"2001-01-01T00:00:00Z","timestamp":978307200000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["International
        Journal of Mathematics and Mathematical Sciences"],"published-print":{"date-parts":[[2001]]},"abstract":"<jats:p>Let<mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" alttext=\"$L = (1 -
        z^2)D^2 - 2zD$\"><mml:mi>L<\/mml:mi><mml:mo>=<\/mml:mo><mml:mrow><mml:mo>(<\/mml:mo><mml:mrow><mml:mn>1<\/mml:mn><mml:mo>\u2212<\/mml:mo><mml:msup><mml:mi>z<\/mml:mi><mml:mn>2<\/mml:mn><\/mml:msup><\/mml:mrow><mml:mo>)<\/mml:mo><\/mml:mrow><mml:msup><mml:mi>D<\/mml:mi><mml:mn>2<\/mml:mn><\/mml:msup><mml:mo>\u2212<\/mml:mo><mml:mn>2<\/mml:mn><mml:mi>z<\/mml:mi><mml:mi>D<\/mml:mi><\/mml:math>,<mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" alttext=\"$D = d\/dz$\"><mml:mi>D<\/mml:mi><mml:mo>=<\/mml:mo><mml:mrow><mml:mi>d<\/mml:mi><mml:mo>\/<\/mml:mo><mml:mrow><mml:mi>d<\/mml:mi><mml:mi>z<\/mml:mi><\/mml:mrow><\/mml:mrow><\/mml:math>and<mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" alttext=\"$f(z) = \\sum_{n
        = 0}^\\infty c_nP_n(z)$\"><mml:mi>f<\/mml:mi><mml:mrow><mml:mo>(<\/mml:mo><mml:mi>z<\/mml:mi><mml:mo>)<\/mml:mo><\/mml:mrow><mml:mo>=<\/mml:mo><mml:msubsup><mml:mo>\u2211<\/mml:mo><mml:mrow><mml:mi>n<\/mml:mi><mml:mo>=<\/mml:mo><mml:mn>0<\/mml:mn><\/mml:mrow><mml:mi>\u221e<\/mml:mi><\/mml:msubsup><mml:mrow><mml:msub><mml:mi>c<\/mml:mi><mml:mi>n<\/mml:mi><\/mml:msub><mml:msub><mml:mi>p<\/mml:mi><mml:mi>n<\/mml:mi><\/mml:msub><mml:mrow><mml:mo>(<\/mml:mo><mml:mi>z<\/mml:mi><mml:mo>)<\/mml:mo><\/mml:mrow><\/mml:mrow><\/mml:math>,
        with<mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" alttext=\"$P_n$\"><mml:msub><mml:mi>P<\/mml:mi><mml:mi>n<\/mml:mi><\/mml:msub><\/mml:math>being
        the<mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" alttext=\"$n$\"><mml:mi>n<\/mml:mi><\/mml:math>th
        Legendre polynomial and<mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        alttext=\"$f$\"><mml:mi>f<\/mml:mi><\/mml:math>analytic in an ellipse with
        foci<mml:math xmlns:mml=\"http:\/\/www.[...]
