interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/members?filter=has-full-text%3Atrue
  response:
    body: {string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"filter-not-available","value":"has-full-text","message":"Filter
        has-full-text specified but there is no such filter for this route. Valid
        filters for this route are: prefix, has-public-references, reference-visibility,
        backfile-doi-count, current-doi-count"}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 400, message: Bad Request}
version: 1
