interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/members/98/works?rows=7&query.author=carl+boettiger
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":253,"items":[{"indexed":{"date-parts":[[2018,5,3]],"date-time":"2018-05-03T08:15:51Z","timestamp":1525335351149},"reference-count":0,"publisher":"Hindawi
        Limited","issue":"8","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2001,1,1]],"date-time":"2001-01-01T00:00:00Z","timestamp":978307200000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["International
        Journal of Mathematics and Mathematical Sciences"],"published-print":{"date-parts":[[2001]]},"abstract":"<jats:p>Let<mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" alttext=\"$L = (1 -
        z^2)D^2 - 2zD$\"><mml:mi>L<\/mml:mi><mml:mo>=<\/mml:mo><mml:mrow><mml:mo>(<\/mml:mo><mml:mrow><mml:mn>1<\/mml:mn><mml:mo>\u2212<\/mml:mo><mml:msup><mml:mi>z<\/mml:mi><mml:mn>2<\/mml:mn><\/mml:msup><\/mml:mrow><mml:mo>)<\/mml:mo><\/mml:mrow><mml:msup><mml:mi>D<\/mml:mi><mml:mn>2<\/mml:mn><\/mml:msup><mml:mo>\u2212<\/mml:mo><mml:mn>2<\/mml:mn><mml:mi>z<\/mml:mi><mml:mi>D<\/mml:mi><\/mml:math>,<mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" alttext=\"$D = d\/dz$\"><mml:mi>D<\/mml:mi><mml:mo>=<\/mml:mo><mml:mrow><mml:mi>d<\/mml:mi><mml:mo>\/<\/mml:mo><mml:mrow><mml:mi>d<\/mml:mi><mml:mi>z<\/mml:mi><\/mml:mrow><\/mml:mrow><\/mml:math>and<mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" alttext=\"$f(z) = \\sum_{n
        = 0}^\\infty c_nP_n(z)$\"><mml:mi>f<\/mml:mi><mml:mrow><mml:mo>(<\/mml:mo><mml:mi>z<\/mml:mi><mml:mo>)<\/mml:mo><\/mml:mrow><mml:mo>=<\/mml:mo><mml:msubsup><mml:mo>\u2211<\/mml:mo><mml:mrow><mml:mi>n<\/mml:mi><mml:mo>=<\/mml:mo><mml:mn>0<\/mml:mn><\/mml:mrow><mml:mi>\u221e<\/mml:mi><\/mml:msubsup><mml:mrow><mml:msub><mml:mi>c<\/mml:mi><mml:mi>n<\/mml:mi><\/mml:msub><mml:msub><mml:mi>p<\/mml:mi><mml:mi>n<\/mml:mi><\/mml:msub><mml:mrow><mml:mo>(<\/mml:mo><mml:mi>z<\/mml:mi><mml:mo>)<\/mml:mo><\/mml:mrow><\/mml:mrow><\/mml:math>,
        with<mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" alttext=\"$P_n$\"><mml:msub><mml:mi>P<\/mml:mi><mml:mi>n<\/mml:mi><\/mml:msub><\/mml:math>being
        the<mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" alttext=\"$n$\"><mml:mi>n<\/mml:mi><\/mml:math>th
        Legendre polynomial and<mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        alttext=\"$f$\"><mml:mi>f<\/mml:mi><\/mml:math>analytic in an ellipse with
        foci<mml:math xmlns:mml=\"http:\/\/www.[...]
