interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/members?rows=2
  response:
    body: {string: '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":null},"total-results":9999,"items":[{"last-status-check-time":1522630962299,"primary-name":"Hogrefe
        Publishing Group","counts":{"total-dois":36418,"current-dois":3592,"backfile-dois":32826},"breakdowns":{"dois-by-issued-year":[[2003,2329],[2004,2264],[2002,2211],[2005,2204],[2006,2158],[2007,2121],[2017,1910],[2016,1904],[2008,1884],[2012,1827],[2015,1810],[2013,1805],[2014,1795],[2009,1760],[2010,1718],[2011,1681],[2001,1479],[2000,1477],[1999,1267],[2018,543],[1997,164],[1996,140],[1998,138],[1995,103],[1994,11],[1993,11],[0,1]]},"prefixes":["10.1024","10.1027","10.1026"],"coverage":{"affiliations-current":0.45991089940071106,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.0,"affiliations-backfile":0.05928227677941322,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0.0,"orcids-current":0.0,"references-backfile":0.34695059061050415,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"references-current":0.0011135857785120606},"prefix":[{"value":"10.1024","name":"Hogrefe
        Publishing Group","public-references":false,"reference-visibility":"limited"},{"value":"10.1027","name":"Hogrefe
        Publishing Group","public-references":false,"reference-visibility":"limited"},{"value":"10.1026","name":"Hogrefe
        Publishing Group","public-references":false,"reference-visibility":"limited"}],"id":101,"tokens":["hogrefe","publishing","group"],"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":false,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-award-numbers-current":false,"deposits-resource-links-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":false,"deposits-references-backfile":true,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":false,"deposits-references-current":true,"deposits-resource-links-backfile":false,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-licenses-current":false},"location":"Langgass-Strasse
        76 Berne CH-3000 Switzerland","names":["Hogrefe Publishing Group"]},{"last-status-check-time":1522630962433,"primary-name":"Ebsco
        Publishing","counts":{"total-dois":89,"current-dois":0,"backfile-dois":89},"breakdowns":{"dois-by-issued-year":[[2007,23],[2006,23],[2004,18],[2005,14],[2003,11]]},"prefixes":["10.1033"],"coverage":{"affiliations-current":0,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0,"[...]
