interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/members?rows=2
  response:
    body: {string: '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":null},"total-results":10257,"items":[{"last-status-check-time":1527123700466,"primary-name":"Clay
        Minerals Society","counts":{"total-dois":4308,"current-dois":98,"backfile-dois":4210},"breakdowns":{"dois-by-issued-year":[[1986,101],[1992,98],[2003,97],[1997,97],[1994,97],[1996,95],[1990,94],[2004,93],[1999,92],[1995,92],[1991,91],[1985,91],[2002,90],[1975,90],[1988,88],[1989,86],[2000,85],[1993,85],[1998,83],[1980,83],[1982,79],[1979,77],[1973,77],[1984,76],[1983,76],[1981,73],[2016,72],[2009,71],[2006,71],[2010,70],[1974,70],[2005,68],[1978,68],[1987,66],[1971,66],[1972,65],[1977,64],[2001,63],[2008,60],[1970,59],[1969,59],[2007,58],[1976,57],[1963,57],[1968,56],[2011,55],[2012,52],[1955,49],[1967,48],[1954,46],[1960,45],[2013,43],[1964,43],[1961,43],[2014,41],[1953,39],[1966,38],[2017,37],[1962,34],[2015,33],[1956,31],[1959,27],[1957,27],[1952,27],[1958,25],[2018,20]]},"prefixes":["10.1346"],"coverage":{"affiliations-current":0.2448979616165161,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.0,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0.0,"orcids-current":0.0,"references-backfile":0.0,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.0,"resource-links-current":0.9081632494926453,"abstracts-current":0.0,"references-current":0.0},"prefix":[{"value":"10.1346","name":"Clay
        Minerals Society","public-references":false,"reference-visibility":"limited"}],"id":63,"tokens":["clay","minerals","society"],"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":false,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":false,"deposits-award-numbers-current":false,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":false,"deposits-references-backfile":false,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":false,"deposits-references-current":false,"deposits-resource-links-backfile":false,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-licenses-current":false},"location":"3635
        Concorde Pkwy Suite 500 Chantilly VA 20151 United States","names":["Clay Minerals
        Society"]},{"last-status-check-time":1527123701085,"primary-name":"EMBO","counts":{"total-dois":3270,"current-dois":1308,"backfile-dois":1962},"breakdowns":{"dois-by-issued-year":[[2017,698],[2015,638],[2016,599],[2014,502],[2018,246],[2013,178],[2012,145],[2011,101],[2009,78],[2010,73],[2003,15],[2008,1]]},"prefixes":["10.15252"],"coverage":{"affiliations-current":0.0,"funders-backfile":0.09378185868263245,"licenses-backfile":0.0,"funders-current":0.7102446556091309,"aff[...]
