interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/members?query=ecology&rows=2
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":"ecology"},"total-results":18,"items":[{"last-status-check-time":1499317280032,"primary-name":"Japanese
        Society of Microbial Ecology","counts":{"total-dois":1053,"current-dois":93,"backfile-dois":960},"breakdowns":{"dois-by-issued-year":[[2012,82],[2013,67],[2014,66],[2016,65],[2009,54],[2008,54],[2011,52],[2015,50],[2010,49],[2007,47],[2004,41],[1999,41],[1998,38],[2001,36],[2005,32],[2003,31],[2006,30],[2002,30],[2017,28],[2000,28],[1993,28],[1997,22],[1994,19],[1995,18],[1989,16],[1996,15],[1991,15],[1992,11],[1990,11],[1988,11],[1987,10],[1986,6]]},"prefixes":["10.1264"],"coverage":{"affiliations-current":0.9892473220825195,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.0,"affiliations-backfile":0.03333333507180214,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0.0,"orcids-current":0.0,"references-backfile":0.6895833611488342,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"references-current":0.9677419066429138},"prefix":[{"public-references":false,"name":"Japanese
        Society of Microbial Ecology","value":"10.1264"}],"id":336,"tokens":["japanese","society","of","microbial","ecology"],"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":false,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-award-numbers-current":false,"deposits-resource-links-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":false,"deposits-references-backfile":true,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":false,"deposits-references-current":true,"deposits-resource-links-backfile":false,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-licenses-current":false},"location":"5-3
        Yonbancho Chiyoda-ku Tokyo 102-0081 Japan","names":["Japanese Society of Microbial
        Ecology"]},{"last-status-check-time":1499317326681,"primary-name":"Journal
        of Vector Ecology","counts":{"total-dois":0,"current-dois":0,"backfile-dois":0},"breakdowns":{"dois-by-issued-year":[]},"prefixes":["10.3376"],"coverage":{"affiliations-current":0,"funders-backfile":0,"licenses-backfile":0,"funders-current":0,"affiliations-backfile":0,"resource-links-backfile":0,"orcids-backfile":0,"update-policies-current":0,"orcids-current":0,"references-b[...]
