interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.25.0 habanero/0.7.5
    method: GET
    uri: https://api.crossref.org/members?offset=0&rows=1
  response:
    body:
      string: '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items-per-page":1,"query":{"start-index":0,"search-terms":null},"total-results":17779,"items":[{"last-status-check-time":1608201343394,"primary-name":"University
        of Tartu","counts":{"total-dois":2394,"current-dois":629,"backfile-dois":1765},"breakdowns":{"dois-by-issued-year":[[2014,285],[2017,268],[2015,267],[2013,265],[2018,239],[2012,234],[2016,222],[2019,197],[2020,193],[2010,101],[2011,70],[2009,35],[2008,18]]},"prefixes":["10.12697"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":0.9475357532501221,"funders-backfile":0.0,"licenses-backfile":0.006232294719666243,"funders-current":0.0,"affiliations-backfile":0.0,"resource-links-backfile":0.6175637245178223,"orcids-backfile":0.0,"update-policies-current":0.0,"open-references-backfile":0.0,"orcids-current":0.01589825190603733,"similarity-checking-backfile":0.6175637245178223,"references-backfile":0.0,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.15103338658809662,"award-numbers-current":0.0,"abstracts-backfile":0.5728045105934143,"resource-links-current":0.998410165309906,"abstracts-current":0.9618442058563232,"open-references-current":0.0,"references-current":0.0},"prefix":[{"reference-visibility":"limited","public-references":false,"name":"University
        of Tartu","value":"10.12697"}],"id":5007,"tokens":["university","of","tartu"],"counts-type":{"all":{"journal":10,"journal-article":2394},"current":{"journal-article":629},"backfile":{"journal-article":1765}},"coverage-type":{"all":{"journal":{"last-status-check-time":1608201331394,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":0.0},"journal-article":{"last-status-check-time":1608201327670,"affiliations":0.0,"abstracts":0.6750208735466003,"orcids":0.0041771093383431435,"licenses":0.044277358800172806,"references":0.0,"funders":0.0,"similarity-checking":0.7042606472969055,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.7176274061203003,"open-references":0.0}},"backfile":{"journal-article":{"last-status-check-time":1608201323740,"affiliations":0.0,"abstracts":0.5728045105934143,"orcids":0.0,"licenses":0.006232294719666243,"references":0.0,"funders":0.0,"similarity-checking":0.6175637245178223,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.6175637245178223,"open-references":0.0}},"current":{"journal-article":{"last-status-check-time":1608201320361,"affiliations":0.0,"abstracts":0.9618442058563232,"orcids":0.01589825190603733,"licenses":0.15103338658809662,"references":0.0,"funders":0.0,"similarity-checking":0.9475357532501221,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.998410165309906,"open-references":0.0}}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":false,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":false,"deposits-funders-current":false,"deposits-references-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":false,"deposits-open-references-backfile":false,"deposits-open-references-current":false,"deposits-references-current":false,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"location":"Reg
        No: 74001073VAT number: EE100030417Ulikooli 18 Tartu 50090 Estonia","names":["University
        of Tartu"]}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Interval:
      - 1s
      X-Rate-Limit-Limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
