interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/prefixes/10.1371/works?filter=type%3Ajournal-article&query.editor=cooper
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":75,"items":[{"indexed":{"date-parts":[[2018,2,8]],"date-time":"2018-02-08T16:59:55Z","timestamp":1518109195610},"reference-count":44,"publisher":"Public
        Library of Science (PLoS)","issue":"6","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2006,5,9]],"date-time":"2006-05-09T00:00:00Z","timestamp":1147132800000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":["www.plosbiology.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        Biol"],"DOI":"10.1371\/journal.pbio.0040156","type":"journal-article","created":{"date-parts":[[2006,5,5]],"date-time":"2006-05-05T11:45:16Z","timestamp":1146829516000},"page":"e156","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pbio.corrections_policy","source":"Crossref","is-referenced-by-count":48,"title":["Dynamic
        Interaction of TTDA with TFIIH Is Stabilized by Nucleotide Excision Repair
        in Living Cells"],"prefix":"10.1371","volume":"4","author":[{"given":"Giuseppina","family":"Giglia-Mari","affiliation":[]},{"given":"Catherine","family":"Miquel","affiliation":[]},{"given":"Arjan
        F","family":"Theil","affiliation":[]},{"given":"Pierre-Olivier","family":"Mari","affiliation":[]},{"given":"Deborah","family":"Hoogstraten","affiliation":[]},{"given":"Jessica
        M. Y","family":"Ng","affiliation":[]},{"given":"Christoffel","family":"Dinant","affiliation":[]},{"given":"Jan
        H. J","family":"Hoeijmakers","affiliation":[]},{"given":"Wim","family":"Vermeulen","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2006,5,9]]},"reference":[{"key":"JOURNAL-PBIO-0040156-B001","first-page":"366","volume":"411","author":"Hoeijmakers","year":"2001","journal-title":"Nature","ISSN":"http:\/\/id.crossref.org\/issn\/0028-0836","issn-type":"print"},{"key":"JOURNAL-PBIO-0040156-B002","first-page":"1284","volume":"291","author":"Wood","year":"2001","journal-title":"Science","ISSN":"http:\/\/id.crossref.org\/issn\/0193-4511","issn-type":"print"},{"key":"JOURNAL-PBIO-0040156-B003","first-page":"5293","volume":"22","author":"Riedl","year":"2003","journal-title":"Embo
        J","ISSN":"http:\/\/id.crossref.org\/issn\/1460-2075","issn-type":"print"},{"key":"JOURNAL-PBIO-0040156-B004","first-page":"8949","volume":"21","author":"Hanawalt"[...]
