interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.5.0.2]
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016/works?sample=2
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":15211530,"items":[{"indexed":{"date-parts":[[2017,8,26]],"date-time":"2017-08-26T15:03:15Z","timestamp":1503759795364},"reference-count":3,"publisher":"Elsevier
        BV","issue":"6","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1954,12,1]],"date-time":"1954-12-01T00:00:00Z","timestamp":-476064000000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
        Journal of Urology"],"published-print":{"date-parts":[[1954,12]]},"DOI":"10.1016\/s0022-5347(17)67736-x","type":"journal-article","created":{"date-parts":[[2017,7,11]],"date-time":"2017-07-11T22:55:33Z","timestamp":1499813733000},"page":"1218-1221","source":"Crossref","is-referenced-by-count":9,"title":["Allergic
        Granuloma of the Prostate"],"prefix":"10.1016","volume":"72","author":[{"given":"Francis
        G.","family":"Harrison","affiliation":[]},{"given":"David G.","family":"Neander","affiliation":[]}],"member":"78","container-title":["The
        Journal of Urology"],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S002253471767736X?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S002253471767736X?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,7,11]],"date-time":"2017-07-11T22:55:35Z","timestamp":1499813735000},"score":1.0,"issued":{"date-parts":[[1954,12]]},"references-count":3,"alternative-id":["S002253471767736X"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0022-5347(17)67736-x","ISSN":["0022-5347"],"issn-type":[{"value":"0022-5347","type":"print"}],"subject":["Urology"]},{"indexed":{"date-parts":[[2017,8,7]],"date-time":"2017-08-07T20:03:35Z","timestamp":1502136215922},"reference-count":9,"publisher":"Elsevier
        BV","issue":"2-3","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1999,10,1]],"date-time":"1999-10-01T00:00:00Z","timestamp":938736000000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of A[...]
