interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016/works?sample=2
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":15529582,"items":[{"indexed":{"date-parts":[[2018,2,5]],"date-time":"2018-02-05T23:19:17Z","timestamp":1517872757555},"reference-count":1,"publisher":"Elsevier
        BV","issue":"6","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1982,12,1]],"date-time":"1982-12-01T00:00:00Z","timestamp":407548800000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
        Journal of Pediatrics"],"published-print":{"date-parts":[[1982,12]]},"DOI":"10.1016\/s0022-3476(82)80043-7","type":"journal-article","created":{"date-parts":[[2006,3,14]],"date-time":"2006-03-14T14:28:24Z","timestamp":1142346504000},"page":"1037","source":"Crossref","is-referenced-by-count":1,"title":["Oral
        rehydration of diarrhea"],"prefix":"10.1016","volume":"101","author":[{"given":"Harold
        E.","family":"Harrison","affiliation":[]},{"given":"Laurence","family":"Finberg","affiliation":[]},{"given":"Paul
        A.","family":"Harper","affiliation":[]},{"given":"R. Brad","family":"Sack","affiliation":[]}],"member":"78","container-title":["The
        Journal of Pediatrics"],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0022347682800437?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0022347682800437?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,6,17]],"date-time":"2017-06-17T03:47:16Z","timestamp":1497671236000},"score":1.0,"issued":{"date-parts":[[1982,12]]},"references-count":1,"alternative-id":["S0022347682800437"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0022-3476(82)80043-7","ISSN":["0022-3476"],"issn-type":[{"value":"0022-3476","type":"print"}],"subject":["Pediatrics,
        Perinatology, and Child Health"]},{"indexed":{"date-parts":[[2018,2,2]],"date-time":"2018-02-02T23:17:46Z","timestamp":1517613466035},"reference-count":10,"publisher":"Elsevier
        BV","issue":"3","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1973,1,1]],"date-time":"1973-01-01T00:00:00Z","timestamp":94694400000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short[...]
