interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016/works?sample=2
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"items-per-page":20,"query":{"start-index":0,"search-terms":null},"total-results":15023195,"items":[{"indexed":{"date-parts":[[2017,6,17]],"date-time":"2017-06-17T16:14:09Z","timestamp":1497716049832},"reference-count":39,"publisher":"Elsevier
        BV","issue":"2","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2007,1,1]],"date-time":"2007-01-01T00:00:00Z","timestamp":1167609600000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["International
        Biodeterioration & Biodegradation"],"published-print":{"date-parts":[[2007,1]]},"DOI":"10.1016\/j.ibiod.2007.02.001","type":"journal-article","created":{"date-parts":[[2007,3,24]],"date-time":"2007-03-24T11:06:19Z","timestamp":1174734379000},"page":"116-125","source":"Crossref","is-referenced-by-count":0,"title":["Organic
        matter evolution and partial detoxification in two-phase olive mill waste
        colonized by white-rot fungi"],"prefix":"10.1016","volume":"60","author":[{"given":"Inmaculada","family":"Sampedro","affiliation":[]},{"given":"Sara","family":"Marinari","affiliation":[]},{"given":"Alessandro","family":"D\u2019Annibale","affiliation":[]},{"given":"Stefano","family":"Grego","affiliation":[]},{"given":"Juan
        A.","family":"Ocampo","affiliation":[]},{"given":"Inmaculada","family":"Garc\u00eda-Romera","affiliation":[]}],"member":"78","container-title":["International
        Biodeterioration & Biodegradation"],"original-title":[],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0964830507000182?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0964830507000182?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,6,17]],"date-time":"2017-06-17T15:39:36Z","timestamp":1497713976000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2007,1]]},"references-count":39,"alternative-id":["S0964830507000182"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.ibiod.2007.02.001","relation":{},"ISSN":["0964-8305"],"issn-type":[{"value":"0964-8305","type":"print"}]},{"indexed":{"date-parts":[[2017,6,15]],"date-time":"2017-06-15T18:53:26Z","timestamp":1497552806705},"reference-count":12,"publisher":"Elsevier
        BV","issue":"1","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1976,2,1]],"date-time":"1976-02-01T00:00:00Z","timestamp":191980800000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Clin[...]
