interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/prefixes?filter=has-full-text%3Atrue
  response:
    body: {string: '{"status":"error","message-type":"route-not-found","message-version":"1.0.0","message":"Route
        not found"}'}
    headers:
      Content-Type: [application/json]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 404, message: Not Found}
version: 1
