interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/prefixes/10.1371/works?filter=type%3Ajournal-article&query.editor=cooper
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"items-per-page":20,"query":{"start-index":0,"search-terms":null},"total-results":68,"items":[{"indexed":{"date-parts":[[2017,6,24]],"date-time":"2017-06-24T00:50:10Z","timestamp":1498265410873},"reference-count":179,"publisher":"Public
        Library of Science (PLoS)","issue":"11","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2015,11,23]],"date-time":"2015-11-23T00:00:00Z","timestamp":1448236800000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        ONE"],"DOI":"10.1371\/journal.pone.0143505","type":"journal-article","created":{"date-parts":[[2015,11,24]],"date-time":"2015-11-24T21:20:47Z","timestamp":1448400047000},"page":"e0143505","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"Crossref","is-referenced-by-count":0,"title":["Despite
        Buffers, Experimental Forest Clearcuts Impact Amphibian Body Size and Biomass"],"prefix":"10.1371","volume":"10","author":[{"given":"Jessica
        S.","family":"Veysey Powell","affiliation":[]},{"given":"Kimberly J.","family":"Babbitt","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2015,11,23]]},"reference":[{"key":"ref1","year":"2012","article-title":"State
        of the World&apos;s Forests 2012"},{"key":"ref2","author":"LC Irland","year":"1999","article-title":"The
        Northeast&apos;s Changing Forest"},{"key":"ref3","first-page":"1","DOI":"10.1300\/J091v18n01_01","article-title":"Towards
        a sustainable northern forest","volume":"18","author":"AJ Friedland","year":"2004","journal-title":"Journal
        of Sustainable Forestry"},{"key":"ref4","first-page":"409","DOI":"10.1016\/j.foreco.2008.12.029","article-title":"Large-scale
        interdisciplinary experiments inform current and future forestry management
        options in the US Pacific Northwest","volume":"258","author":"CE Peterson","year":"2009","journal-title":"Forest
        Ecology and Management"},{"key":"ref5","first-page":"104","article-title":"Large-scale,
        long-term silvicultural experiments in the United States: historical overview
        and contemporary examples","volume":"177","author":"RS Seymour","year":"2006","journal-title":"Allgemeine
        Forst und Jagdzeitung"},{"key":"ref6","first-page":"S1","DOI":"10.1016\/j.foreco.2009.10.037","article-title":"Biodiversity
        in forest ecosystems and landscapes: A conference to discuss future directions
        in biodiversity management for sustainable forestry","volume":"258","author":"W
        Klenner","year":"2009","journal-title":"Forest Ecology and Management"},{"key":"ref7","unstructured":"Peterson
        CE, RA Monserud (2002) Compatibility between wood production and other values
        and uses on forested lands: a problem analysis. General Technical Report PNW-GTR-564.
        Portland, OR, U.S. Department of Agriculture, Forest Service, Pacific Northwest
        Research Station, 51 pp."},{"key":"ref8","author":"PG deMaynadier","first-page":"392","year":"2008","article-title":"Science
        and conservation of vernal pools in northeastern North America"},{"key":"ref9","first-page":"1219","DOI":"10.1046\/j.1523-1739.2003.02177.x","article-title":"Biological
        criteria for buffer zones around wetlands and riparian habitats for amphibians
        and reptiles","volume":"17","author":"RD Semlitsch","year":"2003","journal-title":"Conservation
        Biology"},{"key":"ref10","first-page":"2115","DOI":"10.1016\/j.foreco.2011.03.005","article-title":"The
        effects of clearcuts and forest buffer size on post-breeding emigration of
        adult wood frogs (<italic>Lithobates sylvaticus<\/italic>)","volume":"261","author":"NA
        Freidenfelds","year":"2011","journal-title":"Forest Ecology and Management"},{"key":"ref11","first-page":"2227","DOI":"10.1016\/j.biocon.2009.04.024","article-title":"An
        experimental assessment of buffer width: Implications for salamander migratory
        behavior","volume":"142","author":"JS Veysey","year":"2009","journal-title":"Biological
        Conservation"},{"key":"ref12","first-page":"1620","DOI":"10.1890\/08-[...]
