interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016
  response:
    body: {string: '{"status":"ok","message-type":"prefix","message-version":"1.0.0","message":{"member":"http:\/\/id.crossref.org\/member\/78","name":"Elsevier
        BV","prefix":"http:\/\/id.crossref.org\/prefix\/10.1016"}}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 200, message: OK}
version: 1
