interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016/works?sample=2
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":15636293,"items":[{"indexed":{"date-parts":[[2018,5,5]],"date-time":"2018-05-05T16:34:34Z","timestamp":1525538074409},"reference-count":32,"publisher":"Elsevier
        BV","issue":"3","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2012,11,1]],"date-time":"2012-11-01T00:00:00Z","timestamp":1351728000000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Cereal Science"],"published-print":{"date-parts":[[2012,11]]},"DOI":"10.1016\/j.jcs.2012.07.008","type":"journal-article","created":{"date-parts":[[2012,8,21]],"date-time":"2012-08-21T03:25:01Z","timestamp":1345519501000},"page":"576-580","source":"Crossref","is-referenced-by-count":9,"title":["Glycaemic
        response to frozen stored wheat rolls enriched with inulin and oat fibre"],"prefix":"10.1016","volume":"56","author":[{"given":"B.","family":"Borczak","sequence":"first","affiliation":[]},{"given":"E.","family":"Sikora","sequence":"additional","affiliation":[]},{"given":"M.","family":"Sikora","sequence":"additional","affiliation":[]},{"given":"C.M.","family":"Rosell","sequence":"additional","affiliation":[]},{"given":"C.","family":"Collar","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Journal
        of Cereal Science"],"language":"en","link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0733521012001361?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0733521012001361?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,6,20]],"date-time":"2017-06-20T23:04:34Z","timestamp":1497999874000},"score":1.0,"issued":{"date-parts":[[2012,11]]},"references-count":32,"journal-issue":{"published-print":{"date-parts":[[2012,11]]},"issue":"3"},"alternative-id":["S0733521012001361"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.jcs.2012.07.008","ISSN":["0733-5210"],"issn-type":[{"value":"0733-5210","type":"print"}]},{"indexed":{"date-parts":[[2018,5,3]],"date-time":"2018-05-03T21:53:41Z","timestamp":1525384421356},"reference-count":0,"publisher":"Elsevier
        BV","issue":"6457","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1947,5,1]],"date-time":"1947-05-01T00:00:00Z","timestamp":-715478400000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Th[...]
