interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/works?sample=10
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":95864685,"items":[{"indexed":{"date-parts":[[2017,10,27]],"date-time":"2017-10-27T19:51:26Z","timestamp":1509133886970},"reference-count":0,"publisher":"Wiley-Blackwell","issue":"11","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Clin
        Case Rep"],"published-print":{"date-parts":[[2015,11]]},"DOI":"10.1002\/ccr3.223","type":"journal-article","created":{"date-parts":[[2015,11,2]],"date-time":"2015-11-02T03:25:52Z","timestamp":1446434752000},"page":"i-iv","source":"Crossref","is-referenced-by-count":0,"title":["Issue
        Information"],"prefix":"10.1002","volume":"3","member":"311","published-online":{"date-parts":[[2015,11,1]]},"container-title":["Clinical
        Case Reports"],"link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1002%2Fccr3.223","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,3,27]],"date-time":"2017-03-27T23:39:43Z","timestamp":1490657983000},"score":1.0,"issued":{"date-parts":[[2015,11]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1002\/ccr3.223","archive":["Portico"],"ISSN":["2050-0904"],"issn-type":[{"value":"2050-0904","type":"print"}]},{"indexed":{"date-parts":[[2017,10,27]],"date-time":"2017-10-27T19:52:57Z","timestamp":1509133977020},"publisher-location":"Cham","reference-count":0,"publisher":"Springer
        International Publishing","license":[{"URL":"http:\/\/www.springer.com\/tdm","start":{"date-parts":[[2016,1,1]],"date-time":"2016-01-01T00:00:00Z","timestamp":1451606400000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2016]]},"DOI":"10.1007\/978-3-319-26161-4_16","type":"book-chapter","created":{"date-parts":[[2016,4,25]],"date-time":"2016-04-25T11:19:34Z","timestamp":1461583174000},"page":"239-283","source":"Crossref","is-referenced-by-count":0,"title":["Economic
        Growth, Sustainable Development and Ecological Conservation in the Asian Developing
        Countries: The Way Forward"],"prefix":"10.1007","author":[{"given":"Choy Yee","family":"Keong","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2016,4,26]]},"container-title":["Topics
        in Biodiversity and Conservation","Naturalists, Explorers and Field Scientists
        in South-East Asia and Australasia"],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-319-26161-4_16","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,4,25]],"date-time":"2016-04-25T11:19:42Z","timestamp":1461583182000},"score":1.0,"issued":{"date-parts":[[2016]]},"ISBN":["9783319261591","9783319261614"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-3-319-26161-4_16","ISSN":["1875-1288","1875-1296"],"issn-type":[{"value":"1875-1288","type":"print"},{"value":"1875-1296","type":"electronic"}]},{"indexed":{"date-parts":[[2017,10,27]],"date-time":"2017-10-27T19:31:08Z","timestamp":1509132668582},"reference-count":2,"publisher":"Elsevier
        BV","issue":"6","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2017,6,1]],"date-time":"2017-06-01T00:00:00Z","timestamp":1496275200000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":["clinicalkey.es","elsevier.es","elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Archivos
        de Bronconeumolog\u00eda"],"published-print":{"date-parts":[[2017,6]]},"DOI":"10.1016\/j.arbres.2016.11.005","type":"journal-article","created":{"date-parts":[[2016,12,13]],"date-time":"2016-12-13T14:49:03Z","timestamp":1481640543000},"page":"342","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":0,"title":["Carcinoma
        broncog\u00e9nico en paciente con linfangioleiomiomatosis"],"prefix":"10.1016","volume":"53","author":[{"given":"Luis","family":"Gorospe
        Saras\u00faa","affiliation":[]},{"given":"Edwin","family":"Mercedes-Noboa","affiliation":[]},{"given":"Mar\u00eda
        Eugenia","family":"Olmedo-Garc\u00eda","affiliation":[]}],"member":"78","container-title":["Archivos
        de Bronconeumolog\u00eda"],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S030028961630326X?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S030028961630326X?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,7,15]],"date-time":"2017-07-15T08:41:00Z","timestamp":1500108060000},"score":1.0,"issued":{"date-parts":[[2017,6]]},"references-count":2,"alternative-id":["S030028961630326X"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.arbres.2016.11.005","ISSN":["0300-2896"],"issn-type":[{"value":"0300-2896","type":"print"}],"subject":["Pulmonary
        and Respiratory Medicine"],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"Carcinoma broncog\u00e9nico en paciente
        con linfangioleiomiomatosis","name":"articletitle","label":"Article Title"},{"value":"Archivos
        de Bronconeumolog\u00eda","name":"journaltitle","label":"Journal Title"},{"value":"http:\/\/dx.doi.org\/10.1016\/j.arbres.2016.11.005","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name":"content_type","label":"Content
        Type"},[...]
