interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/works?sample=10
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":96961333,"items":[{"indexed":{"date-parts":[[2018,4,18]],"date-time":"2018-04-18T02:12:55Z","timestamp":1524017575497},"reference-count":0,"publisher":"American
        Chemical Society (ACS)","issue":"37","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["C&EN
        Global Enterp"],"published-print":{"date-parts":[[2016,9,19]]},"DOI":"10.1021\/cen-09437-govcon003","type":"journal-article","created":{"date-parts":[[2017,1,11]],"date-time":"2017-01-11T14:33:04Z","timestamp":1484145184000},"page":"15-15","source":"Crossref","is-referenced-by-count":0,"title":["U.S.
        destroys ISIS production plant"],"prefix":"10.1021","volume":"94","member":"316","published-online":{"date-parts":[[2016,9,19]]},"container-title":["C&EN
        Global Enterprise"],"language":"en","link":[{"URL":"http:\/\/pubs.acs.org\/doi\/pdf\/10.1021\/cen-09437-govcon003","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,2,12]],"date-time":"2018-02-12T19:04:28Z","timestamp":1518462268000},"score":1.0,"issued":{"date-parts":[[2016,9,19]]},"references-count":0,"journal-issue":{"published-online":{"date-parts":[[2016,9,19]]},"published-print":{"date-parts":[[2016,9,19]]},"issue":"37"},"alternative-id":["10.1021\/cen-09437-govcon003"],"URL":"http:\/\/dx.doi.org\/10.1021\/cen-09437-govcon003","ISSN":["2474-7408"],"issn-type":[{"value":"2474-7408","type":"print"}]},{"indexed":{"date-parts":[[2018,5,4]],"date-time":"2018-05-04T07:54:51Z","timestamp":1525420491138},"publisher-location":"Hoboken,
        NJ, USA","reference-count":0,"publisher":"John Wiley & Sons, Inc.","isbn-type":[{"value":"9780470374696","type":"print"},{"value":"9780470320365","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1002\/9780470320365.ch27","type":"book-chapter","created":{"date-parts":[[2008,3,26]],"date-time":"2008-03-26T15:51:05Z","timestamp":1206546665000},"page":"1364-1365","source":"Crossref","is-referenced-by-count":0,"title":["Beam
        Liquor Decanters, A Decorating Challenge"],"prefix":"10.1002","author":[{"given":"Eric","family":"Whitten","sequence":"first","affiliation":[]}],"member":"311","published-online":{"date-parts":[[2008,3,26]]},"container-title":["Materials
        & Equipment\/Whitewares: Ceramic Engineering and Science Proceedings, Volume
        7, Issue 11\/12","Ceramic Engineering and Science Proceedings"],"deposited":{"date-parts":[[2010,5,10]],"date-time":"2010-05-10T23:44:43Z","timestamp":1273535083000},"score":1.0,"issued":{"date-parts":[[2008,3,26]]},"ISBN":["9780470320365","9780470374696"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1002\/9780470320365.ch27","ISSN":["1940-6339"],"issn-type":[{"value":"1940-6339","type":"electronic"}]},{"indexed":{"date-parts":[[2018,5,4]],"date-time":"2018-05-04T09:17:19Z","timestamp":1525425439129},"reference-count":35,"publisher":"American
        Geophysical Union (AGU)","issue":"3","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":8766,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Global
        Biogeochem. Cycles"],"published-print":{"date-parts":[[1991,9]]},"DOI":"10.1029\/91gb01303","type":"journal-article","created":{"date-parts":[[2008,4,28]],"date-time":"2008-04-28T22:22:13Z","timestamp":1209421333000},"page":"261-273","source":"Crossref","is-referenced-by-count":85,"title":["Methane
        consumption and emission by Taiga"],"prefix":"10.1029","volume":"5","author":[{"given":"S.
        C.","family":"Whalen","sequence":"first","affiliation":[]},{"given":"W. S.","family":"Reeburgh","sequence":"additional","affiliation":[]},{"given":"K.
        S.","family":"Kizer","sequence":"additional","affiliation":[]}],"member":"13","published-online":{"date-parts":[[2012,9,21]]},"reference":[{"key":"10.1029\/91GB01303-BIB0001|gbc138-cit-0001","doi-asserted-by":"crossref","first-page":"711","DOI":"10.1038\/348711a0","article-title":"Increases
        in terrestrial carbon storage from the last glacial maximum to the present","volume":"348","author":"Adams","year":"1990","journal-title":"Nature"},{"key":"10.1029\/91GB01303-BIB0002|gbc138-cit-0002","first-page":"68","article-title":"Physiology,
        biochemistry and specific inhibitors of CH4, NH4+ and CO oxidation by methylotrophs
        and nitrifiers","volume":"53","author":"Bedard","year":"1989","journal-title":"Microbiol.
        Rev."},{"key":"10.1029\/91GB01303-BIB0003|gbc138-cit-0003","doi-asserted-by":"crossref","first-page":"165","DOI":"10.1016\/0277-3791(87)90032-1","article-title":"Carbon
        balance of Alaskan tundra and taiga ecosystems: past, present and future","volume":"6","author":"Billings","year":"1987","journal-title":"Quat.
        Sci. Rev."},{"key":"10.1029\/91GB01303-BIB0004|gbc138-cit-0004","year":"1965","volume-title":"Methods
        of Soil Analysis, parts 1 and 2"},{"key":"10.1029\/91GB01303-BIB0005|gbc138-cit-0005","doi-asserted-by":"crossref","first-page":"1129","DOI":"10.1126\/science.239.4844.1129","article-title":"Continuing
        worldwide increase in tropospheric methane, 1978-1987","volume":"239","author":"Blake","year":"1989","journal-title":"Science"},{"key":"10.1029\/91GB01303-BIB0006|gbc138-cit-0006","doi-asserted-by":"crossref","first-page":"2","DOI":"10.1034\/j.1600-0889.1990.00002.x","arti[...]
