interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/works?sample=3
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":96961333,"items":[{"institution":{"name":"US
        Dept of the Air Force","place":["-","-"],"department":["Funding","Performing"],"acronym":["USAF","-"]},"indexed":{"date-parts":[[2018,5,7]],"date-time":"2018-05-07T19:28:27Z","timestamp":1525721307832},"publisher-location":"Fort
        Belvoir, VA","reference-count":0,"publisher":"Defense Technical Information
        Center","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2006,1,1]]},"DOI":"10.21236\/ada444478","type":"report","created":{"date-parts":[[2017,7,28]],"date-time":"2017-07-28T13:29:26Z","timestamp":1501248566000},"source":"Crossref","is-referenced-by-count":0,"title":["GPS
        Ionospheric Scintillation Measurements Using a Beam Steering Antenna Array
        for Improved Signal\/Noise"],"prefix":"10.21236","author":[{"given":"Alison","family":"Brown","sequence":"first","affiliation":[]},{"given":"Eric","family":"Holm","sequence":"first","affiliation":[]},{"given":"Keith","family":"Groves","sequence":"first","affiliation":[]}],"member":"9879","original-title":[""],"deposited":{"date-parts":[[2017,7,28]],"date-time":"2017-07-28T13:29:26Z","timestamp":1501248566000},"score":1.0,"subtitle":[""],"issued":{"date-parts":[[2006,1,1]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.21236\/ada444478"},{"indexed":{"date-parts":[[2018,5,8]],"date-time":"2018-05-08T05:18:38Z","timestamp":1525756718307},"reference-count":0,"publisher":"The
        Endocrine Society","issue":"10","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
        Journal of Clinical Endocrinology & Metabolism"],"published-print":{"date-parts":[[1998,10]]},"DOI":"10.1210\/jcem.83.10.5060-6","type":"journal-article","created":{"date-parts":[[2014,1,8]],"date-time":"2014-01-08T17:02:45Z","timestamp":1389200565000},"page":"3441-3443","source":"Crossref","is-referenced-by-count":1,"title":["VI.
        A Pragmatic Approach to Androgen Replacement in Older Men: Risksvs.Benefits"],"prefix":"10.1210","volume":"83","author":[{"given":"Stanley
        G.","family":"Korenman","sequence":"first","affiliation":[]}],"member":"80","container-title":["The
        Journal of Clinical Endocrinology & Metabolism"],"language":"en","link":[{"URL":"http:\/\/press.endocrine.org\/doi\/full\/10.1210\/jcem.83.10.5060-6","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,3,30]],"date-time":"2017-03-30T22:10:30Z","timestamp":1490911830000},"score":1.0,"issued":{"date-parts":[[1998,10]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[1998,10]]},"issue":"10"},"alternative-id":["10.1210\/jcem.83.10.5060-6"],"URL":"http:\/\/dx.doi.org\/10.1210\/jcem.83.10.5060-6","ISSN":["0021-972X","1945-7197"],"issn-type":[{"value":"0021-972X","type":"print"},{"value":"1945-7197","type":"electronic"}]},{"indexed":{"date-parts":[[2018,5,15]],"date-time":"2018-05-15T04:42:25Z","timestamp":1526359345288},"reference-count":32,"publisher":"Proceedings
        of the National Academy of Sciences","issue":"1","content-domain":{"domain":["pnas.org"],"crossmark-restriction":true},"short-container-title":["Proceedings
        of the National Academy of Sciences"],"published-print":{"date-parts":[[2005,1,4]]},"DOI":"10.1073\/pnas.0406424101","type":"journal-article","created":{"date-parts":[[2004,12,29]],"date-time":"2004-12-29T05:13:17Z","timestamp":1104297197000},"page":"63-68","update-policy":"http:\/\/dx.doi.org\/10.1073\/pnas.cm10313","source":"Crossref","is-referenced-by-count":43,"title":["HTLV-I
        Tax directly binds the Cdc20-associated anaphase-promoting complex and activates
        it ahead of schedule"],"prefix":"10.1073","volume":"102","author":[{"given":"B.","family":"Liu","sequence":"first","affiliation":[]},{"given":"S.","family":"Hong","sequence":"additional","affiliation":[]},{"given":"Z.","family":"Tang","sequence":"additional","affiliation":[]},{"given":"H.","family":"Yu","sequence":"additional","affiliation":[]},{"given":"C.-Z.","family":"Giam","sequence":"additional","affiliation":[]}],"member":"341","published-online":{"date-parts":[[2004,12,27]]},"reference":[{"issue":"1","key":"1_10724340","doi-asserted-by":"publisher","first-page":"1","DOI":"10.1016\/S0165-4608(98)00141-1","volume":"109","author":"Fujimoto","year":"1999","journal-title":"Cancer
        genetics and cytogenetics","ISSN":"http:\/\/id.crossref.org\/issn\/0165-4608","issn-type":"print"},{"issue":"1","key":"3_21315339","first-page":"120","volume":"66","author":"Kinoshita","year":"1985","journal-title":"Blood","ISSN":"http:\/\/id.crossref.org\/issn\/0006-4971","issn-type":"print"},{"issue":"3","key":"4_9665877","doi-asserted-by":"publisher","first-page":"428","DOI":"10.1111\/j.1365-2141.1991.tb08051.x","volume":"79","author":"Shimoyama","year":"1991","journal-title":[...]
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/works?sample=5
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":96961333,"items":[{"indexed":{"date-parts":[[2018,5,3]],"date-time":"2018-05-03T11:51:45Z","timestamp":1525348305688},"reference-count":23,"publisher":"Elsevier
        BV","issue":"4","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2007,4,1]],"date-time":"2007-04-01T00:00:00Z","timestamp":1175385600000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Pathology
        - Research and Practice"],"published-print":{"date-parts":[[2007,4]]},"DOI":"10.1016\/j.prp.2006.12.007","type":"journal-article","created":{"date-parts":[[2007,2,21]],"date-time":"2007-02-21T12:16:36Z","timestamp":1172060196000},"page":"245-249","source":"Crossref","is-referenced-by-count":9,"title":["Expression
        of transforming growth factor-\u03b2 recepto[...]
