interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/works?sample=3
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":95864685,"items":[{"indexed":{"date-parts":[[2017,10,27]],"date-time":"2017-10-27T17:43:12Z","timestamp":1509126192579},"reference-count":0,"publisher":"Japan
        Society of Mechanical Engineers","issue":"0","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["MPConf"],"published-print":{"date-parts":[[2005]]},"DOI":"10.1299\/jsmeintmp.2005.9_2","type":"journal-article","created":{"date-parts":[[2017,6,23]],"date-time":"2017-06-23T01:13:12Z","timestamp":1498180392000},"page":"9","source":"Crossref","is-referenced-by-count":0,"title":["MMC-07:
        Effect of Oxide Film on the Reduction of Hydrogen Permeation Rate in Stainless
        Steel(MMC-II: METALS AND METAL MATRIX COMPOSITES)"],"prefix":"10.1299","volume":"2005","author":[{"given":"T.","family":"YAMAZAKI","affiliation":[{"name":"Tokyo
        Institute of Technology"}]},{"given":"T.","family":"IKESYOJI","affiliation":[{"name":"Tokyo
        Institute of Technology"}]},{"given":"A.","family":"SUZUMURA","affiliation":[{"name":"Tokyo
        Institute of Technology"}]},{"given":"T.","family":"NAITO","affiliation":[{"name":"Tokyo
        Institute of Technology"}]}],"member":"124","container-title":["The Proceedings
        of the JSME Materials and Processing Conference (M&P)"],"original-title":["MMC-07:
        Effect of Oxide Film on the Reduction of Hydrogen Permeation Rate in Stainless
        Steel(MMC-II: METALS AND METAL MATRIX COMPOSITES)"],"link":[{"URL":"https:\/\/www.jstage.jst.go.jp\/article\/jsmeintmp\/2005\/0\/2005_9_2\/_pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,6,23]],"date-time":"2017-06-23T01:13:13Z","timestamp":1498180393000},"score":1.0,"issued":{"date-parts":[[2005]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1299\/jsmeintmp.2005.9_2","ISSN":["2424-2861"],"issn-type":[{"value":"2424-2861","type":"electronic"}]},{"indexed":{"date-parts":[[2017,10,27]],"date-time":"2017-10-27T10:31:16Z","timestamp":1509100276058},"publisher-location":"Cham","reference-count":0,"publisher":"Springer
        International Publishing","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2015]]},"DOI":"10.1007\/978-3-319-18687-0_168","type":"book-chapter","created":{"date-parts":[[2015,6,4]],"date-time":"2015-06-04T03:13:34Z","timestamp":1433387614000},"page":"455-459","source":"Crossref","is-referenced-by-count":0,"title":["Italian
        Small and Medium Entreprises Abroad: Current Situation and Future Perspectives"],"prefix":"10.1007","author":[{"given":"Elena","family":"Cedrola","affiliation":[]},{"given":"Loretta","family":"Battaglia","affiliation":[]},{"given":"Alessandra","family":"Tzannis","affiliation":[]}],"member":"297","container-title":["Developments
        in Marketing Science: Proceedings of the Academy of Marketing Science","Marketing
        in Transition: Scarcity, Globalism, & Sustainability"],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-319-18687-0_168","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2015,6,16]],"date-time":"2015-06-16T08:29:01Z","timestamp":1434443341000},"score":1.0,"issued":{"date-parts":[[2015]]},"ISBN":["9783319186863","9783319186870"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-3-319-18687-0_168","ISSN":["2363-6165","2363-6173"],"issn-type":[{"value":"2363-6165","type":"print"},{"value":"2363-6173","type":"electronic"}]},{"indexed":{"date-parts":[[2018,3,13]],"date-time":"2018-03-13T21:29:14Z","timestamp":1520976554451},"reference-count":47,"publisher":"Oxford
        University Press (OUP)","issue":"6","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2012,6]]},"DOI":"10.1093\/humrep\/des072","type":"journal-article","created":{"date-parts":[[2012,3,20]],"date-time":"2012-03-20T03:43:04Z","timestamp":1332214984000},"page":"1745-1753","source":"Crossref","is-referenced-by-count":17,"title":["Patterns
        of placental development evaluated by X chromosome inactivation profiling
        provide a basis to evaluate the origin of epigenetic variation"],"prefix":"10.1093","volume":"27","author":[{"given":"M.S.","family":"Pe\u00f1aherrera","affiliation":[]},{"given":"R.","family":"Jiang","affiliation":[]},{"given":"L.","family":"Avila","affiliation":[]},{"given":"R.K.C.","family":"Yuen","affiliation":[]},{"given":"C.J.","family":"Brown","affiliation":[]},{"given":"W.P.","family":"Robinson","affiliation":[]}],"member":"286","published-online":{"date-parts":[[2012,3,19]]},"reference":[{"key":"\nkey\n\t\t\t\t20170522104118_DES072C1","first-page":"1229","article-title":"Methylation
        of HpaII and HhaI sites near the polymorphic CAG repeat in the human androgen-receptor
        gene correlates with X chromosome inactivation","volume":"51","author":"Allen","year":"1992","journal-title":"Am
        J Hum Genet"},{"key":"\nkey\n\t\t\t\t20170522104118_DES072C2","doi-asserted-by":"crossref","first-page":"493","DOI":"10.1086\/507565","article-title":"X
        chromosome-inactivation patterns of 1,005 phenotypically unaffected females","volume":"79","author":"Amos-Landgraf","year":"2006","journal-title":"Am
        J Hum Genet"},{"issue":"Suppl A","key":"\nkey\n\t\t\t\t20170522104118_DES072C3","doi-asserted-by":"crossref","first-page":"S98","DOI":"10.1016\/j.placenta.2005.12.008","article-title":"Regulation
        of placental efficiency for nutrient transport by imprint[...]
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/works?sample=5
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":95864685,"items":[{"indexed":{"date-parts":[[2018,2,13]],"date-time":"2018-02-13T11:42:20Z","timestamp":1518522140324},"reference-count":43,"publisher":"Wiley-Blackwell","issue":"5","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":630,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Equine
        Vet J"],"published-print":{"date-parts":[[2014,9]]},"DOI":"10.1111\/evj.12182","type":"journal-article","created":{"date-parts":[[2013,9,6]],"date-time":"2013-09-06T12:45:06Z","timestamp":1378471506000},"page":"611-617","source":"Crossref","is-referenced-by-count":6,"title":["The
        effects of three-month oral supplementation with a nutraceutical and exercise
 [...]
