interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/works?sample=10
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":95875008,"items":[{"indexed":{"date-parts":[[2017,10,27]],"date-time":"2017-10-27T02:57:31Z","timestamp":1509073051075},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1371\/journal.pone.0109672.g001","type":"component","created":{"date-parts":[[2014,10,23]],"date-time":"2014-10-23T21:12:01Z","timestamp":1414098721000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.1371","member":"340","deposited":{"date-parts":[[2017,3,8]],"date-time":"2017-03-08T18:29:08Z","timestamp":1488997748000},"score":1.0,"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0109672.g001"},{"indexed":{"date-parts":[[2017,10,27]],"date-time":"2017-10-27T02:24:39Z","timestamp":1509071079747},"reference-count":4,"publisher":"The
        Institute of Webcasting, Internet and Telecommunication","issue":"3","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
        Journal of the Institute of Webcasting, Internet and Telecommunication"],"published-print":{"date-parts":[[2012,6,30]]},"DOI":"10.7236\/jiwit.2012.12.3.15","type":"journal-article","created":{"date-parts":[[2012,8,20]],"date-time":"2012-08-20T08:36:29Z","timestamp":1345451789000},"page":"15-22","source":"Crossref","is-referenced-by-count":0,"title":["Volume
        Calculation for Filling Up of Rubbish Using Stereo Camera and Uniform Mesh"],"prefix":"10.7236","volume":"12","author":[{"given":"Young-Dae","family":"Lee","affiliation":[]},{"given":"Sung-Youn","family":"Cho","affiliation":[]},{"given":"Kyung","family":"Kim","affiliation":[]},{"given":"Dong-Gyu","family":"Lee","affiliation":[]}],"member":"4240","container-title":["The
        Journal of the Institute of Webcasting, Internet and Telecommunication"],"original-title":["\uc2a4\ud14c\ub808\uc624
        \uce74\uba54\ub77c\uc640 \uade0\uc77c \ub9e4\uc2dc\ub97c \uc774\uc6a9\ud55c
        \ub9e4\ub9bd\uc9c0\uc758 \ud658\uacbd\uac10\uc2dc\ub97c \uc704\ud55c \uccb4\uc801
        \uacc4\uc0b0 \uc54c\uace0\ub9ac\uc998"],"link":[{"URL":"http:\/\/ocean.kisti.re.kr\/downfile\/crosscheck\/iwitt\/JAKO201222350108917.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,12,15]],"date-time":"2016-12-15T03:29:46Z","timestamp":1481772586000},"score":1.0,"issued":{"date-parts":[[2012,6,30]]},"references-count":4,"URL":"http:\/\/dx.doi.org\/10.7236\/jiwit.2012.12.3.15","ISSN":["1738-4281"],"issn-type":[{"value":"1738-4281","type":"print"}]},{"indexed":{"date-parts":[[2018,3,18]],"date-time":"2018-03-18T20:40:45Z","timestamp":1521405645637},"reference-count":23,"publisher":"Elsevier
        BV","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2018,3,1]],"date-time":"2018-03-01T00:00:00Z","timestamp":1519862400000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"DOI":"10.13039\/https:\/\/doi.org\/10.13039\/501100003708","name":"Korea
        Institute of Science and Technology Information","doi-asserted-by":"publisher","award":[]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["International
        Communications in Heat and Mass Transfer"],"published-print":{"date-parts":[[2018,3]]},"DOI":"10.1016\/j.icheatmasstransfer.2018.02.010","type":"journal-article","created":{"date-parts":[[2018,2,22]],"date-time":"2018-02-22T11:22:28Z","timestamp":1519298548000},"page":"31-38","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":0,"title":["On
        the three-dimensional effect for natural convection in horizontal enclosure
        with an adiabatic body: Review from the 2D results and visualization of 3D
        flow structure"],"prefix":"10.1016","volume":"92","author":[{"given":"Jae
        Ryong","family":"Lee","affiliation":[]}],"member":"78","container-title":["International
        Communications in Heat and Mass Transfer"],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0735193318300186?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0735193318300186?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,3,18]],"date-time":"2018-03-18T20:01:39Z","timestamp":1521403299000},"score":1.0,"issued":{"date-parts":[[2018,3]]},"references-count":23,"alternative-id":["S0735193318300186"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.icheatmasstransfer.2018.02.010","ISSN":["0735-1933"],"issn-type":[{"value":"0735-1933","type":"print"}],"subject":["Atomic
        and Molecular Physics, and Optics","General Chemical Engineering","Condensed
        Matter Physics"],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"On the three-dimensional effect for natural
        convection in horizontal enclosure with an adiabatic body: Review from the
        2D results and visualization of 3D flow structure","name":"articletitle","label":"Article
        Title"},{"value":"International Communications in Heat and Mass Transfer","name":"journaltitle","label":"Journal
        Title"},{"value":"http:\/\/dx.doi.org\/10.1016\/j.icheatmasstransfer.2018.02.010","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name":"content_type","label":"Content
        Type"},{"value":"\u00a9 2018 Elsevier Ltd. All rights reserved.","name":"copyright","label":"Copyright"}]},{"indexed":{"date-parts":[[2017,10,25]],"date-time":"2017-10-25T22:06:38Z","timestamp":1508969198147},"publisher-location":"Wiesbaden","reference-count":11,"publisher":"Vieweg+Teubner
        Verlag","license":[{"URL":"http:\/\/www.springer.com\/tdm","start":{"date-parts":[[2010,1,1]],"date-time":"2010-01-01T00:00:00Z","timestamp":1262304000000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2010]]},"DOI":"10.1007\/978-3-8348-9336-9_15","type":"book-chapter","created":{"date-parts":[[2010,2,16]],"date-time":"2010-02-16T15:21:44Z","timestamp":1266333704000},"page":"214-235","source":"Crossref","is-referenced-by-count":0,"title":["Kippschaltungen"],"prefix":"10.1007","author":[{"given":"Erwin","family":"B\u00f6hmer","affiliation":[]},{"given":"Dietmar","family":"Ehrhardt","affiliation":[]},{"given":"Wolfgang","family":"Oberschelp","affiliation":[]}],"member":"297","reference":[{"key":"15_CR1","author":"Bienert
        H.","year":"1980","edition":"5","unstructured":"Bienert, H.: Einf\u00fchrung
        in den Entwurf und die Berechnung von Kippschaltungen, 5. Auflage, H\u00fcthig-Verlag,
        Heidelberg 1980.","volume-title":"Einf\u00fchrung in den Entwurf und die Berechnung
        von Kippschaltungen"},{"key":"15_CR2","author":"G. Schaller","year":"1987","edition":"3","unstructured":"Schaller,
        G. und N\u00fcchel, W.: Digitale Schaltkreise, 3. Auflage, B. G. Teubner,
        Stuttgart 1987.","volume-title":"Digitale Schaltkreise"},{"key":"15_CR3","author":"U.
        Tietze","year":"2002","edition":"12","unstructured":"Tietze, U. und Schenk,
        Ch.: Halbleiter-Schaltungstechnik, 12. Auflage, Springer-V[...]
