interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/works?sample=3
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":95875008,"items":[{"indexed":{"date-parts":[[2017,10,28]],"date-time":"2017-10-28T01:48:01Z","timestamp":1509155281096},"reference-count":0,"publisher":"Genetics
        and Molecular Research","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Genet.
        Mol. Res."],"DOI":"10.4238\/gmr.15028798","type":"journal-article","created":{"date-parts":[[2016,6,27]],"date-time":"2016-06-27T21:24:31Z","timestamp":1467062671000},"source":"Crossref","is-referenced-by-count":2,"title":["Applying
        the Fisher score to identify Alzheimer''s disease-related genes"],"prefix":"10.4238","volume":"15","author":[{"given":"J.","family":"Yang","affiliation":[]},{"given":"Y.L.","family":"Liu","affiliation":[]},{"given":"C.S.","family":"Feng","affiliation":[]},{"given":"G.Q.","family":"Zhu","affiliation":[]}],"member":"2758","published-online":{"date-parts":[[2016]]},"container-title":["Genetics
        and Molecular Research"],"deposited":{"date-parts":[[2016,6,27]],"date-time":"2016-06-27T21:24:38Z","timestamp":1467062678000},"score":1.0,"issued":{"date-parts":[[2016]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.4238\/gmr.15028798","ISSN":["1676-5680"],"issn-type":[{"value":"1676-5680","type":"electronic"}],"subject":["Genetics","Molecular
        Biology","General Medicine"]},{"indexed":{"date-parts":[[2018,3,13]],"date-time":"2018-03-13T23:42:10Z","timestamp":1520984530333},"reference-count":0,"publisher":"Oxford
        University Press (OUP)","issue":"5","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Gerontology"],"published-print":{"date-parts":[[1986,9,1]]},"DOI":"10.1093\/geronj\/41.5.623","type":"journal-article","created":{"date-parts":[[2012,11,20]],"date-time":"2012-11-20T01:17:24Z","timestamp":1353374244000},"page":"623-628","source":"Crossref","is-referenced-by-count":1,"title":["Partner
        Preferences in Different Aged Female Rhesus Macaques (Macaca mulatta)"],"prefix":"10.1093","volume":"41","author":[{"given":"L.","family":"Williams","affiliation":[]}],"member":"286","container-title":["Journal
        of Gerontology"],"link":[{"URL":"http:\/\/academic.oup.com\/geronj\/article-pdf\/41\/5\/623\/1626880\/41-5-623.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,8,23]],"date-time":"2017-08-23T05:44:15Z","timestamp":1503467055000},"score":1.0,"issued":{"date-parts":[[1986,9,1]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1093\/geronj\/41.5.623","ISSN":["0022-1422"],"issn-type":[{"value":"0022-1422","type":"print"}],"subject":["Ageing"]},{"indexed":{"date-parts":[[2018,2,5]],"date-time":"2018-02-05T03:04:46Z","timestamp":1517799886354},"reference-count":25,"publisher":"Wiley-Blackwell","issue":"4","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":5631,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Ann
        Neurol."],"published-print":{"date-parts":[[2000,4]]},"DOI":"10.1002\/1531-8249(200004)47:4<440::aid-ana6>3.0.co;2-e","type":"journal-article","created":{"date-parts":[[2004,11,14]],"date-time":"2004-11-14T05:00:01Z","timestamp":1100408401000},"page":"440-446","source":"Crossref","is-referenced-by-count":42,"title":["Neural
        consequences of competing stimuli in both visual hemifields: A physiological
        basis for visual extinction"],"prefix":"10.1002","volume":"47","author":[{"given":"Gereon
        R.","family":"Fink","affiliation":[]},{"given":"Jon","family":"Driver","affiliation":[]},{"given":"Chris","family":"Rorden","affiliation":[]},{"given":"Torsten","family":"Baldeweg","affiliation":[]},{"given":"Raymond
        J.","family":"Dolan","affiliation":[]}],"member":"311","published-online":{"date-parts":[[2001]]},"reference":[{"key":"10.1002\/1531-8249(200004)47:4<440::AID-ANA6>3.0.CO;2-E-BIB1","author":"Kinsbourne","volume":"18","first-page":"41","year":"1977","journal-title":"Adv
        Neurol"},{"key":"10.1002\/1531-8249(200004)47:4<440::AID-ANA6>3.0.CO;2-E-BIB2","author":"Cohen","volume":"6","first-page":"377","year":"1994","journal-title":"J
        Cogn Neurosci"},{"key":"10.1002\/1531-8249(200004)47:4<440::AID-ANA6>3.0.CO;2-E-BIB3","author":"Driver","first-page":"401","year":"1997","unstructured":"Extinction
        as a paradigm measure of attentional bias and restricted capacity after brain
        injury. In: eds. Parietal lobe contributions to orientation in 3D space. Heidelberg:
        Springer, 1997: 401-430","volume-title":"Parietal lobe contributions to orientation
        in 3D space","DOI":"10.1007\/978-3-642-60661-8_23","doi-asserted-by":"crossref"},{"key":"10.1002\/1531-8249(200004)47:4<440::AID-ANA6>3.0.CO;2-E-BIB4","author":"Vallar","volume":"57","first-page":"464","year":"1994","journal-title":"J
        Neurol Neurosurg Psychiatry"},{"key":"10.1002\/1531-8249(200004)47:4<440::AID-ANA6>3.0.CO;2-E-BIB5","author":"Bender","year":"1952","unstructured":"Disorders
        in perception. Springfield, IL: Charles C Thomas, 1952","volume-title":"Disorders
        in perception"},{"key":"10.1002\/1531-8249(200004)47:4<440::AID-ANA6>3[...]
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/works?sample=5
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":95875008,"items":[{"indexed":{"date-parts":[[2017,10,27]],"date-time":"2017-10-27T10:18:35Z","timestamp":1509099515642},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1371\/journal.pone.0004272.s006","type":"component","created":{"date-parts":[[2013,1,28]],"date-time":"2013-01-28T19:06:56Z","timestamp":1359400016000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.1371","member":"340","deposited":{"date-parts":[[2017,3,5]],"date-time":"2017-03-05T11:27:49Z","timestamp":1488713269000},"score":1.0,"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0004272.s006"},{"indexed":{"date-parts":[[2018,2,13]],"date-time":"2018-02-13T22:42:21Z","timestamp":1518561741728},"reference-count":63,"publisher":"American
        Chemical Society (ACS)","issue":"2","funder":[{"DOI":"10.13039\/100000165","name":"Division
        of Chemistry","doi-asserted-by":"publisher","award":["CHE-1111389"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Anal.
        Chem."],"published-print":{"date-parts":[[2015,1,20]]},"DOI":"10.1021\/ac503865v","type":"journal-article","created":{"date-parts":[[2014,12,17]],"date-time":"2014-12-17T20:39:02Z","timestamp":1418848742000},"page":"1210-1218","source":"Crossref","is-referenced-by-count":17,"title":["Electrospray
        Droplet Exposure to Organic Vapors: Metal Ion Removal from Proteins and Protein
        Complexes"],"prefix":"10.1021","volume":"87","author":[{"given":"J. Corinne","family":"DeMuth","affiliation":[{"name":"Department
        of Chemistry Purdue University, 560 Oval Drive, West Lafayette, Indiana 47907-2084,
        United States"}]},{"given":"Scott A.","family":"McLuckey","affiliation":[{"name":"Department
        of Chemistry Purdue University, 560 Oval Drive, West Lafayette, Indiana 47907-2084,
        United States"}]}],"member":"316","published-online":{"date-parts":[[2014,12,29]]},"container-title":["Analytical
        Chemistry"],"link":[{"URL":"http:\/\/pubs.acs.org\/doi\/pdf\/10.1021\/ac503865v","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,11,1]],"date-time":"2017-11-01T12:45:56Z","timestamp":1509540356000},"score":1.0,"issued":{"date-parts":[[2014,12,29]]},"references-count":63,"alternative-id":["10.1021\/ac503865v"],"URL":"http:\/\/dx.doi.org\/10.1021\/ac503865v","ISSN":["0003-2700","1520-6882"],"issn-type":[{"value":"0003-2700","type":"print"},{"value":"1520-6882","type":"electronic"}],"subject":["Analytical
        Chemistry"]},{"indexed":{"date-parts":[[2017,10,26]],"date-time":"2017-10-26T05:28:52Z","timestamp":1508995732360},"reference-count":0,"publisher":"Society
        of Environmental Conservation Engineering","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Env. cons. Eng Kankyo gijutsu"],"published-print":{"date-parts":[[1984]]},"DOI":"10.5956\/jriet.13.12","type":"journal-article","created":{"date-parts":[[2011,10,25]],"date-time":"2011-10-25T04:49:10Z","timestamp":1319518150000},"page":"12-12","source":"Crossref","is-referenced-by-count":0,"title":[""],"prefix":"10.5956","volume":"13","member":"3977","container-title":["Journal
        of Environmental Conservation Engineering"],"original-title":["\u51e6\u7406\u8cac\u4efb\u3068\u5c06\u6765\u6280\u8853"],"deposited":{"date-parts":[[2011,10,25]],"date-time":"2011-10-25T04:51:10Z","timestamp":1319518270000},"score":1.0,"issued":{"date-parts":[[1984]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5956\/jriet.13.12","ISSN":["1882-8590","0388-9459"],"issn-type":[{"value":"0388-9459","type":"print"},{"value":"1882-8590","type":"electronic"}]},{"indexed":{"date-parts":[[2018,2,9]],"date-time":"2018-02-09T03:20:45Z","timestamp":1518146445403},"reference-count":0,"publisher":"Ovid
        Technologies (Wolters Kluwer Health)","issue":"6","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Nursing
        Management (Springhouse)"],"published-print":{"date-parts":[[1987,6]]},"DOI":"10.1097\/00006247-198706000-00002","type":"journal-article","created":{"date-parts":[[2006,10,20]],"date-time":"2006-10-20T09:18:17Z","timestamp":1161335897000},"page":"14","source":"Crossref","is-referenced-by-count":0,"title":["Make
        the Best of a Bad Situation"],"prefix":"10.1097","volume":"18","author":[{"given":"Mary
        Joe","family":"White","affiliation":[]}],"member":"276","container-title":["Nursing
        Management (Springhouse)"],"deposited":{"date-parts":[[2018,2,9]],"date-time":"2018-02-09T02:43:42Z","timestamp":1518144222000},"score":1.0,"subtitle":[""],"issued":{"date-parts":[[1987,6]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1097\/00006247-198706000-00002","ISSN":["0744-6314"],"issn-type":[{"value":"0744-6314","type":"print"}],"subject":["Leadership
        and Management"]},{"indexed":{"date-parts":[[2017,10,25]],"date-time":"2017-10-25T07:28:26Z","timestamp":1508916506579},"reference-count":0,"publisher":"Cambridge
        University Press (CUP)","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"shor[...]
