interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.22.0 habanero/0.7.2 foo bar]
    method: GET
    uri: https://api.crossref.org/members?query=ecology&rows=2
  response:
    body: {string: '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items-per-page":2,"query":{"start-index":0,"search-terms":"ecology"},"total-results":21,"items":[{"last-status-check-time":1576109829876,"primary-name":"Japanese
        Society of Microbial Ecology","counts":{"total-dois":1255,"current-dois":180,"backfile-dois":1075},"breakdowns":{"dois-by-issued-year":[[2012,82],[2013,67],[2014,66],[2016,65],[2018,64],[2017,59],[2019,57],[2009,54],[2008,54],[2011,52],[2015,50],[2010,49],[2007,47],[2004,41],[1999,41],[1998,38],[2001,36],[2005,32],[2003,31],[2006,30],[2002,30],[2000,28],[1993,28],[1997,22],[1994,19],[1995,18],[1989,16],[1996,15],[1991,15],[1992,11],[1990,11],[1988,11],[1987,10],[1986,6]]},"prefixes":["10.1264"],"coverage":{"affiliations-current":1.0,"similarity-checking-current":1.0,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.0,"affiliations-backfile":0.13767442107200623,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0.0,"open-references-backfile":0.0,"orcids-current":0.0,"similarity-checking-backfile":0.11348836869001389,"references-backfile":0.7218604683876038,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"open-references-current":0.0,"references-current":0.9055555462837219},"prefix":[{"value":"10.1264","name":"Japanese
        Society of Microbial Ecology","public-references":false,"reference-visibility":"limited"}],"id":336,"tokens":["japanese","society","of","microbial","ecology"],"counts-type":{"all":{"journal-article":1255},"current":{"journal-article":180},"backfile":{"journal-article":1075}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1576109820255,"affiliations":0.26135459542274475,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.748207151889801,"funders":0.0,"similarity-checking":0.24063745141029358,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":0.0}},"backfile":{"journal-article":{"last-status-check-time":1576109817085,"affiliations":0.13767442107200623,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.7218604683876038,"funders":0.0,"similarity-checking":0.11348836869001389,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":0.0}},"current":{"journal-article":{"last-status-check-time":1576109814770,"affiliations":1.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.9055555462837219,"funders":0.0,"similarity-checking":1.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":0.0}}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":false,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":false,"deposits-resource-links-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":false,"deposits-references-backfile":true,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":false,"deposits-open-references-backfile":false,"deposits-open-references-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":false,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":false},"location":"5-3
        Yonbancho Chiyoda-ku Tokyo 102-0081 Japan","names":["Japanese Society of Microbial
        Ecology"]},{"last-status-check-time":1576120343715,"primary-name":"Journal
        of Vector Ecology","counts":{"total-dois":27,"current-dois":0,"backfile-dois":27},"breakdowns":{"dois-by-issued-year":[[2014,27]]},"prefixes":["10.3376"],"coverage":{"affiliations-current":0,"similarity-checking-current":0,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update[...]
