interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.22.0 habanero/0.7.2 foo bar]
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016/works?sample=2
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":16687653,"items":[{"indexed":{"date-parts":[[2019,11,21]],"date-time":"2019-11-21T04:14:14Z","timestamp":1574309654721},"reference-count":0,"publisher":"Elsevier
        BV","issue":"3","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2006,9,1]],"date-time":"2006-09-01T00:00:00Z","timestamp":1157068800000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Communist
        and Post-Communist Studies"],"published-print":{"date-parts":[[2006,9]]},"DOI":"10.1016\/s0967-067x(06)00032-8","type":"journal-article","created":{"date-parts":[[2006,9,19]],"date-time":"2006-09-19T16:06:39Z","timestamp":1158681999000},"page":"CO2","source":"Crossref","is-referenced-by-count":0,"title":["Editorial
        Board"],"prefix":"10.1016","volume":"39","member":"78","container-title":["Communist
        and Post-Communist Studies"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0967067X06000328?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0967067X06000328?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2019,1,13]],"date-time":"2019-01-13T03:25:37Z","timestamp":1547349937000},"score":1.0,"issued":{"date-parts":[[2006,9]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[2006,9]]},"issue":"3"},"alternative-id":["S0967067X06000328"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0967-067x(06)00032-8","ISSN":["0967-067X"],"issn-type":[{"value":"0967-067X","type":"print"}],"subject":["Development","Sociology
        and Political Science"]},{"indexed":{"date-parts":[[2019,9,9]],"date-time":"2019-09-09T06:03:37Z","timestamp":1568009017540},"reference-count":18,"publisher":"Elsevier
        BV","issue":"1-3","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2000,1,1]],"date-time":"2000-01-01T00:00:00Z","timestamp":946684800000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Physica
        B: Condensed Matter"],"published-print":{"date-parts":[[2000,1]]},"DOI":"10.1016\/s0921-4526(99)00692-4","type":"journal-article","created":{"date-parts":[[2002,7,25]],"date-time":"2002-07-25T23:23:27Z","timestamp":1027639407000},"page":"34-39","source":"Crossref","is-referenced-by-count":26,"title":["Preisach-type
        hysteresis models in magnetic field computation"],"prefix":"10.1016","volume":"275","author":[{"given":"O","family":"Bottauscio","sequence":"first","affiliation":[]},{"given":"M","family":"Chiampi","sequence":"additional","affiliation":[]},{"given":"D","family":"Chiarabaglio","sequence":"additional","affiliation":[]},{"given":"M","family":"Repetto","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Physica
        B: Condensed Matter"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0921452699006924?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0921452699006924?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2019,4,18]],"date-time":"2019-04-18T04:29:24Z","timestamp":1555561764000},"score":1.0,"issued":{"date-parts":[[2000,1]]},"references-count":18,"journal-issue":{"published-print":{"date-parts":[[2000,1]]},"issue":"1-3"},"alternative-id":["S0921452699006924"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0921-4526(99)00692-4","ISSN":["0921-4526"],"issn-type":[{"value":"0921-4526","type":"print"}],"subject":["Electrical
        and Electronic Engineering","Electronic, Optical and Magnetic Materials","Condensed
        Matter Physics"]}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 200, message: OK}
version: 1
