interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/types/journal/works?rows=2
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":25634,"items":[{"indexed":{"date-parts":[[2018,1,30]],"date-time":"2018-01-30T17:41:20Z","timestamp":1517334080346},"reference-count":0,"publisher":"Universidad
        Internacional de la Rioja","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.22550\/rep","type":"journal","created":{"date-parts":[[2018,1,30]],"date-time":"2018-01-30T17:25:34Z","timestamp":1517333134000},"source":"Crossref","is-referenced-by-count":0,"title":["Revista
        Espa\u00f1ola de Pedagog\u00eda"],"prefix":"10.22550","member":"9839","deposited":{"date-parts":[[2018,1,30]],"date-time":"2018-01-30T17:25:34Z","timestamp":1517333134000},"score":1.0,"short-title":["REP"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.22550\/rep","ISSN":["0034-9461","2174-0909"],"issn-type":[{"value":"0034-9461","type":"print"},{"value":"2174-0909","type":"electronic"}],"subject":["Education"]},{"indexed":{"date-parts":[[2018,1,30]],"date-time":"2018-01-30T16:40:37Z","timestamp":1517330437237},"reference-count":0,"publisher":"Marshall
        University Libraries","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.18590\/issn.2379-9536","type":"journal","created":{"date-parts":[[2015,10,8]],"date-time":"2015-10-08T18:45:25Z","timestamp":1444329925000},"source":"Crossref","is-referenced-by-count":0,"title":["Marshall
        Journal of Medicine"],"prefix":"10.18590","member":"7915","deposited":{"date-parts":[[2018,1,30]],"date-time":"2018-01-30T16:05:45Z","timestamp":1517328345000},"score":1.0,"short-title":["MJM"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.18590\/issn.2379-9536","ISSN":["2379-9536"],"issn-type":[{"value":"2379-9536","type":"electronic"}]}],"items-per-page":2,"query":{"start-index":0,"search-terms":null}}}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 200, message: OK}
version: 1
