interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/types/journal/works?rows=2
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":26257,"items":[{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:22:12Z","timestamp":1523676132266},"reference-count":0,"publisher":"Open
        Access Text Pvt, Ltd.","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.15761\/imm","type":"journal","created":{"date-parts":[[2018,2,26]],"date-time":"2018-02-26T10:29:22Z","timestamp":1519640962000},"source":"Crossref","is-referenced-by-count":0,"title":["Integrative
        Molecular Medicine"],"prefix":"10.15761","member":"6817","deposited":{"date-parts":[[2018,2,26]],"date-time":"2018-02-26T10:29:22Z","timestamp":1519640962000},"score":1.0,"short-title":["Integr
        Mol Med"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.15761\/imm","ISSN":["2056-6360"],"issn-type":[{"value":"2056-6360","type":"electronic"}]},{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:18:57Z","timestamp":1523675937324},"reference-count":0,"publisher":"The
        Korean Society for Feminist Studies in English Literature","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.15796\/fsel","type":"journal","created":{"date-parts":[[2017,8,22]],"date-time":"2017-08-22T08:18:57Z","timestamp":1503389937000},"source":"Crossref","is-referenced-by-count":0,"title":["Feminist
        Studies in English Literature"],"prefix":"10.15796","member":"6506","language":"en","deposited":{"date-parts":[[2017,8,22]],"date-time":"2017-08-22T08:18:57Z","timestamp":1503389937000},"score":1.0,"short-title":["feministstudiesinenglishliterature"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.15796\/fsel","ISSN":["1226-9689"],"issn-type":[{"value":"1226-9689","type":"print"}]}],"items-per-page":2,"query":{"start-index":0,"search-terms":null}}}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 200, message: OK}
version: 1
