interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/types/journal/works?rows=2
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"items-per-page":2,"query":{"start-index":0,"search-terms":null},"total-results":23248,"items":[{"indexed":{"date-parts":[[2017,5,13]],"date-time":"2017-05-13T03:19:53Z","timestamp":1494645593490},"reference-count":0,"publisher":"Noble
        Research Publishers","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.14312\/2053-2482","type":"journal","created":{"date-parts":[[2015,5,19]],"date-time":"2015-05-19T15:44:56Z","timestamp":1432050296000},"source":"Crossref","is-referenced-by-count":0,"title":["Journal
        of Biochemical & Microbial Technology"],"prefix":"10.14312","member":"5412","container-title":[],"original-title":[],"deposited":{"date-parts":[[2015,5,19]],"date-time":"2015-05-19T15:44:56Z","timestamp":1432050296000},"score":1.0,"subtitle":[],"short-title":["J
        Biochem Microb Technol"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.14312\/2053-2482","relation":{},"ISSN":["2053-2482"],"issn-type":[{"value":"2053-2482","type":"electronic"}]},{"indexed":{"date-parts":[[2017,5,13]],"date-time":"2017-05-13T02:48:48Z","timestamp":1494643728319},"reference-count":0,"publisher":"Centre
        of Sociological Research, NGO","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.14254\/2071-789x.2008","type":"journal","created":{"date-parts":[[2013,9,13]],"date-time":"2013-09-13T19:52:52Z","timestamp":1379101972000},"source":"Crossref","is-referenced-by-count":0,"title":["Economics
        & Sociology"],"prefix":"10.14254","member":"5381","container-title":[],"original-title":[],"deposited":{"date-parts":[[2013,9,13]],"date-time":"2013-09-13T19:52:52Z","timestamp":1379101972000},"score":1.0,"subtitle":[],"short-title":["E&S"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.14254\/2071-789x.2008","relation":{},"ISSN":["2071-789X","2306-3459"],"issn-type":[{"value":"2071-789X","type":"print"},{"value":"2306-3459","type":"electronic"}]}]}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-rate-limit-interval: [1s]
      x-rate-limit-limit: ['50']
    status: {code: 200, message: OK}
version: 1
