interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.5.0.2]
    method: GET
    uri: https://api.crossref.org/types/journal/works?rows=2
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":23919,"items":[{"indexed":{"date-parts":[[2017,8,8]],"date-time":"2017-08-08T15:23:53Z","timestamp":1502205833635},"reference-count":0,"publisher":"Hindawi
        Limited","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1155\/aess","type":"journal","created":{"date-parts":[[2009,4,9]],"date-time":"2009-04-09T07:35:25Z","timestamp":1239262525000},"source":"Crossref","is-referenced-by-count":0,"title":["Applied
        and Environmental Soil Science"],"prefix":"10.1155","member":"98","deposited":{"date-parts":[[2009,4,9]],"date-time":"2009-04-09T07:35:25Z","timestamp":1239262525000},"score":1.0,"short-title":["Applied
        and Environmental Soil Science"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1155\/aess","ISSN":["1687-7667","1687-7675"],"issn-type":[{"value":"1687-7667","type":"print"},{"value":"1687-7675","type":"electronic"}],"subject":["Earth-Surface
        Processes","Soil Science"]},{"indexed":{"date-parts":[[2017,8,8]],"date-time":"2017-08-08T15:26:06Z","timestamp":1502205966594},"reference-count":0,"publisher":"Colegio
        Brasileiro de Atividade Fisica Saude e Esporte (COBRASE)","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.3900\/fpj.3.5.254.s","type":"journal","created":{"date-parts":[[2009,4,16]],"date-time":"2009-04-16T14:44:34Z","timestamp":1239893074000},"source":"Crossref","is-referenced-by-count":0,"title":["Fitness
        & Performance Journal"],"prefix":"10.3900","member":"2264","deposited":{"date-parts":[[2009,4,16]],"date-time":"2009-04-16T16:18:51Z","timestamp":1239898731000},"score":1.0,"short-title":["Fit
        Per J"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.3900\/fpj.3.5.254.s","ISSN":["1676-5133"],"issn-type":[{"value":"1676-5133","type":"electronic"}]}],"items-per-page":2,"query":{"start-index":0,"search-terms":null}}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-rate-limit-interval: [1s]
      x-rate-limit-limit: ['50']
    status: {code: 200, message: OK}
version: 1
