interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.22.0 habanero/0.7.2.1]
    method: GET
    uri: https://api.crossref.org/types?query.title=cellular
  response:
    body: {string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"unknown-parameter","value":"query.title","message":"Parameter
        query.title has been deprecated. Please use query.bibliographic instead. See
        https://status.crossref.org/incidents/4y45gj63jsp4 "}]}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 400, message: Bad Request}
version: 1
