interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/works?query=ecology&rows=2
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":304037,"items":[{"indexed":{"date-parts":[[2017,6,21]],"date-time":"2017-06-21T01:42:23Z","timestamp":1498009343120},"publisher-location":"Chichester,
        UK","reference-count":17,"publisher":"John Wiley & Sons, Ltd","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1002\/9780470979365.ch7","type":"book-chapter","created":{"date-parts":[[2012,10,8]],"date-time":"2012-10-08T10:32:21Z","timestamp":1349692341000},"page":"271-318","source":"Crossref","is-referenced-by-count":0,"title":["Behavioural
        Ecology"],"prefix":"10.1002","member":"311","published-online":{"date-parts":[[2012,10,8]]},"reference":[{"key":"10.1002\/9780470979365.ch7-BIB1|cit1","unstructured":""},{"key":"10.1002\/9780470979365.ch7-BIB2|cit2","author":"Krebs","year":"1997","volume-title":"Behavioural
        Ecology: An Evolutionary Approach"},{"key":"10.1002\/9780470979365.ch7-BIB3|cit3","author":"Westneat","year":"2010","volume-title":"Evolutionary
        Behavioral Ecology"},{"key":"10.1002\/9780470979365.ch7-BIB4|cit4","unstructured":""},{"key":"10.1002\/9780470979365.ch7-BIB5|cit5","first-page":"78","DOI":"10.1111\/j.1469-7998.2010.00701.x","article-title":"How
        stupid not to have thought of that: post-copulatory sexual selection","volume":"281","author":"Birkhead","year":"2010","journal-title":"Journal
        of Zoology"},{"key":"10.1002\/9780470979365.ch7-BIB6|cit6","first-page":"205","DOI":"10.1017\/S1464793104006645","article-title":"Causes
        and consequences of animal dispersal strategies: relating individual behaviour
        to spatial dynamics","volume":"80","author":"Bowler","year":"2005","journal-title":"Biological
        Review"},{"key":"10.1002\/9780470979365.ch7-BIB7|cit7","first-page":"1400","DOI":"10.2193\/0022-541X(2005)69[1400:MATTSO]2.0.CO;2","article-title":"[...]
