interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/works?query=ecology&query.author=carl+boettiger
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":744,"items":[{"indexed":{"date-parts":[[2017,5,25]],"date-time":"2017-05-25T12:56:38Z","timestamp":1495716998899},"posted":{"date-parts":[[2016,5,30]]},"group-title":"Ecology","reference-count":0,"publisher":"Cold
        Spring Harbor Laboratory Press","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"accepted":{"date-parts":[[2016,5,30]]},"abstract":"<jats:p>Over
        the past 30 years, researchers have used various approximations to address
        the impact of measurement uncertainty on optimal management policy. This literature
        has consistently suggested the counter-intuitive proposition that increasing
        harvest levels in the presence of measurement error is often optimal. Here,
        we use state-of-the art algorithms for Partially Observed Markov Decision
        Processes (POMDPs) to provide the first complete solution to this classic
        problem, and demonstrate that contrary to previous work, the resulting policy
        is usually more conservative than without measurement error. We demonstrate
        that management which underestimates the measurement error results in both
        low economic returns and high frequency of stock collapses, while overestimating
        the role of measurement error can still result in nearly-optimal economic
        performance while avoiding stock collapse.<\/jats:p>","DOI":"10.1101\/055319","type":"posted-content","created":{"date-parts":[[2016,5,31]],"date-time":"2016-05-31T05:11:36Z","timestamp":1464671496000},"source":"Crossref","is-referenced-by-count":0,"title":["Measurement
        uncertainty matters: ecological management using POMDPs"],"prefix":"10.1101","author":[{"ORCID":"http:\/\/orcid.org\/0000-0001-7672-6033","authenticated-orcid":false,"given":"Milad","family":"Memarzadeh","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-1642-628X","authenticated-orcid":false,"given":"Carl","family":"Boettiger","affiliation":[]}],"member":"246","container-title":[],"original-title":[],"deposited":{"date-parts":[[2017,1,4]],"date-time":"2017-01-04T06:16:15Z","timestamp":1483510575000},"score":30.315395,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2016,5,30]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1101\/055319","relation":{}},{"indexed":{"date-parts":[[2017,6,21]],"date-time":"2017-06-21T01:52:29Z","timestamp":1498009949047},"reference-count":50,"publisher":"Wiley-Blackwell","issue":"6","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":1055,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Methods
        Ecol Evol"],"published-print":{"date-parts":[[2012,12]]},"DOI":"10.1111\/j.2041-210x.2012.00247.x","type":"journal-article","created":{"date-parts":[[2012,10,11]],"date-time":"2012-10-11T17:38:12Z","timestamp":1349977092000},"page":"1060-1066","source":"Crossref","is-referenced-by-count":0,"title":["Treebase:
        an R package for discovery, access and manipulation of online phylogenies"],"prefix":"10.1111","volume":"3","author":[{"given":"Carl","family":"Boettiger","affiliation":[{"name":"Center
        for Population Biology; University of California; Davis; CA; 95616; USA"}]},{"given":"Duncan","family":"Temple
        Lang","affiliation":[{"name":"Department of Statistics; University of California;
        Davis; CA; 95616; USA"}]}],"member":"311","published-online":{"date-parts":[[2012,10,11]]},"reference":[{"key":"10.1111\/j.2041-210X.2012.00247.x-BIB0001|mee3247-cit-0001","first-page":"717","DOI":"10.1111\/j.0014-3820.2003.tb00285.x","article-title":"Testing
        for phylogenetic signal in comparative data: behavioral traits are more labile","volume":"57","author":"Blomberg","year":"2003","journal-title":"Evolution"},{"key":"10.1111\/j.2041-210X.2012.00247.x-BIB0002|mee3247-cit-0002","author":"Boettiger","year":"2012","article-title":"rfishbase:
        exploring, manipulating and visualizing FishBase data from R","journal-title":"Journal
        of Fish Biology","DOI":"10.1111\/j.1095-8649.2012.03464.x"},{"key":"10.1111\/j.2041-210X.2012.00247.x-BIB0003|mee3247-cit-0003","first-page":"2240","DOI":"10.1111\/j.1558-5646.2011.01574.x","article-title":"Is
        your phylogeny informative? Measuring the power of comparative methods","volume":"66","author":"Boettiger","year":"2012","journal-title":"Evolution"},{"key":"10.1111\/j.2041-210X.2012.00247.x-BIB0004|mee3247-cit-0004","first-page":"683","DOI":"10.1086\/426002","article-title":"Phylogenetic
        comparative analysis: a modeling approach for adaptive evolution","volume":"164","author":"Butler","year":"2004","journal-title":"The
        American Naturalist"},{"key":"10.1111\/j.2041-210X.2012.00247.x-BIB0005|mee3247-cit-0005","unstructured":"Chamberlain
        , S. Boettiger , C. Ram , K. 2012 rdryad: Dryad API interface http:\/\/www.github.com\/ropensci\/rdryad"},{"key":"10.1111\/j.2041-210X.2012.00247.x-BIB0006|mee3247-cit-0006","first-page":"1841","DOI":"10.1111\/j.1558-5646.2011.01265.x","article-title":"Neutral
        biodiversity theory can explain the imbalance of phylogenetic trees but not
        the tempo of their diversification","volume":"65","author":"Davies","year":"2011","journal-title":"Evolution"},{"key":"10.1111[...]
