interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/works?query=ecology&query.author=carl+boettiger
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":782,"items":[{"indexed":{"date-parts":[[2018,5,24]],"date-time":"2018-05-24T04:22:14Z","timestamp":1527135734676},"reference-count":111,"publisher":"Wiley","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2018,5,22]],"date-time":"2018-05-22T00:00:00Z","timestamp":1526947200000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor","start":{"date-parts":[[2018,5,22]],"date-time":"2018-05-22T00:00:00Z","timestamp":1526947200000},"delay-in-days":0,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/100000199","name":"U.S.
        Department of Agriculture","doi-asserted-by":"publisher","award":["CA-B-INS-0162-H"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Ecol
        Lett"],"DOI":"10.1111\/ele.13085","type":"journal-article","created":{"date-parts":[[2018,5,23]],"date-time":"2018-05-23T06:14:30Z","timestamp":1527056070000},"source":"Crossref","is-referenced-by-count":0,"title":["From
        noise to knowledge: how randomness generates novel phenomena and reveals information"],"prefix":"10.1111","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-1642-628X","authenticated-orcid":false,"given":"Carl","family":"Boettiger","sequence":"first","affiliation":[{"name":"Dept
        of Environmental Science, Policy, and Management; University of California
        Berkeley; Berkeley CA 94720-3114 USA"}]}],"member":"311","published-online":{"date-parts":[[2018,5,22]]},"reference":[{"key":"10.1111\/ele.13085-BIB0001|ele13085-cit-0001","doi-asserted-by":"crossref","first-page":"575","DOI":"10.1098\/rsif.2006.0192","article-title":"Stochastic
        amplification in epidemics","volume":"4","author":"Alonso","year":"2007","journal-title":"J.
        R. Soc. Interface"},{"key":"10.1111\/ele.13085-BIB0002|ele13085-cit-0002","doi-asserted-by":"crossref","first-page":"1622","DOI":"10.1126\/science.1099390","article-title":"Bacterial
        persistence as a phenotypic switch","volume":"305","author":"Balaban","year":"2004","journal-title":"Science"},{"key":"10.1111\/ele.13085-BIB0003|ele13085-cit-0003","author":"Bartlett","year":"1955","volume-title":"An
        Introduction to Stochastic Processes, with Special Reference to Methods and
        Applications"},{"key":"10.1111\/ele.13085-BIB0004|ele13085-cit-0004","author":"Bartlett","year":"1960","volume-title":"Stochastic
        Population Models in Ecology and Epidemiology"},{"key":"10.1111\/ele.13085-BIB0005|ele13085-cit-0005","doi-asserted-by":"crossref","first-page":"591","DOI":"10.1007\/s12080-011-0149-6","article-title":"Gradual
        regime shifts in spatially extended ecosystems","volume":"5","author":"Bel","year":"2012","journal-title":"Theor.
        Ecol."},{"key":"10.1111\/ele.13085-BIB0006|ele13085-cit-0006","doi-asserted-by":"crossref","first-page":"638","DOI":"10.1126\/science.1062226","article-title":"Noisy
        clockwork: time series analysis of population fluctuations in animals","volume":"293","author":"Bj\u00f8rnstad","year":"2001","journal-title":"Science
        (New York, N.Y.)"},{"key":"10.1111\/ele.13085-BIB0007|ele13085-cit-0007","doi-asserted-by":"crossref","first-page":"1157","DOI":"10.1111\/j.0021-8790.2004.00888.x","article-title":"Trends
        and cohort resonant effects in age-structured populations","volume":"73","author":"Bj\u00f8rnstad","year":"2004","journal-title":"J.
        Anim. Ecol."},[...]
