interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/works/10.1016/j.neurobiolaging.2010.03.024
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2017,6,23]],"date-time":"2017-06-23T09:15:46Z","timestamp":1498209346155},"reference-count":57,"publisher":"Elsevier
        BV","issue":"3","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2012,3,1]],"date-time":"2012-03-01T00:00:00Z","timestamp":1330560000000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"DOI":"10.13039\/501100004085","name":"Ministry
        of Education, Science and Technology","doi-asserted-by":"crossref","award":["R32-10064"]},{"name":"Stem
        Cell Research Center","award":["SC4170"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Neurobiology
        of Aging"],"published-print":{"date-parts":[[2012,3]]},"DOI":"10.1016\/j.neurobiolaging.2010.03.024","type":"journal-article","created":{"date-parts":[[2010,5,18]],"date-time":"2010-05-18T07:20:15Z","timestamp":1274167215000},"page":"588-602","source":"Crossref","is-referenced-by-count":74,"title":["Human
        umbilical cord blood-derived mesenchymal stem cells improve neuropathology
        and cognitive impairment in an Alzheimer''s disease mouse model through modulation
        of neuroinflammation"],"prefix":"10.1016","volume":"33","author":[{"given":"Hyun
        Ju","family":"Lee","affiliation":[]},{"given":"Jong Kil","family":"Lee","affiliation":[]},{"given":"Hyun","family":"Lee","affiliation":[]},{"given":"Janet
        E.","family":"Carter","affiliation":[]},{"given":"Jong Wook","family":"Chang","affiliation":[]},{"given":"Wonil","family":"Oh","affiliation":[]},{"given":"Yoon
        Sun","family":"Yang","affiliation":[]},{"given":"Jun-Gyo","family":"Suh","affiliation":[]},{"given":"Byoung-Hee","family":"Lee","affiliation":[]},{"given":"Hee
        Kyung","family":"Jin","affiliation":[]},{"given":"Jae-sung","family":"Bae","affiliation":[]}],"member":"78","container-title":["Neurobiology
        of Aging"],"original-title":[],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0197458010001570?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0197458010001570?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,6,19]],"date-time":"2017-06-19T08:20:12Z","timestamp":1497860412000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2012,3]]},"references-count":57,"alternative-id":["S0197458010001570"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.neurobiolaging.2010.03.024","relation":{},"ISSN":["0197-4580"],"issn-type":[{"value":"0197-4580","type":"print"}],"subject":["Developmental
        Biology","Ageing","Neuroscience(all)","Geriatrics and Gerontology","Clinical
        Neurology"]}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-rate-limit-interval: [1s]
      x-rate-limit-limit: ['50']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/works/10.1002/jor.1100150407
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2017,6,16]],"date-time":"2017-06-16T16:46:52Z","timestamp":1497631612853},"reference-count":36,"publisher":"Wiley-Blackwell","issue":"4","license":[{"URL":"http:\/\/doi.wile[...]
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/works/10.1038/srep16696
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2017,6,17]],"date-time":"2017-06-17T02:25:10Z","timestamp":1497666310147},"reference-count":62,"publisher":"Springer
        Nature","issue":"1","license":[{"URL":"http:\/\/www.springer.com\/tdm","start":{"date-parts":[[2015,11,19]],"date-time":"2015-11-19T00:00:00Z","timestamp":1447891200000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["Sci
        Rep"],"published-print":{"date-parts":[[2015,12]]},"DOI":"10.1038\/srep16696","type":"journal-article","created":{"date-parts":[[2015,11,19]],"date-time":"2015-11-19T10:33:19Z","timestamp":1447929199000},"update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":14,"title":["Single-molecule
        FRET studies on alpha-synuclein oligomerization of Parkinson\u2019s disease
        genetically related mutants"],"prefix":"10.1038","volume":"5","author":[{"given":"Laura","family":"Tosatto","affiliation":[]},{"given":"Mathew
        H.","family":"Horrocks","affiliation":[]},{"given":"Alexander J.","family":"Dear","affiliation":[]},{"given":"Tuomas
        P. J.","family":"Knowles","affiliation":[]},{"given":"Mauro","family":"Dalla
        Serra","affiliation":[]},{"given":"Nunilo","family":"Cremades","affiliation":[]},{"given":"Christopher
        M.","family":"Dobson","affiliation":[]},{"given":"David","family":"Klenerman","affiliation":[]}],"member":"339","published-online":{"date-parts":[[2015,11,19]]},"reference":[{"key":"BFsrep16696_CR1","first-page":"140","DOI":"10.3389\/fnana.2010.00140","volume":"4","author":"T
        Gonz\u00e1lez-Hern\u00e1ndez","year":"2010","unstructured":"Gonz\u00e1lez-Hern\u00e1ndez,
        T., Cruz-Muros, I., Afonso-Oramas, D., Salas-Hernandez, J. & Castro-Hernandez,
        J. Vulnerability of mesostriatal dopaminergic neurons in Parkinson\u2019s
        disease. Front. Neuroanat. 4, 140 (2010).","journal-title":"Front. Neuroanat"},{"key":"BFsrep16696_CR2","first-page":"839","DOI":"10.1038\/42166","volume":"388","author":"MG
        Spillantini","year":"1997","unstructured":"Spillantini, M. G. et al. Alpha-synuclein
        in Lewy bodies. Nature 388, 839\u2013840 (1997).","journal-title":"Nature"},{"key":"BFsrep16696_CR3","first-page":"13709","DOI":"10.1021\/bi961799n","volume":"35","author":"PH
        Weinreb","year":"1996","unstructured":"Weinreb, P. H., Zhen, W., Poon, A.
        W., Conway, K. A. [...]
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/works/10.1109/icdcsw.2003.1203662
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2017,5,26]],"date-time":"2017-05-26T19:39:27Z","timestamp":1495827567401},"reference-count":13,"publisher":"IEEE","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1109\/icdcsw.2003.1203662","type":"proceedings-article","created":{"date-parts":[[2004,6,22]],"date-time":"2004-06-22T20:27:43Z","timestamp":1087936063000},"source":"Crossref","is-referenced-by-count":2,"title":["Accurate
        and explicit differentiation of wireless and congestion losses"],"prefix":"10.1109","author":[{"given":"V.","family":"Arya","affiliation":[]},{"given":"T.","family":"Turletti","affiliation":[]}],"member":"263","event":{"name":"23rd
        International Conference on Distributed Computing Systems Workshops, 2003.","location":"Providence,
        Rhode Island, USA"},"container-title":["23rd International Conference on Distributed
        Computing Systems Workshops, 2003. Proceedings."],"original-title":[],"deposited":{"date-parts":[[2017,3,13]],"date-time":"2017-03-13T18:23:30Z","timestamp":1489429410000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"ISBN":["0-7695-1921-0"],"references-count":13,"URL":"http:\/\/dx.doi.org\/10.1109\/icdcsw.2003.1203662","relation":{}}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-rate-limit-interval: [1s]
      x-rate-limit-limit: ['50']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.1 habanero/0.3.1]
    method: GET
    uri: https://api.crossref.org/works/10.3892/ijo_00000353
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2017,5,28]],"date-time":"2017-05-28T00:20:23Z","timestamp":1495930823242},"reference-count":0,"publisher":"Spandidos
        Publications","content-domain":{"domain":[],"cross[...]
