interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.19.1 habanero/0.6.2.1]
    method: GET
    uri: https://api.crossref.org/works?sample=2
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":101776867,"items":[{"indexed":{"date-parts":[[2018,5,14]],"date-time":"2018-05-14T07:40:10Z","timestamp":1526283610575},"reference-count":0,"publisher":"The
        Institute of the History of Christianity in Korea","issue":"47","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["christianityandhistoryinkorea"],"published-print":{"date-parts":[[2017,9]]},"DOI":"10.18021\/chk..47.201709.69","type":"journal-article","created":{"date-parts":[[2017,9,26]],"date-time":"2017-09-26T04:16:20Z","timestamp":1506399380000},"page":"69-106","source":"Crossref","is-referenced-by-count":0,"title":["The
        March First Independent Movement and Buddhism"],"prefix":"10.18021","volume":"null","author":[{"family":"kwang
        sik kim","sequence":"first","affiliation":[]}],"member":"7382","container-title":["Christianity
        and History in Korea"],"language":"en","deposited":{"date-parts":[[2018,5,14]],"date-time":"2018-05-14T07:11:56Z","timestamp":1526281916000},"score":1.0,"issued":{"date-parts":[[2017,9]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[2017,9]]},"issue":"47"},"URL":"http:\/\/dx.doi.org\/10.18021\/chk..47.201709.69","ISSN":["1598-7256"],"issn-type":[{"value":"1598-7256","type":"print"}]},{"indexed":{"date-parts":[[2018,5,8]],"date-time":"2018-05-08T10:33:57Z","timestamp":1525775637232},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2011,10,31]]},"DOI":"10.1093\/benz\/9780199773787.article.b00052483","type":"reference-book","created":{"date-parts":[[2017,12,16]],"date-time":"2017-12-16T13:43:35Z","timestamp":1513431815000},"source":"Crossref","is-referenced-by-count":0,"title":["Domenico
        da Leonessa"],"prefix":"10.1093","member":"286","container-title":["Benezit
        Dictionary of Artists"],"original-title":["Domenico da Leonessa"],"deposited":{"date-parts":[[2017,12,16]],"date-time":"2017-12-16T13:43:35Z","timestamp":1513431815000},"score":1.0,"issued":{"date-parts":[[2011,10,31]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1093\/benz\/9780199773787.article.b00052483"}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 200, message: OK}
version: 1
