interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/works?query=ecology&rows=2
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":324303,"items":[{"indexed":{"date-parts":[[2018,5,4]],"date-time":"2018-05-04T09:45:12Z","timestamp":1525427112718},"publisher-location":"Berlin\/Heidelberg","reference-count":0,"publisher":"Springer-Verlag","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1007\/springerreference_29611","type":"reference-entry","created":{"date-parts":[[2011,8,3]],"date-time":"2011-08-03T22:03:59Z","timestamp":1312409039000},"source":"Crossref","is-referenced-by-count":0,"title":["Human
        ecology (cultural ecology)"],"prefix":"10.1007","member":"297","container-title":["SpringerReference"],"deposited":{"date-parts":[[2011,8,3]],"date-time":"2011-08-03T22:06:02Z","timestamp":1312409162000},"score":10.180522,"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/springerreference_29611"},{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T19:32:49Z","timestamp":1523734369421},"reference-count":0,"publisher":"Routledge","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.4324\/9780203839263.ch3","type":"book-chapter","created":{"date-parts":[[2015,2,17]],"date-time":"2015-02-17T14:50:19Z","timestamp":1424184619000},"source":"Crossref","is-referenced-by-count":0,"title":["Urban
        ecology and industrial ecology"],"prefix":"10.4324","author":[{"given":"Xuemei","family":"Bai","sequence":"first","affiliation":[]},{"given":"Heinz","family":"Schandl","sequence":"additional","affiliation":[]}],"member":"301","container-title":["The
        Routledge Handbook of Urban Ecology"],"deposited":{"date-parts":[[2017,10,30]],"date-time":"2017-10-30T20:01:09Z","timestamp":1509393669000},"score":9.993281,"issued":{"date-parts":[[null]]},"ISBN":["9780203839263","9781136883415","9780415498135"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.4324\/9780203839263.ch3"}],"items-per-page":2,"query":{"start-index":0,"search-terms":"ecology"}}}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 200, message: OK}
version: 1
