interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/works?query=ecology&select=DOI%2Ctitle
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":324303,"items":[{"DOI":"10.1007\/springerreference_29611","title":["Human
        ecology (cultural ecology)"]},{"DOI":"10.4324\/9780203839263.ch3","title":["Urban
        ecology and industrial ecology"]},{"DOI":"10.1002\/9780470979365.ch7","title":["Behavioural
        Ecology"]},{"DOI":"10.1002\/9780470979365.ch2","title":["Molecular Markers
        in Ecology"]},{"DOI":"10.1002\/9780470979365.ch1","title":["Molecular Genetics
        in Ecology"]},{"DOI":"10.1002\/ecy.1807","title":["The new ecology"]},{"DOI":"10.1002\/9781118015841.ch5","title":["The
        how of Microbial Ecology Studies"]},{"DOI":"10.5040\/9781474274685.ch-009","title":["From
        Natural Ecology to Cultural Ecology"]},{"DOI":"10.2307\/1934287","title":["Agricultural
        Ecology"]},{"DOI":"10.2307\/1931096","title":["Epidemiology--The Ecology of
        Disease"]},{"DOI":"10.2307\/1935066","title":["Woodland Ecology"]},{"DOI":"10.2307\/1929908","title":["Scandinavian
        Ecology"]},{"DOI":"10.2307\/1943146","title":["Smut Ecology"]},{"DOI":"10.2307\/1928969","title":["Ecology
        or Bio-Ecology"]},{"DOI":"10.2307\/1930158","title":["\"Ecology\" and \"Plant
        Ecology\""]},{"DOI":"10.1002\/9781444341966.ch14","title":["Applied Community
        Ecology"]},{"DOI":"10.5402\/ecology","title":["ISRN Ecology"]},{"DOI":"10.4996\/fireecology","title":["Fire
        Ecology"]},{"DOI":"10.1155\/8641","title":["ISRN Ecology"]},{"DOI":"10.2307\/2259749","title":["Tropical
        Ecology. Benchmark Papers in Ecology."]}],"items-per-page":20,"query":{"start-index":0,"search-terms":"ecology"}}}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 200, message: OK}
[...]
