interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/works?sample=2
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":96961333,"items":[{"indexed":{"date-parts":[[2018,5,3]],"date-time":"2018-05-03T21:34:28Z","timestamp":1525383268653},"reference-count":0,"publisher":"Informa
        UK Limited","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["British
        Phycological Journal"],"published-print":{"date-parts":[[1984,3]]},"DOI":"10.1080\/00071618400650091","type":"journal-article","created":{"date-parts":[[2007,7,26]],"date-time":"2007-07-26T06:37:40Z","timestamp":1185431860000},"page":"89-93","source":"Crossref","is-referenced-by-count":0,"title":["Book
        reviews"],"prefix":"10.1080","volume":"19","member":"301","published-online":{"date-parts":[[2007,2,24]]},"container-title":["British
        Phycological Journal"],"language":"en","link":[{"URL":"http:\/\/www.tandfonline.com\/doi\/pdf\/10.1080\/00071618400650091","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,12,12]],"date-time":"2016-12-12T03:08:05Z","timestamp":1481512085000},"score":1.0,"issued":{"date-parts":[[1984,3]]},"references-count":0,"journal-issue":{"published-online":{"date-parts":[[2007,2,24]]},"published-print":{"date-parts":[[1984,3]]},"issue":"1"},"alternative-id":["10.1080\/00071618400650091"],"URL":"http:\/\/dx.doi.org\/10.1080\/00071618400650091","ISSN":["0007-1617"],"issn-type":[{"value":"0007-1617","type":"print"}]},{"indexed":{"date-parts":[[2018,5,8]],"date-time":"2018-05-08T12:28:42Z","timestamp":1525782522146},"publisher-location":"London","reference-count":26,"publisher":"Palgrave
        Macmillan UK","isbn-type":[{"value":"9781349445431","type":"print"},{"value":"9781137273819","type":"electronic"}],"license":[{"URL":"http:\/\/www.springer.com\/tdm","start":{"date-parts":[[2014,1,1]],"date-time":"2014-01-01T00:00:00Z","timestamp":1388534400000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014]]},"DOI":"10.1057\/9781137273819_10","type":"book-chapter","created":{"date-parts":[[2016,5,21]],"date-time":"2016-05-21T14:23:59Z","timestamp":1463840639000},"page":"199-228","source":"Crossref","is-referenced-by-count":0,"title":["Social
        Inclusion in Rural Brazil under Lula"],"prefix":"10.1057","author":[{"given":"Ant\u00f4nio
        Marcio","family":"Buainain","sequence":"first","affiliation":[]},{"given":"Henrique
        Dantas","family":"Neder","sequence":"additional","affiliation":[]},{"given":"Junior
        Ruiz","family":"Garcia","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"key":"10_CR1","author":"RP
        Barros","year":"2004","unstructured":"Barros, R.P. and Carvalho, M. (2004)
        \u2018Desafios para a Pol\u00edtica Social Brasileira\u2019, in F. Giambiagi,
        J.G. Reis and A. Urani (eds), Reformas no Brasil: Balan\u00e7o e Agenda (Rio
        de Janeiro: Nova Fronteira).","volume-title":"Sistema pol\u00edtico brasileiro:
        Uma introdu\u00e7\u00e3o"},{"key":"10_CR2","author":"Brasil sem Mis\u00e9ria","year":"2012","unstructured":"Brasil
        sem Mis\u00e9ria. (2012) Plano Brasil sem Mis\u00e9ria. www.brasilsemmiseria.gov.br
        date accessed 14 August 2012.","volume-title":"Plano Brasil sem Mis\u00e9ria"},{"key":"10_CR3","author":"AM
        Buainain","year":"2009","unstructured":"Buainain, A.M. Braga, B. Garcia, J.R.
        and Buainain, V.P. (2009) \u2018Di\u00e1logo de Pol\u00edticas para Inclus\u00e3o
        Social e Produtiva em Alagoas: Pontos para Reflex\u00e3o e Debate\u2019, paper
        prepared for the Inter American Development Bank (IDB).","volume-title":"Di\u00e1logo
        de Pol\u00edticas para Inclus\u00e3o Social e Produtiva em Alagoas: Pontos
        para Reflex\u00e3o e Debate"},{"key":"10_CR4","author":"CEPEA\/USP\/CNA","year":"2012","unstructured":"CEPEA\/USP\/CNA.
        (2012) Agribusiness GDP \u20131994 to 2011. www.cepea.esalq.usp.br \/pib date
        accessed 5 January 2012.","volume-title":"Agribusiness GDP \u20131994 to 2011"},{"key":"10_CR5","author":"DIEESE","year":"2011","unstructured":"DIEESE.
        (2011) Pol\u00edtica de Valoriza\u00e7\u00e3o do Sal\u00e1rio M\u00ednimo,
        nota t\u00e9cnica 93. portal. mte.gov.br date accessed 14 August 2012.","volume-title":"Pol\u00edtica
        de Valoriza\u00e7\u00e3o do Sal\u00e1rio M\u00ednimo"},{"issue":"2","key":"10_CR6","doi-asserted-by":"crossref","first-page":"63","DOI":"10.1590\/S0103-20702003000200004","volume":"15","author":"S
        Draibe","year":"2003","unstructured":"Draibe, S. (2003) \u2018A Pol\u00edtica
        Social no Per\u00edodo FHC e o Sistema de Prote\u00e7\u00e3o Social\u2019,
        Tempo Social 15(2): 63\u2013101.","journal-title":"Tempo Social"},{"key":"10_CR7","author":"PHG
        Ferreira Souza de","year":"2012","unstructured":"Ferreira de Souza, P.H.G.
        (2012) \u2018Poverty, Inequality and Social Policies in Brazil, 1995\u20132009\u2019,
        Working Paper 87, International Policy Centre for Inclusive Growth. http:\/\/www.ipc-undp.org
        \/pub\/IPCWorkingPaper87.pdf date accessed 14 December 2012.","series-title":"Working
        Paper","volume-title":"Poverty, Inequality and Social Policies in Brazil,
        1995\u20132009"},{"key":"10_CR8","author":"V Ferreira","year":"2013","unstructured":"Ferreira,
        V. Sielawa, H. and Helfand, S. (2013) \u2018A Matter of Time: An Impact Evaluation
        of the Programa Nacional de Cr\u00e9dito Fundi\u00e1rio\u2019, Working Paper,
        University of California Riverside.","series-title":"Working Paper","volume-title":"A
        Matter of Time: An Impact E[...]
