interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.2]
    method: GET
    uri: https://api.crossref.org/works?sample=2
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":95875008,"items":[{"indexed":{"date-parts":[[2017,10,26]],"date-time":"2017-10-26T21:46:29Z","timestamp":1509054389741},"reference-count":2,"publisher":"Informa
        UK Limited","issue":"3","content-domain":{"domain":["www.tandfonline.com"],"crossmark-restriction":true},"short-container-title":["International
        Journal of Jungian Studies"],"published-print":{"date-parts":[[2014,9,2]]},"DOI":"10.1080\/19409052.2014.943002","type":"journal-article","created":{"date-parts":[[2014,8,4]],"date-time":"2014-08-04T11:50:12Z","timestamp":1407153012000},"page":"179-179","update-policy":"http:\/\/dx.doi.org\/10.1080\/tandf_crossmark_01","source":"Crossref","is-referenced-by-count":0,"title":["Editorial"],"prefix":"10.1080","volume":"6","author":[{"given":"Luke","family":"Hockley","affiliation":[]},{"given":"Lucy","family":"Huskinson","affiliation":[]}],"member":"301","published-online":{"date-parts":[[2014,8,4]]},"reference":[{"key":"cit0001","DOI":"10.1080\/19409052.2012.671182","doi-asserted-by":"publisher"},{"key":"cit0002","author":"Stern
        K.","year":"1954","volume-title":"The Third Revolution: A Study of Psychiatry
        and Religion"}],"container-title":["International Journal of Jungian Studies"],"link":[{"URL":"http:\/\/www.tandfonline.com\/doi\/pdf\/10.1080\/19409052.2014.943002","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,12,14]],"date-time":"2016-12-14T09:38:13Z","timestamp":1481708293000},"score":1.0,"issued":{"date-parts":[[2014,8,4]]},"references-count":2,"alternative-id":["10.1080\/19409052.2014.943002"],"URL":"http:\/\/dx.doi.org\/10.1080\/19409052.2014.943002","relation":{"cites":[]},"ISSN":["1940-9052","1940-9060"],"issn-type":[{"value":"1940-9052","type":"print"},{"value":"1940-9060","type":"electronic"}],"subject":["Applied
        Psychology"],"assertion":[{"value":"The publishing and review policy for this
        title is described in its Aims & Scope.","order":1,"name":"peerreview_statement","label":"Peer
        Review Statement"},{"value":"http:\/\/www.tandfonline.com\/action\/journalInformation?show=aimsScope&journalCode=rijj20","URL":"http:\/\/www.tandfonline.com\/action\/journalInformation?show=aimsScope&journalCode=rijj20","order":2,"name":"aims_and_scope_url","label":"Aim
        & Scope"}]},{"indexed":{"date-parts":[[2017,10,24]],"date-time":"2017-10-24T06:08:51Z","timestamp":1508825331967},"reference-count":0,"publisher":"Elsevier
        BV","issue":"3","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1994,6,1]],"date-time":"1994-06-01T00:00:00Z","timestamp":770428800000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Clinical
        Biochemistry"],"published-print":{"date-parts":[[1994,6]]},"DOI":"10.1016\/0009-9120(94)90150-3","type":"journal-article","created":{"date-parts":[[2003,2,11]],"date-time":"2003-02-11T22:19:26Z","timestamp":1045001966000},"page":"231","source":"Crossref","is-referenced-by-count":0,"title":["The
        biochemical diagnosis of the porphyria cutanea tarda of chronic [...]
