interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.18.4 habanero/0.6.0.3]
    method: GET
    uri: https://api.crossref.org/works?rows=2
  response:
    body: {string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":96961333,"items":[{"indexed":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:43:00Z","timestamp":1523583780228},"publisher-location":"Cambridge","reference-count":0,"publisher":"Cambridge
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1017\/cbo9781139058605.030","type":"book-chapter","created":{"date-parts":[[2012,3,5]],"date-time":"2012-03-05T20:39:56Z","timestamp":1330979996000},"source":"Crossref","is-referenced-by-count":0,"title":["Plate
        section"],"prefix":"10.1017","author":[{"given":"Leonard","family":"Cockayne","sequence":"first","affiliation":[]}],"member":"56","container-title":["The
        Vegetation of New Zealand"],"deposited":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:03:25Z","timestamp":1523581405000},"score":1.0,"issued":{"date-parts":[[null]]},"ISBN":["9781139058605"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1017\/cbo9781139058605.030"},{"indexed":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:45:10Z","timestamp":1523583910841},"publisher-location":"Cambridge","reference-count":0,"publisher":"Cambridge
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1017\/cbo9781139923651.027","type":"book-chapter","created":{"date-parts":[[2015,6,6]],"date-time":"2015-06-06T05:27:57Z","timestamp":1433568477000},"source":"Crossref","is-referenced-by-count":0,"title":["Plate
        Section"],"prefix":"10.1017","author":[{"given":"Samuel","family":"Sharpe","sequence":"first","affiliation":[]},{"given":"Joseph","family":"Bonomi","sequence":"additional","affiliation":[]}],"member":"56","container-title":["The
        Alabaster Sarcophagus of Oimenepthah I., King of Egypt"],"deposited":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:18:49Z","timestamp":1523582329000},"score":1.0,"issued":{"date-parts":[[null]]},"ISBN":["9781139923651"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1017\/cbo9781139923651.027"}],"items-per-page":2,"query":{"start-index":0,"search-terms":null}}}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 200, message: OK}
version: 1
