interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016/works?sample=2
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2,"items":[{"indexed":{"date-parts":[[2022,4,2]],"date-time":"2022-04-02T06:17:55Z","timestamp":1648880275451},"reference-count":0,"publisher":"Elsevier
      BV","issue":"4","license":[{"start":{"date-parts":[[1881,10,1]],"date-time":"1881-10-01T00:00:00Z","timestamp":-2784931200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
      of the Franklin Institute"],"published-print":{"date-parts":[[1881,10]]},"DOI":"10.1016\/0016-0032(81)90225-8","type":"journal-article","created":{"date-parts":[[2003,11,1]],"date-time":"2003-11-01T19:48:29Z","timestamp":1067716109000},"page":"274-278","source":"Crossref","is-referenced-by-count":0,"title":["Radio-dynamic
      facts"],"prefix":"10.1016","volume":"112","author":[{"given":"Pliny Earle","family":"Chase","sequence":"first","affiliation":[]}],"member":"78","container-title":["Journal
      of the Franklin Institute"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:0016003281902258?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:0016003281902258?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2019,2,17]],"date-time":"2019-02-17T21:28:39Z","timestamp":1550438919000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/linkinghub.elsevier.com\/retrieve\/pii\/0016003281902258"}},"issued":{"date-parts":[[1881,10]]},"references-count":0,"journal-issue":{"issue":"4","published-print":{"date-parts":[[1881,10]]}},"alternative-id":["0016003281902258"],"URL":"http:\/\/dx.doi.org\/10.1016\/0016-0032(81)90225-8","ISSN":["0016-0032"],"issn-type":[{"value":"0016-0032","type":"print"}],"published":{"date-parts":[[1881,10]]}},{"indexed":{"date-parts":[[2024,5,4]],"date-time":"2024-05-04T01:27:57Z","timestamp":1714786077344},"reference-count":22,"publisher":"Elsevier","isbn-type":[{"value":"9781483283845","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1979]]},"DOI":"10.1016\/b978-1-4832-8384-5.50061-2","type":"book-chapter","created":{"date-parts":[[2013,12,19]],"date-time":"2013-12-19T05:00:06Z","timestamp":1387429206000},"page":"113-148","source":"Crossref","is-referenced-by-count":0,"title":["Alpha-particle
      Heating in High Density Plasmas"],"prefix":"10.1016","author":[{"given":"B.","family":"Coppi","sequence":"first","affiliation":[]},{"given":"A.","family":"Taroni","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/B978-1-4832-8384-5.50061-2_bib1","first-page":"47","volume":"3","author":"Coppi","year":"1977","journal-title":"Comments
      on Plasma Physics and Controlled Fusion"},{"key":"10.1016\/B978-1-4832-8384-5.50061-2_bib2","unstructured":"D.
      Mikkelsen and D. Post, paper D-12, presented at the 1978 Controlled Fusion Theory
      Conference, Gatlinburg, Tenn."},{"key":"10.1016\/B978-1-4832-8384-5.50061-2_bib3","unstructured":"E.
      Bittoni and L. Felician, Centro Calcolo CNEN Report (Bologna Italy, 1978). To
      be submitted to Nuclear Fusion."},{"key":"10.1016\/B978-1-4832-8384-5.50061-2_bib4","unstructured":"B.
      Coppi and A. Taroni, in Proceedings of the 1977 Varenna Symposium on Magnetically
      Confined Plasmas (Publ. Pergamon Press and Euratom, Brussels, 1978)."},{"key":"10.1016\/B978-1-4832-8384-5.50061-2_bib5","unstructured":"A.
      Bittoni, B. Coppi, M. Haegi and A. Taroni, in Proceedings of the 1977 International
      College on Theoretical and Computational Plamas Physics, Trieste 1977 (Publish.
      I.A.E.A., Vienna 1978)."},{"key":"10.1016\/B978-1-4832-8384-5.50061-2_bib6","unstructured":"B.
      Coppi, L. De Menna, F. Esposito and F. Laudiero in Proceedings of the 1977 Varenna
      Symposium on Magnetically Confined Plasmas (Publ. Pergamon Press and Euratom,
      Brussels, 1978)."},{"key":"10.1016\/B978-1-4832-8384-5.50061-2_bib7","unstructured":"V.
      E. Golant, paper presented at the International Symposium on \u201cHeating in
      Toroidal Plasmas\u201d Grenoble, France 1978."},{"key":"10.1016\/B978-1-4832-8384-5.50061-2_sbref2","doi-asserted-by":"crossref","first-page":"1329","DOI":"10.1103\/PhysRevLett.33.1329","volume":"33","author":"Coppi","year":"1974","journal-title":"Phys.
      Rev. Lett."},{"key":"10.1016\/B978-1-4832-8384-5.50061-2_sbref3","doi-asserted-by":"crossref","first-page":"5","DOI":"10.1088\/0029-5515\/17\/5\/009","volume":"17","author":"Coppi","year":"1977","journal-title":"Nucl.
      Fusion"},{"key":"10.1016\/B978-1-4832-8384-5.50061-2_bib9","doi-asserted-by":"crossref","first-page":"134","DOI":"10.1063\/1.1693264",[...]
