interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016/works?sample=2
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2,"items":[{"indexed":{"date-parts":[[2023,9,9]],"date-time":"2023-09-09T17:43:18Z","timestamp":1694281398228},"reference-count":68,"publisher":"Elsevier
        BV","license":[{"start":{"date-parts":[[2020,5,1]],"date-time":"2020-05-01T00:00:00Z","timestamp":1588291200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/501100012166","name":"National
        Key Research and Development Program","doi-asserted-by":"publisher","award":["2016YFC0600105"]},{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"publisher","award":["41672094"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Ore
        Geology Reviews"],"published-print":{"date-parts":[[2020,5]]},"DOI":"10.1016\/j.oregeorev.2020.103450","type":"journal-article","created":{"date-parts":[[2020,3,7]],"date-time":"2020-03-07T06:57:06Z","timestamp":1583564226000},"page":"103450","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":19,"title":["Two-stage
        gold deposition in response to H2S loss from a single fluid in the Sizhuang
        deposit (Jiaodong, China)"],"prefix":"10.1016","volume":"120","author":[{"given":"Huan-Long","family":"Hu","sequence":"first","affiliation":[]},{"given":"Hong-Rui","family":"Fan","sequence":"additional","affiliation":[]},{"given":"Xuan","family":"Liu","sequence":"additional","affiliation":[]},{"given":"Ya-Chun","family":"Cai","sequence":"additional","affiliation":[]},{"given":"Kui-Feng","family":"Yang","sequence":"additional","affiliation":[]},{"given":"Wei-Dong","family":"Ma","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.oregeorev.2020.103450_b0005","doi-asserted-by":"crossref","first-page":"897","DOI":"10.2113\/econgeo.104.7.897","article-title":"Uncloaking
        invisible gold: use of NanoSIMS to evaluate gold, trace elements, and sulfur
        isotopes in pyrite from Carlin-type gold deposits","volume":"104","author":"Barker","year":"2009","journal-title":"Econ.
        Geol."},{"key":"10.1016\/j.oregeorev.2020.103450_b0010","doi-asserted-by":"crossref","first-page":"48","DOI":"10.1111\/j.1468-8123.2010.00305.x","article-title":"Oscillatory
        zoning and trace element incorporation in hydrothermal minerals: insights
        from calcite growth experiments","volume":"11","author":"Barker","year":"2011","journal-title":"Geofluids"},{"key":"10.1016\/j.oregeorev.2020.103450_b0015","doi-asserted-by":"crossref","first-page":"2665","DOI":"10.1016\/[...]
