interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/prefixes/10.1371/works?filter=type%3Ajournal-article&query.editor=cooper
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":119,"items":[{"indexed":{"date-parts":[[2023,9,23]],"date-time":"2023-09-23T16:11:04Z","timestamp":1695485464652},"reference-count":18,"publisher":"Public
        Library of Science (PLoS)","issue":"3","license":[{"start":{"date-parts":[[2016,3,23]],"date-time":"2016-03-23T00:00:00Z","timestamp":1458691200000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        ONE"],"DOI":"10.1371\/journal.pone.0151983","type":"journal-article","created":{"date-parts":[[2016,3,23]],"date-time":"2016-03-23T18:12:48Z","timestamp":1458756768000},"page":"e0151983","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"Crossref","is-referenced-by-count":29,"title":["New
        Respiratory Inductive Plethysmography (RIP) Method for Evaluating Ventilatory
        Adaptation during Mild Physical Activities"],"prefix":"10.1371","volume":"11","author":[{"given":"Yann","family":"Retory","sequence":"first","affiliation":[]},{"given":"Pauline","family":"Niedzialkowski","sequence":"additional","affiliation":[]},{"given":"Carole","family":"de
        Picciotto","sequence":"additional","affiliation":[]},{"given":"Marcel","family":"Bonay","sequence":"additional","affiliation":[]},{"given":"Michel","family":"Petitjean","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2016,3,23]]},"reference":[{"key":"ref1","doi-asserted-by":"crossref","first-page":"121","DOI":"10.1016\/j.biopsycho.2010.02.008","article-title":"Accuracy
        of ventilatory measurement employing ambulatory inductive plethysmography
        during tasks of everyday life","volume":"84","author":"P Grossman","year":"2010","journal-title":"Biol
        Psychol"},{"key":"ref2","doi-asserted-by":"crossref","first-page":"389","DOI":"10.1016\/j.resp.2006.01.010","article-title":"Measurement
        of exercise ventilation by a portable respiratory inductive plethysmograph","volume":"154","author":"JD
        Witt","year":"2006","journal-title":"Respir Physiol Neurobiol"},{"key":"ref3","doi-asserted-by":"crossref","first-page":"13167","DOI":"10.3390\/s121013167","article-title":"Development
        of a respiratory inductive plethysmo[...]
