interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.7.91
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016/works?rows=2
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":21223566,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:45:52Z","timestamp":1648950352883},"reference-count":6,"publisher":"Elsevier
      BV","issue":"1","license":[{"start":{"date-parts":[[2018,1,1]],"date-time":"2018-01-01T00:00:00Z","timestamp":1514764800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2019,1,2]],"date-time":"2019-01-02T00:00:00Z","timestamp":1546387200000},"content-version":"vor","delay-in-days":366,"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/"}],"content-domain":{"domain":["clinicalkey.jp","onlinejacc.org","clinicalkey.com","clinicalkey.es","clinicalkey.com.au","clinicalkey.fr","elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Journal
      of the American College of Cardiology"],"published-print":{"date-parts":[[2018,1]]},"DOI":"10.1016\/j.jacc.2017.11.012","type":"journal-article","created":{"date-parts":[[2018,1,1]],"date-time":"2018-01-01T19:03:22Z","timestamp":1514833402000},"page":"37-39","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":2,"title":["TMVR
      With Artificial Cords in the Treatment of Mitral Regurgitation"],"prefix":"10.1016","volume":"71","author":[{"given":"Michael","family":"Mack","sequence":"first","affiliation":[]},{"given":"Robert","family":"Smith","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.jacc.2017.11.012_bib1","doi-asserted-by":"crossref","first-page":"2315","DOI":"10.1016\/j.jacc.2017.09.015","article-title":"Outcomes
      with transcatheter mitral valve repair in the United States","volume":"70","author":"Sorajja","year":"2017","journal-title":"J\u00a0Am
      Coll Cardiol"},{"key":"10.1016\/j.jacc.2017.11.012_bib2","doi-asserted-by":"crossref","first-page":"914","DOI":"10.1016\/j.jacc.2013.07.090","article-title":"Off-pump
      transapical implantation of artificial neo-chordae to correct mitral regurgitation:
      the TACT Trial (Transapical Artificial Chordae Tendinae) proof of concept","volume":"63","author":"Seeburger","year":"2014","journal-title":"J\u00a0Am
      Coll Cardiol"},{"key":"10.1016\/j.jacc.2017.11.012_bib3","doi-a[...]
