interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.3.0 habanero/2.4.0
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016
  response:
    body:
      string: '{"status":"ok","message-type":"prefix","message-version":"1.0.0","message":{"member":"https:\/\/id.crossref.org\/member\/78","name":"Elsevier
        BV","prefix":"https:\/\/id.crossref.org\/prefix\/10.1016"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 200
      message: OK
version: 1
