interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/prefixes/10.1371/works
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3968272,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:46:03Z","timestamp":1648950363302},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1371\/journal.pone.0020476.s005","type":"component","created":{"date-parts":[[2013,1,28]],"date-time":"2013-01-28T15:38:16Z","timestamp":1359387496000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.1371","member":"340","deposited":{"date-parts":[[2018,10,19]],"date-time":"2018-10-19T19:11:42Z","timestamp":1539976302000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/dx.plos.org\/10.1371\/journal.pone.0020476.s005"}},"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0020476.s005"},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:46:00Z","timestamp":1648950360953},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1371\/journal.pone.0167254.g006","type":"component","created":{"date-parts":[[2016,11,30]],"date-time":"2016-11-30T19:25:46Z","timestamp":1480533946000},"source":"Crossref","is-referenced[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/prefixes/10.9999/works
  response:
    body:
      string: Resource not found.
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/prefixes/10.4176/works
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
