interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/prefixes/10.1371/works
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":4582152,"items":[{"indexed":{"date-parts":[[2022,4,26]],"date-time":"2022-04-26T17:42:12Z","timestamp":1650994932462},"reference-count":0,"publisher":"Public
      Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1371\/journal.pmed.1003972.s026","type":"component","created":{"date-parts":[[2022,4,26]],"date-time":"2022-04-26T17:24:54Z","timestamp":1650993894000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.1371","member":"340","deposited":{"date-parts":[[2022,4,26]],"date-time":"2022-04-26T17:25:07Z","timestamp":1650993907000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/dx.plos.org\/10.1371\/journal.pmed.1003972.s026"}},"issued":{"date-parts":[[null]]},"references-count":0,"URL":"https:\/\/doi.org\/10.1371\/journal.pmed.1003972.s026"},{"indexed":{"date-parts":[[2022,4,26]],"date-time":"2022-04-26T17:42:13Z","timestamp":1650994933663},"reference-count":0,"publisher":"Public
      Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1371\/journal.pone.0266623.t008","type":"component","created":{"date-parts":[[2022,4,26]],"date-time":"2022-04-26T17:28:08Z","timestamp":1650994088000},"source":"Crossref","is-referenced-by-[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/prefixes/10.9999/works
  response:
    content: Resource not found.
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 404
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/prefixes/10.4176/works
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
