interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.25.1 habanero/0.7.6
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016
  response:
    body:
      string: '{"status":"ok","message-type":"prefix","message-version":"1.0.0","message":{"member":"http:\/\/id.crossref.org\/member\/78","name":"Elsevier
        BV","prefix":"http:\/\/id.crossref.org\/prefix\/10.1016"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
