interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/prefixes/10.1371/works?filter=type%3Ajournal-article&query.editor=cooper
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":114,"items":[{"indexed":{"date-parts":[[2023,9,9]],"date-time":"2023-09-09T20:39:59Z","timestamp":1694291999103},"reference-count":41,"publisher":"Public
        Library of Science (PLoS)","issue":"4","license":[{"start":{"date-parts":[[2013,4,30]],"date-time":"2013-04-30T00:00:00Z","timestamp":1367280000000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        ONE"],"DOI":"10.1371\/journal.pone.0062551","type":"journal-article","created":{"date-parts":[[2013,5,2]],"date-time":"2013-05-02T00:48:56Z","timestamp":1367455736000},"page":"e62551","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"Crossref","is-referenced-by-count":32,"title":["Three-Phase
        Fuel Deposition in a Long-Distance Migrant, the Red Knot (Calidris canutus
        piersmai), before the Flight to High Arctic Breeding Grounds"],"prefix":"10.1371","volume":"8","author":[{"given":"Ning","family":"Hua","sequence":"first","affiliation":[]},{"given":"Theunis","family":"Piersma","sequence":"additional","affiliation":[]},{"given":"Zhijun","family":"Ma","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2013,4,30]]},"reference":[{"key":"ref1","doi-asserted-by":"crossref","first-page":"511","DOI":"10.2307\/3677170","article-title":"Phenotypic
        flexibility during migration: optimization of organ size contingent on the
        risks and rewards of fueling and flight?","volume":"29","author":"T Piersma","year":"1998","journal-title":"J
        Avian Biol"},{"key":"ref2","doi-asserted-by":"crossref","first-page":"191","DOI":"10.1098\/rspb.2000.0986","article-title":"Empirical
        evidence for differential organ reductions during trans-oceanic bird flight","volume":"267","author":"PF
        Battley","year":"2000","journal-title":"Proc R Soc B"},{"key":"ref3","first-page":"185","article-title":"Hop,
        skip, or jump? Constraints on migration of arctic waders by feeding, fattening,
        and flight speed","volume":"60","author":"T Piersma","year":"1987","journal-title":"Limosa"},{"key":"ref4","doi-asserted-by":"crossref","first-page":"274","DOI":"10.1034\/j.1600-0706.2003.12274.x","article-title":"Pay-offs
        and penalties of competing migratory schedules","volume":"103","author":"R
        Drent","year":"2003","journal-title":"Oikos"},{"key":"ref5","doi-asserted-by":"crossref","first-page":"449","DOI":"10.1650\/7614","article-title":"Transformations
        at high latitudes: why do Red Knots bring body stores to the breeding grounds?","volume":"107","author":"RIG
        Morrison","year":"2005","journal-title":"Condor"},{"key":"ref6","unstructured":"Piersma
        T, Rogers DI, Gonz\u00e1lez PM, Zwarts L, Niles LJ, <etal>et al<\/etal>..
        (2005) Fuel storage rates before northward flights in red knots worldwide:
        facing the severest ecological constraint in tropical intertidal environments?
        In Greenberg R, Marra PP, editors. Birds of two worlds: Ecology and evolution
        of migration. Baltimore: Johns Hopkins University Press. pp. 262\u2013273."},{"key":"ref7","first-page":"385","article-title":"An
        isotopic assessment of protein from diet and endogenous stores: effects on
        egg production and incubation behaviour of geese","volume":"94","author":"JA
        Schmutz","year":"2006","journal-title":"Ardea"},{"key":"ref8","doi-asserted-by":"crossref","first-page":"481","DOI":"10.1007\/s00300-008-0543-8","article-title":"Body
        condition of shorebirds upon arrival at their Siberian breeding grounds","volume":"32","author":"I
        Tulp","year":"2009","journal-title":"Polar Biol"},{"key":"ref9","doi-asserted-by":"crossref","unstructured":"Klaassen
        M (2003) Relationships between migration and breeding strategies in arctic
        breeding birds. In Berthold P, Gwinner E, Sonnenschein E, editors. Avian migration.
        Berlin: Springer-Verlag. pp. 237\u2013249.","DOI":"10.1007\/978-3-662-05957-9_16"},{"key":"ref10","doi-asserted-by":"crossref","first-page":"134","DOI":"10.1016\/S0169-5347(97)01003-3","article-title":"Rapid
        reversible changes in organ size as a component of adaptive behaviour","volume":"12","author":"T
        Piersma","year":"1997","journal-title":"Trends Ecol Evol"},{"key":"ref11","unstructured":"Piersma
        T, Van Gils JA (2011) The flexible phenotype: A body-centred integration of
    [...]
