interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016
  response:
    content: '{"status":"ok","message-type":"prefix","message-version":"1.0.0","message":{"member":"https:\/\/id.crossref.org\/member\/78","name":"Elsevier
      BV","prefix":"https:\/\/id.crossref.org\/prefix\/10.1016"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
