interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.3.0 habanero/2.4.0
    method: GET
    uri: https://api.crossref.org/prefixes/10.1371
  response:
    body:
      string: '{"status":"ok","message-type":"prefix","message-version":"1.0.0","message":{"member":"https:\/\/id.crossref.org\/member\/340","name":"Public
        Library of Science (PLoS)","prefix":"https:\/\/id.crossref.org\/prefix\/10.1371"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.3.0 habanero/2.4.0
    method: GET
    uri: https://api.crossref.org/prefixes/10.9999
  response:
    body:
      string: Resource not found.
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 404
      message: Not Found
version: 1
