interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016/works?sample=2
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2,"items":[{"indexed":{"date-parts":[[2022,4,6]],"date-time":"2022-04-06T01:04:50Z","timestamp":1649207090358},"reference-count":0,"publisher":"Elsevier
        BV","issue":"2","license":[{"start":{"date-parts":[[1980,2,1]],"date-time":"1980-02-01T00:00:00Z","timestamp":318211200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
        American Journal of Cardiology"],"published-print":{"date-parts":[[1980,2]]},"DOI":"10.1016\/0002-9149(80)91066-8","type":"journal-article","created":{"date-parts":[[2004,4,20]],"date-time":"2004-04-20T01:42:57Z","timestamp":1082425377000},"page":"489","source":"Crossref","is-referenced-by-count":7,"title":["Beneficial
        effects of endurance exercise training in adolescent hypertension"],"prefix":"10.1016","volume":"45","author":[{"given":"James
        M.","family":"Hagberg","sequence":"first","affiliation":[]},{"given":"Ali
        A.","family":"Ehsani","sequence":"additional","affiliation":[]},{"given":"Gregory
        W.","family":"Heath","sequence":"additional","affiliation":[]},{"given":"David","family":"Goldring","sequence":"additional","affiliation":[]},{"given":"Tony","family":"Hernandez","sequence":"additional","affiliation":[]},{"given":"John
        O.","family":"Holloszy","sequence":"additional","affiliation":[]}],"member":"78","container-title":["The
        American Journal of Cardiology"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:0002914980910668?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:0002914980910668?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2019,2,11]],"date-time":"2019-02-11T12:51:58Z","timestamp":1549889518000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/linkinghub.elsevier.com\/retrieve\/pii\/0002914980910668"}},"issued":{"date-parts":[[1980,2]]},"references-count":0,"journal-issue":{"issue":"2","published-print":{"date-parts":[[1980,2]]}},"alternative-id":["0002914980910668"],"URL":"http:\/\/dx.doi.org\/10.1016\/0002-9149(80)91066-8","ISSN":["0002-9149"],"issn-type":[{"value":"0002-9149","type":"print"}],"subject":["Cardiology
        and Cardiovascular Medicine"],"published":{"date-parts":[[1980,2]]}},{"indexed":{"date-parts":[[2023,12,18]],"date-time":"2023-12-18T15:36:08Z","timestamp":1702913768025},"reference-count":87,"publisher":"Elsevier
        BV","issue":"5","license":[{"start":{"date-parts":[[2008,9,1]],"date-time":"2008-09-01T00:00:00Z","timestamp":1220227200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2008,9,1]],"date-time":"2008-09-01T00:00:00Z","timestamp":122022720[...]
