interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/prefixes/10.1371/works?filter=type%3Ajournal-article&query.editor=cooper
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":136,"items":[{"indexed":{"date-parts":[[2025,6,30]],"date-time":"2025-06-30T16:03:52Z","timestamp":1751299432495,"version":"3.41.0"},"reference-count":57,"publisher":"Public
      Library of Science (PLoS)","issue":"6","license":[{"start":{"date-parts":[[2015,6,3]],"date-time":"2015-06-03T00:00:00Z","timestamp":1433289600000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
      ONE"],"DOI":"10.1371\/journal.pone.0127275","type":"journal-article","created":{"date-parts":[[2015,6,3]],"date-time":"2015-06-03T18:21:48Z","timestamp":1433355708000},"page":"e0127275","update-policy":"https:\/\/doi.org\/10.1371\/journal.pone.corrections_policy","source":"Crossref","is-referenced-by-count":72,"title":["Effects
      of Grazing and Precipitation on Herbage Biomass, Herbage Nutritive Value, and
      Yak Performance in an Alpine Meadow on the Qinghai\u2013Tibetan Plateau"],"prefix":"10.1371","volume":"10","author":[{"given":"Fuhong","family":"Miao","sequence":"first","affiliation":[]},{"given":"Zhenggang","family":"Guo","sequence":"additional","affiliation":[]},{"given":"Ran","family":"Xue","sequence":"additional","affiliation":[]},{"given":"Xianzhi","family":"Wang","sequence":"additional","affiliation":[]},{"given":"Yuying","family":"Shen","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2015,6,3]]},"reference":[{"issue":"1","key":"ref1","doi-asserted-by":"crossref","first-page":"1","DOI":"10.1016\/j.jaridenv.2009.06.014","article-title":"Rangeland
      degradation on the Qinghai-Tibetan plateau: a review of the evidence of its
      magnitude and causes","volume":"74","author":"RB Harris","year":"2010","journal-title":"J
      Arid Environ"},{"key":"ref2","unstructured":"Davidson G, Behnke R, Kerven C.
      Implications of rangeland enclosure policy on the Tibetan plateau. International
      Human Dimensions Programme on Global Environmental Change. 2008:59\u201362."},{"issue":"4","key":"ref3","doi-asserted-by":"crossref","first-page":"631","DOI":"10.1111\/j.1728-4457.2008.00244.x","article-title":"\u201cPopulation
      invasion\u201d versus urban exclusion in the Tibetan areas of western China","volume":"34","author":"AM
      Fischer","year":"2008","journa[...]
