interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.4.0 habanero/2.4.0
    method: GET
    uri: https://api.crossref.org/members/98/works?rows=3&select=DOI%2Ctitle
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":138567,"items":[{"DOI":"10.4061\/2010\/505436","title":["Retroperitoneal
        Inflammatory Liposarcoma in a Patient with Non-Hodgkin Lymphoma: A Report
        Highlighting Diagnostic Pitfalls"]},{"DOI":"10.1155\/2016\/1353212","title":["Detailed
        Analysis of the Timing Measurements in Optical Position Sensing Devices Based
        on Laser Beam Deflection"]},{"DOI":"10.1111\/j.1600-0404.1997.tb00218.x","title":["Acute
        brachial plexus neuropathy as a presenting sign of peripheral nervous system
        involvement in paraproteinaemia"]}],"items-per-page":3,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.4.0 habanero/2.4.0
    method: GET
    uri: https://api.crossref.org/members/98/works?rows=3&select=DOI%2Ctitle
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":138567,"items":[{"DOI":"10.4061\/2010\/505436","title":["Retroperitoneal
        Inflammatory Liposarcoma in a Patient with Non-Hodgkin Lymphoma: A Report
        Highlighting Diagnostic Pitfalls"]},{"DOI":"10.1155\/2016\/1353212","title":["Detailed
        Analysis of the Timing Measurements in Optical Position Sensing Devices Based
        on Laser Beam Deflection"]},{"DOI":"10.1111\/j.1600-0404.1997.tb00218.x","title":["Acute
        brachial plexus neuropathy as a presenting sign of peripheral nervous system
        involvement in paraproteinaemia"]}],"items-per-page":3,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 200
      message: OK
version: 1
