interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.4.0 habanero/2.4.0
    method: GET
    uri: https://api.crossref.org/works?query=ecology&rows=3&select=DOI%2Ctitle%2Cauthor%2Cpublished
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":586666,"items":[{"DOI":"10.1093\/obo\/9780199830060-0238","title":["Communicating
        Ecology"],"published":{"date-parts":[[2022,7,26]]}},{"DOI":"10.1093\/obo\/9780199830060-0026","title":["Fire
        Ecology"],"author":[{"given":"John","family":"Parminter","sequence":"first","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]}],"published":{"date-parts":[[2012,5,23]]}},{"DOI":"10.1093\/obo\/9780199830060-0202","title":["Ecosystem
        Ecology"],"author":[{"given":"J.C.","family":"Moore","sequence":"first","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]}],"published":{"date-parts":[[2018,8,28]]}}],"items-per-page":3,"query":{"start-index":0,"search-terms":"ecology"}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 200
      message: OK
version: 1
