interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/works?sample=3
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3,"items":[{"indexed":{"date-parts":[[2024,8,12]],"date-time":"2024-08-12T11:16:56Z","timestamp":1723461416170},"reference-count":34,"publisher":"ASME
      International","issue":"1","content-domain":{"domain":["asmedigitalcollection.asme.org"],"crossmark-restriction":true},"published-print":{"date-parts":[[2018,1,1]]},"abstract":"<jats:p>Sudden
      changes of flame shape are an undesired, yet poorly understood feature of swirl
      combustors used in gas turbines. The present work studies flame shape transition
      mechanisms of a bistable turbulent swirl flame in a gas turbine model combustor,
      which alternates intermittently between an attached V-form and a lifted M-form.
      Time-resolved velocity fields and two-dimensional flame structures were measured
      simultaneously using high-speed stereo-particle image [...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/works?sample=5
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":5,"items":[{"indexed":{"date-parts":[[2024,9,8]],"date-time":"2024-09-08T19:35:44Z","timestamp":1725824144416},"reference-count":52,"publisher":"Proceedings
      of the National Academy of Sciences","issue":"22","content-domain":{"domain":["www.pnas.org"],"crossmark-restriction":true},"short-container-title":["Proc.
      Natl. Acad. Sci. U.S.A."],"published-print":{"date-parts":[[2010,6]]},"abstract":"<jats:p>\n            Interferon
      regulatory factor (IRF) 5 is a key transcription factor for the activation of
      innate immune responses downstream of Toll-like receptor signaling. Based on
      recent genetic analyses, IRF5 is a focus for its potential involvement in systemic
      lupus erythematosus (SLE), although how IRF5 contributes to SLE is uncertain.
      In this study, we demonstrate a requirement for IRF5 in the development of murine
      SLE via its role in B lymphocytes. We show that antinuclear autoantibodies and
      Ig glomerular deposits, hallmarks of SLE, are absent in\n            <jats:italic>\n              Irf5\n              <jats:sup>\u2212\/\u2212<\/jats:sup>\n            <\/jats:italic>\n            mice
      challenged to develop SLE by pristane injection. In particular, production of
      autoantibodies of the IgG2a subtype, the most prominent isotype in inducing
      autoimmunity, requires IRF5. Finally, we provide evidence for the critical role
      of this transcription factor in the secretion of pathogenic antibodies through
      its direct control of class switch recombination of the \u03b32a locus. By demonstrating
      a B-cell-intrinsic role, this study places IRF5 in a context that may have implications
      for understanding the pathogenesis of human SLE.\n          <\/jats:p>","DOI":"10.1073\/pnas.1005599107","type":"journal-article","created":{"date-parts":[[2010,5,18]],"date-time":"2010-05-18T02:13:23Z","timestamp":1274148803000},"page":"10154-10159","update-policy":"http:\/\/dx.doi.org\/10.1073\/pnas.cm10313","source":"Crossref","is-referenced-by-count":81,"title":["Contribution
      of IRF5 in B cells to the development of murine SLE-like disease through its
      transcriptional control of the IgG2a locus"],"prefix":"10.1073","volume":"107","author":[{"given":"David
      A.","family":"Savitsky","sequence":"first","affiliation":[{"name":"Department
      of Immunology, Graduate School of Medicine and Faculty of Medicine, University
      of Tokyo, Bunkyo-ku, Tokyo 113-0031, Japan;"},{"name":"Core Research for Evolution
      Science and Technology, Japan Science and Technology Agency, Chiyoda-ku, Tokyo
      102-0075, Japan;"}]},{"given":"Hideyuki","family":"Yanai","sequence":"additional","affiliation":[{"name":"Department
      of Immunology, Graduate School of Medicine and Faculty of Medicine, University
      of Tokyo, Bunky[...]
