interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/works?sample=3
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T07:59:21Z","timestamp":1648627161538},"reference-count":4,"publisher":"Elsevier
      BV","issue":"3","license":[{"start":{"date-parts":[[2019,6,1]],"date-time":"2019-06-01T00:00:00Z","timestamp":1559347200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Trends
      in Chemistry"],"published-print":{"date-parts":[[2019,6]]},"DOI":"10.1016\/j.trechm.2019.03.009","type":"journal-article","created":{"date-parts":[[2019,4,6]],"date-time":"2019-04-06T00:42:14Z","timestamp":1554511334000},"page":"361-362","source":"Crossref","is-referenced-by-count":1,"title":["C
      C Bond Formation in Heterobiaryls via Phosphorus(V) Intermediates"],"prefix":"10.1016","volume":"1","author":[{"given":"Weiling","family":"Chiu","sequence":"first","affiliation":[]},{"given":"Kristof
      M.","family":"Altus","sequence":"additional","affiliation":[]},{"given":"Jennifer
      A.","family":"Love","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.trechm.2019.03.009_bib0005","doi-asserted-by":"crossref","first-page":"3418","DOI":"10.1039\/C5CS00012B","article-title":"Recent
      advances and new concepts for the synthesis of axially stereoenriched biaryls","volume":"44","author":"Wencel-Delord","year":"2015","journal-title":"Chem.
      Soc. Rev."},{"key":"10.1016\/j.trechm.2019.03.009_bib0010","doi-asserted-by":"crossref","first-page":"799","DOI":"10.1126\/science.aas8961","article-title":"Heterobiaryl
      synthesis by contractive C\u2013C coupling via P(V) intermediates","volume":"362","author":"Hilton","year":"2018","journal-title":"Science"},{"key":"10.1016\/j.trechm.2019.03.009_bib0015","doi-asserted-by":"crossref","first-page":"3047","DOI":"10.1021\/ja00764a028","article-title":"Molecular
      orbital theory of pentacoordinate phosphorus","volume":"94","author":"Hoffmann","year":"1972","journal-title":"J.
      Am. Chem. Soc."},{"key":"10.1016\/j.trechm.2019.03.009_bib0020","doi-asserted-by":"crossref","first-page":"2457","DOI":"10.1021\/cr00039a007","article-title":"Palladium-catalyzed
      cross-coupling reactions of organoboron compounds","volume":"95","author":"Miyaura","year":"1995","journal-title":"Chem.
      Rev."}],"container-title":["Trends in Chemistry"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S2589597419300759?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S2589597419300759?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2019,6,4]],"date-time":"2019-06-04T17:23:48Z","timestamp":1559669028000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/linkinghub.elsevier.com\/retrieve\/pii\/S2589597419300759"}},"issued":{"date-parts":[[2019,6]]},"references-count":4,"journal-issue":{"issue":"3","published-print":{"date-parts":[[2019,6]]}},"alternative-id":["S2589597419300759"],"URL":"https:\/\/doi.org\/10.1016\/j.trechm.2019.03.009","ISSN":["2589-5974"],"issn-type":[{"value":"2589-5974","type":"print"}],"published":{"date-parts":[[2019,6]]}},{"indexed":{"date-parts":[[2024,9,8]],"date-time":"2024-09-08T22:31:54Z","timestamp":1725834714656},"publisher-location":"Cham","reference-count":9,"publisher":"Springer
      International Publishing","isbn-type":[{"type":"print","value":"9783319265018"},{"type":"electronic","value":"9783319265025"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2015]]},"DOI":"10.1007\/978-3-319-26502-5_5","type":"book-chapter","created":{"date-parts":[[2015,10,16]],"date-time":"2015-10-16T07:14:44Z","timestamp":1444979684000},"page":"64-71","source":"Crossref","is-referenced-by-count":0,"title":["Design
      of a Privacy-Preserving Document Submission and Grading System"],"prefix":"10.1007","author":[{"given":"Benjamin","family":"Greschbach","sequence":"first","affiliation":[]},{"given":"Guillermo","family":"Rodr\u00edguez-Cano","sequence":"additional","affiliation":[]},{"given":"Tomas","family":"Ericsson","sequence":"additional","affiliation":[]},{"given":"Sonja","family":"Buchegger","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"key":"5_CR1","doi-asserted-by":"crossref","unstructured":"Chaum,
      D.: Blind signatures for untraceable payments. In: Chaum, D., Rivest, R.L.,
      Sherman, A.T. (eds.) Advances in Cryptology, pp. 199\u2013203. Springer US (1982)","DOI":"10.1007\/978-1-4757-0602-4_18"},{"key":"5_CR2","unstructured":"Dey,
      A., Weis, S.: PseudoID: Enhancing privacy in federated login. In: Hot Topics
      in Privacy Enhancing Technologies, pp. 95\u2013107 (2010). \n                    http:\/\/www.pseudoid.net"},{"key":"5_CR3","doi-asserted-by":"crossref","uns[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/works?sample=5
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":5,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T10:11:10Z","timestamp":1648980670150},"description":"Figure
      48 Propodeal declivity equipped with a broad and conspicuous lamella (A MAC_S14_LLSP_Sp.4,
      photographed by Fran\u00e7ois Brassard) and propodeal declivity equipped with
      a simple carina in S. feae (B MAC_S15_LLSP_Sp.8, photographed by Fran\u00e7ois
      Brassard).","reference-count":0,"publisher":"Pensoft Publishers","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.3897\/zookeys.970.54958.figure48","type":"component","created":{"date-parts":[[2020,9,21]],"date-time":"2020-09-21T15:55:13Z","timestamp":1600703713000},"source":"Crossref","is-referenced-by-count":0,"title":["Figure
      48 from: Brassard F, Leong C-M, Chan H-H, Gue\u0301nard B (2020) A new subterranean
      species and an updated checklist of Strumigenys (Hymenoptera, Formicidae) from
      Macao SAR, China, with a key to species of the Greater Bay Area. ZooKeys 970:
      63-116. https:\/\/doi.org\/10.3897\/zookeys.970.54958"],"prefix":"10.3897","author":[{"given":"Fran\u00e7ois","family":"Brassard","sequence":"first","affiliation":[]},{"given":"Chi-Man","family":"Leong","sequence":"additional","affiliation":[]},{"given":"Hoi-Hou","family":"Chan","sequence":"additional","affiliation":[]},{"given":"Benoit","family":"Gue\u0301nard","sequence":"additional","affiliation":[]}],"member":"2258","published-online":{"date-parts":[[2020,9,21]]},"deposited":{"date-parts":[[2020,9,21]],"date-time":"2020-09-21T15:55:24Z","timestamp":1600703724000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/zookeys.pensoft.net\/article\/54958\/element\/2\/148\/"}},"issued":{"date-parts":[[2020,9,21]]},"references-count":0,"URL":"https:\/\/doi.org\/10.3897\/zookeys.970.54958.figure48","published":{"date-parts":[[2020,9,21]]}},{"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T03:40:54Z","timestamp":1649043654115},"reference-count":11,"publisher":"Cambridge
      University Press (CUP)","license":[{"start":{"date-parts":[[2016,4,12]],"date-time":"2016-04-12T00:00:00Z","timestamp":1460419200000},"content-version":"unspecified","delay-in-days":8502,"URL":"https:\/\/www.cambridge.org\/core\/terms"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["International
      Astronomical Union Colloquium"],"published-print":{"date-parts":[[1993]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>We
      compare the log g parameters of early A and late B type stars determined from
      model atmospheres with those issued from models of stellar evolution. There
      is a systematic deviation between both determinations for log g &lt; 3.7 .<\/jats:p>","DOI":"10.1017\/s0252921100017620","type":"journal-article","created":{"date-parts":[[2016,7,21]],"date-time":"2016-07-21T05:54:46Z","timestamp":1469080486000},"page":"150-152","source":"Crossref","is-referenced-by-count":2,"title":["Parameters
      T<sub><i>eff<\/i><\/sub> and log g for Late B and Early A Type Stars"],"prefix":"10.1017","volume":"137","author":[{"given":"M.","family":"Gerbaldi","sequence":"first","affiliation":[]},{"given":"J.","family":"Zorec","sequence":"additional","affiliation":[]}],"member":"56","published-online":{"date-parts":[[2016,4,12]]},"reference":[{"key":"S0252921100017620_ref006","doi-asserted-by":"publisher","DOI":"10.1086\/191122"},{"key":"S0252921100017620_ref008","volume":"78","author":"Moon","year":"1985","journal-title":"Comm.
      London Observatory n\u00b0"},{"key":"S0252921100017620_ref004","first-page":"299","volume":"1","author":"Johnson","year":"1975","journal-title":"Rev.
      Mexicana Astr. Astrof."},{"key":"S0252921100017620_ref002","first-page":"106","volume":"251","author":"Castelli","year":"1991","journal-title":"Astr.
      Ap."},{"key":"S0252921100017620_ref005","doi-asserted-by":"publisher","DOI":"10.1086\/190589"},{"key":"S0252921100017620_ref001","doi-asserted-by":"publisher","DOI":"10.1093\/mnras\/180.2.177"},{"key":"S0252921100017620_ref003","first-page":"107","volume":"86","author":"Hauck","year":"1990","journal-title":"Astr.
      Ap. Suppl."},{"key":"S0252921100017620_ref007","first-page":"411","volume":"76","author":"Maeder","year":"1988","journal-title":"Astr.
      Ap. Suppl."},{"key":"S0252921100017620_ref010","doi-asserted-by":"publisher","DOI":"10.1086\/169334"},{"key":"S0252921100017620_ref011","first-page":"1279","volume-title":"C.R.
      Acad. Sci.","volume":"305","author":"Zorec","year":"1987"},{"key":"S0252921100017620_ref009","doi-asserted-by":"publisher","DOI":"10.1093\/mnras\/217.2.305"}],"container-title":["International
      Astronomical Union Colloquium"],"language":"en","link":[{"URL":"https:\/\/www.cambridge.org\/core\/services\/aop-cambridge-core\/content\/view\/S0252921100017620","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,6,6]],"date-time":"2019-06-06T17:39:15Z","timestamp":1559842755000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/www.cambridge.org\/core\/product\/identifier\/S0252921100017620\/type\/journal_article"}},"issued":{"date-parts":[[1993]]},"references-count":11,"alternative-id":["S0252921100017620"],"URL":"https:\/\/doi.org\/10.1017\/s0252921100017620","ISSN":["0252-9211"],"issn-type":[{"value":"0252-9211","type":"print"}],"published":{"date-parts":[[1993]]}},{"indexed":{"date-parts":[[2025,6,18]],"date-time":"2025-06-18T04:04:44Z","timestamp":1750219484869,"version":"3.41.0"},"reference-count":88,"publisher":"MDPI
      AG","issue":"2","license":[{"start":{"date-parts":[[2025,6,17]],"date-time":"2025-06-17T00:00:00Z","timestamp":1750118400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"name":"FCT\u2014Funda\u00e7\u00e3o
      para a Ci\u00eancia e a Tecnologia, I.P.","award":["UID\/05105"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Tourism
      and Hospitality"],"abstract":"<jats:p>This study investigates the impact of
      wellness tourism motivation (WTM) on tourist satisfaction (TS) and tourist experience
      (TE), while also examining the mediating role of TE in the relationship between
      WTM and TS in the context of luxury spa resorts situated in the Himalayan regions
      of India. Drawing on an extensive [...]
