interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/works?sample=10
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":10,"items":[{"indexed":{"date-parts":[[2024,8,2]],"date-time":"2024-08-02T05:54:57Z","timestamp":1722578097719},"reference-count":0,"publisher":"Oxford
      University Press (OUP)","issue":"3","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Social
      Politics: International Studies in Gender, State &amp; Society"],"published-print":{"date-parts":[[2003,12,1]]},"DOI":"10.1093\/sp\/jxg017","type":"journal-article","created":{"date-parts":[[2004,2,19]],"date-time":"2004-02-19T13:53:14Z","timestamp":1077198794000},"page":"290-313","source":"Crossref","is-referenced-by-count":27,"title":["Sexual
      Identities and Political Engagements: A Queer Survey"],"prefix":"10.1093","volume":"10","author":[{"given":"J.","family":"Rollins","sequence":"first","affiliation":[]}],"member":"286","container-title":["Social
      Politics: International Studies in Gender, State &amp; Society"],"language":"en","link":[{"URL":"http:\/\/academic.oup.com\/sp\/article-pdf\/10\/3\/290\/4627370\/jxg017.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,8,23]],"date-time":"2017-08-23T20:38:53Z","timestamp":1503520733000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/academic.oup.com\/sp\/article-lookup\/doi\/10.1093\/sp\/jxg017"}},"issued":{"date-parts":[[2003,12,1]]},"references-count":0,"journal-issue":{"issue":"3","published-print":{"date-parts":[[2003,12,1]]}},"URL":"http:\/\/dx.doi.org\/10.1093\/sp\/jxg017","ISSN":["1072-4745","1468-2893"],"issn-type":[{"value":"1072-4745","type":"print"},{"value":"1468-2893","type":"electronic"}],"published":{"date-parts":[[2003,12,1]]}},{"indexed":{"date-parts":[[2022,4,1]],"date-time":"2022-04-01T17:20:30Z","timestamp":1648833630424},"reference-count":0,"publisher":"King
      Abdulaziz University Scientific Publishing Centre","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["edu"],"published-print":{"date-parts":[[1995]]},"DOI":"10.4197\/edu.8-1.5","type":"journal-article","created":{"date-parts":[[2010,7,12]],"date-time":"2010-07-12T09:43:15Z","ti[...]
