interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?sample=3
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3,"items":[{"indexed":{"date-parts":[[2023,11,1]],"date-time":"2023-11-01T07:20:16Z","timestamp":1698823216113},"reference-count":16,"publisher":"American
        Geophysical Union (AGU)","issue":"14","license":[{"start":{"date-parts":[[2005,7,22]],"date-time":"2005-07-22T00:00:00Z","timestamp":1121990400000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Geophysical
        Research Letters"],"published-print":{"date-parts":[[2005,7,28]]},"abstract":"<jats:p>Sea
        surface temperatures have been measured at the islands of Marion (47\u00b0S,
        38\u00b0E) from 1949 to 1998 and Gough (40\u00b0S, 10\u00b0W) from 1956 to
        1998. These are some of the longest records of their kind in the sub\u2010Antarctic.
        Evidence for the passage of the Antarctic circumpolar wave is apparent at
        each island, presenting one of the most extended documentation of this phenomenon
        to date. The highest, negative correlation between the anomalies in each island''s
        sea surface temperature record and the sea ice extent anomalies is observed
        directly south of each individual island. The sea surface temperature anomalies
        at Gough lead those at Marion by about one year in average, with mean precession
        periods of 8.6, 8.9, and 10.4 years in the 60s, 80s and 90s, respectively.
        These precession periods can be compared to those observed in the sea ice
        extent anomalies.<\/jats:p>","DOI":"10.1029\/2005gl023361","type":"journal-article","created":{"date-parts":[[2005,7,21]],"date-time":"2005-07-21T20:52:08Z","timestamp":1121979128000},"source":"Crossref","is-referenced-by-count":7,"title":["Evidence
        for the Antarctic circumpolar wave in the sub\u2010Antarctic during the past
        50 years"],"prefix":"10.1029","volume":"32","author":[{"given":"J.\u2010L.","family":"M\u00e9lice","sequence":"first","affiliation":[{"name":"Department
        of Oceanography University of Cape Town  Rondebosch South Africa"},{"name":"Institut
        de Recherche pour le D\u00e9veloppement, Laboratoire d''Oc\u00e9anographie
        et du Climat: Exp\u00e9rimentations et Approches Num\u00e9riques (LOCEAN)
        Universit\u00e9 Pierre et Marie Curie  Paris France"}]},{"given":"J. R. E.","family":"Lutjeharms","sequence":"additional","affiliation":[{"name":"Department
        of Oceanography University of Cape Town  Rondebosch South Africa"}]},{"given":"H.","family":"Goosse","sequence":"additional","affiliation":[{"name":"Institut
        d''Astronomie et de G\u00e9ophysique G. Lema\u00eetre Universit\u00e9 Catholique
        de Louvain  Louvain\u2010la\u2010Neuve Belgium"}]},{"given":"T.","family":"Fichefet","sequence":"additional","affiliation":[{"name":"Institut
        d''Astronomie et de G\u00e9ophysique G. Lema\u00eetre Universit\u00e9 Catholique
        de Louvain  Louvain\u2010la\u2010Neuve Belgium"}]},{"given":"C. J. C.","family":"Reason","sequence":"additional","affiliation":[{"name":"Department
        of Oceanography University of Cape Town  Rondebosch South Africa"}]}],"member":"13","published-online":{"date-parts":[[2005,7,22]]},"reference":[{"key":"e_1_2_5_2_1","doi-asserted-by":"publisher","DOI":"10.1016\/S0924-7963(02)00243-9"},{"key":"e_1_2_5_3_1","doi-asserted-by":"publisher","DOI":"10.1029\/2001GL013804"},{"key":"e_1_2_5_4_1","doi-asserted-by":"publisher","DOI":"10.1029\/2004GL019623"},{"key":"e_1_2_5_5_1","doi-asserted-by":"publisher","DOI":"10.1029\/2000JC000380"},{"key":"e_1_2_5_6_1","doi-asserted-by":"publisher","DOI":"10.1029\/2001JC001148"},{"key":"e_1_2_5_7_1","doi-asserted-by":"publisher","DOI":"10.1029\/2000JC000230"},{"key":"e_1_2_5_8_1","doi-asserted-by":"publisher","DOI":"10.1029\/2000JC000507"},{"key":"e_1_2_5_9_1","first-page":"552","article-title":"The
        Subtropical Convergence in the South Atlantic Ocean","volume":"89","author":"Lutjeharms
        J. R. E.","year":"1993","journal-title":"S. Afr. J. Sci."},{"key":"e_1_2_5_10_1","doi-asserted-by":"publisher","DOI":"10.1007\/s00382\u2010002\u20100289\u2010x"},{"key":"e_1_2_5_11_1","first-page":"363","article-title":"Sea\u2010surface
        temperatures at the sub\u2010Antarctic islands Marion and Gough during the
        past 50 years","volume":"99","author":"M\u00e9lice J.\u2010L.","year":"2003","journal-title":"S.
        Afr. J. Sci."},{"key":"e_1_2_5_12_1","volume-title":"Numerical Recipes in
        Fortran: The Art of Scientific Computing","author":"Press W. H.","year":"1992"},{"key":"e_1_2_5_13_1","doi-asserted-by":"publisher","DOI":"10.1029\/2000JC000542"},{"key":"e_1_2_5_14_1","doi-asserted-by":"publisher","DOI":"10.1175\/1520-0442(2003)016<2509:TACWAC>2.0.CO;2"},{"key":"e_1_2_5_15_1","doi-asserted-by":"publisher","DOI":"10.1029\/1999JC900246"},{"key":"e_1_2_5_16_1","doi-asserted-by":"publisher","DOI":"10.1038\/380699a0"},{"key":"e_1_2_5_17_1","doi-asserted-by":"publisher","DOI":"10.1175\/1520-0442(2000)013<1697:ASIEVA>2.0.CO;2"}],"container-title":["Geophysical
        Research Letters"],"language":"en","link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1029%2F2005GL023361","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/agupubs.onlinelibrary.wiley.com\/doi\/pdf\/10.1029\/2005GL023361","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2023,10,31]],"date-time":"2023-10-31T10:21:06Z","timestamp":1698747666000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/agupubs.onlinelibrary.wiley.com\/doi\/10.1029\/2005GL023361"}},"issued":{"date-parts":[[2005,7,22]]},"references-count":16,"journal-issue":{"issue":"14","published-print":{"date-parts":[[2005,7,28]]}},"alternative-id":["10.1029\/2005GL023361"],"URL":"http:\/\/dx.doi.org\/10.1029\/2005gl023361","archive":["Portico"],"ISSN":["0094-8276","1944-8007"],"issn-type":[{"value":"0094-8276","type":"print"},{"value":"1944-8007","type":"electronic"}],"subject":["General
        Earth and Planetary Sciences","Geophysics"],"published":{"date-parts":[[2005,7,22]]}},{"indexed":{"date-parts":[[2024,1,13]],"date-time":"2024-01-13T00:10:55Z","timestamp":1705104655603},"reference-count":0,"publisher":"American
        Association for the Advancement of Science (AAAS)","issue":"563","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Science"],"published-print":{"date-parts":[[1905,10,13]]},"DOI":"10.1126\/science.22.563.449","type":"journal-article","created":{"date-parts":[[2006,10,4]],"date-time":"2006-10-04T22:29:17Z","timestamp":1160000957000},"page":"449-464","source":"Crossref","is-referenced-by-count":0,"title":["Recent
        Developments in Agricultural Science"],"prefix":"10.1126","volume":"22","author":[{"given":"A.
        D.","family":"Hall","sequence":"first","affiliation":[]}],"member":"221","container-title":["Science"],"language":"en","link":[{"URL":"https:\/\/www.science.org\/doi\/pdf\/10.1126\/science.22.563.449","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"[...]
[...]
