interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?sample=3
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3,"items":[{"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T16:27:14Z","timestamp":1649089634719},"reference-count":0,"publisher":"Consortium
        Erudit","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Revue
        des sciences de l''\u00e9ducation"],"published-print":{"date-parts":[[2008]]},"DOI":"10.7202\/019711ar","type":"journal-article","created":{"date-parts":[[2012,7,25]],"date-time":"2012-07-25T08:20:31Z","timestamp":1343204431000},"page":"513","source":"Crossref","is-referenced-by-count":0,"title":["Erratum"],"prefix":"10.7202","volume":"34","member":"4194","container-title":["Revue
        des sciences de l''\u00e9ducation"],"language":"fr","deposited":{"date-parts":[[2012,9,5]],"date-time":"2012-09-05T15:54:58Z","timestamp":1346860498000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/id.erudit.org\/iderudit\/019711ar"}},"issued":{"date-parts":[[2008]]},"references-count":0,"journal-issue":{"issue":"2"},"URL":"http:\/\/dx.doi.org\/10.7202\/019711ar","ISSN":["0318-479X","1705-0065"],"issn-type":[{"value":"0318-479X","type":"print"},{"value":"1705-0065","type":"electronic"}],"published":{"date-parts":[[2008]]}},{"indexed":{"date-parts":[[2022,9,7]],"date-time":"2022-09-07T00:48:02Z","timestamp":1662511682136},"edition-number":"1","reference-count":0,"publisher":"Bristol
        University Press","license":[{"start":{"date-parts":[[2022,9,7]],"date-time":"2022-09-07T00:00:00Z","timestamp":1662508800000},"content-version":"unspecified","delay-in-days":3731,"URL":"https:\/\/www.cambridge.org\/core\/terms"},{"start":{"date-parts":[[2022,9,7]],"date-time":"2022-09-07T00:00:00Z","timestamp":1662508800000},"content-version":"unspecified","delay-in-days":3731,"URL":"https:\/\/www.cambridge.org\/core\/terms"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2012,6,20]]},"DOI":"10.46692\/9781447304487.010","type":"other","created":{"date-parts":[[2022,9,7]],"date-time":"2022-09-07T00:09:25Z","timestamp":1662509365000},"page":"165-182","source":"Crossref","is-referenced-by-count":0,"title":["From
        black hole to spring: the coming of age of social policy in the Arab countries?"],"prefix":"10.46692","author":[{"given":"Rana","family":"Jawad","sequence":"first","affiliation":[]}],"member":"165","container-title":["Social
        Policy Review 24"],"deposited":{"date-parts":[[2022,9,7]],"date-time":"2022-09-07T00:09:47Z","timestamp":1662509387000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/www.cambridge.org\/core\/product\/identifier\/9781447304487%23c8\/type\/book_part"}},"issued":{"date-parts":[[2012,6,20]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.46692\/9781447304487.010","relation":{"is-identical-to":[{"id-type":"doi","id":"10.51952\/9781447304487.ch008","asserted-by":"subject"},{"id-type":"doi","id":"10.2307\/j.ctt9qgxc6.14","asserted-by":"subject"}]},"published":{"date-parts":[[2012,6,20]]}},{"indexed":{"date-parts":[[2022,4,2]],"date-time":"2022-04-02T05:01:36Z","timestamp":1648875696481},"reference-count":0,"publisher":"Wiley","issue":"3","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":6209,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1998,9]]},"DOI":"10.1111\/aot.1998.45.issue-3","type":"journal-issue","created":{"date-parts":[[2016,2,25]],"date-time":"2016-02-25T07:24:02Z","timestamp":1456385042000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.1111","volume":"45","member":"311","container-title":["Australian
        Occupational Therapy Journal"],"language":"en","link":[{"URL":"http:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1111%2Faot.1998.45.issue-3","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2016,2,25]],"date-time":"2016-02-25T07:24:02Z","timestamp":1456385042000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/doi.wiley.com\/10.1111\/aot.1998.45.issue-3"}},"issued":{"date-parts":[[1998,9]]},"references-count":0,"journal-issue":{"issue":"3"},"URL":"http:\/\/dx.doi.org\/10.1111\/aot.1998.45.issue-3","ISSN":["0045-0766"],"issn-type":[{"value":"0045-0766","type":"print"}],"subject":["Occupational
        Therapy"],"published":{"date-parts":[[1998,9]]}}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
[...]
