interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?sample=10
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":10,"items":[{"indexed":{"date-parts":[[2023,9,12]],"date-time":"2023-09-12T02:04:33Z","timestamp":1694484273492},"reference-count":23,"publisher":"Springer
        Science and Business Media LLC","issue":"3","license":[{"start":{"date-parts":[[2004,9,1]],"date-time":"2004-09-01T00:00:00Z","timestamp":1093996800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
        Urban Review"],"published-print":{"date-parts":[[2004,9]]},"DOI":"10.1007\/s11256-004-0686-z","type":"journal-article","created":{"date-parts":[[2004,11,24]],"date-time":"2004-11-24T06:41:19Z","timestamp":1101278479000},"page":"169-187","source":"Crossref","is-referenced-by-count":2,"title":["The
        Hidden Curriculum of Domestication"],"prefix":"10.1007","volume":"36","author":[{"given":"Juan
        S.","family":"Mu\ufffdoz","sequence":"first","affiliation":[]},{"given":"Rosario
        Ordo\ufffdez","family":"Jasis","sequence":"additional","affiliation":[]},{"given":"Patricia
        A.","family":"Young","sequence":"additional","affiliation":[]},{"given":"Peter","family":"McLaren","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"key":"CR1","unstructured":"Baez,
        B. (2002a). Race Work and the Faculty of Color: Changing the Academy From
        Within. Paper presented at the keeping out faculties: Addressing the recruitment
        and retention of faculty of color conference, Minnesota."},{"key":"CR2","volume-title":"Affirmative
        Action, Hate Speech, and Tenure","author":"B. Baez","year":"2002","unstructured":"Baez,
        B. (2002b). Affirmative Action, Hate Speech, and Tenure. New York: Routledge
        Falmer Press."},{"key":"CR3","volume-title":"The Location of Culture","author":"H.
        Bhabha","year":"1997","unstructured":"Bhabha, H. (1997). The Location of Culture.
        New York, NY: Routledge."},{"key":"CR4","volume-title":"Professional Development
        Schools: Schools for Developing the Profession","author":"L Darling-Hammond","year":"1994","unstructured":"Darling-Hammond,
        L(1994). Professional Development Schools: Schools for Developing the Profession.
        New York: Teachers College Press."},{"key":"CR5","first-page":"390","volume-title":"Acts
        of Inquiry in Qualitative Research","author":"C. Delgado-Gaitan","year":"2000","unstructured":"Delgado-Gaitan,
        C. (2000). Researching change and the changing researcher. In B. M. Brizuela,
        J. P. Stewart, R. G. Carillo, and J. G. Berger (Eds. ), Acts of Inquiry in
        Qualitative Research (pp. 390?410). Cambridge, MA: Harvard Educational Review."},{"key":"CR6","volume-title":"Diversity
        in Teacher Education: New Expectations","author":[...]
