interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works?sample=10
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":10,"items":[{"indexed":{"date-parts":[[2023,9,2]],"date-time":"2023-09-02T12:40:48Z","timestamp":1693658448723},"reference-count":10,"publisher":"Wiley","issue":"2","license":[{"start":{"date-parts":[[2020,9,30]],"date-time":"2020-09-30T00:00:00Z","timestamp":1601424000000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor"}],"content-domain":{"domain":["onlinelibrary.wiley.com"],"crossmark-restriction":true},"short-container-title":["Journal
        of Medical Virology"],"published-print":{"date-parts":[[2021,2]]},"DOI":"10.1002\/jmv.26532","type":"journal-article","created":{"date-parts":[[2020,9,19]],"date-time":"2020-09-19T12:00:45Z","timestamp":1600516845000},"page":"712-713","update-policy":"http:\/\/dx.doi.org\/10.1002\/crossmark_policy","source":"Crossref","is-referenced-by-count":3,"title":["SARS\u2010CoV\u20102
        molecular testing for the diagnosis of COVID\u201019: One test does not fit
        all"],"prefix":"10.1002","volume":"93","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-1945-1173","authenticated-orcid":false,"given":"Lynne","family":"Li","sequence":"first","affiliation":[{"name":"Department
        of Pathology and Laboratory Medicine University of British Columbia  Vancouver
        Canada"}]},{"ORCID":"http:\/\/orcid.org\/0000-0001-9320-4499","authenticated-orcid":false,"given":"Christopher
        F.","family":"Lowe","sequence":"additional","affiliation":[{"name":"Department
        of Pathology and Laboratory Medicine University of British Columbia  Vancouver
        Canada"},{"name":"Division of Medical Microbiology and Virology St. Paul''s
        Hospital  Vancou[...]
