interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/works?sample=10
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":10,"items":[{"indexed":{"date-parts":[[2025,3,17]],"date-time":"2025-03-17T19:10:17Z","timestamp":1742238617790,"version":"3.40.1"},"reference-count":0,"publisher":"Oxford
      University Press (OUP)","issue":"5","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1968,6,1]]},"DOI":"10.1086\/ahr\/73.5.1551","type":"journal-article","created":{"date-parts":[[2017,2,1]],"date-time":"2017-02-01T00:04:09Z","timestamp":1485907449000},"page":"1551-1552","source":"Crossref","is-referenced-by-count":0,"title":["Latvijas
      V\u0113sture, 1914\u20131920. by <i>Edgar Anderson<\/i>. ([Stockholm:] Daugava.
      1967. Pp. 754)"],"prefix":"10.1093","volume":"73","author":[{"given":"Francis
      J.","family":"Bowman","sequence":"first","affiliation":[{"name":"University
      of Southern California"}]}],"member":"286","published-online":{"date-parts":[[1968,6,1]]},"container-title":["The
      American Historical Review"],"language":"en","link":[{"URL":"https:\/\/academic.oup.com\/ahr\/article-pdf\/73\/5\/1551\/568505\/73-5-1551.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"syndication"},{"URL":"https:\/\/academic.oup.com\/ahr\/article-pdf\/73\/5\/1551\/568505\/73-5-1551.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2025,3,17]],"date-time":"2025-03-17T18:38:27Z","timestamp":1742236707000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/academic.oup.com\/ahr\/article\/73\/5\/1551\/214678"}},"issued":{"date-parts":[[1968,6,1]]},"references-count":0,"journal-issue":{"issue":"5","published-online":{"date-parts":[[1968,6,1]]},"published-print":{"date-parts":[[1968,6,1]]}},"URL":"https:\/\/doi.org\/10.1086\/ahr\/73.5.1551","ISSN":["1937-5239","0002-8762"],"issn-type":[{"type":"electronic","value":"1937-5239"},{"type":"print","value":"0002-8762"}],"published-other":{"date-parts":[[1968,6]]},"published":{"date-parts":[[1968,6,1]]}},{"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T23:08:12Z","timestamp":1649113692605},"publisher-location":"Providence,
      Rhode Island","reference-count":0,"publisher":"American Mathematical Society","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1962]]},"DOI":"10.1090\/psapm\/014\/9946","type":"other","created":{"date-parts":[[2013,1,29]],"date-time":"2013-01-29T17:46:37Z","timestamp":1359481597000},"page":"225-231","source":"Crossref","is-referenced-by-count":0,"title":["From
      chemotherapy to computers to trajectories"],"prefix":"10.1090","author":[{"given":"Richard","family":"Bellman","sequence":"first","affiliation":[]}],"member":"14","container-title":["Proceedings
      of Symposia in Applied Mathematics","Mathematical Problems in the Biological
      Sciences"],"deposited":{"date-parts":[[2013,1,29]],"date-time":"2013-01-29T17:17:45Z","timestamp":1359479865000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/www.ams.org\/psapm\/014"}},"issued":{"date-parts":[[1962]]},"references-count":0,"URL":"https:\/\/doi.org\/10.1090\/psapm\/014\/9946","ISSN":["2324-7088","0160-7634"],"issn-type":[{"value":"2324-7088","type":"electronic"},{"value":"0160-7634","type":"print"}],"published":{"date-parts":[[1962]]}},{"indexed":{"date-parts":[[2025,2,14]],"date-time":"2025-02-14T11:40:13Z","timestamp":1739533213765,"version":"3.37.1"},"reference-count":42,"publisher":"Yuriy
      Fedkovych Chernivtsi National University","issue":"45","license":[{"start":{"date-parts":[[2022,6,27]],"date-time":"2022-06-27T00:00:00Z","timestamp":1656288000000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["\u0406\u041f\u041f\u0421\u0421"],"abstract":"<jats:p>\u041c\u0435\u0442\u0430
      \u0441\u0442\u0430\u0442\u0442\u0456 \u043f\u043e\u043b\u044f\u0433\u0430\u0454
      \u0443 \u0434\u043e\u0441\u043b\u0456\u0434\u0436\u0435\u043d\u043d\u0456 \u0441\u0442\u0430\u043d\u043e\u0432\u043b\u0435\u043d\u043d\u044f
      \u0456 \u0440\u043e\u0437\u0432\u0438\u0442\u043a\u0443 \u0435-\u0443\u0440\u044f\u0434\u0443\u0432\u0430\u043d\u043d\u044f
      \u0432 \u0411\u043e\u043b\u0433\u0430\u0440\u0456\u0457, \u044f\u043a \u0444\u0430\u043a\u0442\u043e\u0440[...]
