interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91 foo bar
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016/works?sample=2
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2,"items":[{"indexed":{"date-parts":[[2024,8,20]],"date-time":"2024-08-20T19:14:42Z","timestamp":1724181282740},"reference-count":43,"publisher":"Elsevier
      BV","issue":"2","license":[{"start":{"date-parts":[[2003,7,1]],"date-time":"2003-07-01T00:00:00Z","timestamp":1057017600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
      of Catalysis"],"published-print":{"date-parts":[[2003,7]]},"DOI":"10.1016\/s0021-9517(03)00147-7","type":"journal-article","created":{"date-parts":[[2003,5,12]],"date-time":"2003-05-12T21:09:12Z","timestamp":1052773752000},"page":"478-486","source":"Crossref","is-referenced-by-count":92,"title":["CO-induced
      surface structural changes of Pt on oxide-supported Pt catalysts studied by
      DRIFTS"],"prefix":"10.1016","volume":"217","author":[{"given":"J.","family":"Rask\u00f3","sequence":"first","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/S0021-9517(03)00147-7_BIB001_1","first-page":"4783","volume":"89","author":"Solymosi","year":"1986","journal-title":"J.
      Phys. Chem."},{"key":"10.1016\/S0021-9517(03)00147-7_BIB001_2","doi-asserted-by":"crossref","first-page":"5312","DOI":"10.1021\/j100412a081","volume":"90","author":"Solymosi","year":"1986","journal-title":"J.
      Phys. Chem."},{"key":"10.1016\/S0021-9517(03)00147-7_BIB002_1","doi-asserted-by":"crossref","first-page":"2570","DOI":"10.1039\/f19787402570","volume":"74","author":"Primet","year":"1978","journal-title":"J.
      Chem. Soc. Faraday I"},{"key":"10.1016\/S0021-9517(03)00147-7_BIB002_2","doi-asserted-by":"crossref","first-page":"411","DOI":"10.1016\/0304-5102(78)800[...]
