interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5 foo bar
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016/works?sample=2
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2,"items":[{"indexed":{"date-parts":[[2023,8,26]],"date-time":"2023-08-26T14:16:44Z","timestamp":1693059404797},"reference-count":76,"publisher":"Elsevier
        BV","issue":"4","license":[{"start":{"date-parts":[[1987,4,1]],"date-time":"1987-04-01T00:00:00Z","timestamp":544233600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of the American Academy of Dermatology"],"published-print":{"date-parts":[[1987,4]]},"DOI":"10.1016\/s0190-9622(87)70111-x","type":"journal-article","created":{"date-parts":[[2008,6,28]],"date-time":"2008-06-28T05:10:22Z","timestamp":1214629822000},"page":"845-854","source":"Crossref","is-referenced-by-count":33,"title":["Gold
        therapy and its indications in dermatology"],"prefix":"10.1016","volume":"16","author":[{"given":"Isabelle","family":"Thomas","sequence":"first","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/S0190-9622(87)70111-X_bib1","doi-asserted-by":"crossref","first-page":"884","DOI":"10.1136\/thx.35.12.884","article-title":"The
        gold rush 1925-1935","volume":"35","author":"Keers","year":"1980","journal-title":"Thorax"},{"key":"10.1016\/S0190-9622(87)70111-X_bib2","first-page":"323","article-title":"L''
        auroth\u00e9rapie dans les rhumatismes chroniques","volume":"53","author":"Forestier","year":"1929","journal-title":"Bull
        Soc Med Hop (Paris)"},{"key":"10.1016\/S0190-9622(87)70111-X_bib3","doi-asserted-by":"crossref","first-page":"95","DOI":"10.1136\/ard.19.2.95","article-title":"Gold
        therapy in rheumatoid arthritis: Report of a multi-center controlled trial","volume":"19","aut[...]
