interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/works/10.1371/journal.pone.0033693
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,9,6]],"date-time":"2023-09-06T17:01:14Z","timestamp":1694019674307},"reference-count":70,"publisher":"Public
        Library of Science (PLoS)","issue":"3","license":[{"start":{"date-parts":[[2012,3,21]],"date-time":"2012-03-21T00:00:00Z","timestamp":1332288000000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        ONE"],"DOI":"10.1371\/journal.pone.0033693","type":"journal-article","created":{"date-parts":[[2012,3,23]],"date-time":"2012-03-23T01:00:52Z","timestamp":1332464452000},"page":"e33693","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"Crossref","is-referenced-by-count":63,"title":["Methylphenidate
        Exposure Induces Dopamine Neuron Loss and Activation of Microglia in the Basal
        Ganglia of Mice"],"prefix":"10.1371","volume":"7","author":[{"given":"Shankar","family":"Sadasivan","sequence":"first","affiliation":[]},{"given":"Brooks
        B.","family":"Pond","sequence":"additional","affiliation":[]},{"given":"Amar
        K.","family":"Pani","sequence":"additional","affiliation":[]},{"given":"Chunxu","family":"Qu","sequence":"additional","affiliation":[]},{"given":"Yun","family":"Jiao","sequence":"additional","affiliation":[]},{"given":"Richard
        J.","family":"Smeyne","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2012,3,21]]},"reference":[{"key":"ref1","doi-asserted-by":"crossref","first-page":"2376","DOI":"10.1038\/sj.npp.1301164","article-title":"Stimulants:
        Therapeutic actions in ADHD.","volume":"31","author":"AF Arnsten","year":"2006","journal-title":"Neuropsychopharmacology"},{"key":"ref2","doi-asserted-by":"crossref","first-page":"325","DOI":"10.1586\/14737175.5.3.325","article-title":"Methylphenidate
        HCl: therapy for attention deficit hyperactivity disorder.","volume":"5","author":"PK
        Capp","year":"2005","journal-title":"Expert Rev Neurother"},{"key":"ref3","doi-asserted-by":"crossref","first-page":"437","DOI":"10.1007\/s11940-011-0137-6","article-title":"Recent
        advances in the treatment of narcolepsy.","volume":"13","author":"N Hirai","year":"2011","journal-title":"Curr
        Treat Options Neurol"},{"key":"ref4","doi-asserted-by":"crossref","first-page":"L7","DOI":"10.1016\/S0[...]
