interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0 foo bar
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016/works?sample=2
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2,"items":[{"indexed":{"date-parts":[[2025,5,29]],"date-time":"2025-05-29T16:45:29Z","timestamp":1748537129672,"version":"3.37.3"},"reference-count":40,"publisher":"Elsevier
      BV","license":[{"start":{"date-parts":[[2024,7,1]],"date-time":"2024-07-01T00:00:00Z","timestamp":1719792000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2024,7,1]],"date-time":"2024-07-01T00:00:00Z","timestamp":1719792000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/legal\/tdmrep-license"},{"start":{"date-parts":[[2024,7,1]],"date-time":"2024-07-01T00:00:00Z","timestamp":1719792000000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-017"},{"start":{"date-parts":[[2024,7,1]],"date-time":"2024-07-01T00:00:00Z","timestamp":1719792000000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-037"},{"start":{"date-parts":[[2024,7,1]],"date-time":"2024-07-01T00:00:00Z","timestamp":1719792000000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-012"},{"start":{"date-parts":[[2024,7,1]],"date-time":"2024-07-01T00:00:00Z","timestamp":1719792000000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-029"},{"start":{"date-parts":[[2024,7,1]],"date-time":"2024-07-01T00:00:00Z","timestamp":1719792000000},"content-version":"stm-asf","delay-in-days":0,"URL":"https:\/\/doi.org\/10.15223\/policy-004"}],"funder":[{"DOI":"10.13039\/501100013280","name":"Major
      Basic Research Project of the Natural Science Foundation of the Jiangsu Higher
      Education Institutions","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100013280","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100001809","name":"National
      Natural Science Foundation of China","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100001809","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Talanta"],"published-print":{"date-parts":[[2024,7]]},"DOI":"10.1016\/j.talanta.2024.125989","type":"journal-article","created":{"date-parts":[[2024,3,24]],"date-time":"2024-03-24T00:09:48Z","timestamp":1711238988000},"page":"125989","update-policy":"https:\/\/doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":9,"special_numbering":"C","title":["Ag-modified
      CuO cavity arrays as a SERS-electrochemical dual signal platform for thiram
      detection"],"prefix":"10.1016","volume":"274","author":[{"given":"Xinyi","family":"Shao","sequence":"first","affiliation":[]},{"given":"Qun","family":"Zhao","sequence":"additional","affiliation":[]},{"given":"Jiayi","family":"Xia","sequence":"additional","affiliation":[]},{"given":"Mengxiang","family":"Xie","sequence":"additional","affiliation":[]},{"given":"Qingzhi","family":"Li","sequence":"additional","affiliation":[]},{"given":"Yuqi","family":"Tang","sequence":"additional","affiliation":[]},{"given":"Xuefang","family":"Gu","sequence":"additional","affiliation":[]},{"given":"Xiaofeng","family":"Ning","sequence":"additional","affiliation":[]},{"given":"Shanshan","family":"Geng","sequence":"additional","affiliation":[]},{"given":"Jin","family":"Fu","sequence":"additional","affiliation":[]},{"given":"Shu","family":"Tian","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.talanta.2024.125989_bib1","doi-asserted-by":"crossref","DOI":"10.1016\/j.talanta.2021.122383","article-title":"Detection
      and quantification of toxicants in food and water using Ag\u2013Au core-shell
      fractal SERS nanostructures and multivariate analysis","volume":"231","author":"Raveendran","year":"2021","journal-title":"Talanta"},{"key":"10.1016\/j.talanta.2024.125989_bib2","doi-asserted-by":"crossref","first-page":"3676","DOI":"10.1007\/s11664-021-08875-y","article-title":"Functionalization
      of silver nanoparticles with carbohydrate derivative for colorimetric assay
      of thiram","volume":"50","author":"Dhavle","year":"2021","journal-title":"J.
      Electron. Mater."},{"key":"10.1016\/j.talanta.2024.125989_bib3","doi-asserted-by":"crossref","DOI":"10.1016\/j.chemosphere.2022.133928","article-title":"Thiram
      exposure in environment: a critical review on cytotoxicity","volume":"295","author":"[...]
