interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5 foo bar
    method: GET
    uri: https://api.crossref.org/prefixes/10.1016/works?sample=2
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2,"items":[{"indexed":{"date-parts":[[2022,4,1]],"date-time":"2022-04-01T23:25:23Z","timestamp":1648855523055},"reference-count":13,"publisher":"Elsevier
        BV","issue":"12","license":[{"start":{"date-parts":[[2018,12,1]],"date-time":"2018-12-01T00:00:00Z","timestamp":1543622400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":["clinicalkey.jp","clinicalkey.com","clinicalkey.es","amjmed.com","clinicalkey.com.au","clinicalkey.fr","elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["The
        American Journal of Medicine"],"published-print":{"date-parts":[[2018,12]]},"DOI":"10.1016\/j.amjmed.2018.07.014","type":"journal-article","created":{"date-parts":[[2018,7,31]],"date-time":"2018-07-31T22:20:26Z","timestamp":1533075626000},"page":"1449-1451","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":0,"title":["A
        Unifying Diagnosis: IgG4-Related Disease"],"prefix":"10.1016","volume":"131","author":[{"given":"Rachel","family":"Broderick","sequence":"first","affiliation":[]},{"given":"Angeliki","family":"Kazeros","sequence":"additional","affiliation":[]},{"given":"Ainat","family":"Beniaminovitz","sequence":"additional","affiliation":[]},{"given":"Ladan","family":"Fazlollahi","sequence":"additional","affiliation":[]},{"given":"Pauline","family":"Yi","sequence":"additional","affiliation":[]},{"given":"David","family":"Brogno","sequence":"additional","affiliation":[]},{"given":"Katherine
        G.","family":"Nickerson","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.amjmed.2018.07.014_bib0001","doi-asserted-by":"crossref","first-page":"797","DOI":"10.1164\/rccm.200206-576OC","article-title":"Acute
        eosinophilic pneumonia in a New York City firefighter exposed to World Trade
        Center dust","volume":"166","author":"Rom","year":"2002","journal-title":"Am
        J Respir Crit Care Med"},{"key":"10.1016\/j.amjmed.2018.07.014_bib0002","doi-asserted-by":"crossref","first-page":"25","DOI":"10.3109\/02770903.2012.743149","article-title":"Elevated
        peripheral eosinophils are associated with new-onset and persistent wheeze
        and airflow obstruction in World Trade Center-exposed individuals","volume":"50","author":"Kazeros","year":"2013","journal-title":"J
        Asthma"},{"key":"10.1016\/j.amjmed.2018.07.014_bib0003","doi-asserted-by"[...]
