interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/licenses?query=aps
  response:
    body:
      string: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":100,"items":[{"URL":"http:\/\/creativecommons.org\/licenses\/BY\/4.0","work-count":2},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/2.5\/es\/","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/","work-count":13},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0","work-count":9},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/","work-count":78},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-sa\/4.0","work-count":9},{"URL":"htt[...]
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/licenses?query=cellular+oncology
  response:
    body:
      string: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":415,"items":[{"URL":"http:\/\/academic.oup.com\/journals\/pages\/about_us\/legal\/notices","work-count":19},{"URL":"http:\/\/aspb.org\/publications\/aspb-journals\/open-articles[...]
