interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.7.91
    method: GET
    uri: https://api.crossref.org/licenses?query=aps
  response:
    content: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":106,"items":[{"URL":"http:\/\/creativecommons.org\/licenses\/BY\/4.0","work-count":2},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/2.5\/es\/","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/","work-count":13},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0","work-count":10},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/","work-count":93},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-sa\/3.0\/","work-count":1},{"URL":"[...]
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.7.91
    method: GET
    uri: https://api.crossref.org/licenses?query=cellular%20oncology
  response:
    content: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":453,"items":[{"URL":"http:\/\/academic.oup.com\/journals\/pages\/about_us\/legal\/notices","work-count":19},{"URL":"http:\/\/aspb.org\/publications\/aspb-journals\/open-articles","work-cou[...]
