interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.12.0 habanero/2.9.3
    method: GET
    uri: https://api.crossref.org/licenses?query=science&rows=2
  response:
    body:
      string: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":2286,"items":[{"URL":"Http:\/\/creativecommons.org\/license\/by-nc\/4.0.","work-count":4},{"URL":"http:\/\/\/nv.pdpu.edu.ua\/Info\/Index\/be91efc0-7518-4106-b1df-7c0b3b9da77b","work-count":1}]}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public-single
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 200
      message: OK
version: 1
