interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.12.0 habanero/2.9.3
    method: GET
    uri: https://api.crossref.org/journals?filter=from-pub-date%3A2014-03-03
  response:
    body:
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"parameter-not-allowed","value":"filter","message":"This
        route does not support filter"}]}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-api-pool:
      - public-single
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 400
      message: Bad Request
version: 1
