interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.5
    method: GET
    uri: https://api.crossref.org/members/2984/works?offset=0&rows=1
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":385084,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:46:28Z","timestamp":1648950388348},"reference-count":0,"publisher":"Fairchild
        Books","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2021]]},"DOI":"10.5040\/9781501365072.388","type":"book-chapter","created":{"date-parts":[[2022,3,28]],"date-time":"2022-03-28T13:39:01Z","timestamp":1648474741000},"source":"Crossref","is-referenced-by-count":0,"title":["alternating
        twist texturing"],"prefix":"10.5040","member":"2984","container-title":["The
        Fairchild Books Dictionary of Textiles"],"deposited":{"date-parts":[[2022,3,28]],"date-time":"2022-03-28T13:48:03Z","timestamp":1648475283000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/www.bloomsburycollections.com\/book\/the-fairchild-books-dictionary-of-textiles\/"}},"issued":{"date-parts":[[2021]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5040\/9781501365072.388","published":{"date-parts":[[2021]]}}],"items-per-page":1,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
