interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/2.3.0
    method: GET
    uri: https://api.crossref.org/members/2984/works?offset=0&rows=1
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":669550,"items":[{"indexed":{"date-parts":[[2024,8,23]],"date-time":"2024-08-23T14:44:43Z","timestamp":1724424283404},"reference-count":0,"publisher":"T&t
      Clark","isbn-type":[{"value":"9780567686404","type":"print"},{"value":"9780567686411","type":"electronic"},{"value":"9780567689764","type":"electronic"},{"value":"9780567686428","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2019]]},"DOI":"10.5040\/9780567686428.ch-001","type":"book-chapter","created":{"date-parts":[[2019,9,25]],"date-time":"2019-09-25T09:50:26Z","timestamp":1569405026000},"source":"Crossref","is-referenced-by-count":6,"title":["Introduction:
      \u201cFor All Her Household are Clothed in Crimson\u201d"],"prefix":"10.5040","author":[{"given":"Antonios","family":"Finitsis","sequence":"first","affiliation":[]}],"member":"2984","container-title":["Dress
      and Clothing in the Hebrew Bible"],"deposited":{"date-parts":[[2023,9,12]],"date-time":"2023-09-12T02:59:11Z","timestamp":1694487551000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/www.bloomsburycollections.com\/monograph-detail?docid=b-9780567686428&tocid=b-9780567686428-0000536"}},"issued":{"date-parts":[[2019]]},"ISBN":["9780567686404","9780567686411","9780567689764","9780567686428"],"references-count":0,"URL":"https:\/\/doi.org\/10.5040\/9780567686428.ch-001","published":{"date-parts":[[2019]]}}],"items-per-page":1,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      Content-Type:
      - application/json
      x-api-pool:
      - public
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
