interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/members/2984/works?offset=0&rows=1
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":563692,"items":[{"indexed":{"date-parts":[[2023,10,16]],"date-time":"2023-10-16T07:31:45Z","timestamp":1697441505756},"reference-count":0,"publisher":"Continuum","isbn-type":[{"value":"9780826459725","type":"print"},{"value":"9780826459732","type":"print"},{"value":"9781472546173","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.5040\/9781472546173.ch-003","type":"book-chapter","created":{"date-parts":[[2014,9,12]],"date-time":"2014-09-12T15:10:47Z","timestamp":1410534647000},"source":"Crossref","is-referenced-by-count":1,"title":["Deleuze
      and Derrida, Immanence and Transcendence : Two Directions in Recent French Thought"],"prefix":"10.5040","member":"2984","container-title":["Between
      Deleuze and Derrida"],"deposited":{"date-parts":[[2023,9,11]],"date-time":"2023-09-11T23:58:55Z","timestamp":1694476735000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/www.bloomsburycollections.com\/monograph-detail?docid=b-9781472546173&tocid=b-9781472546173-chapter3"}},"issued":{"date-parts":[[null]]},"ISBN":["9780826459725","9780826459732","9781472546173"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5040\/9781472546173.ch-003"}],"items-per-page":1,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
