interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.3.0 habanero/2.4.0
    method: GET
    uri: https://api.crossref.org/members?rows=0
  response:
    body:
      string: '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items-per-page":0,"query":{"start-index":0,"search-terms":null},"total-results":32762,"items":[]}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 200
      message: OK
version: 1
