interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx/0.27.2 habanero/1.2.6.91
    method: GET
    uri: https://api.crossref.org/members/2984/works?rows=0&facet=issn%3A%2A
  response:
    content: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"issn":{"value-count":13,"values":{"http:\/\/id.crossref.org\/issn\/1091-3297":270,"http:\/\/id.crossref.org\/issn\/2193-5505":86,"http:\/\/id.crossref.org\/issn\/2191-7442":86,"http:\/\/id.crossref.org\/issn\/1360-466X":61,"http:\/\/id.crossref.org\/issn\/1354-3628":20,"http:\/\/id.crossref.org\/issn\/0849-6757":7,"http:\/\/id.crossref.org\/issn\/1460-3349":2,"http:\/\/id.crossref.org\/issn\/2048-7347":1,"http:\/\/id.crossref.org\/issn\/2048-2604":1,"http:\/\/id.crossref.org\/issn\/1746-7632":1,"http:\/\/id.crossref.org\/issn\/1746-7616":1,"http:\/\/id.crossref.org\/issn\/1746-6709":1,"http:\/\/id.crossref.org\/issn\/0962-2624":1}}},"total-results":563692,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
      x-ratelimit-interval:
      - 1s
      x-ratelimit-limit:
      - '50'
    status_code: 200
version: 1
