interactions:
- request:
    body: ''
    headers:
      x-user-agent:
      - python-httpx2/2.12.0 habanero/2.9.3
    method: GET
    uri: https://api.crossref.org/members/2984/works?rows=0&facet=issn%3A%2A
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"issn":{"value-count":10,"values":{"https:\/\/id.crossref.org\/issn\/1091-3297":270,"https:\/\/id.crossref.org\/issn\/2193-5505":86,"https:\/\/id.crossref.org\/issn\/2191-7442":86,"https:\/\/id.crossref.org\/issn\/1360-466X":42,"https:\/\/id.crossref.org\/issn\/0849-6757":7,"https:\/\/id.crossref.org\/issn\/1460-3349":2,"https:\/\/id.crossref.org\/issn\/1746-7632":1,"https:\/\/id.crossref.org\/issn\/1746-7616":1,"https:\/\/id.crossref.org\/issn\/1746-6709":1,"https:\/\/id.crossref.org\/issn\/0962-2624":1}}},"total-results":876095,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
    headers:
      content-type:
      - application/json
      x-api-pool:
      - public-single
      x-concurrency-limit:
      - '1'
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '5'
    status:
      code: 200
      message: OK
version: 1
