name: Python

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8.15, 3.9.16, 3.10.9, 3.11.1, 3.11.5, 3.12]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v2
      with:
        version: "0.4.17"
    - name: Set up Python ${{ matrix.python-version }}
      run: uv python install ${{ matrix.python-version }}
    - name: Install the project
      run: uv sync --all-extras --dev
    - name: Tests
      if: contains(fromJSON('["3.10.9", "3.11.1", "3.11.5", "3.12"]'), matrix.python-version)
      run: pytest
    - name: Test coverage
      if: matrix.python-version == '3.11.5'
      run: |
        python -m "pytest" --cov-report=xml --cov=habanero test/
        codecov
